{% extends 'shared/base.html.twig' %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside">
                <div class="content">
                    <h1>{{ "account.register_title"|trans({}, 'account')|desc("Registreer nu") }}</h1>

                    <div class="text formatted-text">
                        <p>{{ "account.register_text_new"|trans({}, 'account')|desc("Een account registreren voor Legal Fit Documenten Selfservice is zo geregeld. Vul uw e-mailadres in en kies een veilig wachtwoord. Zodra u uw e-mailadres heeft bevestigd kunt u aan de slag.") }}</p>
                        <p>{{ "account.register_text_existing"|trans({}, 'account')|desc("Heeft u al eerder bij ons een document besteld? Dan koppelen we uw eerdere bestellingen aan uw account. Wel zo handig.") }}</p>
                    </div>

                    <div class="spacer"></div>

                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}

                    <div class="spacer"></div>

                    <div class="text formatted-text">
                        <h3>{{ "account.register_newsletter_title"|trans({}, 'account')|desc("Nieuwsbrief") }}</h3>
                        <p>{{ "account.register_newsletter_text"|trans({}, 'account')|desc("Wilt u ook onze nieuwsbrief ontvangen? Hiermee blijft u op de hoogte van belangrijke judische ontwikkelingen.") }}</p>
                    </div>

                    <div class="spacer small"></div>

                    {{ form_row(form.newsletter) }}

                    <div class="spacer small"></div>

                    <div class="text formatted-text">
                        <h3>{{ "account.register_terms_title"|trans({}, 'account')|desc("Voorwaarden") }}</h3>
                        <p>{{ "account.register_terms_text"|trans({'%url%' : path('app.frontend.pages.page', { 'code': 'terms', 'host': app.request.host }) }, 'account')|desc("U dient akkoord te gaan met de <a href='%url%'>Algemene Voorwaarden</a>")|raw }}</p>
                    </div>

                    <div class="spacer small"></div>

                    {{ form_row(form.terms) }}

                    <div class="spacer"></div>

                    <button type="submit" class="button primary">{{ "account.register_save_finish"|trans({}, 'account')|desc("Opslaan en afronden") }}</button>

                    {{ form_end(form) }}
                </div>
                <aside>
                    <div class="blocks">
                        <div class="row">
                            <div class="block with-title">
                                <div class="title">
                                    {{ "account.recover_why"|trans({}, 'account')|desc("Waarom een account?") }}
                                </div>
                                <div class="inner">
                                    <div class="text">
                                        <ul>
                                            <li>{{ "account.recover_always_text"|trans({}, 'account')|desc("Altijd inzage in uw bestellingen, facturen en documenten") }}</li>
                                            <li>{{ "account.recover_no_time_text"|trans({}, 'account')|desc("Geen tijd om een bestelling af te ronden? Uw voortgang wordt automatisch bewaard.") }}</li>
                                            <li>{{ "account.recover_faster_text"|trans({}, 'account')|desc("Sneller afrekenen") }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% include ':shared/_blocks:benefits.html.twig' %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
