{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set pageTitle = 'Abonnement' %}

{% block googleDataLayer %}
<!-- Google Tag Manager Code BEGIN -->
<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    window.dataLayer.push({
        'profileId':'{{ app.request.get('_profile').id|escape('js') }}',
        'ipaddress': '{{ app.request.clientIp }}'
    });
</script>
<!-- Google Tag Manager Code END -->
{% endblock %}

{% block body %}
    {% include ':shared:header.html.twig' %}
    <section class="first">
        <div class="container">
            <div class="row">
                <div class="payoff">
                    <h1 data-component="ColoredText">Legal Fit Documenten Selfservice</h1>
                    <p>voor slechts <span class="price">€299,-</span> per jaar</p>
                </div>
            </div>
        </div>
    </section>

    <section class="account">
        <div class="container">
            <div class="row">
                <div class="benefits">
                    <h3>Documenten Selfservice Onbeperkt</h3>
                    <ul>
                        <li>Krijg toegang tot je eigen portaal en genereer onbeperkt documenten</li>
                        <li>Altijd inzage in je documenten</li>
                        <li>Ondertekende documenten uploaden</li>
                        <li>Abonnement voor 1 jaar, daarna maandelijks opzegbaar</li>
                    </ul>
                    <a href="https://portal.legalfit.eu/start" class="button">Account aanmaken</a>
                </div>
                <div class="">

                </div>
            </div>
        </div>
    </section>

    <section class="usp">
        <div class="container">
            <div class="row">
                <div class="wrapper">

                    <div class="block">
                        <div class="icon icon--fingers"></div>
                        <h3 class="white-text">Eenvoudig</h3>
                        <span>Doorloop een aantal simpele stappen en maak complexe juridische documenten zelf. Op de achtergrond doet onze machine het werk. Wij hebben bijna alle relevante brieven, verklaringen, contracten en overeenkomsten in ons assortiment.</span>
                    </div>

                    <div class="block">
                        <div class="icon icon--feet"></div>
                        <h3 class="white-text">Zorgeloos</h3>
                        <span>Ervaren bedrijfsjuristen schrijven de documenten. Zodra er iets verandert in de wet- en regelgeving passen wij onze documenten aan. Zo beschik je altijd over de juiste papieren.</span>
                    </div>

                    <div class="block">
                        <div class="icon icon--piggy"></div>
                        <h3 class="white-text">Betaalbaar</h3>
                        <span>Je hoeft niet de uren van een advocaat te betalen. Je weet van tevoren wat je voor je document betaalt. Of je neemt een abonnement voor <strong>299,- per jaar</strong> en maakt onbeperkt documenten.</span>
                    </div>

                </div>
            </div>
        </div>
    </section>


{#    <section class="about">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="header">#}
{#                    <h2 data-component="ColoredText">Altijd en overal</h2>#}
{#                    <h3>Uw juridische afdeling in uw broezak</h3>#}
{#                </div>#}
{#                <div class="wrapper">#}
{#                    <div class="block">#}
{#                        <p>Binnen één tool heeft u altijd en overal toegang tot uw documenten en heeft u binnen enkele minuten het contract dat u nodig heeft. Met vragenlijsten maakt u de keuze die alleen u kunt maken en onze software vertaalt dit naar een juridisch document op maat.</p>#}
{#                    </div>#}
{#                    <div class="block">#}
{#                        <p>Daarnaast heeft u vanuit de tool toegang tot betaalbaar juridische dienstverlening van onze kennispartner. Al onze abonnementsmodellen bevatten gratis uren aan juridisch advies, variërend van 1 tot 10 uur per jaar. Heeft u meer uren nodig? Dan koopt u juridisch advies bij voor slechts €90 per uur.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="features">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="block">#}
{#                    <h4>Ruim aanbod</h4>#}
{#                    <span>JuriDox biedt een ruim assortiment aan juridische documenten.</span>#}
{#                </div>#}
{#                <div class="block">#}
{#                    <h4>Alleen de beste specialisten</h4>#}
{#                    <span>Kennis afkomstig van geronommeerde advocaten en juristen.</span>#}
{#                </div>#}
{#                <div class="block">#}
{#                    <h4>Snel</h4>#}
{#                    <span>Uw document staat binnen enkele minuten voor u klaar!</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="block">#}
{#                    <h4>Gebruiksvriendelijk</h4>#}
{#                    <span>Onze vragenlist zijn opgesteld voor niet-juristen en dus begrijpelijk.</span>#}
{#                </div>#}
{#                <div class="block">#}
{#                    <h4>Juridische dienstverlening</h4>#}
{#                    <span>Toegang tot betaalbaar juridisch advies van onze kennispartner.</span>#}
{#                </div>#}
{#                <div class="block">#}
{#                    <h4>Juridische helpdesk</h4>#}
{#                    <span>Onze medewerkers staan altijd voor u klaar om u verder te helpen.</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="highlight">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="image">#}
{#                    <i class="ss-box" style="color: #ea650d;"></i>#}
{#                </div>#}
{#                <div class="cta">#}
{#                    <h2 data-component="ColoredText">Direct regelen</h2>#}
{#                    <p>We bieden verschillende abonnementsmodellen om in ieders behoefte te voorzien. Heeft u genoeg aan documenten? Kies dan voor ons basispakket waarmee u één uur gratis juridisch advies krijgt. Mocht u daarnaast meer behoefte hebben aan juridisch advies, kies dan voor onze uitgebreidere modellen.</p>#}
{#                    <p>Heeft u al een los juridisch document gekocht? Indien u binnen een maand besluit een abonnement op JuriDox Express af te nemen, krijgt u het geld voor uw document gewoon van ons terug.</p>#}
{#                    <span class="price">v.a. €399, 00</span>#}
{#                    <span class="small">Prijs exclusief btw. JuriDox Express wordt aangeboden als abonnement. De bovengenoemde kosten zijn per jaar en exclusief btw. Het abonnement wordt aangegaan voor 12 maanden, waarna stilzwijgend verlengd wordt met eenzelfde periode. Opzegging is mogelijk met inachtneming van een opzegtermijn van 1 maand.</span>#}
{#                    <a href="https://express.juridox.nl/start" class="button">Naar de abonnementen</a>#}

{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
