{% apply spaceless %}

    {% if form is defined %}
        {% form_theme form ':shared/_form:fields.html.twig' %}
    {% endif %}

    {% if funnelMode is not defined %}
        {% set funnelMode = false %}
    {% endif %}

{% endapply %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="{% if bridge.environment == 'production' -%}index, follow{% else %}noindex, nofollow{% endif %}">
		{% if canonicalUrl|default(false) %}
		<link rel="canonical" href="{{ canonicalUrl }}"/>
		{% endif %}

		<title>{% if pageTitle|default('') %}{{ pageTitle }} - Legal Fit{% else %}Legal Fit Documenten Selfservice{% endif %}</title>

		{% block opengraph %}
			<meta property="og:title" content="{% if pageTitle|default('') %}{{ pageTitle }} - Legal Fit{% else %}Legal Fit Documenten Selfservice{% endif %}" />
		{% endblock %}
		{% if context.shopContext %}
			<meta name="description" content="{% if pageDescription|default('') %}{{ pageDescription }}{% elseif app.request.get('_profile').metaDescription is defined %}{{ app.request.get('_profile').metaDescription }}{% else %}Genereer uw juridische documenten op maat bij Legal Fit Documenten Selfservice!{% endif %}" />
		{% endif %}
		<meta property="og:url" content="{{ app.request.uri }}" />
		<meta property="og:image" content="{{ absolute_url(asset('public/opengraph-image.jpg')) }}" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		{% apply spaceless %}
			{{ include('shared/favicons.html.twig') }}
		{% endapply %}
		<link type="text/css" href="{{ asset('shared.css', 'webpack') }}" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300">
		{% block stylesheets %}{% endblock %}

		<!--[if lt IE 9]>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

        {% block googleDataLayer %}{% endblock %}
		{% if bridge.environment == 'production' -%}
			<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
							new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
						j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
						'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-PLN7RC2');</script>
			<!-- End Google Tag Manager -->
		{% endif -%}

		<!-- {{ build.version }} @ {{ build.hash }} -->
	</head>
	<body class="{{ getModuleCssClass() }} {{ getControllerCssClass() }} {{ getActionCssClass() }}">
		<div id="menu" hidden="hidden">
			<nav>
				<ul>
					<li><a href="{{ path('app.frontend.homepage', {'host': app.request.host}) }}">Overzicht documenten</a></li>
					<li><a href="{{ path('app.frontend.wizard', { 'host' : app.request.host }) }}">Documentzoeker</a></li>
					<li><a href="{{ path('app.frontend.pages.page', {'code': 'veelgesteldevragen', 'host': app.request.host }) }}">Veelgestelde vragen</a></li>
					<li><a href="{{ path('app.frontend.contact', { 'host': app.request.host }) }}">{{ "menu.contact"|trans }}</a></li>
					<li><a href="https://legalfit.eu">Meer diensten van Legal Fit</a></li>
				</ul>
			</nav>
		</div>

		<div id="panel">
			<main>
				{% if customHeader is not defined %}
                    {% include ':shared:header.html.twig' %}
				{% endif %}
				{% block body %}{% endblock %}
			</main>
			<footer>
				<div class="container">
					<div class="row">
						<div class="links">
							<div class="wrapper">
								<ul>
									<li><a href="https://legalfit.eu">Home legalfit.eu</a></li>
									<li><a href="{{ path('app.frontend.homepage', {'host': app.request.host}) }}">Legal Fit Documenten Selfservice</a></li>
									<li><a href="{{ path('app.frontend.templates.search', { 'host' : app.request.host }) }}">Overzicht alle documenten</a></li>
									<li><a href="{{ path('app.frontend.pages.page', {'code': 'veelgesteldevragen', 'host': app.request.host }) }}">Veelgestelde vragen</a></li>
									<li><a href="{{ path('app.frontend.pages.page', {'code': 'tevredenheidsgarantie', 'host': app.request.host }) }}">100% tevredenheidsgarantie</a></li>
									<li><a href="{{ path('app.frontend.contact', { 'host': app.request.host }) }}">{{ "menu.contact"|trans }}</a></li>
								</ul>
							</div>
						</div>
						<div class="social">
							<div class="wrapper">
								<ul>
									<li><a href="mailto:{{ helpdesk.email }}"><div class="icon icon--email"></div></a></li>
									<li><a href="https://twitter.com/nn_nederland"><div class="icon icon--twitter"></div></a></li>
									<li><a href="https://www.linkedin.com/company/nationale-nederlanden/"><div class="icon icon--linkedin"></div></a></li>
								</ul>
								<br />
								<address>
									<strong>{{ app.request.get('_profile').entityName }}</strong><br/>
									{{ app.request.get('_profile').addressLine1 }}{% if app.request.get('_profile').addressLine2 %}, {{ app.request.get('_profile').addressLine2 }},{% endif %} {{ app.request.get('_profile').zipcode }} {{ app.request.get('_profile').city }}<br />
									{% if app.request.get('_profile').province %}{{ app.request.get('_profile').province }},{% endif %} {{ app.request.get('_profile').entityCountry }}<br/></br>
									<a href="mailto:{{ app.request.get('_profile').email }}">{{ app.request.get('_profile').email }}</a> | {{ app.request.get('_profile').phone }}
								</address>
								<span><span><a href="{{ path('app.frontend.pages.page', { 'code': 'terms', 'host': app.request.host }) }}">{{ "footer.terms"|trans|desc("Voorwaarden") }}</a> | <a href="{{ path('app.frontend.pages.page', { 'code': 'privacy', 'host': context.shopContext ? app.request.host }) }}">{{ "footer.privacy_and_cookies"|trans|desc("Privacy en cookies") }}</a></span></span>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		{% apply spaceless %}
			{% block javascripts %}
				<script type="text/javascript" src="{{ asset('vendor.js', 'webpack') }}"></script>
				<script type="text/javascript" src="{{ asset('shared.js', 'webpack') }}"></script>
				<script type="text/javascript" src="{{ asset('frontend.js', 'webpack') }}"></script>

				<script type="text/javascript">{{ bridgeJavascript() }}</script>

				{% if bridge.environment == 'production' -%}
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLN7RC2"
									  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->

					<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=edc4418e-a2b0-49f9-9b00-8ec3a01235a3"> </script>
						<script type="text/javascript">
							window.zESettings = {
								webWidget: {
									launcher: {
										chatLabel: {
											'*': 'Chat met ons!'
										}
									},
									chat: {
										concierge: {
											name: 'Welkom bij de Chat van Legal Fit.',
											title: { '*': 'Waarmee kan ik u helpen?' }
										}
									},
									color: {
										theme: '#ea650d',
										launcher: '#ea650d',
										launcherText: '#ffffff',
										button: '#ea650d',
										resultLists: '#ea650d',
										header: '#ea650d',
										articleLinks: '#ea650d'
									}
								}
							};
						</script>
						<!-- End of Zendesk Widget script -->
				{% endif %}

				{% if bridge.interface == 'hosted' %}
					<script type="text/javascript" src="{{ asset('hosted.js', 'webpack') }}"></script>
				{% endif %}
       		{% endblock %}
		{% endapply %}
	</body>
</html>
