<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/static/favicons/apple-touch-icon.png', 'static') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/static/favicons/favicon-32x32.png', 'static') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/static/favicons/favicon-16x16.png', 'static') }}">
<link rel="manifest" href="{{ asset('/static/favicons/site.webmanifest', 'static') }}">
<link rel="mask-icon" href="{{ asset('/static/favicons/safari-pinned-tab.svg', 'static') }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
