<header>
    <div class="container">
        <div class="top">
            <div class="top__left">
            {% if funnelMode %}
                <div class="page-title pull-left">
                    <a href="/" class="logo">
                        <div class="logo-brand"></div>
                    </a>
                    <span>{% if template is defined %}{{ template.title }}{% else %}{{ pageTitle }}{% endif %}</span>
                </div>
            {% else %}
                <a href="/" class="logo pull-left">
                    <div class="logo-brand"></div>
                    <div class="logo-text"></div>
                </a>

                    <div class="shop pull-left">
                        <a href="#" data-toggle="shop" aria-haspopup="true" aria-expanded="false">{{ "text.select_shop"|trans|desc("Selecteer een categorie") }} <i class="flaticon stroke down-2"></i><i class="flaticon stroke up-2"></i></a>
                    </div>
            {% endif %}
                <div class="account pull-right">
                    <span class="text-with-icon">
                        {% if not funnelMode %}
                            <div class="dropdown recent-orders">
                                <a data-role="recent-orders" class="button dropdown-toggle" href="#" data-toggle="dropdown" data-toggle="tooltip"  title="{{ "title.recent_orders"|trans|desc("Lopende bestellingen: ga verder waar u was gebleven") }}" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon stroke folder"></i>
                                    <i class="flaticon stroke right-2"></i>
                                    <span class="badge floating"></span>
                                </a>

                                <ul data-role="recent-orders" class="dropdown-menu dropdown-menu-right"></ul>
                            </div>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="top__mid">
                <div class="search">
                    <form action="{{ path('app.frontend.templates.search', { 'host': app.request.host }) }}" method="get" class="form-inline document-search-wrapper">
                        <input autocomplete="off" type="text" data-path="{{ path('app.frontend.ajax.search', { 'host': app.request.host }) }}" class="document-search" name="zoek" placeholder="{{ "placeholder_search_document"|trans|desc("zoek een document") }}">
                        <button class="button with-icon"><i class="flaticon stroke magnifying-glass-2"></i></button>
                    </form>
                </div>
            </div>
            <div class="top__right">
                <a href="#" data-toggle="slidebar" aria-haspopup="true" aria-expanded="false" class="slidebar button"><i class="flaticon stroke menu-2"></i></a>
            </div>
        </div>
        {{ render(controller('AppBundle:Shared/Helper/ShopSelector:header', { profile:  app.request.get('_profile') })) }}
    </div>
</header>
