{% if pageCount > 1 %}
    <div class="current">
        {{ firstItemNumber }} - {{ firstItemNumber + numItemsPerPage - 1 }} van {{ totalCount }}
    </div>
    <div class="pagination">
        <ul>
            {% if previous is defined %}
                <li class="previous">
                    <i class="flaticon stroke left-2"></i> <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">{{ 'button.previous'|trans|desc('Vorige') }}</a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page current">{{ page }}</li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li class="next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'button.next'|trans|desc('Volgende') }}</a> <i class="flaticon stroke right-2"></i>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
