{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Landingspagina's</h2>
        </div>
        <div class="dashhead-toolbar">
            {% if profile.mainLocale == app.request.attributes.get('_locale') %}
                <div class="btn-group dashhead-toolbar-item">
                    <a href="{{ path('app.backend.settings.landing_pages.create', { 'profile_id': profile.id }) }}"
                       class="btn btn-outline-primary" title="Landingspagina toevoegen"><i
                                class="icon icon-circle-with-plus"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>URL</th>
                <th>Kortingscode</th>
            </tr>
            </thead>
            <tbody>
            {% for landingPage in pagination %}
                <tr>
                    <th scope="row"><a
                                href="{{ path('app.backend.settings.landing_pages.edit', { pageId: landingPage.id }) }}">{{ landingPage.title }}</a>
                    </th>
                    <td>
                        <a href="{{ url('app.frontend.landing_pages.page', { pageSlug: landingPage.slug, host: landingPage.profile.host }) }}"
                           target="_blank">{{ url('app.frontend.landing_pages.page', { pageSlug: landingPage.slug, host: landingPage.profile.host }) }}</a>
                    </td>
                    <td>{% if landingPage.hasDiscount %}Ja{% else %}Nee{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}