{% extends 'shared/base.html.twig' %}

{% if form is defined %}
    {% form_theme form ':shared/_form:fields.html.twig' %}
{% endif %}

{% set funnelMode = true %}
{% set pageTitle = template.title ~ ' ' ~ "text.order"|trans|desc("bestellen") %}

{% block googleDataLayer %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        dataLayer.push({
            'event': 'checkoutOption',
            'ecommerce': {
                'checkout_option': {
                    'actionField': {
                        'step': {{ orderFlow.currentStep.number }}
                    }
                }
            },
            'ipaddress': '{{ app.request.clientIp }}',
            'profileId': '{{ app.request.get('_profile').id|escape('js') }}'
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if questionsFlow and not questionsFlow.hasNext %}
            $('.finish-step-questions').on('click', function () {

                dataLayer.push({
                    'eventCategory': 'Order',
                    'eventAction': 'buttonpress',
                    'eventLabel': 'Finished questionnaire'
                });

            });
        {% elseif orderFlow.atPlace('step_account') %}
            $('.flow-next').on('click', function () {

                dataLayer.push({
                    'eventCategory': 'Order',
                    'eventAction': 'buttonpress',
                    'eventLabel': 'Company Details Provided'
                });

            });
        {% elseif orderFlow.atPlace('step_options')%}
            $('.flow-next').on('click', function () {

                dataLayer.push({
                    'eventCategory': 'Order',
                    'eventAction': 'buttonpress',
                    'eventLabel': 'Options Chosen'
                });

            });
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    {# Dit is een smerige hack om translations te kunnen genereren voor de order flow knoppen/titels. Om dit fatsoenlijk op te lossen moet er Translator geinject worden in OrderStatusFlow (zie #402) #}
    {% if 1 == 2 %}
    <!--
        step1 = "{{ "text.step_0"|trans|desc("Vragenlijst") }}"
        step2 = "{{ "text.step_1"|trans|desc("Bedrijfsgegevens") }}"
        step3 = "{{ "text.step_2"|trans|desc("Extra Opties") }}"
        step4 = "{{ "text.step_3"|trans|desc("Bevestigen") }}"
        boolean_yes = "{{ "booleans.yes-no.1"|trans|desc("Ja") }}"
        boolean_no = "{{ "booleans.yes-no.0"|trans|desc("Nee") }}"
        choose_options = "{{ "flow.choose_options"|trans({}, "forms")|desc("Kies opties") }}"
        back = "{{ "flow.back"|trans({}, "messages")|desc("Vorige") }}"
        next = "{{ "flow.next"|trans({}, "messages")|desc("Volgende") }}"
        finish = "{{ "flow.finish"|trans({}, "messages")|desc("Afronden") }}"
        order = "{{ "flow.order"|trans({}, "forms")|desc("Bestellen") }}"
        order_and_pay = "{{ "flow.order_and_pay"|trans({}, "forms")|desc("Bestellen & betalen") }}"

        {{ "orders.question.fails_condition"|trans({}, "validators")|desc("Deze waarde is niet geldig.") }}
        {{ "orders.question.not_blank"|trans({}, "validators")|desc("Deze vraag moet worden beantwoord.") }}
        {{ "orders.question.discount_code_not_found"|trans({}, "validators")|desc("Deze kortingscode kon niet worden gevonden, weet u zeker dat deze juist is overgenomen?") }}
        {{ "orders.question.discount_code_cant_be_used_again"|trans({}, "validators")|desc("Deze kortingscode kan niet (nogmaals) worden toegepast.") }}
        {{ "orders.question.discount_code_cant_be_used_in_combination"|trans({}, "validators")|desc("Deze kortingscode kan niet worden gebruikt in combinatie met de andere kortingscode(s) die u heeft opgegeven.") }}

        {{ "address.street.required"|trans({}, "validators")|desc("Vul a.u.b. de straatnaam in.") }}
        {{ "address.number.required"|trans({}, "validators")|desc("Vul a.u.b. het huisnummer in.") }}
        {{ "address.zipcode.required"|trans({}, "validators")|desc("Vul a.u.b. de postcode in.") }}
        {{ "address.city.required"|trans({}, "validators")|desc("Vul a.u.b. de plaats in.") }}
        {{ "address.country.required"|trans({}, "validators")|desc("Kies a.u.b. het land.") }}

        {{ "price.free"|trans({}, "messages")|desc("Gratis") }}

        {{ "Bestelling ontvangen"|trans({}, "messages")|desc("Bestelling ontvangen") }}
        {{ "Betaling verwerken"|trans({}, "messages")|desc("Betaling verwerken") }}
        {{ "Document genereren"|trans({}, "messages")|desc("Document genereren") }}
        {{ "Document afleveren"|trans({}, "messages")|desc("Document afleveren") }}
        {{ "Handmatige controle"|trans({}, "messages")|desc("Handmatige controle") }}
        {{ "Maatwerk aanpassingen"|trans({}, "messages")|desc("Maatwerk aanpassingen") }}
    -->
    {% endif %}
    {% set timing = true %}

    {# Gemiddeld aantal minuten/seconden voor een bestelling, standaard 5 minuten #}
    {% set orderMinutes = (template.orderCount > 1) ? template.orderSeconds // 60 : 5 %}
    {% set orderSeconds = (template.orderCount > 1) ? template.orderSeconds - orderMinutes * 60 : 0 %}

    {% set inboxMinutesText = (orderMinutes != 0) ? "#{orderMinutes + 1} minuten" : '1 minuut'  %}

    {% set orderMinutesText = (orderMinutes != 1) ? "#{orderMinutes} minuten" : '1 minuut' %}
    {% set orderSecondsText = (orderSeconds != 1) ? "#{orderSeconds} seconden" : '1 seconde' %}

    {% set hasAside = orderFlow.atPlace('step_questions') or orderFlow.atPlace('step_options') %}

    <section class="first content">
        <div class="container">
            <div class="row">
                <div class="page-title">
                    <h1>{{ template.title }}</h1>
                </div>
                <div class="page-steps">
                    {% for i, step in orderFlow.steps %}
                        <div class="step{% if step.active %} active{% elseif step.nextActive %} next-active{% elseif step.previousActive %} previous-active{% endif %}{% if step.locked %} locked{% elseif step.completed %} completed{% endif %}{% if step.first %} first{% elseif step.last %} last{% endif %}">
                            <div class="arrow left"></div>
                            <div class="text">
                                <span class="number">{{ step.number }}.</span> <span class="title">{{ ("text.step_" ~ i)|trans|desc(step.title) }}</span> {% if timing %}<mark><i class="flaticon stroke clock"></i> {{ step.duration ?: '< 1' }} {{ "text.min_shorthand"|trans|desc("min") }}.</mark>{% endif %} <i class="flaticon stroke lock-1 locked"></i> <i class="flaticon stroke checkmark-1 completed"></i>
                            </div>
                            <div class="arrow right"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row{% if hasAside %} balanced with-aside{% endif %} with-inner">
                <div class="content">
                    <div class="inner {{ order.status }}">
                        {{ form_start(form) }}
                            {{ form_errors(form) }}

                            {#
                                Stap 1: vragenlijst
                            #}
                            {% if orderFlow.atPlace('step_questions') %}
                                <span class="step-title">{{ questionsFlow.currentStep.title }}</span>
                                {% form_theme form ':shared/_form:question_fields.html.twig' %}

                                {% if questionsFlow.currentStep.description %}
                                    <div class="formatted-text">
                                        {{ questionsFlow.currentStep.description|markdown }}
                                    </div>
                                    <div class="spacer"></div>
                                {% endif %}

                                {{ form_widget(form.children.answers, {
                                    'attr': {
                                        'class': 'wizard-fields'
                                    }
                                }) }}
                            {% endif %}

                            {#
                                Stap 2: bedrijfsgegevens
                            #}
                            {% if orderFlow.atPlace('step_account') %}


                                        <div class="formatted-text">
                                            <span class="title">{{ "text.new_customer"|trans|desc("Nieuwe klant") }}</span>
                                            <p>{{ "text.need_your_email_address_to_deliver_document"|trans|desc("We hebben uw e-mailadres nodig om uw bestelling af te kunnen leveren en om u te informeren over uw bestelling.") }}</p>
                                        </div>
                                        <div class="spacer"></div>

                                        {{ form_row(form.customerType) }}

                                        {% do form.customerCompanyName.setRendered %}

                                        <div class="form-group {% if not form.customerCompanyName.vars.valid %}has-error{% endif %}">
                                            {{ form_label(form.customerCompanyName) }}
                                            <select id="{{ form.customerCompanyName.vars.id }}" name="{{ form.customerCompanyName.vars.full_name }}" data-default="{{ form.customerCompanyName.vars.value }}" data-role="company-search" class="form-control"></select>
                                            {{ form_errors(form.customerCompanyName) }}
                                            <span class="help">Door uw bedrijfsnaam te zoeken kunnen wij automatisch uw KvK nummer en adres voor u invullen.</span>
                                        </div>

                                        {% do form.customerCompanyName.setRendered %}

                                        {{ form_row(form.customerFirstname) }}
                                        {{ form_row(form.customerLastname) }}
                                        {{ form_row(form.customerEmail) }}
                                        {{ form_row(form.customerPhone) }}
                                        {{ form_row(form.customerVat) }}
                                        {{ form_row(form.customerCoc) }}


                                        <div class="formatted-text">
                                            <span class="title address_title">{{ "text.address_data"|trans|desc("Adresgegevens") }}</span>
                                            <p>{{ "text.need_address_for_invoice"|trans|desc("Voor de tenaamstelling van de factuur die u (na betaling) van ons krijgt hebben wij uw adresgegevens nodig.") }}</p>
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="form-group">

                                            <div class="address">

                                                <div class="row">
                                                    <div class="street{% if not form.customerAddressStreet.vars.valid %} has-error{% endif %}">
                                                        <div class="label">
                                                            {{ form_label(form.customerAddressStreet)}}
                                                        </div>
                                                        <div class="input">
                                                            {{ form_widget(form.customerAddressStreet) }}
                                                        </div>
                                                        {% if not form.customerAddressStreet.vars.valid  %}
                                                            <div class="row-errors has-error">
                                                                {{ form_errors(form.customerAddressStreet) }}
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    <div class="number{% if not form.customerAddressNumber.vars.valid %} has-error{% endif %}">
                                                        <div class="label">
                                                            {{ form_label(form.customerAddressNumber)}}
                                                        </div>
                                                        <div class="input">
                                                            {{ form_widget(form.customerAddressNumber) }}
                                                        </div>
                                                        {% if not form.customerAddressNumber.vars.valid %}
                                                            <div class="row-errors has-error">
                                                                {{ form_errors(form.customerAddressNumber) }}
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    <div class="addition{% if not form.customerAddressAddition.vars.valid %} has-error{% endif %}">
                                                        <div class="label">
                                                            {{ form_label(form.customerAddressAddition) }}
                                                        </div>
                                                        <div class="input">
                                                            {{ form_widget(form.customerAddressAddition) }}
                                                        </div>
                                                        {% if not form.customerAddressAddition.vars.valid %}
                                                            <div class="row-errors has-error">
                                                                {{ form_errors(form.customerAddressAddition) }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="zipcode{% if not form.customerAddressZipcode.vars.valid %} has-error{% endif %}">
                                                        <div class="label">
                                                            {{ form_label(form.customerAddressZipcode) }}
                                                        </div>
                                                        <div class="input">
                                                            {{ form_widget(form.customerAddressZipcode) }}
                                                        </div>
                                                        {% if not form.customerAddressZipcode.vars.valid %}
                                                            <div class="row-errors has-error">
                                                                {{ form_errors(form.customerAddressZipcode) }}
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    <div class="city{% if not form.customerAddressCity.vars.valid %} has-error{% endif %}">
                                                        <div class="label">
                                                            {{ form_label(form.customerAddressCity) }}
                                                        </div>
                                                        <div class="input">
                                                            {{ form_widget(form.customerAddressCity) }}
                                                        </div>
                                                        {% if not form.customerAddressCity.vars.valid %}
                                                            <div class="row-errors has-error">
                                                                {{ form_errors(form.customerAddressCity) }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="country{% if not form.customerAddressCountry.vars.valid %} has-error{% endif %}">
                                                        <div class="label">
                                                            {{ form_label(form.customerAddressCountry) }}
                                                        </div>
                                                        <div class="input">
                                                            {{ form_widget(form.customerAddressCountry) }}
                                                        </div>
                                                        {% if not form.customerAddressCountry.vars.valid %}
                                                            <div class="row-errors">
                                                                {{ form_errors(form.customerAddressCountry) }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="spacer"></div>
                                        <div class="alert alert-warning text-with-icon spacer" role="alert" id="shift_vat_alert">
                                            <i class="flaticon solid about-2"></i> {{ "text.shift_vat_info"|trans|desc("Let op! Om btw te verleggen dient u uw btw-nummer op te geven.") }}
                                        </div>

{#                                        {{ form_row(form.registerNewsletter) }}#}


                            {% endif %}

                            {#
                                Stap 3: opties
                            #}
                            {% if orderFlow.atPlace('step_options') %}
                                <div class="success__text" role="alert">
                                    <i class="flaticon solid checkmark-2"></i>
                                    <div>
                                        <p><span>Goed nieuws!</span> {{ "text.have_all_information_to_generate_document"|trans|desc("We hebben alle informatie compleet om uw document te maken.") }}</p>
                                    </div>
                                </div>

                                <div class="formatted-text">
                                    <p>{{ "text.we_have_all_information_to_finish_order"|trans|desc("Hieronder ziet u het product dat u heeft gekozen.") }}{% if form.check is defined%}<br/>{{ "text.questions_about_order_check"|trans|desc("Heeft u hier vragen over of wilt u hier nog samen doorheen lopen met een jurist? Kies dan de optie '30 minuten juridisch advies'.") }}{% endif %}</p>
                                </div>
                                <div class="spacer"></div>
                                {% if form.type.children.subscription is defined %}
                                    <div class="choices two-choices">
                                        <div class="block with-price" role="radio">
                                            <div class="inner">
                                                <div class="text">
                                                    <span class="title">{{ "text.one_time"|trans|desc("Eenmalig") }}</span>
                                                    {{ "text.delivery_time"|trans|desc("Binnen 2 minuten geleverd op") }} <strong>{{ order.customer.email }}</strong>
                                                </div>
                                                <div class="price">
                                                    <span class="price">{{ (template.unitPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</span>
                                                    <small>{{ "text.one_time"|trans|desc("Eenmalig") }}</small>
                                                </div>
                                                <div class="input">
                                                    {{ form_widget(form.type.children.unit) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block with-price" role="radio">
                                            <div class="inner">
                                                <div class="text">
                                                    <span class="title">{{ "text.subscription"|trans|desc("Abonnement") }}</span>
                                                    {{ "text.subscription_subtitle"|trans|desc("Voor een vast bedrag per jaar, met updates én een hosted versie") }}
                                                </div>
                                                <div class="price">
                                                    <span class="price">{{ (template.monthlyPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</span>
                                                    <small class="has-help" data-toggle="tooltip" data-placement="bottom" title="{{ "text.subscription_title"|trans({'%price%': template.yearlyPrice|price })|desc("Met een abonnement betaalt u %price% per jaar en krijgt u automatisch alle updates voor het document.") }}">{{ "text.per_month"|trans|desc("per maand") }}</small>
                                                </div>
                                                <div class="input">
                                                    {{ form_widget(form.type.children.subscription) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="options">
                                        <div class="block with-icon with-price selected">
                                            <div class="icon">
                                                <div class="document-icon"></div>
                                            </div>
                                            <div class="text">
                                                <span class="title">{{ template.title }}</span>
                                                <p>{% if template.service %}{{ "text.fixed_price_no_surprises"|trans|desc("Altijd een vaste prijs en geen verrassingen achteraf") }}{% else %}{{ "text.get_document_by_email"|trans|desc("U ontvangt het document per e-mail als PDF en Word-bestand") }}{% endif %}</p>
                                            </div>
                                            <div class="price">
                                                <span class="price">{{ (template.unitPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</span>
                                                <small>{{ "text.once"|trans|desc("Eenmalig") }}</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if form.registeredEmail is defined %}
                                    <div class="options">
                                        <div class="block with-input with-price" role="checkbox">
                                            <div class="input">
                                                {{ form_widget(form.registeredEmail) }}
                                            </div>
                                            <div class="text">
                                                <span class="title">Versturen via Aangetekend Mailen</span>
                                                U verstuurt het document beveiligd en rechtsgeldig via <a href="{{ path('app.frontend.pages.page', {'code': 'aangetekend-mailen', host: app.request.host }) }}" target="_blank">Aangetekend Mailen®</a>.
                                            </div>
                                            <div class="price">
                                                <span class="price">{{ (template.registeredEmailPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</span>
                                                <small>{{ "text.once"|trans|desc("Eenmalig") }}</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if form.custom is defined or form.check is defined %}

                                    <div class="formatted-text">
                                        <h2>{{ "text.forgot_nothing"|trans|desc("Aanvullend juridisch advies nodig?") }}</h2>
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="options">

                                        {% if form.check is defined %}
                                        <div class="block with-input with-price" role="checkbox">
                                            <div class="input">
                                                {{ form_widget(form.check) }}
                                            </div>
                                            <div class="text">
                                                <span class="title">{{ "text.manual_check"|trans|desc("30 minuten juridisch advies") }}</span>
                                               {{ "text.yes_i_want_manual_check"|trans({"%partner%": template.partner.title})|desc("Voor 60 minuten krijgt u een jurist van %partner% tot uw beschikking. In dit uur kan deze bijvoorbeeld met u telefonisch nogmaals door de vragenlijst heen gaan, of adviseren over het gebruik of aanpassing van het document of aanverwante zaken.") }}
                                            </div>
                                            <div class="price">
                                                <span class="price">{{ (template.checkPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</span>
                                                <small>{{ "text.once"|trans|desc("Eenmalig") }}</small>
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% do form.custom.setRendered %}
                                    </div>
                                {% endif %}

                            {% endif %}

                            {#
                                Stap 4: bevestigen
                            #}
                            {% if orderFlow.atPlace('step_confirm') %}
                                {% for type, messages in app.session.flashBag.all %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <div class="split-half">
                                    <div class="half">
                                        <div class="formatted-text">
                                            <h1>{{ "text.overview"|trans|desc("Overzicht") }}</h1>
                                        </div>
                                        <div class="preview__wrapper">
                                            <div class="preview__content">
                                                <div class="document-icon"></div>
                                                <div class="preview__text">
                                                    <p class="preview__template">{{ template.title }}</p>
                                                    <p class="preview__company">{{ order.customer.companyName }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="spacer"></div>
                                        <table class="summary">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <small>1x</small> {{ template.title }}
                                                        {% if order.type.is('subscription') %}
                                                            <br><small>{{ "text.this_is_a_subscription"|trans|desc("Dit is een abonnement, u betaalt het maandbedrag voor één jaar vooruit") }}</small>
                                                        {% endif %}
                                                    </td>
                                                    <td class="price">
                                                        {% if order.type.is('subscription') %}
                                                            <i class="flaticon solid refresh-1" data-toggle="tooltip" data-placement="top" title="12 maanden à {{ template.monthlyPrice|price }} = {{ template.yearlyPrice|price }} per jaar"></i> {{ (template.monthlyPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}
                                                        {% else %}
                                                            {{ (template.unitPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% if order.registeredEmailRequested %}
                                                    <tr>
                                                        <td><small>1x</small> Aangetekend Mailen®</td>
                                                        <td class="price">{{ (template.registeredEmailPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if order.checkRequested %}
                                                    <tr>
                                                        <td><small>1x</small> {{ "text.manual_check"|trans|desc("30 minuten juridisch advies") }}</td>
                                                        <td class="price">{{ (template.checkPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if order.customRequested %}
                                                    <tr>
                                                        <td><small>1x</small> {{ "text.custom_modifications"|trans({"%partner%": template.partner.title})|desc("Contact met %partner%") }}</td>
                                                        <td class="price">{{ "text.estimate"|trans|desc("Offerte") }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% for discount in order.discounts %}
                                                    <tr>
                                                        <td><b><a href="{{ url('app.frontend.order.delete_discount', {host: order.template.partner.countryProfile.host, discountId: discount.id, orderId: order.id}) }}">X</a></b> {{ "text.discount_code"|trans|desc("Kortingscode") }} {{ discount.code }}</td>
                                                        <td class="price">
                                                            {% if discount.type.is('percentage') %}
                                                                - {{ discount.percentage }}%
                                                            {% else %}
                                                                - {{ (discount.amount.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                {% if order.type.is('subscription') %}
                                                    <tr>
                                                        <td>{{ "text.after_first_year_per_year"|trans|desc("Na het 1e jaar, per jaar") }}</td>
                                                        <td class="price">{{ (template.yearlyPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td>{{ "text.check_out_now_excl_vat"|trans|desc("Nu afrekenen, excl. btw") }}</td>
                                                    <td class="price">{{ (order.proforma.subtotal.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</td>
                                                </tr>
                                                <tr class="focus">
                                                    <td>{{ "text.check_out_now_incl_vat"|trans|desc("Nu afrekenen, incl. btw") }}</td>
                                                    <td class="price">{{ (order.proforma.total.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                        {% if not order.proforma.zero %}
                                            <div class="spacer tall"></div>
                                            <div class="formatted-text">
                                                <h3>{{ "header.discount_code"|trans|desc("Kortingscode") }}</h3>
                                                <p>{{ "text.do_you_have_a_discount_code"|trans|desc("Heeft u een kortingscode ontvangen die u op deze bestelling wilt toepassen?") }}</p>
                                            </div>
                                            <div class="spacer"></div>
                                            <div class="apply-discount">
                                                {{ form_errors(form.discount) }}
                                                {{ form_widget(form.discount) }}
                                                {{ form_widget(form.apply_discount) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="half">
                                        <div class="formatted-text">
                                            <h1>{{ "header.company_data"|trans|desc("Bedrijfsgegevens") }}</h1>
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="box">
                                            <div class="formatted-text">
                                                {% if order.customer.companyName %}
                                                    <p><strong>{{ order.customer.companyName }}</strong><br />{{ "text.attn"|trans|desc("t.a.v.") }} {{ order.customer.name }}</p>
                                                {% else %}
                                                    <p><strong>{{ order.customer.name }}</strong></p>
                                                {% endif %}
                                                <p>{{ order.customer.address.street }} {{ order.customer.address.number }}<br />{{ order.customer.address.zipcode }} {{ order.customer.address.city }}<br />{{ order.customer.address.country|trans({}, "countries") }}</p>
                                                <p>{{ order.customer.email }}</p>
                                                <p>{{ order.customer.phone }}</p>
                                                {% if order.customer.vat %}
                                                    {{ "text.vat"|trans|desc("btw") }}: {{ order.customer.vat }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% if order.proforma.zero %}
                                    <div class="formatted-text">
                                        <span class="title">{{ "text.no_need_to_checkout"|trans|desc("U hoeft niet af te rekenen") }}</span>
                                        <p>{{ "text.your_order_is_free"|trans({'%name%': order.customer.firstname })|desc("Goed nieuws %name%, uw bestelling is gratis! U ontvangt uw document direct nadat u deze bestelling heeft bevestigd.") }}</p>
                                    </div>
                                {% else %}
                                    <div class="formatted-text">
                                        <span class="title">{{ "text.how_do_you_want_to_pay"|trans({'%name%': order.customer.firstname})|desc("Hoe wilt u betalen, %name%?") }}</span>
                                        <p>{{ "text.payments_are_processed_safely"|trans|desc("Betalingen worden veilig en snel verwerkt door onze betalingsprovider, Mollie. Zij faciliteren betalingen voor meer dan 30.000 bedrijven.") }}</p>
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="choices five-choices">
                                        {% for allowedMethod in allowedPaymentMethods %}
                                        {% if not allowedMethod.isExternallyDisabled %}
                                        <div class="block" role="radio">
                                            <div class="inner">
                                                <div class="image">
                                                    <img src="{{ allowedMethod.method.image.svg }}">
                                                </div>
                                                <div class="text separate">
                                                    <span class="title">{{ allowedMethod.method.description }}</span>
                                                    {#{{ "text.pay_through_payment_environment"|trans|desc("Betaal vanaf de internetbanken-omgeving van uw eigen bank.") }}#}
                                                </div>
                                                <div class="input">
                                                    {{ form_widget(form.method.children[allowedMethod.paymentMethod.value]) }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if order.proforma.zero %}
                                    <small class="continue-terms">{{ "text.by_clicking_on_order_you_agree_free"|trans({'%terms_url%': path('app.frontend.pages.page', {'code': 'terms', host: app.request.host }), '%privacy_url%': path('app.frontend.pages.page', {'code': 'privacy', host: app.request.host })  })|desc('Bij het klikken op \'Bestellen\' gaat u akkoord met onze <a href="%terms_url%" target="_blank">algemene voorwaarden</a> en <a href="%privacy_url%" target="_blank">privacy- &amp; cookieverklaring</a>.')|raw }}</small>
                                {% else %}
                                    <small class="continue-terms">{{ "text.by_clicking_on_order_you_agree"|trans({'%terms_url%': path('app.frontend.pages.page', {'code': 'terms', host: app.request.host }), '%privacy_url%': path('app.frontend.pages.page', {'code': 'privacy', host: app.request.host })  })|desc('Bij het klikken op \'Bestellen & betalen\' gaat u akkoord met onze <a href="%terms_url%" target="_blank">algemene voorwaarden</a> en <a href="%privacy_url%" target="_blank">privacy- &amp; cookieverklaring</a>.')|raw }}</small>
                                {% endif %}
                            {% endif %}

                            <div class="flow-navigation-group">
                                {% if form.children.flow_navigation.back is defined %}
                                    {{ form_widget(form.children.flow_navigation.back, { attr: { class: 'flow-back button' }}) }}
                                {% endif %}
                                {% if form.children.flow_navigation.next is defined %}
                                    {{ form_widget(form.children.flow_navigation.next, { attr: { class: 'flow-next button' }}) }}
                                {% endif %}
                                {% if form.children.flow_navigation.finish is defined %}
                                    {% if order.proforma.zero %}
                                        {{ form_widget(form.children.flow_navigation.finish, { attr: { class: 'flow-finish button' }}) }}
                                    {% else %}
                                        {{ form_widget(form.children.flow_navigation.finish, { attr: { class: 'flow-finish button' }}) }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="help">
                        {{ "text.ordernumber"|trans|desc("Bestelnummer") }} {{ order.code }}
                    </div>
                </div>
                {% if hasAside %}
                    <aside>
                        <div class="blocks">
                            <div class="row">
                                {# Blokken voor bij de vragenlijst #}
                                {% if orderFlow.atPlace('step_questions') %}
                                    <div class="block first with-title hidden-xs">
                                        <div class="title">
                                            {{ template.title }}
                                        </div>
                                        <div class="inner">
                                            <div class="steps">
                                                <ul>
                                                    {% for i, step in questionsFlow.steps %}
                                                        <li class="{% if step.active  %}active{% elseif step.completed %}completed{% endif %} {% if step.shouldSkip %}skip{% endif %}">
                                                            <span class="text"{% if step.shouldSkip %} data-toggle="tooltip" data-placement="auto right" title="{{ "text.skip_step"|trans|desc("Deze stap wordt overgeslagen") }}"{% endif %}>{{ step.title }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {# Blokken voor bij de opties/bevestigen #}
                                {% if orderFlow.atPlace('step_options') %}
                                    {% include ':shared/_blocks:benefits.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                    </aside>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
