<ul class="nav nav-tabs">
    {% for profile in profiles %}
        <li class="nav-item">
            {% if profile.shops|length > 0 %}
                <a class="nav-link{{ shop.profile == profile  ? " active" : (profile.shops|length > 0 ? "" : " disabled") }}"
                   href="{{ path(route, route_params|merge({ "shop_id": profile.shops|first.id, "_locale": profile.mainLocale.locale })) }}">{{ profile }}</a>
            {% else %}
                <span class="nav-link">{{ profile }}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<ul class="nav nav-tabs">
    {% for shop in shops %}
        <li class="nav-item">
            <a class="nav-link{{ route_params.shop_id == shop.id  ? " active" : "" }}"
               href="{{ path(route, route_params|merge({ "shop_id": shop.id, "_locale": shop.profile.mainLocale.locale })) }}">{{ shop.title }}</a>
        </li>
    {% endfor %}
</ul>

{% if not disable_locale %}
    <ul class="nav nav-tabs">
        {% for shop in shops %}
            {% if route_params.shop_id == shop.id %}
                <li class="nav-item">
                    <a class="nav-link{{ app.request.locale == shop.profile.mainLocale.locale ? " active" : "" }}"
                       href="{{ path(route, route_params|merge({ '_locale': shop.profile.mainLocale.locale })) }}">{{ shop.profile.mainLocale.locale }}</a>
                </li>
                {% for locale in shop.profile.locales %}
                    {% if locale != shop.profile.mainLocale %}
                        <li class="nav-item">
                            <a class="nav-link{{ app.request.locale == locale ? " active" : "" }}"
                               href="{{ path(route, route_params|merge({ '_locale': locale })) }}">{{ locale }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

