<ul class="nav nav-tabs">
    {% for profile in profiles %}
        <li class="nav-item">
            <span class="nav-link{{ current_profile.slug == profile.slug  ? " active" : " disabled" }}">{{ profile }}
                ({{ profile.mainLocale ? profile.mainLocale.locale : 'nl' }})</span>
        </li>
    {% endfor %}
</ul>

{% if not disable_locale %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ route_params._locale == current_profile.mainLocale.locale ? " active" : "" }}"
           href="{{ path(route, route_params|merge({ '_locale': current_profile.mainLocale.locale })) }}">{{ current_profile.mainLocale.locale }}</a>
    </li>
    {% for locale in current_profile.locales %}
        {% if locale != current_profile.mainLocale %}
            <li class="nav-item">
                <a class="nav-link{{ route_params._locale == locale ? " active" : "" }}"
                   href="{{ path(route, route_params|merge({ '_locale': locale })) }}">{{ locale }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
