<ul class="nav nav-tabs">
    {% for profile in profiles %}
        <li class="nav-item">
            <span class="nav-link{{ selected_template.partner.countryProfile == profile  ? " active" : " disabled" }}">{{ profile }}</span>
        </li>
    {% endfor %}
</ul>

<ul class="nav nav-tabs">
    {% for partner in partners %}
        <li class="nav-item">
            <span class="nav-link{{ selected_template.partner == partner  ? " active" : " disabled" }}">{{ partner }}</span>
        </li>
    {% endfor %}
</ul>






