<ul class="nav nav-tabs">
    {% for profile in profiles %}
        <li class="nav-item">
            <span class="nav-link{{ current_shop.profile == profile  ? " active" : " disabled" }}">{{ profile }}</span>
        </li>
    {% endfor %}
</ul>

<ul class="nav nav-tabs">
    {% for shop in shops %}
        <li class="nav-item">
            <a class="nav-link{{ current_shop.id == shop.id  ? " active" : " disabled" }}"
               href="{{ path(route, route_params) }}">{{ shop.title }}</a>
        </li>
    {% endfor %}
</ul>

{% if not disable_locale %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{ route_params._locale == current_shop.profile.mainLocale.locale ? " active" : "" }}"
               href="{{ path(route, route_params|merge({ '_locale': current_shop.profile.mainLocale.locale })) }}">{{ current_shop.profile.mainLocale.locale }}</a>
        </li>
        {% for locale in current_shop.profile.locales %}
            {% if locale != current_shop.profile.mainLocale %}
                <li class="nav-item">
                    <a class="nav-link{{ route_params._locale == locale ? " active" : "" }}"
                       href="{{ path(route, route_params|merge({ '_locale': locale })) }}">{{ locale }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
