<ul class="nav nav-tabs">
    {% for profile in profiles %}
        <li class="nav-item">
            <span class="nav-link{{ current_activity.type.profile == profile  ? " active" : " disabled" }}">{{ profile }}</span>
        </li>
    {% endfor %}
</ul>

<ul class="nav nav-tabs">
    {% for type in types %}
        <li class="nav-item">
            <span class="nav-link{{ current_activity.type == type  ? " active" : " disabled" }}">{{ type }}</span>
        </li>
    {% endfor %}
</ul>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ route_params._locale == current_activity.type.profile.mainLocale.locale ? " active" : "" }}"
           href="{{ path(route, route_params|merge({ '_locale': current_activity.type.profile.mainLocale.locale })) }}">{{ current_activity.type.profile.mainLocale.locale }}</a>
    </li>

    {% for locale in current_activity.type.profile.locales %}
        {% if locale != current_activity.type.profile.mainLocale %}
            <li class="nav-item">
                <a class="nav-link{{ route_params._locale == locale ? " active" : "" }}"
                   href="{{ path(route, route_params|merge({ '_locale': locale })) }}">{{ locale }}</a>
            </li>
        {% endif %}
    {% endfor %}

</ul>
