<ul class="nav nav-tabs">
    {% for profile in profiles %}
        <li class="nav-item">
            <a class="nav-link{{ route_params.profile_id == profile.id  ? " active" : "" }}" href="{{ path((profile.mainLocale ? profile.mainLocale.locale : '') ~ '__RG__' ~ route, route_params|merge({ "profile_id": profile.id, "_locale": profile.mainLocale ? profile.mainLocale.locale : 'nl' })) }}">{{ profile }}</a>
        </li>
    {% endfor %}
</ul>

{% if not disable_locale %}
<ul class="nav nav-tabs">
    {% for profile in profiles %}
    {% if route_params.profile_id == profile.id %}
        <li class="nav-item">
            <a class="nav-link{{ app.request.locale == profile.mainLocale.locale ? " active" : "" }}" href="{{ path(route, route_params|merge({ '_locale': profile.mainLocale.locale })) }}">{{ profile.mainLocale.locale }}</a>
        </li>
            {% for locale in profile.locales %}
                {% if locale != profile.mainLocale %}
                    <li class="nav-item">
                        <a class="nav-link{{ app.request.locale == locale ? " active" : "" }}" href="{{ path(route, route_params|merge({ '_locale': locale })) }}">{{ locale }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
{% endif %}