<ul class="nav nav-tabs">
    {% for profile in profiles %}
        <li class="nav-item">
            <a class="nav-link{{ selected_profile == profile  ? " active" : (profile.partners|length > 0 ? "" : " disabled") }}" href="{{ path('app.backend.templates.default.index_by_profile', { 'profile_id': profile.id, '_locale': profile.mainLocale, 'view': route_params.view }) }}">{{ profile }}</a>
        </li>
    {% endfor %}
</ul>

<ul class="nav nav-tabs">
    {% for partner in partners %}
        <li class="nav-item">
            <a class="nav-link{{ selected_partner == partner  ? " active" : "" }}" href="{{ path('app.backend.templates.default.index', { 'partner_id': partner.id, 'view': route_params.view }) }}">{{ partner }}</a>
        </li>
    {% endfor %}
</ul>


