{% if not disable_locale %}
<ul class="nav nav-tabs">
    {% for profile in profiles %}
        {% if route_params.profile_id == profile.id %}
            {% if profile.currency %}
                <li class="nav-item">
                    <a class="nav-link active" href="#">{{ profile.currency }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endif %}