<ul class="nav nav-tabs">
    {% for type in types %}
        <li class="nav-item">
            <a class="nav-link{{ route_params.typeId == type.id  ? " active" : "" }}"
               href="{{ path(route, route_params|merge({ "typeId": type.id })) }}">{{ type }}</a>
        </li>
    {% endfor %}
</ul>
