<div class="shop-dropdown">
    <div class="categories">
        <ul>
            {% for category in categories %}
                <li><a href="#" data-category="{{ category.entity.id }}">{{ category.entity.title }}<i class="flaticon stroke right-2 pull-right"></i></a></li>
            {% endfor %}
        </ul>
        <a class="button" href="{{ path('app.frontend.wizard', { host: app.request.host }) }}">
            <div class="icon">
                <i class="flaticon solid magic-wand-1"></i>
            </div>
            <div>Niet gevonden wat u zocht?<br>Gebruik de documentzoeker!</div>
        </a>
    </div>
    <div class="templates">
        {% for category in categories %}
            <div data-category="{{ category.entity.id }}">
                <ul>
                    {% for template in category.templates %}
                        <li><a href="{{ templateUrl(template, profile = app.request.get('_profile')) }}">{{ template.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
