{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "email.confirm_email"|trans({}, 'email', locale)|desc("Bevestig je e-mailadres") }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <p>{{ "email.dear"|trans({}, 'email', locale)|desc("Beste heer/mevrouw,") }}</p>
                        <p>{{ "email.change_email_text"|trans({"%old%" : "{{ customer.email }}", "%new%" : "{{ customer.emailChange }}"}, 'email', locale)|desc("Je hebt aangegeven dat je het e-mailadres wilt wijzigen voor je account bij Legal Fit Documenten Selfservice. Hiermee wordt je e-mailadres gewijzigd van %old% in %new%.")|raw }}</p>
                        <p>{{ "email.confirm_email_text"|trans({}, 'email', locale)|desc("Voordat deze wijziging definitief is, vragen wij om je nieuwe e-mailadres te bevestigen.") }}</p>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td><a href="{{ verificationUrl }}" target="_blank">{{ "email.confirm_email"|trans({}, 'email', locale)|desc("Bevestig mijn e-mailadres") }}</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
