{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "email.welcome_to_shop"|trans({}, 'email', locale)|desc("Welkom bij Legal Fit Documenten Selfservice") }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <p>{{ "text.dear_user"|trans({'%name%': customer.firstname }, "email", locale)|desc("Beste %name%") }},</p>
                        <p>{{ "email_thanks_for_being_customer"|trans({}, 'email', locale)|desc("Bedankt dat je kiest voor Legal Fit Documenten Selfservice! Voor maximaal gemak hebben wij een account voor je aangemaakt. Met dit account heb je altijd inzicht in de documenten die je hebt besteld, facturen en andere belangrijke zaken.") }}</p>
                        <p>{{ "email_setup_password_text"|trans({}, 'email', locale)|desc("Het enige dat je hoeft te doen is het instellen van een wachtwoord. Je account is binnen een minuut klaar voor gebruik.")|raw }}</p>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td><a href="{{ welcomeUrl }}" target="_blank">{{ "email_choose_password"|trans({}, 'email', locale)|desc("Kies een wachtwoord") }}</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
