{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "email_forgot_password"|trans({}, 'email', locale)|desc("Wachtwoord vergeten?") }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <p>{{ "email.dear"|trans({}, 'email', locale)|desc("Beste heer/mevrouw,") }}</p>
                        <p>{{ "email_forgot_password_text"|trans({}, 'email', locale)|desc("Ben je het wachtwoord vergeten? Geen probleem. Je kan direct een nieuw wachtwoord instellen.") }}</p>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td><a href="{{ recoveryUrl }}" target="_blank">{{ "email_choose_new_password"|trans({}, 'email', locale)|desc("Kies een nieuw wachtwoord") }}</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
