{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "email.welcome_to_shop"|trans({}, 'email', locale)|desc("Welkom bij Legal Fit Documenten Selfservice") }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <p>{{ "email.dear"|trans({}, 'email', locale)|desc("Beste heer/mevrouw,") }}</p>
                        <p>{{ "email_thanks_for_registering"|trans({}, 'email', locale)|desc("Bedankt voor het registreren van een account bij Legal Fit Documenten Selfservice! Als laatste vragen we om je e-mailadres te bevestigen. Dit gaat heel eenvoudig door het klikken op onderstaande knop.
") }}</p>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td><a href="{{ verificationUrl }}" target="_blank">{{ "email.confirm_email"|trans({}, 'email', locale)|desc("Bevestig mijn e-mailadres") }}</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
