{% extends 'shared/base.html.twig' %}

{% set pageTitle = landingPage.title %}

{% block googleDataLayer %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        window.dataLayer.push({
            'ecommerce': {
                'impressions': [
                    {%- for template in templates -%}
                    { 'id': '{{ template.id }}', 'name': '{{ template.title|escape('js') }}', 'price': {{ (template.unitPrice.amount / 100)|number_format(2) }}, 'brand': '{{ template.partner.title|escape('js') }}', 'category': '{{ template.primaryCategory.title|escape('js') }}', 'list': 'Landingspagina', 'position': {{ loop.index }} }{%- if not loop.last %},{% endif -%}
                    {% endfor -%}
                ]
            },
            'ipaddress': '{{ app.request.clientIp }}',
            'profileId': {{ context.hasProfile ? context.profile.id : app.request.get('_profile').id|escape('js') }}'
        });
    </script>
{% endblock %}

{% block body %}
    {% include ':shared:header.html.twig' %}
    <section class="first">
        <div class="top">
            <div class="container">
                <h1 data-flow-min="30" data-flow-max="60" data-flow-ratio="10">{{ landingPage.title }}</h1>
                {% if landingPage.hasDiscount %}
                    <div class="spacer"></div>
                    <div class="coupon has-title" data-clipboard-text="{{ landingPage.discount.code }}">
                        <code>{{ landingPage.discount.code }}</code>
                        <span class="title">
                            {% if landingPage.discount.type.is('percentage') %}
                                {{ landingPage.discount.percentage }}% {{ "text.discount"|trans|desc("korting") }}
                            {% else %}
                                {{ landingPage.discount.amount|price }} {{ "text.discount"|trans|desc("korting") }}
                                {{ landingPage.profile ? (landingPage.discount.amount..amount/100)|localizedcurrency(landingPage.profile) : andingPage.discount.amount|price(freeText=true) }}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row with-aside balanced">
                <div class="content">
                    <div class="formatted-text">
                        {{ landingPage.text|markdown }}
                    </div>
                </div>
                <aside>
                    <!-- -->
                </aside>
            </div>
        </div>
    </section>


    <div class="fold">
        <section class="templates">
            <div class="container">
                <div class="formatted-text">
                    <h2>{{ "header.choose_your_document"|trans|desc("Kies uw document") }}</h2>
                </div>
                <div class="templates templates-4">
                    <div class="row">
                        {% for template in templates %}
                            {% set templateUrl = templateUrl(template, parameters = { utm_source: 'landingspage', utm_medium: 'website', utm_campaign: landingPage.slug }) %}
                            <div class="template">
                                <div class="inner">
                                    {% if template.partner.countryProfile %}
                                        <div class="price">
                                            {% if template.unitPrice.amount == "0" %}
                                                {{ "price.free"|trans|desc("Gratis") }}
                                            {% else %}
                                                 {{ template.unitPrice.amount|slice(0, -2) }}
                                                {% set decimals = template.unitPrice.amount|slice(-2) %}
                                                <sup>{% if decimals == "00" %},-{% else %}{{ decimals }}{% endif %}</sup>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            {{ template.unitPrice|price(freeText=true) }}
                                        </div>
                                    {% endif %}
                                    <a href="{{ templateUrl }}" class="details" target="_blank">
                                        <div class="document-icon"></div>
                                        <div class="text">
                                            <span class="title">{{ template.title }}</span>
                                            <span class="category">{{ template.primaryCategory.title }}</span>
                                        </div>
                                    </a>
                                    <div class="link__wrapper">
                                        <a href="{{ templateUrl(template) }}" class="button">
                                            Bekijk document
                                            {% include ":svg:arrow-right.svg.twig" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if loop.index % 3 == 0 %}<div class="row hidden-xs hidden-lg"></div>{% endif %}
                            {% if loop.index % 4 == 0 %}<div class="row visible-lg"></div>{% endif %}
                        {% endfor %}
                    </div>
                    <hr />
                    <div class="help">
                        <a href="{{ path('app.frontend.templates.search', { host: landingPage.profile.host }) }}" class="button">{{ "button.show_all_documents"|trans|desc("Bekijk alle documenten") }}</a>
                        <div class="spacer"></div>
                        <a href="{{ path('app.frontend.wizard', { host: landingPage.profile.host }) }}">{{ "text.or_go_to_advice_wizard"|trans|desc("Of ga naar de documentzoeker") }}</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
