$brand-primary: $color-primary;

$link-color: $color-primary;

$component-active-bg: $color-primary;

$btn-primary-bg: $color-primary;

$badge-default-bg: $color-gray;
$badge-success-bg: $color-primary;

$pagination-active-bg: $color-primary;
$pagination-active-border: transparent;