@include for-module('frontend', 'homepage') {
	section {
		padding-bottom: $unit-one * 3;

		div.flap {
			margin-bottom: $unit-one * 3 - $flap-height;
		}
	}

	/**
	 * Hero
	 */
	section.hero {
		padding-bottom: 0;

		&.first {
			text-align: left;
			background-image: url("../images/hero.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;

			display: flex;
			justify-content: center;
			align-items: flex-start;

			padding: 60px 0 60px 0;
		}

		/**
		 * Content van de hero (blokken)
		 */
		div.content {
			.hero__text {
				@include make-lg-column(6);
				@include make-sm-column(8);
				@include make-xs-column(12);
				padding: $unit-two;

				background-color: #ffffff;

				color: $color-text;
				font-size: 1.8rem;
				line-height: 1.25;

				form {
					display: flex;
					align-items: center;
					margin-bottom: 25px;
				}

				input {
					flex: 1;
					padding: 10px;
					margin-right: $unit-half;
					border: 2px solid $color-primary;
					border-radius: $border-radius-base;
					max-width: 300px;
				}

				button.button {
					@include font-sans-serif-weight-bold;
					@include button-variant(#ffffff, $color-primary, $color-primary);
					@include button-size(7.5px, 20px, 1.8rem, 25px, $border-radius-base);
				}

				h1 {
					color: $color-primary-light;
					font-size: 64px;
					line-height: 1.1;
					@include respond-to('xs') {
						font-size: 42px;
					}
				}

				ul {
					list-style-type: none;
					list-style-position: inside;
					margin: 4rem 0 4rem 0;
					li {
						margin-bottom: 1em;
						.circle {
							float: left;
							text-align: center;
							vertical-align: middle;
							line-height: 28px;
							width: 28px;
							height: 28px;
							border-radius:50%;
							background-color: $color-primary-light;
							color: #ffffff;
							margin-right: 1.5rem;
						}
					}
				}
			}

			a.button {
				@include button-variant(#ffffff, $color-primary-light, transparent);
				@include button-size($unit-quarter, $unit-half, inherit, inherit, $border-radius-base);
			}
		}
	}

	section.introduction {
		display: flex;
		flex-direction: column;

		padding-top: $unit-one * 3;
		padding-bottom: 0;

		@include font-sans-serif-weight-normal();
		@include font-sans-serif-size-large();

		ul {
			margin-bottom: $unit-one;

			li {
				list-style-type: disc;
				list-style-position: inside;
				margin-bottom: $unit-quarter;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	section.usp{
		display: flex;
		flex-direction: column;

		padding-top: $unit-one * 3;
		padding-bottom: $unit-one * 3;

		background-color: #ffffff;

		h2{
			@include font-sans-serif-weight-bold();
			@include font-sans-serif-size-header-large();

			line-height: 1.2;

			color: $text-color;
			margin-bottom: $unit-one * 2;
		}

		div.wrapper{
			color: $text-color;

			div.block{
				@include make-lg-column(4);
				@include make-md-column(4);
				@include make-sm-column(4);
				@include make-xs-column(12);

				@include respond-to('xs'){
					margin-bottom: $unit-one * 3;
				}

				div.icon {
					margin-bottom: $unit-one;
					width: 150px;
					height: 150px;
					background-repeat: no-repeat;
					background-size: contain;

					&--fingers {
						background-image: url("../images/fingers.svg");
					}

					&--feet {
						background-image: url("../images/feet.svg");
					}

					&--piggy {
						background-image: url("../images/piggy.svg");
					}
				}

				h3{
					@include font-sans-serif-weight-bold();
					@include font-sans-serif-size-normal();
					color: $color-primary;
					text-transform: uppercase;
					margin-bottom: $unit-one;
				}

				span{
					@include font-sans-serif-weight-normal();
					@include font-sans-serif-size-normal();
				}
			}
		}
	}

		/**
         * Referrers
         */
		section.referrers {
			text-align: center;
			background-color: $color-primary;

			h2 {
				color: #ffffff;
			}

			div.owl-controls {
				div.owl-dots {
					div.owl-dot {
						span {
							background-color: #ffffff;
						}

						&.active {
							span {
								background-color: $color-secondary;
							}
						}
					}
				}
			}
		}



		/**
         * Templates
         */
		section.templates {
			background-color: #fffff;
			hyphens: auto;
			padding-top: 90px;

			.title__wrapper {
				overflow: hidden;
				margin-bottom: 45px;
				h2 {
					float: left;
					margin: 0;
				}
				a {
					float: right;
					@include font-sans-serif-weight-bold();
					font-size: 1.8rem;
					display: flex;
					align-items: center;

					.circle {
						width: 34px;
						height: 34px;
						border-radius: 50%;
						background-color: $color-primary-light;
						margin-left: 1.8rem;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}

			div.owl-controls {
				div.owl-dots {
					div.owl-dot {
						span {
							background-color: $color-gray-lighter;
						}

						&.active {
							span {
								background-color: $color-primary;

								@include respond-to('xs') {
									background-color: $color-secondary;
								}
							}
						}
					}
				}
			}
		}

		section.subscriptions {
			background-color: $color-secondary;
			padding-top: $unit-one * 3;
			padding-bottom: $unit-one * 3;

			text-align: center;

			p {
				@include font-sans-serif-size-large();
				@include font-sans-serif-weight-normal();
				max-width: 80%;
				margin: $unit-one auto;
			}
		}

		/**
         * Referenties
         */
		section.references {
			text-align: left;

			padding-top: $unit-one * 3;
			background-color: #ffffff;

			h2 {
				color: $color-primary;

				a{
					color: $color-primary-dark;
					text-decoration: underline;
				}
			}

			.total {
				background-color: $color-primary;
				color: #ffffff;
				width: 100px;
				height: 100px;
				margin: 0 auto;
				border-radius: 50px;
				margin-bottom: 20px;

				& h3 {
					color: #ffffff;
					text-align: center;
					font-size: 42px;
					font-weight: bold;
					line-height: 100px;
				}
			}

			.score {
				font-weight: bold;
				color: $gray-light;
			}

			hr {
				margin: 20px 0 20px 0;
				border-bottom: 1px solid #ffffff;
			}

			div.owl-controls {
				div.owl-dots {
					div.owl-dot {
						span {
							background-color: $color-gray-dark;

							&.active {
								span {
									background-color: $color-primary;
								}
							}
						}
					}
				}
			}

			&.has-flap {
				padding-top: 0;
			}
		}

		/**
         * Partners
         */
		section.partners {
			background-color: #ffffff;

			div.partners {
				@include make-row();

				div.partner {
					@include make-xs-column(12);
					@include make-sm-column(4);
					@include make-md-column(4);
					@include make-lg-column(4);

					@include respond-to('xs') {
						margin-bottom: $unit-one;
					}

					text-align: center;

					div.logo {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 200px;
						margin-bottom: $unit-one;
						border: 1px solid rgba(0, 0, 0, 0.1);
						padding: $unit-half;

						img {
							width: 100%;
							max-width: 200px;
							height: auto;
						}

					}

					span.title {
						@include font-sans-serif-weight-bold;
						@include font-sans-serif-size-large;
					}
				}
			}
		}

		/**
         * Articles
         */
		section.articles {
			background-color: $color-primary;
			div.container {
				text-align: center;
				div.articles {
					@include make-row();

					div.sub {
						@include make-xs-column(12);
						@include make-sm-column(12);
						@include make-md-column(12);
						@include make-lg-column(12);
						margin-bottom: $unit-quarter;

						p {
							color: #ffffff;
							margin: 0;
							@include font-sans-serif-weight-bold;
							a {
								color: #ffffff;
								text-decoration: underline;
							}
						}

						ul {
							margin-top: $unit-quarter;
						}

						li {
							color: #ffffff;
							a {
								color: #ffffff;
							}
						}
					}

					div.main {
						@include make-xs-column(12);
						@include make-sm-column(12);
						@include make-md-column(12);
						@include make-lg-column(12);

						h2 {
							@include font-sans-serif-size-header-normal();
							@include font-sans-serif-weight-bold();
							color: #ffffff;
							margin-top: $unit-half;
							margin-bottom: $unit-half;
						}

						h3 {
							@include font-sans-serif-size-large();
							@include font-sans-serif-weight-bold();
							color: #ffffff;
							margin-top: $unit-half;
							margin-bottom: $unit-half;
						}

						a.button {
							@include font-sans-serif-weight-bold();
							@include font-sans-serif-size-large();

							&:hover {
								background-color: $color-secondary-dark;
							}

							background-color: $color-secondary;
							color: #ffffff;

							padding: $unit-quarter $unit-half;
							margin-bottom: $unit-one;
						}
					}

				}

			}

		}
}
