///
/// Sans serif font
///

@mixin font-sans-serif-weight-normal() {
	font-family: 'NN Dagny Text', sans-serif;
}

@mixin font-sans-serif-weight-bold() {
	font-family: 'NN Dagny Display', sans-serif;
}

@mixin font-sans-serif-size-xxlarge() {
	font-size: 2.5rem;
	line-height: 2.2em;
}

@mixin font-sans-serif-size-xlarge() {
	font-size: 2.2rem;
	line-height: 2em;
}

@mixin font-sans-serif-size-large() {
	font-size: 2rem;
	line-height: 1.75em;
}

@mixin font-sans-serif-size-medium() {
	font-size: 1.8rem;
	line-height: 1.5em;
}

@mixin font-sans-serif-size-normal() {
	font-size: 1.6rem;
	line-height: 1.4em;
}

@mixin font-sans-serif-size-small() {
	font-size: 1.4rem;
	line-height: 1.4em;
}

@mixin font-sans-serif-size-tiny() {
	font-size: 1.2rem;
	line-height: 1.4em;
}

@mixin font-sans-serif-size-header-normal() {
	font-size: 2.2rem;
	line-height: 1.25;
}

@mixin font-sans-serif-size-header-medium() {
	font-size: 3.25rem;
	line-height: 1.375;
}

@mixin font-sans-serif-size-header-large() {
	font-size: 4.3rem;
	line-height: 1.5em;
}