html {
	font-size: 62.5%;

	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
	box-sizing: inherit;
	outline: none;
}

main {
	background-color: #ffffff;
}

a {
	color: $color-primary;
	text-decoration: none;

	@include on-event {
		color: $color-text;
		text-decoration: underline;
	}
}

hr {
	margin: $unit-two 0 $unit-two 0;

	border: none;
	border-bottom: 1px solid $color-gray-superlight;
}

.spacer {
	@include clearfix();

	margin-bottom: $unit-one;

	&.small {
		margin-bottom: $unit-half;
	}

	&.tall {
		margin-bottom: $unit-two;
	}
}

.last, .stacked {
	margin-bottom: 0 !important;
}