body {
	color: $color-text;

	font-size: 62.5%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include font-sans-serif-weight-normal();
	@include font-sans-serif-size-normal();

	word-wrap: normal;
}

h1 {
	@include font-sans-serif-weight-bold();
	@include font-sans-serif-size-header-large();

	@include respond-to-and-smaller('sm') {
		@include font-sans-serif-size-header-normal();
	}


	color: $color-primary-light;
	margin: 0 0 $unit-one 0;
}

h2 {
	@include font-sans-serif-weight-bold();
	@include font-sans-serif-size-header-normal();

	color: $color-primary-light;
	margin: 0 0 ($unit-one * 1.5) 0;

	&.center {
		text-align: center;
	}
}

h3 {
	@include font-sans-serif-weight-bold();
	@include font-sans-serif-size-large();

	color: $color-primary-light;
	margin: 0 0 0 0;

	&.center {
		text-align: center;
	}
}

p {
	margin-bottom: $unit-quarter;

	&:last-child {
		margin-bottom: 0;
	}
}

em {
	font-style: italic;
}

mark {
	display: inline-block;

	@include font-sans-serif-weight-normal();
	@include font-sans-serif-size-normal();

	color: #ffffff;

	padding: 1px $unit-quarter 2px $unit-quarter;
	margin-bottom: $unit-quarter;

	border-radius: 10px;
	background-color: $color-highlight;
}

blockquote {
	padding: ($line-height-computed / 2) $line-height-computed;
	margin: 0 0 $line-height-computed;
	border-left: 5px solid $blockquote-border-color;

	p, ul, ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.formatted-text {
	@include formatted-text();
}

.legal-text {
	@include legal-text();
}

.wrap-before {
	white-space: pre-wrap;

	&:before {
		content: '\A';
	}
}

.has-help {
	border-bottom: 1px dashed $color-gray-light;
}

.text-with-icon {
	i {
		vertical-align: middle;
	}
}

.colored {
	span.light {
		color: $color-primary-light;
	}

	span.medium {
		color: $color-primary;
	}

	span.dark {
		color: $color-primary-dark;
	}
}
