{% extends 'TwigBundle:Exception:base.html.twig' %}

{% set pageTitle = "404.title"|trans|desc("Pagina niet gevonden") %}

{% block body %}
    <h1>{{ "404.title"|trans|desc("Pagina niet gevonden") }}</h1>
    <p>{{ "404.copy"|trans|desc("De door u gevraagde pagina kon helaas niet worden gevonden. Heeft u op een link geklikt op onze website? Laat ons dit dan even weten, dan controleren wij dit zo snel mogelijk.") }}</p>
    <a href="/" class="button">{{ "404.button"|trans|desc("Terug naar de homepage") }}</a>
{% endblock %}