{% extends 'TwigBundle:Exception:base.html.twig' %}

{% set pageTitle = "403.title"|trans|desc("Geen toegang") %}

{% block body %}
    <h1>{{ "403.title"|trans|desc("Geen toegang") }}</h1>
    <p>{{ "403.copy"|trans|desc("U heeft geen toegang tot de gevraagde pagina. Heeft u op een link geklikt op onze website, of heeft u het idee dat deze melding onterecht is? Laat ons dit dan even weten, dan controleren wij dit zo snel mogelijk.") }}</p>
    <a href="#" onclick="window.history.back(); return false;" class="button">{{ "403.button"|trans|desc("Keer terug") }}</a>
{% endblock %}