{% extends 'TwigBundle:Exception:base.html.twig' %}

{% set pageTitle = "error.title"|trans|desc("Tijdelijke storing") %}

{% block body %}
    <h1>{{ "error.title"|trans|desc("Tijdelijke storing") }}</h1>
    <p>{{ "error.copy"|trans|desc("Er is helaas een tijdelijke storing waardoor de pagina die u heeft opgevraagd niet kon worden geladen. We zijn reeds op de hoogte van dit probleem en verhelpen dit zo spoedig mogelijk.") }}</p>
    <a href="/" class="button">{{ "error.button"|trans|desc("Terug naar de homepage") }}</a>
{% endblock %}