<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject }}</title>

    <style type="text/css">
        /* -------------------------------------
            GLOBAL RESETS
        ------------------------------------- */
        img {
            border: none;
            -ms-interpolation-mode: bicubic;
            max-width: 100%; }

        .img-block {
            display: block; }

        body {
            font-family: sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 1.4;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%; }

        table {
            border-collapse: separate;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            width: 100%; }
        table td {
            font-family: sans-serif;
            font-size: 14px;
            vertical-align: top; }

        /* -------------------------------------
            BODY & CONTAINER
        ------------------------------------- */
        body {
            background-color: #F8F7F6;
            margin: 0;
            padding: 0; }

        .structure {
            width: 100%;
        }

        .body {
            background-color: #f1edeb;
            width: 100%; }

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            Margin: 0 auto !important;
            /* makes it centered */
            max-width: 580px;
            padding: 10px;
            width: auto !important;
            width: 580px; }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            box-sizing: border-box;
            display: block;
            margin: 0 auto;
            max-width: 580px;
            padding: 40px 10px 10px 10px; }

        /* -------------------------------------
            HEADER, FOOTER, MAIN
        ------------------------------------- */
        .main {
            background: #fff;
            border-radius: 3px;
            width: 100%;
            color: #414141;
        }

        .wrapper {
            box-sizing: border-box;
            padding: 20px; }

        .content-block {
            padding-top: 10px;
            padding-bottom: 10px; }

        .flush-top {
            margin-top: 0;
            padding-top: 0; }

        .flush-bottom {
            margin-bottom: 0;
            padding-bottom: 0; }

        .header {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #ffffff; }
        .header > table {
            min-width: 100%; }

        .footer {
            clear: both;
            padding-top: 10px;
            text-align: center;
            width: 100%; }
        .footer td,
        .footer p,
        .footer span,
        .footer a {
            color: #999;
            font-size: 12px;
            text-align: center; }

        /* -------------------------------------
            HIGHLIGHT SECTION
        ------------------------------------- */
        .section-callout {
            background-color: #ea650d;
            color: #ffffff; }
        .section-callout h1,
        .section-callout h2,
        .section-callout h3,
        .section-callout h4,
        .section-callout p,
        .section-callout li,
        .section-callout td {
            color: #ffffff; }

        .section-callout-subtle {
            background-color: #f7f7f7;
            border-bottom: 1px solid #e9e9e9;
            border-top: 1px solid #e9e9e9; }

        /* -------------------------------------
            GRID
            Assume the grid is a 6 column grid.
            Therefore if you want 2 columns, each 50% in width, both columns would be span-3.
            Note that due to inline-block these elements must start/stop beside each other
            i.e. no line breaks or spaces
        ------------------------------------- */
        .span-2,
        .span-3 {
            display: inline-block;
            Margin-bottom: 40px;
            vertical-align: top;
            width: 100%; }
        .span-2 > table,
        .span-3 > table {
            padding-left: 20px;
            padding-right: 20px; }

        .span-3 {
            max-width: 278px; }
        .span-3 > table {
            max-width: 278px; }

        .span-2 {
            max-width: 184px; }
        .span-2 > table {
            max-width: 184px; }

        /* -------------------------------------
            RESPONSIVE AND MOBILE FRIENDLY STYLES
        ------------------------------------- */
        @media only screen and (max-width: 620px) {
            .span-2,
            .span-3 {
                max-width: none !important;
                width: 100% !important; }
            .span-2 > table,
            .span-3 > table {
                max-width: 100% !important;
                width: 100% !important; } }

        /* -------------------------------------
            TYPOGRAPHY
        ------------------------------------- */
        h1,
        h2,
        h3,
        h4 {
            color: #222222;
            font-family: sans-serif;
            font-weight: 400;
            line-height: 1.4;
            margin: 0;
            margin-bottom: 30px; }

        h1 {
            font-size: 35px;
            font-weight: 300;
            text-align: center; }

        h2 {
            font-size: 28px;
            margin-bottom: 15px; }

        h3 {
            font-size: 21px; }

        h4 {
            font-size: 14px;
            font-weight: 600; }

        h1.flush,
        h2.flush,
        h3.flush,
        h4.flush {
            margin-bottom: 5px;
        }

        p,
        ul,
        ol {
            font-family: sans-serif;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            margin-bottom: 15px; }
        p li,
        ul li,
        ol li {
            list-style-position: outside;
            margin-left: 15px;
            padding: 0;
            text-indent: 0; }

        ul,
        ol {
            Margin-left: 5px;
            padding: 0;
            text-indent: 0; }

        a {
            color: #ea650d;
            text-decoration: underline; }

        .subtle, .subtle a {
            color: #aaaaaa;
        }

        /* -------------------------------------
            BUTTONS
        ------------------------------------- */
        .btn {
            box-sizing: border-box;
            min-width: 100% !important;
            width: 100%; }
        .btn > tbody > tr > td {
            padding-bottom: 15px; }
        .btn table {
            width: auto; }
        .btn table td {
            background-color: #ffffff;
            border-radius: 5px;
            text-align: center; }
        .btn a {
            background-color: #ea650d;
            border: solid 1px #ea650d;
            border-radius: 5px;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
            padding: 12px 25px;
            text-decoration: none; }

        .btn-primary table td {
            background-color: #ea650d; }

        .btn-primary a {
            background-color: #ea650d;
            border-color: #ea650d;
            color: #ffffff; }

        @media all {
            .btn-primary table td:hover {
                background-color: #ea650d !important; }
            .btn-primary a:hover {
                background-color: #e64415 !important;
                border-color: #e64415 !important; } }

        .btn-secondary table td {
            background-color: transparent; }

        .btn-secondary a {
            background-color: transparent;
            border-color: #ea650d;
            border-width: 2px;
            color: #ea650d; }

        @media all {
            .btn-secondary a:hover {
                border-color: #e64415 !important;
                color: #e64415 !important; } }

        .btn-tertiary table td {
            background-color: transparent; }

        .btn-tertiary a {
            background-color: transparent;
            border-color: #ffffff;
            border-width: 2px;
            color: #ffffff; }

        /* -------------------------------------
            ALERTS
        ------------------------------------- */
        .alert {
            min-width: 100%; }
        .alert td {
            border-radius: 3px 3px 0 0;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            padding: 20px;
            text-align: center; }
        .alert a {
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none; }
        .alert.alert-warning td {
            background-color: #f39c12; }
        .alert.alert-danger td {
            background-color: #c0392b; }
        .alert.alert-success td {
            background-color: #ea650d; }

        /* -------------------------------------
            RECEIPT
        ------------------------------------- */
        .receipt {
            Margin-bottom: 20px;
            width: 100%; }
        .receipt td {
            border-bottom: 1px solid #eee;
            margin: 0;
            padding: 5px; }
        .receipt td.receipt-figure {
            text-align: right; }
        .receipt .receipt-subtle {
            color: #aaa; }
        .receipt .receipt-bold td {
            border-bottom: 2px solid #333;
            border-top: 2px solid #333;
            font-size: 18px;
            font-weight: 600; }

        .receipt-container {
            width: 80%; }

        /* -------------------------------------
            FEATURES
        ------------------------------------- */
        .article .article-thumbnail {
            padding-bottom: 5px; }

        .article .article-title {
            font-size: 18.2px;
            font-weight: 800;
            line-height: 1.4em;
            padding-bottom: 5px; }
        .article .article-title a {
            color: #222222;
            font-size: 18.2px;
            font-weight: 800;
            line-height: 1.4em;
            text-decoration: none; }

        /* -------------------------------------
            SOCIAL SHARING
        ------------------------------------- */
        .social-sharing {
            Margin: 0 auto;
            text-align: center;
            width: auto; }

        .social-sharing-icon {
            height: 44px;
            Margin: 0 2px; }

        .social-sharing-url {
            Margin: 0 auto 20px;
            width: 100%; }
        .social-sharing-url td {
            background: rgba(255, 255, 255, 0.2);
            border: 2px dashed #ffffff;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            padding: 10px;
            text-align: center; }

        .social-sharing-url-container {
            width: 300px; }

        /* -------------------------------------
            OTHER STYLES THAT MIGHT BE USEFUL
        ------------------------------------- */
        .last {
            margin-bottom: 0; }

        .first {
            margin-top: 0; }

        .align-center {
            text-align: center; }

        .align-right {
            text-align: right; }

        .align-left {
            text-align: left; }

        .clear {
            clear: both; }

        .mt0 {
            margin-top: 0; }

        .mb0 {
            margin-bottom: 0; }

        .preheader {
            color: transparent;
            display: none;
            height: 0;
            max-height: 0;
            max-width: 0;
            opacity: 0;
            overflow: hidden;
            mso-hide: all;
            visibility: hidden;
            width: 0; }

        .powered-by a {
            text-decoration: none; }

        hr {
            border: 0;
            border-bottom: 1px solid #cac7c7;
            Margin: 20px 0; }

        /* -------------------------------------
            RESPONSIVE AND MOBILE FRIENDLY STYLES
        ------------------------------------- */
        @media only screen and (max-width: 620px) {
            h1 {
                font-size: 28px !important;
                margin-bottom: 10px !important; }
            h2 {
                font-size: 22px !important;
                margin-bottom: 10px !important; }
            h3 {
                font-size: 16px !important;
                margin-bottom: 10px !important; }
            p,
            ul,
            ol,
            td,
            span,
            a {
                font-size: 15px !important; }
            .wrapper,
            .article {
                padding: 20px !important; }
            .content {
                padding: 20px 0 0 0 !important; }
            .container {
                padding: 0 !important;
                width: 100% !important; }
            .main {
                border-left-width: 0 !important;
                border-radius: 0 !important;
                border-right-width: 0 !important; }
            .btn table {
                width: 100% !important; }
            .btn a {
                width: 100% !important; }
            .img-responsive {
                height: auto !important;
                max-width: 100% !important;
                width: auto !important; }
            .alert td {
                border-radius: 0 !important;
                padding: 10px !important; }
            .receipt {
                width: 100% !important; } }

        /* -------------------------------------
            PRESERVE THESE STYLES IN THE HEAD
        ------------------------------------- */
        @media all {
            .ExternalClass {
                width: 100%; }
            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%; }
            .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important; } }
    </style>

    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
</head>
<body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="structure">
        <tr>
            <td class="header">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="align-center">
                            <img src="{{ host.scheme }}://{{ host.base }}/public/email-header-logo.png" width="215" height="100" alt="Logo" align="center"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="body">
                    <td>&nbsp;</td>
                    <td class="container">
                        <div class="content">
                            <span class="preheader">{{ subject }}</span>

                            <table border="0" cellpadding="0" cellspacing="0" class="main">
                                {% block body %}{% endblock %}
                            </table>

                            <div class="footer">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            <span class="apple-link">Legal Fit Documenten Selfservice, Prinses Beatrixlaan 35, 2595 AK, Den Haag</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
