{% extends 'shared/base.html.twig' %}

{% set funnelMode = true %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row with-aside balanced">
                <div class="content">
                    <div class="formatted-text">
                        <h2>Aangetekend Mailen®</h2>
                        <p>Geef het <strong>e-mailadres</strong>, <strong>onderwerp</strong> en <strong>bericht</strong> voor de ontvanger van deze {{ template.title|decapitalize }} op. Houd er rekening mee dat een aangetekende e-mail slechts eenmalig wordt verstuurd.</p>
                    </div>
                    <div class="spacer"></div>
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="form" id="contact-form">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.email) }}
                        {{ form_row(form.subject) }}
                        {{ form_row(form.message, { attr: { rows: 10 } }) }}

                        <button type="submit" class="button primary">{{ "button.send"|trans|desc("Versturen") }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                <aside>
                    <div class="blocks">
                        <div class="row">
                            <div class="block with-buttons">
                                <div class="inner">
                                    <div class="info">
                                        <div class="text">
                                            <span class="title">{{ template.title }}</span>
                                        </div>
                                        <p>De Aangetekend Mailen® dienst is onderdeel van uw bestelling <strong>{{ order.code }}</strong> voor een {{ template.title }}.</p>
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="buttons">
                                        <a href="{{ path('app.frontend.order.status', { orderId: order.id, host: app.request.host } ) }}" class="button banana">
                                            <div class="icon">
                                                <i class="flaticon stroke cart-1" style="font-size: 28px; margin-right: 1em;"></i>
                                            </div>
                                            <div class="text" style="padding-top: 4px;">
                                                Terug naar bestelstatus
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
