{% use 'bootstrap_3_layout.html.twig' %}

{% block address_widget -%}
    <div class="address">
        <div class="row">
            <div class="street{% if not form.street.vars.valid %} has-error{% endif %}">
                <div class="label">
                    {{ form_label(form.street)}}
                </div>
                <div class="input">
                    {{ form_widget(form.street) }}
                </div>
            </div>
            <div class="number{% if not form.number.vars.valid %} has-error{% endif %}">
                <div class="label">
                    {{ form_label(form.number)}}
                </div>
                <div class="input">
                    {{ form_widget(form.number) }}
                </div>
            </div>
            <div class="addition{% if not form.addition.vars.valid %} has-error{% endif %}">
                <div class="label">
                    {{ form_label(form.addition) }}
                </div>
                <div class="input">
                    {{ form_widget(form.addition) }}
                </div>
            </div>
            {% if not form.street.vars.valid or not form.number.vars.valid or not form.addition.vars.valid %}
                <div class="row-errors has-error">
                    {{ form_errors(form.street) }}
                    {{ form_errors(form.number) }}
                    {{ form_errors(form.addition) }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="zipcode{% if not form.zipcode.vars.valid %} has-error{% endif %}">
                <div class="label">
                    {{ form_label(form.zipcode) }}
                </div>
                <div class="input">
                    {{ form_widget(form.zipcode) }}
                </div>
            </div>
            <div class="city{% if not form.city.vars.valid %} has-error{% endif %}">
                <div class="label">
                    {{ form_label(form.city) }}
                </div>
                <div class="input">
                    {{ form_widget(form.city) }}
                </div>
            </div>
            {% if not form.zipcode.vars.valid or not form.city.vars.valid %}
                <div class="row-errors">
                    {{ form_errors(form.zipcode) }}
                    {{ form_errors(form.city) }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="country{% if not form.country.vars.valid %} has-error{% endif %}">
                <div class="label">
                    {{ form_label(form.country) }}
                </div>
                <div class="input">
                    {{ form_widget(form.country) }}
                </div>
            </div>
            {% if not form.country.vars.valid %}
                <div class="row-errors">
                    {{ form_errors(form.country) }}
                </div>
            {% endif %}
        </div>
    </div>
{%- endblock %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('button-default') ~ ' button')|trim}) %}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock %}

{% block enhanced_checkbox_widget -%}
    <div class="input-enhanced-checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">
            <div class="input">
                <span><i></i></span>
            </div>
        </label>
    </div>
{%- endblock %}

{% block enhanced_radio_widget -%}
    <div class="input-enhanced-radio">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">
            <div class="input">
                <span><i></i></span>
            </div>
        </label>
    </div>
{%- endblock %}