.badge {
    padding: ($badge-padding-y + 0.1em) $badge-padding-x $badge-padding-y $badge-padding-x;
}

.badge-warning {
    color: #ffffff;
    background-color: $color-secondary;
}

a.nav-link .badge {
    position: relative;
    top: -1px;

    margin-left: $unit-quarter / 2;
}