nav.app-navbar {
    background-color: $color-primary;

    div.navbar-header {
        @include media-breakpoint-down('md') {
            @include make-col(12);
        }
    }

    div.navbar-brand-icon {
        width: 41px;
        height: 41px;

        @include img-retina('../images/logo-brand.png', '../images/logo-brand@2x.png', 41px, 41px);
    }

    ul.navbar-nav {
        li.nav-item {

            a.nav-link {
                padding-top: 1rem ;
                padding-bottom: 1rem;
            }

            span.badge {
                &.badge-default {
                    color: $color-primary;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }

            &.active {
                span.badge {
                    &.badge-default {
                        background-color: #ffffff;
                    }
                }
            }

            & + li.nav-item {
                margin-left: $unit-one;
            }
        }
    }
}
