{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="form-group row">
            {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:item', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), profile: subscription.template.partner.countryProfile, disable_locale: true })) }}
        </div>
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ subscription.code }}</h6>
            <h2 class="dashhead-title">Details abonnement</h2>
        </div>
        <div class="dashhead-toolbar">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Abonnementnummer</strong>
                <span class="col-sm-6"><code>{{ subscription.code }}</code></span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Intern ID</strong>
                <span class="col-sm-6"><code>{{ subscription.id }}</code></span>
            </div>

            <div class="row mb-2">
                <strong class="col-sm-4">Status</strong>
                <div class="col-sm-6">
                    {% if subscription.inGracePeriod %}
                        <span class="badge badge-info text-uppercase">Afkoelperiode</span>
                    {% elseif subscription.expired %}
                        <span class="badge badge-danger text-uppercase">Verlopen</span>
                    {% else %}
                        <span class="badge badge-default text-uppercase">Actief</span>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Aangemaakt</strong>
                <span class="col-sm-6">{{ subscription.timestampCreated|date() }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Verloopdatum</strong>
                <span class="col-sm-6">{{ subscription.timestampExpires|date() }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Afsluitdatum</strong>
                <span class="col-sm-6">{{ subscription.gracePeriodTimestamp|date() }}</span>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Bedrijfsnaam</strong>
                <span class="col-sm-6">
                    {% if customer.companyName %}
                        <a href="{{ path('app.backend.customers.default.details', { customerId: customer.id }) }}">{{ customer.companyName }}</a>
                    {% else %}
                        Niet opgegeven
                    {% endif %}
                </span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Contactpersoon</strong>
                <span class="col-sm-6">
                    {% if customer.companyName %}
                        {{ customer.name }}
                    {% else %}
                        <a href="{{ path('app.backend.customers.default.details', { customerId: customer.id }) }}">{{ customer.name }}</a>
                    {% endif %}
                </span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">E-mailadres</strong>
                <span class="col-sm-6"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>
            </div>
            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Bestelling</strong>
                <span class="col-sm-6">
                    <code><a href="{{ path('app.backend.orders.default.details', { orderId: order.id }) }}">{{ order.code }}</a></code>
                </span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Template</strong>
                <span class="col-sm-6">
                    <a href="{{ path('app.backend.templates.default.details', { templateId: template.id }) }}">{{ template.title }}</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-8">
            <h2>Downloadlinks</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bestandsformaat</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in subscription.links %}
                        <tr>
                            <th scope="row">{{ ('subscription-link.format.' ~ link.format)|trans() }}</th>
                            <td><code><a href="{{ subscriptionDownloadUrl(link) }}" target="_blank">{{ subscriptionDownloadUrl(link) }}</a></code></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}