{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Abonnementen</h2>
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
        {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:menu', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), 'disable_locale': true })) }}
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Klant</th>
                    <th>Bestelling</th>
                    <th>Template</th>
                    <th>Verloopdatum</th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.subscriptions.default.details', { subscriptionId: subscription.id }) }}">{{ subscription.code }}</a></th>
                        <td>{% if subscription.inGracePeriod %}<span class="badge badge-info text-uppercase">Afkoelperiode</span>{% elseif subscription.expired %}<span class="badge badge-danger text-uppercase">Verlopen</span>{% else %}Actief{% endif %}</td>
                        <td><a href="{{ path('app.backend.customers.default.details', { customerId: subscription.customer.id }) }}">{{ subscription.customer.listingName }}</a></td>
                        <td><a href="{{ path('app.backend.orders.default.details', { orderId: subscription.order.id }) }}">{{ subscription.order.code }}</a></td>
                        <td><a href="{{ path('app.backend.templates.default.details', { templateId: subscription.template.id }) }}">{{ subscription.template.title }}</a></td>
                        <td>{{ subscription.timestampExpires|date() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}