@include for-action('frontend', 'pages', 'default', 'page') {
	section.first {
		text-align: center;

		padding-top: $unit-one * 2;
		padding-bottom: $unit-one * 2;

		background-color: $color-primary;

		/**
		 * Bovenste helft
		 */
		div.top {
			h1 {
				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-header-large();

				@include respond-to-and-smaller('sm') {
					@include font-sans-serif-size-header-normal();
				}


				line-height: 1.2;

				color: #ffffff;
				margin-bottom: $unit-one;
			}

			a.button {
				@include button-variant(#ffffff, $color-secondary, transparent);
				@include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-large();
			}

			small {
				display: block;

				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-small();

				color: #ffffff;
				margin-top: $unit-half;
			}
		}
	}

	section.content {
		padding-top: $unit-one * 3;
		padding-bottom: $unit-one * 3;
	}
}
