{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">Nieuw bericht via Legal Fit Documenten Selfservice</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <p>Naam: {{ name }}</p>
                        <p>E-mail: {{ email }}</p>
                        <p>Telefoonnummer: {{ phone }}</p>
                        <p>Bericht: {{ message }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
