div.blocks{
  div.row{
    div.block--account {

      .title {
        background-color: $color-primary !important;
      }

      ul{
        list-style-type: none !important;
        font-size: 1.3rem !important;
        margin-top: 1rem !important;
      }

    }
  }
}
