{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Kennispartner toevoegen</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.settings.partners.index', {'profile_id': profile.id }) }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.excerpt) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_widget(form.excerpt, { attr: { rows: 3 } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.profile) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_widget(form.profile, { attr: { rows: 5 } }) }}
                </div>
            </div>

            <h4 class="mt-4">Synchronisatie</h4>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.remote_id) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.remote_id) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    <label for="sync_enabled">Synchroniseren met JuriBlox</label>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.sync_enabled, { label: false }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.sync_client_id) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.sync_client_id) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.sync_client_key) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.sync_client_key) }}
                </div>
            </div>

            <h3 class="mt-4">Logo</h3>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.logo) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.logo) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Toevoegen</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
