{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Kennispartners</h2>
        </div>
    {% if profile.mainLocale == app.request.attributes.get('_locale') %}
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.settings.partners.create', { 'profile_id': profile.id }) }}" class="btn btn-outline-primary" title="Kennispartner toevoegen"><i class="icon icon-circle-with-plus"></i></a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>JuriBlox-ID</th>
                    <th>Synchronisatie</th>
                    <th>Laatste synchronisatie</th>
                </tr>
            </thead>
            <tbody>
                {% for partner in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.settings.partners.edit', { partnerId: partner.id }) }}">{{ partner.title }}</a></th>
                        <td>{{ partner.remoteId }}</td>
                        <td>{% if partner.syncEnabled %}Ingeschakeld{% else %}<span class="badge badge-danger">Uitgeschakeld</span>{% endif %}</td>
                        <td>{% if partner.syncedTimestamp %}{{ partner.syncedTimestamp|date() }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}