{% use 'bootstrap_3_layout.html.twig' %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{%- block categories_widget -%}
    <table class="table table-hover" data-role="link-categories">
        <thead>
            <tr>
                <th>Categorie</th>
                <th class="text-center">Koppelen</th>
                <th class="text-center">Primair</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td class="text-center">{{ form_widget(form.selected.children[loop.index0]) }}</td>
                    <td class="text-center">{{ form_widget(form.primary.children[loop.index0]) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%- endblock categories_widget -%}

{%- block related_templates_widget -%}
    <table class="table table-hover" data-role="link-related-templates">
        <thead>
        <tr>
            <th>Template</th>
            <th class="text-center">Koppelen</th>
        </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <td>{{ template.title }}</td>
                <td class="text-center">{{ form_widget(form.selected.children[loop.index0]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endblock related_templates_widget -%}

{% block checkbox_row -%}
    <div class="form-group{% if not valid %} has-danger{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="form-group{% if not valid %} has-danger{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock radio_row %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<div class="form-control-feedback">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><i class="icon icon-warning"></i> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent %}</div>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}


{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-danger{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}