{% use 'form_div_layout.html.twig' %}

{% block icon_submit_widget %}
    {%- set attr = attr|merge({class: 'btn btn-outline-primary'}) -%}
    {%- set type = type|default('submit') -%}
    <button type="{{ type }}" {{ block('button_attributes') }} {% if label %} title="{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}"{% endif %}><i class="{{ icon }}"></i></button>
{% endblock %}