{% extends 'shared/base.html.twig' %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside with-inner">
                <aside>
                    <div class="blocks">
                        <div class="row">
                            {% include ':frontend/account/_includes:submenu.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <div class="inner">
                        <h1>{{ "account.profile_credentials"|trans({}, 'account')|desc("Aanmeldgegevens") }}</h1>
                        {% if emailChange %}
                            <div class="alert alert-success">
                                {{ "account.profile_email_change_alert"|trans({"%email%" : "{{ emailChange }}"}, 'account')|desc("Uw e-mailadres wordt gewijzigd in <strong>%email%</strong> zodra u de instructies in de verificatiemail heeft opgevolgd.")|raw }}
                            </div>
                        {% endif %}
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.email, { attr: { autocomplete: 'username' } }) }}

                        <div class="spacer"></div>
                        <div class="text formatted-text">
                            <h3>{{ "account.profile_change_password_title"|trans({}, 'account')|desc("Wachtwoord wijzigen") }}</h3>
                            <p>{{ "account.profile_change_password_text"|trans({}, 'account')|desc("Wilt u uw wachtwoord wijzigen? Kies dan een nieuw wachtwoord en bevestig dit.") }}</p>
                        </div>

                        <div class="spacer"></div>

                        {{ form_row(form.updatedPassword, { attr: { autocomplete: 'new-password' } }) }}

                        <div class="spacer"></div>

                        <div class="text formatted-text">
                            <h2>{{ "account.profile_control_title"|trans({}, 'account')|desc("Controle") }}</h2>
                            <p>{{ "account.profile_control_text"|trans({}, 'account')|desc("Voordat uw wijzigingen kunnen worden opgeslagen moet u ter controle uw huidige wachtwoord invoeren.") }}</p>
                        </div>

                        <div class="spacer"></div>

                        {{ form_row(form.currentPassword, { attr: { autocomplete: 'current-password' } }) }}

                        <div class="spacer"></div>
                        <button type="submit" class="button primary">{{ "account.profile_save"|trans({}, 'account')|desc("Opslaan") }}</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
