{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set pageTitle = 'Contact'|trans|desc("Contact") %}

{% block googleDataLayer %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        $('#contact-form form').on('submit', function () {
            dataLayer.push({
                'eventCategory': 'form',
                'eventAction': 'submission',
                'eventLabel': 'Contact Form'

            });
        });
    </script>
{% endblock %}

{% block body %}
    {% include ':shared:header.html.twig' %}
    <section class="first">
        <div class="container">
            <div class="breadcrumbs alt">
                <a href="/" class="breadcrumb__link alt">Home</a>{{ pageTitle }}
            </div>
            <h1 data-flow-min="30" data-flow-max="80" data-flow-ratio="10">{{ "header.contact"|trans|desc("Contact") }}</h1>
            <span class="tagline">{{ "text.questions_were_there_for_you"|trans|desc('Vragen? Wij staan voor u klaar! Lees ook onze <a href="%link%" target="_blank">veelgestelde vragen</a>')|raw }}</span>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row with-aside balanced">
                <div class="content">
                    <div class="formatted-text">
                        <h2 data-component="ColoredText">{{ "header.questions_send_a_message"|trans|desc("Vragen? Stuur ons een bericht") }}</h2>
                        <p>{{ "text.do_our_best_to_answer"|trans|desc("We doen ons best om uw bericht zo snel mogelijk te beantwoorden.") }}</p>
                    </div>
                    <div class="spacer"></div>
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="form" id="contact-form">
                        <a name="contact"></a>
                        {{ form_start(form, { attr: { action: '#contact' }}) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.message, { attr: { rows: 10 } }) }}

                        <button type="submit" class="button">{{ "button.send"|trans|desc("Versturen") }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                <aside>
                    <div class="formatted-text">
                        <address><strong>{{ app.request.get('_profile').entityName }}</strong><br />{{ app.request.get('_profile').addressLine1 }}<br />{% if app.request.get('_profile').addressLine2 %}{{ app.request.get('_profile').addressLine2 }}<br />{% endif %}{{ app.request.get('_profile').zipcode }} {{ app.request.get('_profile').city }}{% if app.request.get('_profile').province %}<br />{{ app.request.get('_profile').province }}{% endif %}<br />{{ app.request.get('_profile').entityCountry }}</address>
                        <p><a href="mailto:{{ app.request.get('_profile').email }}">{{ app.request.get('_profile').email }}</a><br />{{ app.request.get('_profile').phone }}</p>
                        <p>{{ app.request.get('_profile').cocLabel }}: {{ app.request.get('_profile').cocNumber }}<br />{{ app.request.get('_profile').vatLabel }}: {{ app.request.get('_profile').vatNumber }}</p>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
