{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set pageTitle = page.title %}

{% block body %}
    {% include ':shared:header.html.twig' %}
    <section class="first">
        <div class="top">
            <div class="container">
                <h1 data-flow-min="30" data-flow-max="60" data-flow-ratio="10">{{ page.title }}</h1>
                {% if page.pdf %}
                    <a href="{{ pagePdfUrl(page) }}" class="button">{{ "button.download_as_pdf"|trans|desc("Download als PDF") }}</a>
                {% endif %}
                <small>{{ "text.last_updated_at"|trans|desc("Laatst bijgewerkt op") }} {{ page.lastUpdated|localizeddate('none', 'none', app.request.locale, null, 'd MMMM Y') }}</small>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row with-aside balanced">
                <div class="content">
                    <div class="legal-text">
                        <p class="lead">{{ page.lead|markdown|trim('<p>', 'left')|trim(side='right')|trim('</p>', 'right') }}</p>

                        {{ page.content|markdown }}
                    </div>
                </div>
                <aside>
                    <div class="formatted-text">
                        <h2>{{ "header.contact_data"|trans|desc("Contactgegevens") }}</h2>
                        <p>{{ "text.contact_questions_or_remakrs"|trans|desc("Mocht u verder, na het lezen van onze privacy-en cookieverklaring, nog vragen en/of opmerkingen hebben dan kunt u contact met ons opnemen via onderstaande contactgegevens.") }}</p>
                        <div class="spacer"></div>
                        <h2>{{ "header.company_data"|trans|desc("Bedrijfsgegevens") }}</h2>
                        <strong>{{ app.request.get('_profile').entityName }}</strong> - {{ app.request.get('_profile').addressLine1 }}<br/>
                        {% if app.request.get('_profile').addressLine2 %}{{ app.request.get('_profile').addressLine2 }},{% endif %} {{ app.request.get('_profile').zipcode }} {{ app.request.get('_profile').city }}<br />
                        {% if app.request.get('_profile').province %}{{ app.request.get('_profile').province }},{% endif %} {{ app.request.get('_profile').entityCountry }}<br/></br>
                        <a href="mailto:{{ app.request.get('_profile').email }}">{{ app.request.get('_profile').email }}</a> - {{ app.request.get('_profile').phone }}
                    </div>
                    <div class="spacer"></div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}