{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ referrer.title }}</h6>
            <h2 class="dashhead-title">Partner (referrer) bewerken</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.settings.referrers.index', { 'profile_id': referrer.profile.id }) }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.text) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_widget(form.text, { attr: { rows: 3 } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.website) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.website) }}
                </div>
            </div>

            <h3 class="mt-4">Instellingen</h3>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.homepage) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.homepage) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.kickback) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.kickback) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.landing) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.landing) }}
                </div>
            </div>

            <h3 class="mt-4">Logo</h3>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.logo) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {% if referrer.logo %}<img src="{{ referrerLogoUrl(referrer, 'thumbnail') }}" alt="{{ referrer.title }} logo" class="mb-4"><br />{% endif %}
                    {{ form_widget(form.logo) }}
                </div>
            </div>
            {% if referrer.logo %}
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                        <label for="delete_logo">Logo verwijderen</label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                        {{ form_widget(form.delete_logo, { label: false }) }}
                    </div>
                </div>
            {% endif %}

            <div data-linked-input="landing">
                <h3 class="mt-4">Landingspagina</h3>
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                        {{ form_label(form.discount) }}
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-3">
                        {{ form_widget(form.discount) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                        {{ form_label(form.templates) }}
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                        {{ form_widget(form.templates) }}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Opslaan</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
