{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Partners (referrers)</h2>
        </div>
        <div class="dashhead-toolbar">
    {% if profile.mainLocale == app.request.attributes.get('_locale') %}
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.settings.referrers.create', { 'profile_id': profile.id }) }}" class="btn btn-outline-primary" title="Partner toevoegen"><i class="icon icon-circle-with-plus"></i></a>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Homepage</th>
                    <th>Landingspagina</th>
                    <th>Kortingscode</th>
                    <th>Kickback</th>
                </tr>
            </thead>
            <tbody>
                {% for referrer in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.settings.referrers.edit', { referrerId: referrer.id }) }}">{{ referrer.title }}</a></th>
                        <td>{% if referrer.hasHomepage %}Ja{% else %}Nee{% endif %}</td>
                        <td>
                            {% if referrer.hasLanding %}
                                <a href="{{ url('app.frontend.referrers.details', { referrerSlug: referrer.slug, host: referrer.profile.host }) }}" target="_blank">{{ url('app.frontend.referrers.details', { referrerSlug: referrer.slug, host: referrer.profile.host }) }}</a>
                            {% else %}
                                <span class="badge badge-danger">Uitgeschakeld</span>
                            {% endif %}
                        </td>
                        <td>{% if referrer.hasDiscount %}Ja{% else %}Nee{% endif %}</td>
                        <td>{% if referrer.hasKickback %}Ingeschakeld{% else %}<span class="badge badge-danger">Uitgeschakeld</span>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}