// Primaire kleur
$color-primary-light: #ee7f00; //NN Light Orange
$color-primary: #ea650d; // NN Medium Orange
$color-primary-dark: #e64415; // NN Dark Orange

// Grijs
$color-gray: #999; //NN Medium Grey
$color-gray-light: #cac7c7; //NN Light Grey
$color-gray-lighter: #e5ded9; // NN Extra Light grey
$color-gray-superlight: #f1edeb; //NN Ultra Light Grey
$color-gray-dark: #666; //NN Dark Grey
$color-gray-darker: #414141; //NN Extra Dark Grey

// Secundaire kleur
$color-secondary: $color-gray-superlight;
$color-secondary-dark: $color-gray-lighter;

// Highlight-kleur
$color-highlight: #7caad6; //NN Medium Blue

// Kleuren voor berichten
$color-positive: #28a745;
$color-warning: #ffc107;
$color-negative: #dc3545;

// Bootstrap overrides
$input-border-focus: $color-primary;

// Kleuren voor PrivacyBlox
$color-privacy-red: #ef6262;

// Utility
$color-background: #ffffff;
$color-text: $color-gray-darker;

