/*
 * Units
 */

$unit-one: $grid-gutter-width;
$unit-oneandahalf: $unit-one * 1.5;
$unit-two: $unit-one * 2;

$unit-half: $unit-one / 2;
$unit-quarter: $unit-half / 2;

$unit-padding: $unit-quarter * 1.5;


/*
 * Breakpoints voor responsive
 */

/// Breakpoints map
$breakpoints: (
	'xs': "(max-width: #{$screen-xs-max})",
	'sm': "(min-width: #{$screen-sm}) and (max-width: #{$screen-sm-max})",
	'md': "(min-width: #{$screen-md}) and (max-width: #{$screen-md-max})",
	'lg': "(min-width: #{$screen-lg})"
) !default;

/// Breakpoints map voor "x en groter"
$breakpoints-and-larger: (
	'xs': "(min-width: #{$screen-xs})",
	'sm': "(min-width: #{$screen-sm})",
	'md': "(min-width: #{$screen-md})",
	'lg': "(min-width: #{$screen-lg})"
) !default;

/// Breakpoints map voor "x en kleiner"
$breakpoints-and-smaller: (
	'xs': "(max-width: #{$screen-xs-max})",
	'sm': "(max-width: #{$screen-sm-max})",
	'md': "(max-width: #{$screen-md-max})"
) !default;


/*
 * Afmetingen elementen
 */
$flap-height: 26px;