{% extends 'shared/base.html.twig' %}

 {% set pageTitle = "Documenten" ~ ' ' ~ category.title %}

{% if category.metaDescription %}
    {% set pageDescription = category.metaDescription %}
{% endif %}

{% do pagination.setTemplate('shared/templates/pagination.html.twig') %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row with-aside">
                <div class="content">
                    <div class="breadcrumbs">
                        <a href="/">Home</a>{{ category.title }}
                    </div>
                    <h1 data-component="ColoredText">{{ 'header.documents'|trans|desc('Documenten') }}: {{ category.title }}</h1>
                    {% if category.description %}
                        <div class="formatted-text">{{ category.description|markdown }}</div>
                    {% endif %}
                    <div class="spacer"></div>
                    <div class="templates templates-3">
                        <div class="navigation above">
                            <div class="row">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                        <div class="row">
                            {% for template in pagination %}
                                <div class="template">
                                    <div class="inner">
                                        {% if template.partner.countryProfile %}
                                            <div class="price">
                                                {% if template.unitPrice.amount == "0" %}
                                                    {{ "price.free"|trans|desc("Gratis") }}
                                                {% else %}
                                                     {{ template.unitPrice.amount|slice(0, -2) }}
{% set decimals = template.unitPrice.amount|slice(-2) %}
                                                    <sup>{% if decimals == "00" %},-{% else %}{{ decimals }}{% endif %}</sup>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="price">
                                                template.unitPrice|price(freeText=true)
                                            </div>
                                        {% endif %}
                                        <a href="{{ templateUrl(template) }}" class="details">
                                            <div class="document-icon"></div>
                                            <div class="text">
                                                <span class="title">{{ template.title }}</span>
                                                <span class="category">{{ template.primaryCategory.title }}</span>
                                                <p>{{ template.excerpt }}</p>
                                            </div>
                                        </a>
                                        <div class="link__wrapper">
                                            <a href="{{ templateUrl(template) }}" class="button">
                                                Bekijk document
                                                {% include ":svg:arrow-right.svg.twig" %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index % 2 == 0 %}<div class="row hidden-xs hidden-lg"></div>{% endif %}
                                {% if loop.index % 3 == 0 %}<div class="row visible-lg"></div>{% endif %}
                                {% if loop.index % 6 == 0 %}
                                    <div class="row">
                                        <div class="wizard__callout">
                                            <div class="wizard__callout__inner">
                                                <div class="icon">
                                                    <i class="flaticon solid magic-wand-1"></i>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        <p>Te veel documenten om uit te kiezen?<br>Gebruik onze documentzoeker!</p>
                                                    </div>
                                                    <div class="action">
                                                        <a href="{{ url('app.frontend.wizard', { host: app.request.host }) }}" class="button">Help mij kiezen</a>
                                                        <small>of bel 088 - 3279826</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.count < 6 %}
                                <div class="row">
                                    <div class="wizard__callout">
                                        <div class="wizard__callout__inner">
                                            <div class="icon">
                                                <i class="flaticon solid magic-wand-1"></i>
                                            </div>
                                            <div class="content">
                                                <div class="text">
                                                    <p>Te veel documenten om uit te kiezen?<br>Gebruik onze documentzoeker!</p>
                                                </div>
                                                <div class="action">
                                                    <a href="{{ url('app.frontend.wizard', { host: app.request.host }) }}" class="button">Help mij kiezen</a>
                                                    <small>of bel 088 - 3279826</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="navigation below">
                            <div class="row">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>
                <aside>
                    <div class="blocks">
                        <div class="row">
                            <div class="block with-icon">
                                <div class="inner">
                                    <div class="icon">
                                        <i class="flaticon solid magic-wand-1"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ "text.too_many_documents_to_choose_from"|trans|desc("Te veel documenten om uit te kiezen? Gebruik onze documentzoeker!") }}</p>
                                    </div>
                                    <div class="action">
                                        <a href="{{ path('app.frontend.wizard', { host: app.request.host, profileSlug: app.request.get('_profile').slug }) }}" class="button">{{ "text.help_me_choose"|trans|desc("Help mij kiezen") }}</a>
                                        <small>{{ "text.or_call"|trans|desc("of bel") }} {{ helpdesk.phone }}</small>
                                    </div>
                                </div>
                            </div>
                            {% include ':shared/_blocks:benefits.html.twig' %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
