{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ profile.country }}</h6>
            <h2 class="dashhead-title">{{ mode == 'edit'? 'Land bewerken' : 'Land toevoegen' }}</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.translation.profile.index') }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.country) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.country) }}
                    {{ form_widget(form.country) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.currency) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.currency) }}
                    {{ form_widget(form.currency) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.timezone) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.timezone) }}
                    {{ form_widget(form.timezone) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.mainLocale) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.mainLocale) }}
                    {{ form_widget(form.mainLocale) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.url) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.url) }}
                    {{ form_widget(form.url) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.locales) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.locales) }}
                    {{ form_widget(form.locales) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.mollieKey) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.mollieKey) }}
                    {{ form_widget(form.mollieKey) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.email) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.phone) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.entityName) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.entityName) }}
                    {{ form_widget(form.entityName) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.entityCountry) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.entityCountry) }}
                    {{ form_widget(form.entityCountry) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.addressLine1) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.addressLine1) }}
                    {{ form_widget(form.addressLine1) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.addressLine2) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.addressLine2) }}
                    {{ form_widget(form.addressLine2) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.zipcode) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.zipcode) }}
                    {{ form_widget(form.zipcode) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.city) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.province) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.province) }}
                    {{ form_widget(form.province) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.vatLabel) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.vatLabel) }}
                    {{ form_widget(form.vatLabel) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.vatNumber) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.vatNumber) }}
                    {{ form_widget(form.vatNumber) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.cocLabel) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.cocLabel) }}
                    {{ form_widget(form.cocLabel) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.cocNumber) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.cocNumber) }}
                    {{ form_widget(form.cocNumber) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Opslaan</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
