{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Landen</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.translation.profile.create') }}" class="btn btn-outline-primary" title="Profiel toevoegen"><i class="icon icon-circle-with-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th>Land</th>
                <th>Valuta</th>
                <th>Tijdzone</th>
                <th>Hoofdtaal</th>
                <th>Url</th>
                <th>Mollie API key</th>
                <th>E-mailadres</th>
                <th>Telefoonnummer</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in pagination %}
                <tr>
                    <th scope="row"><a href="{{ path('app.backend.translation.profile.edit', {'id': profile.id}) }}">{{ profile.country }}</a></th>
                    <td>{{ profile.currency }}</td>
                    <td>{{ profile.timezone }}</td>
                    <td>{% if profile.mainLocale %}<a href="{{ path('app.backend.translation.locale.edit', {'id': profile.mainLocale.id}) }}">{{ profile.mainLocale }}</a>{% endif %}</td>
                    <td>{% if profile.url %}<a href="{{ profile.url }}">{{ profile.url }}</a>{% endif %}</td>
                    <td>{{ profile.mollieKey }}</td>
                    <td>{{ profile.email }}</td>
                    <td>{{ profile.phone }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}