{% extends 'shared/base.html.twig' %}

{% set funnelMode = true %}
{% set pageTitle = 'text.payment'|trans|desc('Betaling') ~ ' ' ~ invoice.code %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row">
                <div class="status">
                    <div class="inner">
                        <div class="current">
                            <span class="title">{{ "text.process_payment"|trans|desc("Verwerken betaling") }}</span>
                            <p>{{ "text.were_checking_order_status"|trans|desc("We controleren de status van de betaling, een ogenblik geduld!") }}</p>
                            <div class="sk-wave">
                                <div class="sk-rect sk-rect1"></div>
                                <div class="sk-rect sk-rect2"></div>
                                <div class="sk-rect sk-rect3"></div>
                                <div class="sk-rect sk-rect4"></div>
                                <div class="sk-rect sk-rect5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="call-to-action">
                        <p>{{ "text.forward_to_payment_processor"|trans|desc("Mocht de betaling nog niet zijn ontvangen dan sturen we u zo door naar onze betalingsprovider, Mollie.") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}