@include for-controller('frontend', 'order', 'default') {

    .preview__wrapper {
        background-color: #ffffff;
        padding: $unit-one;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius-base;
        border: 1px solid $color-primary-dark;
    }

    .preview__content {
        display: flex;
        flex-direction: row;
        align-items: center;

        .document-icon {
            display: inline-block;
            width: 52px;
            height: 99px;
            background-image: url("../images/document.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

    }

    .preview__text {
        margin-left: $unit-one;
    }

    .preview__template {
        color: $color-primary;
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-large();
    }

    .preview__company {
        color: $color-primary-dark;
        @include font-sans-serif-weight-normal();
        @include font-sans-serif-size-large();
    }

    .success__text {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: $unit-two;

        i {
            font-size: 50px;
            margin-right: $unit-one;
            color: $brand-success;
        }

        p {
            @include font-sans-serif-weight-normal();
            @include font-sans-serif-size-large();

            span {
                color: $color-primary;
                @include font-sans-serif-weight-bold();
            }
        }
    }

    section.first div.container {
        div.page-title {
            @include make-xs-column(12);

            h1 {
                @include font-sans-serif-size-large();
                @include respond-to-and-smaller('sm') {
                    @include font-sans-serif-size-header-normal();
                }

            }

            @include respond-to-and-larger('sm') {
                display: none;
            }
        }

        span.step-title {
            display: block;

            @include font-sans-serif-weight-bold();
            @include font-sans-serif-size-large();

            color: $color-text;
            margin-bottom: $unit-half;
        }

        div.page-steps {
            $step-height: $unit-one * 1.5;
            $arrow-width: 9px;

            @include make-xs-column(12);

            cursor: default;
            margin-bottom: $unit-one;

            div.step {
                @include make-xs-column(2, 0);
                @include make-sm-column(3, 0);
                @include make-md-column(3, 0);
                @include make-lg-column(3, 0);

                @include font-sans-serif-weight-normal();
                @include font-sans-serif-size-normal();

                color: $color-text;

                @include vertical-align($step-height);

                padding-left: $unit-half;
                padding-right: $unit-half;

                background-color: $color-secondary;

                div.text {
                    @include text-overflow-ellipsis();

                    span.number {
                        float: left;

                        @include font-sans-serif-weight-bold();
                    }

                    span.title {
                        float: left;
                        margin-left: 5px;
                    }

                    mark {
                        display: block;
                        float: right;

                        position: relative;
                        top: 14px;

                        @include font-sans-serif-weight-normal();
                        @include font-sans-serif-size-tiny();

                        color: $color-text;

                        line-height: 1.3rem;

                        padding-top: 2px;
                        background-color: #ffffff;

                        i {
                            vertical-align: middle;
                        }
                    }

                    > i {
                        display: none;
                        float: right;

                        color: $color-gray-light;
                        vertical-align: middle;

                        margin-right: $unit-quarter;
                    }
                }

                div.arrow {
                    position: absolute;

                    top: 0;

                    width: 9px;
                    height: 45px;

                    &.left {
                        display: none;
                        left: 0;

                        @include img-retina('../images/order-steps-left.png', '../images/order-steps-left@2x.png', $arrow-width, $step-height);
                    }

                    &.right {
                        right: 0;

                        @include img-retina('../images/order-steps-separator.png', '../images/order-steps-separator@2x.png', $arrow-width, $step-height);
                    }
                }

                &.completed {
                    div.text {
                        color: $color-text;

                        mark {
                            display: none;
                        }

                        i.completed {
                            display: block;
                        }
                    }
                }

                &.locked {
                    div.text {
                        color: $color-gray;

                        mark {
                            display: none;
                        }

                        i.locked {
                            display: block;
                        }
                    }
                }

                &.active {
                    @include font-sans-serif-weight-bold();

                    padding-left: $unit-half + $arrow-width;
                    padding-right: $unit-half + $arrow-width;

                    background-color: $color-primary-light;

                    div.text {
                        color: #ffffff;

                        mark {
                            color: $color-text;
                            background-color: #ffffff;
                        }

                        i.completed, i.locked {
                            display: none;
                            color: #ffffff;
                        }
                    }

                    div.arrow {
                        display: block;

                        &.right {
                            @include img-retina('../images/order-steps-right.png', '../images/order-steps-right@2x.png', $arrow-width, $step-height);
                        }
                    }
                }

                &.first {
                    div.arrow.left {
                        display: none;
                    }
                }

                &.next-active, &.last {
                    div.text {
                        > i {
                            margin-right: 0;
                        }
                    }

                    div.arrow.right {
                        display: none;
                    }
                }
            }

            @include respond-to-and-smaller('md') {
                div.step {
                    div.text {
                        mark {
                            display: none;
                        }
                    }
                }
            }

            @include respond-to('xs') {
                div.step {
                    padding-left: $arrow-width;
                    padding-right: $arrow-width;

                    div.text {
                        text-align: center;

                        span.number {
                            float: none;
                        }

                        span.title {
                            display: none;
                        }
                    }

                    &.previous-active {
                        padding-left: 0;
                    }

                    &.active {
                        @include make-xs-column(6, 0);

                        padding-left: $unit-one;
                        padding-right: $unit-one;

                        div.text {
                            text-align: left;

                            span.number {
                                float: left;
                            }

                            span.title {
                                display: inline;
                                float: none;
                            }
                        }
                    }
                }
            }
        }

        div.question-steps {
            @include make-xs-column(12);

            margin-bottom: $unit-one;

            > span.title {
                display: block;

                @include font-sans-serif-weight-bold();
                @include font-sans-serif-size-normal();

                color: $color-gray-dark;
                margin-bottom: $unit-half;
            }

            ul {
                display: flex;
                flex-wrap: nowrap;

                li {
                    flex: 1 1;

                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-small();
                    @include text-overflow-ellipsis();

                    color: $color-gray-dark;
                    text-align: center;

                    margin-left: 1px;
                    margin-right: 1px;

                    padding: $unit-quarter 2px $unit-quarter 2px;

                    background-color: $color-primary-light;

                    span.title {
                        display: none;
                    }

                    i {
                        position: relative;
                        top: 1px;

                        display: none;
                        vertical-align: middle;
                    }

                    &.active {
                        flex-grow: 4;

                        @include font-sans-serif-weight-bold();
                        color: #ffffff;

                        padding-left: $unit-quarter;
                        padding-right: $unit-quarter;

                        background-color: $color-primary;

                        span.number {
                            &:after {
                                content: ".";
                            }
                        }

                        span.title {
                            display: inline;
                        }
                    }

                    &.completed {
                        color: $color-gray;
                        background-color: #ffffff;

                        span.number {
                            display: none;
                        }

                        i {
                            display: inline;
                        }
                    }
                }
            }

            @include respond-to-and-larger('sm') {
                display: none;
            }
        }

        div.inner {

            &.step_account {
                form {
                    div.form-group {
                        width: 50%;

                        @include respond-to-and-smaller('xs') {
                            width: auto;
                        }
                    }
                }
            }

            /*
             * Stap 1: vragenlijst
             */
            &.step_questions {
                div.wizard-fields {
                    color: $color-text;

                    div.form-group {
                        margin-bottom: $unit-one * 1.5;

                        label.control-label {
                            display: flex;

                            @include font-sans-serif-weight-normal();
                            @include font-sans-serif-size-normal();

                            color: #ffffff;

                            border-radius: $border-radius-base;

                            padding: $unit-quarter 0 $unit-quarter $unit-half;
                            margin-bottom: $unit-half;

                            background-color: $color-primary;

                            span.text {
                                flex: 1 1 auto;
                            }

                            a.help {
                                flex: 0 0 auto;
                                display: flex;

                                align-items: center;

                                padding-left: $unit-half;
                                padding-right: $unit-half;

                                i {
                                    flex: 0 0 auto;

                                    color: #ffffff;
                                    font-size: 15px;

                                    vertical-align: middle;
                                }

                                @include on-event() {
                                    text-decoration: none;
                                }
                            }

                            &.with-input {
                                padding: 0;

                                cursor: pointer;

                                div.input {
                                    flex: 0 0 auto;

                                    display: flex;
                                    align-items: center;

                                    padding: 0 $unit-half 0 $unit-half;

                                    border-top-left-radius: $border-radius-base;
                                    border-bottom-left-radius: $border-radius-base;

                                    background-color: $color-primary;

                                    input {
                                        flex: 0 0 auto;
                                        margin-top: -1px;
                                    }
                                }

                                span.text {
                                    padding: $unit-quarter 0 $unit-quarter $unit-half;
                                }
                            }
                        }
                    }
                }
            }

            /*
             * Keuze d.m.v. grote blokken
             */
            div.choices {
                @include make-row();

                margin-bottom: -$unit-one;

                > div.block {
                    margin-bottom: $unit-one;

                    div.inner {
                        text-align: center;

                        border: 1px solid $color-gray;
                        border-radius: $border-radius-base;

                        > div.icon {
                            margin-bottom: $unit-one;

                            i {
                                color: $color-gray;
                                font-size: 80px;
                            }
                        }

                        > div.image {
                            height: 80px;

                            text-align: center;

                            padding-left: $unit-one;
                            padding-right: $unit-one;

                            margin-bottom: $unit-one;

                            img {
                                width: auto;
                                height: 80px;

                                filter: grayscale(100%) opacity(20%);
                            }
                        }

                        > div.text {
                            @include font-sans-serif-weight-normal();
                            @include font-sans-serif-size-normal();

                            color: $color-gray-dark;

                            span.title {
                                display: block;

                                @include font-sans-serif-weight-bold();
                                @include font-sans-serif-size-large();

                                margin-bottom: $unit-half;
                            }

                            &.separate {
                                margin-bottom: $unit-one;
                                padding-bottom: $unit-one;

                                border-bottom: 1px solid $color-gray-superlight;
                            }
                        }

                        > div.price {
                            @include font-sans-serif-weight-bold();
                            @include font-sans-serif-size-header-normal();

                            color: $color-gray;

                            margin: $unit-one 0 $unit-half 0;
                            padding-top: $unit-one;

                            border-top: 1px solid $color-gray-superlight;

                            span.price {
                                display: block;
                                clear: both;

                                line-height: 1rem;
                            }

                            small {
                                @include font-sans-serif-weight-normal();
                                @include font-sans-serif-size-small();

                                color: $color-gray;
                                text-transform: uppercase;
                            }
                        }
                    }

                    &[role="radio"] {
                        cursor: pointer;
                    }

                    &.selected {
                        div.inner {
                            border-color: $color-primary;

                            > div.icon {
                                i {
                                    color: $color-secondary;
                                }
                            }

                            > div.image {
                                img {
                                    filter: none;
                                }
                            }

                            > div.text {
                                span.title {
                                    color: $color-primary;
                                }
                            }

                            > div.price {
                                color: $color-primary;
                            }
                        }
                    }

                    @include respond-to('md') {
                        div.inner {
                            > div.text {
                                @include font-sans-serif-size-small();
                            }

                            > div.price {
                                @include font-sans-serif-size-large();

                                small {
                                    @include font-sans-serif-size-tiny();
                                }
                            }
                        }
                    }

                    @include respond-to('sm') {
                        > div.inner {
                            > div.image {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }

                    @include respond-to('xs') {
                        > div.inner {
                            > div.image, > div.icon {
                                display: none;
                            }
                        }
                    }
                }

                &.two-choices {
                    > div.block {
                        @include make-xs-column(12);
                        @include make-sm-column(6);
                        @include make-md-column(6);
                        @include make-lg-column(6);
                    }
                }

                &.three-choices {
                    > div.block {
                        @include make-xs-column(12);
                        @include make-sm-column(4);
                        @include make-md-column(4);
                        @include make-lg-column(4);
                    }
                }

                &.four-choices {
                    > div.block {
                        @include make-xs-column(12);
                        @include make-sm-column(6);
                        @include make-md-column(3);
                        @include make-lg-column(3);
                    }
                }

                &.five-choices {
                    > div.block {
                        @include make-xs-column(12);
                        @include make-sm-column(6);
                        @include make-md-column(4);
                        @include make-lg-column(4);
                    }
                }

                &.small {
                    > div.block {
                        div.inner {
                            > div.icon {
                                margin-bottom: $unit-half;

                                i {
                                    font-size: 60px;
                                }
                            }

                            > div.text {
                                span.title {
                                    @include font-sans-serif-size-normal();
                                }
                            }
                        }

                        &.selected {
                            div.inner {
                                > div.icon {
                                    i {
                                        color: $color-primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /*
             * Opties selecteren
             */
            div.options {
                > div.block {
                    border: 1px solid $color-primary;
                    background-color: #ffffff;
                    border-radius: $border-radius-base;

                    padding: $unit-one;
                    margin-bottom: $unit-one;

                    > div.text {
                        @include font-sans-serif-weight-normal();
                        @include font-sans-serif-size-normal();

                        color: $color-primary;

                        a {
                            text-decoration: underline;
                        }

                        span.title {
                            display: block;

                            @include font-sans-serif-weight-bold();
                        }
                    }

                    &.with-input, &.with-price {
                        display: flex;
                        align-items: center;

                        > div.text {
                            flex: 1 1 auto;
                        }
                    }

                    &[role="checkbox"] {
                        cursor: pointer;
                    }

                    &.with-icon {
                        > div.icon {
                            flex: 0 0 auto;

                            margin-right: $unit-one;

                            i {
                                font-size: 50px;
                                color: $color-gray;
                            }
                        }
                    }

                    .document-icon {
                        display: inline-block;
                        width: 23px;
                        height: 28px;
                        background-image: url("../images/document.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &.with-input {
                        > div.input {
                            flex: 0 0 auto;

                            margin-right: $unit-one;
                        }
                    }

                    &.with-price {
                        > div.price {
                            flex: 0 0 auto;

                            text-align: right;
                            margin-left: $unit-one;

                            span.price {
                                @include font-sans-serif-weight-bold();
                                @include font-sans-serif-size-normal();

                                color: $color-gray-dark;
                            }

                            small {
                                display: block;
                                clear: both;

                                @include font-sans-serif-weight-normal();
                                @include font-sans-serif-size-small();

                                color: $color-gray-dark;
                                text-transform: uppercase;
                            }
                        }
                    }

                    &.is-radio {
                        border-radius: 0;
                        margin-bottom: 0;

                        border-bottom: none;

                        &.first-option {
                            border-top-left-radius: $border-radius-base;
                            border-top-right-radius: $border-radius-base;
                        }

                        &.last-option {
                            margin-bottom: $unit-one;

                            border-bottom: 1px solid $color-gray-superlight;
                            border-bottom-left-radius: $border-radius-base;
                            border-bottom-right-radius: $border-radius-base;
                        }
                    }

                    &.selected {
                        border-color: $color-primary;

                        &.is-radio {
                            border-bottom: 1px solid $color-gray-superlight;

                            & + &.is-radio {
                                border-top: none;
                            }
                        }

                        &.with-input, &.with-price {
                            > div.text {
                                span.title {
                                    color: $color-primary;
                                }
                            }
                        }

                        &.with-price {
                            > div.price {
                                span.price {
                                    color: $color-primary;
                                }
                            }
                        }
                    }

                    &.disabled {
                        cursor: not-allowed;
                        border-color: $color-gray;

                        &.with-input, &.with-price {
                            > div.text {
                                color: $color-gray;

                                span.title {
                                    color: $color-gray;
                                }
                            }
                        }

                        &.with-price {
                            > div.price {
                                span.price {
                                    color: $color-gray;
                                }

                                small {
                                    color: $color-gray;
                                }
                            }
                        }
                    }

                    @include respond-to('xs') {
                        padding: $unit-half;

                        > div.text {
                            @include font-sans-serif-size-small();

                            span.title {
                                @include font-sans-serif-size-normal();

                                margin-bottom: 5px;
                            }
                        }

                        &.with-input {
                            > div.input {
                                margin-right: $unit-half;
                            }
                        }

                        &.with-price {
                            position: relative;

                            align-items: flex-start;
                            padding-bottom: $unit-one + $unit-half;

                            > div.price {
                                flex: none;

                                position: absolute;
                                right: 0;
                                bottom: 0;

                                padding: 2px $unit-quarter 2px $unit-quarter;

                                border-bottom-right-radius: $border-radius-base;
                                background-color: $color-gray;

                                span.price {
                                    @include font-sans-serif-weight-normal();
                                    @include font-sans-serif-size-small();

                                    color: #ffffff;
                                }

                                small {
                                    display: inline;
                                    clear: none;

                                    color: #ffffff;
                                }
                            }
                        }

                        &.selected {
                            &.with-price {
                                > div.price {
                                    background-color: $color-primary;

                                    span.price {
                                        color: #ffffff;
                                    }

                                    small {
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /*
             * Stap 4: bevestigen (en kortingscode)
             */
            &.step_confirm {
                div.apply-discount {
                    span.help-block {
                        margin-bottom: $unit-half;

                        ul.list-unstyled {
                            @include trim-bottom-margins();

                            li {
                                color: $color-negative;

                                padding: $unit-quarter $unit-half $unit-quarter $unit-half;
                                margin-bottom: $unit-quarter;

                                background-color: transparent;
                            }
                        }
                    }

                    input.form-control {
                        display: inline-block;
                        width: 160px;

                        margin-right: $unit-half;
                    }

                    button {
                        @include button-variant(#ffffff, $color-primary, transparent);

                        vertical-align: baseline;
                    }
                }
            }

            /*
             * Kleine lettertjes boven de submit-knop
             */
            small.continue-terms {
                display: block;
                text-align: right;

                @include font-sans-serif-weight-normal();
                @include font-sans-serif-size-small();

                color: $color-gray-dark;

                margin-top: $unit-two;
                margin-bottom: -$unit-two + $unit-half;
            }

            /*
             * Navigatie om door de vragenlijst te navigeren
             */
            div.flow-navigation-group {
                @include clearfix();

                margin-top: $unit-two;

                button {
                    @include button-size($unit-half, $unit-half * 1.5, 1.4rem, 1rem, $border-radius-base)
                }

                button.flow-back {
                    float: left;

                    @include button-variant($color-text, $color-secondary, $color-secondary-dark);
                }

                button.flow-next, button.flow-finish {
                    float: right;

                    @include button-variant($color-text, $color-secondary-dark, transparent);
                    @include font-sans-serif-weight-normal();

                    &:after {
                        position: relative;
                        top: 1px;

                        font-family: 'Flaticons Solid';
                        font-size: 1.3rem;

                        font-style: normal;
                        font-weight: normal;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;

                        content: "\e1c3";
                        margin-left: $unit-quarter;
                    }

                    &.flow-finish {
                        content: "\e1ba";
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a.button {
                @include font-sans-serif-weight-bold();
                @include font-sans-serif-size-normal();

                @include button-variant(#ffffff, $color-secondary, transparent);
                @include button-size($unit-quarter, $unit-half, inherit, inherit, $border-radius-base);
            }
        }
    }
}

#shift_vat_alert{
   display: none;
}
