@mixin set-dot-size($dot-size, $line-height) {
    width: $dot-size;
    height: $dot-size;

    @include vertical-align($dot-size);

    margin-top: -$dot-size / 2 + $line-height / 2;

    &:after {
        width: $dot-size;
        font-size: $dot-size - 10px;
    }
}

@include for-controller('frontend', 'order', 'status') {
    section.first div.container {

        div.status-timeline {
            $dot-size-large: 40px;
            $dot-size-normal: 30px;
            $dot-size-small: 20px;

            $line-height: $unit-quarter;

            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(12);
            @include make-lg-column(12);

            div.inner {
                padding: $unit-two $unit-one $unit-two $unit-one;
                background-color: #ffffff;

                div.timeline {
                    @include clearfix();
                    padding-top: $dot-size-normal / 2 - $line-height / 2;

                    div.line {
                        height: $line-height;

                        border-radius: $border-radius-small;
                        background-color: $color-primary-light;

                        div.phase {
                            text-align: center;

                            div.dot {
                                @include font-sans-serif-weight-bold();
                                @include font-sans-serif-size-large();

                                text-align: center;

                                margin-left: auto;
                                margin-right: auto;

                                border-radius: 50%;
                                background-color: $color-primary;

                                span.number {
                                    color: #ffffff;
                                }

                                &:after {
                                    position: relative;
                                    top: -1px;

                                    display: none;

                                    font-family: 'Flaticons Solid';
                                    font-style: normal;
                                    font-weight: normal;

                                    vertical-align: middle;

                                    color: #ffffff;

                                    line-height: 1;
                                    -webkit-font-smoothing: antialiased;

                                    content: "\e1c3";
                                }
                            }

                            small {
                                display: inline-block;

                                @include font-sans-serif-weight-normal();
                                @include font-sans-serif-size-small();

                                color: $color-text;
                                margin: $unit-half auto 0 auto;
                            }

                            &.active {
                                div.dot {
                                    background-color: $color-secondary-dark;
                                }

                                small {
                                    @include font-sans-serif-weight-bold();
                                    color: $color-text;
                                }
                            }

                            &.completed {
                                div.dot {
                                    span.number {
                                        display: none;
                                    }

                                    &:after {
                                        display: inline-block;
                                        content: "\e1ba";
                                    }
                                }
                            }
                        }
                    }

                    &.count-4 {
                        div.line {
                            div.phase {
                                @include make-xs-column(3);
                                @include make-sm-column(3);
                                @include make-md-column(3);
                                @include make-lg-column(3);

                                div.dot {
                                    @include set-dot-size($dot-size-large, $line-height);
                                }

                                @include respond-to('xs') {
                                    div.dot {
                                        @include font-sans-serif-size-normal();
                                        @include set-dot-size($dot-size-normal, $line-height);
                                    }

                                    small {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    &.count-5 {
                        div.line {
                            div.phase {
                                @include make-xs-column(2.4, 0);
                                @include make-sm-column(2.4, 0);
                                @include make-md-column(2.4, 0);
                                @include make-lg-column(2.4, 0);

                                div.dot {
                                    @include set-dot-size($dot-size-large, $line-height);
                                }

                                @include respond-to('sm') {
                                    div.dot {
                                        @include font-sans-serif-size-normal();
                                        @include set-dot-size($dot-size-large, $line-height);
                                    }

                                    small {
                                        display: none;
                                    }
                                }

                                @include respond-to('xs') {
                                    div.dot {
                                        @include font-sans-serif-size-normal();
                                        @include set-dot-size($dot-size-normal, $line-height);
                                    }

                                    small {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    &.count-6 {
                        div.line {
                            div.phase {
                                @include make-xs-column(2, 0);
                                @include make-sm-column(2, 0);
                                @include make-md-column(2, 0);
                                @include make-lg-column(2, 0);

                                div.dot {
                                    @include font-sans-serif-size-normal();
                                    @include set-dot-size($dot-size-large, $line-height);
                                }

                                @include respond-to('sm') {
                                    small {
                                        display: none;
                                    }
                                }

                                @include respond-to('xs') {
                                    div.dot {
                                        @include font-sans-serif-size-normal();
                                        @include set-dot-size($dot-size-normal, $line-height);
                                    }

                                    small {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                div.current {
                    text-align: center;
                    margin-top: $unit-two;

                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-normal();

                    color: $color-text;

                    span.title {
                        display: inline-block;

                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-header-normal();

                        color: $color-primary;
                        margin-bottom: $unit-quarter;
                    }
                }
            }

            div.call-to-action {
                @include font-sans-serif-weight-normal();
                @include font-sans-serif-size-normal();

                color: $color-text;
                text-align: center;

                padding: $unit-one $unit-two $unit-one $unit-two;
                background-color: $color-secondary;

                a.button {
                    @include button-variant($color-text, $color-secondary-dark, $color-secondary-dark);
                    @include button-size($unit-half, $unit-one, inherit, 1rem, $border-radius-small);

                    margin-top: $unit-half;

                    &.without-text {
                        margin-top: 0;
                    }
                }
            }

            div.download-links {
                @include font-sans-serif-weight-normal();
                @include font-sans-serif-size-normal();

                color: $color-primary-dark;
                text-align: center;

                padding: $unit-one $unit-two $unit-one $unit-two;
                background-color: $color-secondary;

                span.title {
                    display: block;

                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-large();

                    color: $color-primary-light;
                    margin-bottom: $unit-quarter;
                }

                a.button {
                    @include button-variant($color-primary-light, #ffffff, $color-primary-light);
                    @include button-size($unit-half, $unit-one, inherit, 1rem, $border-radius-small);

                    @include font-sans-serif-weight-bold();

                    margin-top: $unit-half;
                    margin-bottom: $unit-quarter;

                    i {
                        margin-left: $unit-quarter;
                    }
                }

                p {
                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-small();

                    color: $color-text;

                    a {
                        color: $color-text;
                        text-decoration: underline;
                    }
                }

                hr {
                    margin: $unit-one 0 $unit-one 0;
                }

                div.urls {
                    div.url {
                        @include make-row();

                        margin-top: $unit-half;

                        label {
                            @include make-xs-column(12);

                            @include font-sans-serif-weight-bold();
                            @include font-sans-serif-size-normal();

                            color: #ffffff;
                            margin-bottom: $unit-quarter / 2;
                        }

                        input[type="text"] {
                            @include make-xs-column(12);
                            @include make-sm-column(10);
                            @include make-md-column(8);
                            @include make-lg-column(6);

                            font-family: $font-family-monospace;
                            font-size: 90%;

                            float: none !important;

                            cursor: pointer;
                            text-align: center;

                            margin: 0 auto 0 auto;

                            padding: ($unit-quarter / 2) $unit-quarter ($unit-quarter / 2) $unit-quarter;

                            border: none;
                            border-radius: $border-radius-base;

                            background-color: $color-primary-light;

                            @include text-overflow-ellipsis();
                        }
                    }
                }
            }

            @include respond-to('xs') {
                div.inner {
                    padding: ($dot-size-small / 2 - $line-height / 2 + $unit-one) $unit-one $unit-one $unit-one;

                    hr {
                        margin: $unit-one 0 $unit-one 0;
                    }

                    div.current {
                        margin-top: $unit-one;

                        span.title {
                            @include font-sans-serif-size-large();
                        }
                    }
                }
            }
        }
    }
}
