@include for-controller('shared', 'templates', 'category') {
  div.wizard__callout {
    @include make-lg-column(12);
    padding: $unit-one;

    .wizard__callout__inner {
      display: flex;
      flex-direction: row;
      background-color: $color-secondary;
      padding: $unit-one;
      border-radius: $border-radius-base;

      .icon {
        margin-right: $unit-two * 2;
        i {
          font-size: 80px;
          color: $color-primary;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        .text {
          @include font-sans-serif-size-large();
          @include font-sans-serif-weight-normal();
          color: $color-text;
          margin-bottom: $unit-half;
        }

        .action {
          .button {
            @include button-variant(#ffffff, $color-primary-light, transparent);
            @include button-size($unit-quarter, $unit-half, inherit, inherit, $border-radius-base);
          }

          small {
            color: $color-text;
            margin-left: $unit-half;

            @include respond-to('xs') {
              margin-top: $unit-half;
              margin-left: 0;
              display: block;
            }
          }
        }
      }
    }
  }
}

