@include for-controller('shop', 'templates', 'details') {
    div.share {

        h5{
            @include font-sans-serif-weight-bold();
            @include font-sans-serif-size-large();

            color: $color-text;
            margin: 0 0 $unit-one 0;
        }

        a.icon {
            width: 28px;
            height: 28px;
            float: left;
            margin-left: 10px;

            &:first-of-type{
                margin-left: 0;
            }

            @include on-event(){
                text-decoration: none;
            }
        }
    }

    div.call-to-action {
        @include clearfix();

        margin-bottom: $unit-half;

        .button {
            @extend %button-with-icon;

            .service-icon {
                display: inline-block;
                width: 24px;
                height: 35px;
                margin-right: $unit-half;
                background-image: url("../images/service.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }

            @include respond-to-and-larger('sm') {
                float: left;
                margin-right: $unit-one;
            }
        }
    }

    div.preview {
        margin-top: $unit-one;

        h3 {
            margin-bottom: $unit-one;
        }

        .preview__container {
            background-color: $color-secondary ;
            padding: 0 $unit-one $unit-one $unit-one;

            text-align: center;

            @include respond-to-and-smaller('md') {
                flex-direction: column;
            }

        }

        .preview__holder {
            width: 210px;
            height: 290px;
            position: relative;
            text-align: left;

            margin: 0 auto;

            background-size: cover;
        }

        .preview__title {
            display: block;
            position: absolute;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            left: 33px;
            top: 65px;
            max-width: 150px;
            max-height: 3.2rem;
            line-height: 1.6rem;
            color: $color-primary;

            @include font-sans-serif-weight-bold();
            @include font-sans-serif-size-small();
        }

        .download__wrapper {
            display: flex;
            width: 100%;
            justify-content: center;

            @include respond-to-and-smaller('md') {
               margin-top: $unit-one;
            }

            .button {
                margin: 0 auto;
                @extend %button-with-icon;

                div.text {
                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-normal();

                    color: #ffffff !important;
                }
            }
        }

    }
}
