@include for-controller('shared', 'templates', 'search') {
    div.templates {
        div.search {
            margin-bottom: $unit-one;
            position: relative;

            form {
                @include clearfix();

                div.row {
                    div.keywords {
                        @include make-lg-column(10);
                        @include make-md-column(10);
                        @include make-sm-column(10);
                        @include make-xs-column(9);

                        input {
                            width: 100%;
                        }
                    }

                    div.trigger {
                        @include make-lg-column(2);
                        @include make-md-column(2);
                        @include make-sm-column(2);
                        @include make-xs-column(3);

                        button {
                            display: block;
                            width: 100%;

                            @include button-variant(#ffffff, $color-primary, transparent);
                            @include button-size($unit-quarter, $unit-half, inherit, inherit, $border-radius-base);

                            line-height: 1.8rem;

                            i {
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }

        div.wizard__callout {
            @include make-lg-column(12);
            padding: $unit-one;

            .wizard__callout__inner {
                display: flex;
                flex-direction: row;
                background-color: $color-secondary;
                padding: $unit-one;
                border-radius: $border-radius-base;

                .icon {
                    margin-right: $unit-two * 2;
                    i {
                        font-size: 80px;
                        color: $color-primary;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    .text {
                        @include font-sans-serif-size-large();
                        @include font-sans-serif-weight-normal();
                        color: $color-text;
                        margin-bottom: $unit-half;
                    }

                    .action {
                        .button {
                            @include button-variant(#ffffff, $color-primary-light, transparent);
                            @include button-size($unit-quarter, $unit-half, inherit, inherit, $border-radius-base);
                        }

                        small {
                            color: $color-text;
                            margin-left: $unit-half;

                            @include respond-to('xs') {
                                margin-top: $unit-half;
                                margin-left: 0;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.navigation {
    > div.row {
        > div.current {
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);

            color: $color-gray;

            em {
                @include font-sans-serif-weight-bold();
            }

            @include respond-to('xs') {
                display: none !important;
            }
        }

        > div.pagination {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);

            ul {
                float: right;

                li {
                    float: left;
                    margin-right: $unit-padding;

                    &.previous, &.next {
                        color: $color-gray;

                        a {
                            color: $color-gray;
                        }

                        i {
                            position: relative;
                            top: 2px;
                        }
                    }

                    &.page {
                        &:last-child {
                            margin-right: $unit-padding;
                        }
                    }

                    &.current {
                        @include font-sans-serif-weight-bold();

                        color: #ffffff;

                        padding: ($unit-padding / 3) $unit-padding ($unit-padding / 3) $unit-padding;
                        margin-top: $unit-padding / -3;

                        border-radius: $border-radius-base;
                        background-color: $color-primary;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            @include respond-to('xs') {
                ul {
                    float: none;
                }
            }
        }
    }

    &.above {
        margin-bottom: $unit-one;
        border-bottom: 2px solid $color-primary-light;

        > div.row {
            margin-bottom: $unit-half;
        }
    }

    &.below {
        margin-top: $unit-one;
        border-top: 2px solid $color-primary-light;

        > div.row {
            margin-top: $unit-half;
        }

        @include respond-to('xs') {
            margin-top: 0;
        }
    }
}
