@include for-controller('shop', 'templates', 'start') {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: $color-primary-light;
        font-size: 32px;
        line-height: 1.1;
        text-align: center;
        margin: $unit-half 0;
    }

    .hourglass-icon {
        margin: 0 auto;
        display: block;
        width: 48px;
        height: 48px;
        background-image: url("../images/hourglass.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}