{% extends 'shared/base.html.twig' %}

{% do invoices.setTemplate('shared/templates/pagination.html.twig') %}

{% set paginationHtml = knp_pagination_render(invoices) %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside with-inner">
                <aside>
                    <div class="blocks">
                        <div class="row">
                            {% include ':frontend/account/_includes:submenu.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <div class="inner">
                        {% include ':shared/_includes:flash.html.twig' %}

                        <h1>{{ "account.invoices_title"|trans({}, 'account')|desc("Facturen") }}</h1>

                        {% if invoices is empty %}
                            <p class="alert alert-warning">
                                {{ "account.invoices_no_invoices"|trans({}, 'account')|desc("U heeft nog geen facturen ontvangen.") }}
                            </p>
                        {% else %}
                            <table class="summary">
                                <thead>
                                    <tr>
                                        <th>{{ "account.invoices_invoice_number"|trans({}, 'account')|desc("Factuurnummer") }}</th>
                                        <th class="hidden-xs">{{ "account.invoices_invoice_status"|trans({}, 'account')|desc("Status") }}</th>
                                        <th class="hidden-xs">{{ "account.invoices_invoice_date"|trans({}, 'account')|desc("Factuurdatum") }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in invoices %}
                                        <tr>
                                            <td><a href="{{ path('app.frontend.account.invoices.download', { id: invoice.id, host: app.request.host }) }}" target="_blank">{{ invoice.code }}</a></td>
                                            <td class="hidden-xs">{{ ('invoice.status.' ~ invoice.status)|trans() }}</td>
                                            <td class="hidden-xs">{{ invoice.timestampIssued|localizeddate('medium', 'none') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if paginationHtml %}
                                <div class="navigation below">
                                    <div class="row">
                                        {{ paginationHtml|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
