{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ template.title }}</h6>
            <h2 class="dashhead-title">Template publiceren</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.hidden) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.unit_price) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.unit_price) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.monthly_price) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6 pt-2">
                    {{ form_widget(form.subscription) }}
                    <div class="row">
                        <div class="col-5 col-sm-4 col-md-4 col-lg-5 col-xl-4">
                            {{ form_widget(form.monthly_price) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.check_price) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.check_price) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.service) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.service) }}
                </div>
            </div>

            <h2 class="mt-4">Categorieën</h2>
            <p>Een template kan worden gekoppeld aan één of meerdere categorieën. De categorie bepaalt in welke shop(s) een template zichtbaar wordt, maar er kan maar één categorie de primaire categorie zijn van een template.</p>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
                    {{ form_widget(form.categories) }}
                </div>
            </div>

            <h3 class="mt-4">Publiceren</h3>
            <p>Zijn alle gegevens ingevuld? Dan kan het template worden gepubliceerd. Het wordt dan direct zichtbaar op Legal Fit Documenten Selfservice en in de geselecteerde shops.</p>

            <button type="submit" class="btn btn-primary">Publiceren</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
