{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set showSpotlight = spotlight|length >= 3 %}

{% if showSpotlight %}
    {% block googleDataLayer %}
        <script type="text/javascript">
            window.dataLayer = window.dataLayer || [];

            window.dataLayer.push({
                'ecommerce': {
                    'impressions': [
                        {%- for template in spotlight -%}
                        { 'id': '{{ template.id }}', 'name': '{{ template.title|escape('js') }}', 'price': {{ (template.unitPrice.amount / 100)|number_format(2) }}, 'brand': '{{ template.partner.title|escape('js') }}',  'category': '{{ template.primaryCategory.title|escape('js') }}', 'list': 'Spotlight', 'position': {{ loop.index }} }{%- if not loop.last %},{% endif -%}
                        {% endfor -%}
                    ]
                },
                'ipaddress': '{{ app.request.clientIp }}',
                'profileId':'{{ app.request.get('_profile').id|escape('js') }}'
            });
        </script>
    {% endblock %}
{% endif %}

{% block body %}
    <div class="fold fold--white">
            {% include ':shared:header.html.twig' %}
            <section class="hero first">
                <div class="content">
                    <div class="container">
                        <div class="hero__text">
                            <h1 data-component="ColoredText">Legal Fit Documenten Selfservice</h1>
                            <form autocomplete="off" action="{{ path('app.frontend.templates.search', { 'host': app.request.host }) }}" method="get" class="document-search-wrapper">
                                <input type="text" data-path="{{ path('app.frontend.ajax.search', { 'host': app.request.host }) }}" name="zoek" class="document-search" placeholder="{{ "placeholder_search_document"|trans|desc("zoek een document") }}">
                                <button type="submit" class="button">Zoeken</button>
                            </form>
                            <p>of <strong><a href="{{ path('app.frontend.wizard', { host: app.request.host }) }}">help mij met kiezen</a></strong></p>
                        </div>
                    </div>
                </div>
        </section>
    </div>

    <section class="introduction">
        <div class="container">

            {# Issue:  #71 Video op homepage RK 2021-08-12 #}
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Maak zelf juridische documenten</strong></p>
                    <ul>
                        <li>Ruim 140 geautomatiseerde documenten</li>
                        <li>Altijd conform de meest recente wet- en regelgeving</li>
                        <li>Ook onbeperkt beschikbaar als <a href="{{ path('app.frontend.pages.express', {'host': app.request.host}) }}">abonnement</a> voor €299,-</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <iframe width="100%"
                            height="315"
                            src="https://www.youtube.com/embed/VYdS48_x-wg?rel=0"
                            title="Legal Fit: Maak zelf juridische documenten"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            {#
            <div>
                <p><strong>Maak zelf juridische documenten</strong></p>
                <ul>
                    <li>Ruim 140 geautomatiseerde documenten</li>
                    <li>Altijd conform de meest recente wet- en regelgeving</li>
                    <li>Ook onbeperkt beschikbaar als <a href="{{ path('app.frontend.pages.express', {'host': app.request.host}) }}">abonnement</a> voor €299,-</li>
                </ul>
            </div>
            <div></div>
            #}
            {# END RFC #71 #}

        </div>
    </section>

    {% if showSpotlight %}
        <section class="templates" data-scroll-id="templates">
            <div class="container">

                <div class="title__wrapper">
                    <h2 data-component="ColoredText">{{ "header.spotlight"|trans|desc("Meest gekochte documenten") }}</h2>
                    <a href="{{ path('app.frontend.templates.search', { host: app.request.host }) }}" class="more"><span>{{ "button.show_all_documents"|trans|desc("Bekijk alle documenten") }}</span><div class="circle">{% include ':svg:arrow-right.svg.twig' %}</div></a>
                </div>

                <div class="templates templates-{{ spotlight|length }}">
                    <div class="row owl-carousel" data-slideout-ignore>
                        {% for template in spotlight %}
                            <div class="template">
                                <div class="inner">
                                    {% if template.partner.countryProfile %}
                                        <div class="price">
                                            {% if template.unitPrice.amount == "0" %}
                                                {{ "price.free"|trans|desc("Gratis") }}
                                            {% else %}
                                                 {{ template.unitPrice.amount|slice(0, -2) }}
{% set decimals = template.unitPrice.amount|slice(-2) %}
                                                <sup>{% if decimals == "00" %},-{% else %}{{ decimals }}{% endif %}</sup>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            template.unitPrice|price(freeText=true)
                                        </div>
                                    {% endif %}
                                    <a href="{{ templateUrl(template) }}" class="details">
                                       <div class="document-icon"></div>
                                        <div class="text">
                                            <span class="title">{{ template.title }}</span>
                                            <span class="category">{{ template.primaryCategory.title }}</span>
                                            <p>{{ template.excerpt }}</p>
                                        </div>
                                    </a>
                                    <div class="link__wrapper">
                                        <a href="{{ templateUrl(template) }}" class="button">
                                            Bekijk document
                                            {% include ":svg:arrow-right.svg.twig" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="usp">
        <div class="container">
            <div class="row">
                <div class="wrapper">

                    <div class="block">
                        <div class="icon icon--fingers"></div>
                        <h3 class="white-text">Eenvoudig</h3>
                        <span>Doorloop een aantal simpele stappen en maak complexe juridische documenten zelf. Op de achtergrond doet onze machine het werk. Wij hebben bijna alle relevante brieven, verklaringen, contracten en overeenkomsten in ons assortiment.</span>
                    </div>

                    <div class="block">
                        <div class="icon icon--feet"></div>
                        <h3 class="white-text">Zorgeloos</h3>
                        <span>Ervaren bedrijfsjuristen schrijven de documenten. Zodra er iets verandert in de wet- en regelgeving passen wij onze documenten aan. Zo beschik je altijd over de juiste papieren.</span>
                    </div>

                    <div class="block">
                        <div class="icon icon--piggy"></div>
                        <h3 class="white-text">Betaalbaar</h3>
                        <span>Je hoeft niet de uren van een advocaat te betalen. Je weet van tevoren wat je voor je document betaalt. Of je neemt een abonnement voor <strong>299,- per jaar</strong> en maakt onbeperkt documenten.</span>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="subscriptions">
        <div class="container">
                <div class="row">
                    <h2 data-component="ColoredText">Bekijk ons abonnement</h2>
                    <p>Al uw juridische documenten binnen handbereik voor een vast bedrag per jaar. Bovendien heeft u toegang tot betaalbaar juridische advies!</p>
                    <a class="button primary" href="{{ path('app.frontend.pages.express', {'host': app.request.host}) }}">Bekijk abonnement</a>
                </div>
        </div>
    </section>

    {% if reviews is not empty and reviews|length >= 5 %}
        <section class="references">
            <div class="container">
                <h2 data-component="ColoredText">Wat onze klanten zeggen</h2>
                <div class="references">
                    <div class="row owl-carousel" data-slideout-ignore>
                        {% for review in reviews %}
                            <div class="reference">
                                <div class="total">
                                    <h3>{{ review.total_score }}</h3>
                                </div>
                                <div class="text">
                                    <span class="name">{{ review.client.name }}</span>
                                </div>
                                <div class="quote">
                                    <div class="arrow"></div>
                                    <div class="inner">
                                        {% for question in review.questions %}
                                            {% if question.type == "main_open" %}
                                                <p class="score">{{ question.value }}</p>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
