@include for-module('frontend', 'landing-pages') {
	section {
		text-align: center;

		/*
		 * Balk met de tekst
		 */
		&.text {
			padding-top: $unit-one * 3;
			padding-bottom: $unit-one * 3;

			h1 {
				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-header-large();

				@include respond-to-and-smaller('sm') {
					@include font-sans-serif-size-header-normal();
				}


				color: #ffffff;
			}

			a {
				color: $color-secondary;
			}

			div.tagline {
				display: inline-block;

				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-large();

				color: #ffffff;

				max-width: $screen-md-min;

				p {
					margin-bottom: $unit-one;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		/*
		 * Templates
		 */
		&.templates {
			padding-top: $unit-two;
			padding-bottom: $unit-two;

			background-color: $color-primary-light;

			div.container {
				div.formatted-text {
					color: $color-gray-darker;
					margin-bottom: $unit-one;

					* {
						color: $color-gray-darker;
					}

					h2 {
						@include font-sans-serif-size-header-normal();
						margin-bottom: $unit-two;
						text-align: left;
					}
				}

				div.templates {
					> div.row {
						div.template {
							div.inner {
								div.action {
									a.add-to-cart {
										background-color: $color-secondary;

										@include on-event() {
											background-color: $color-secondary-dark;
										}
									}
								}
							}
						}
					}

					div.help {
						margin-top: 0;

						a.button {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}
