<div class="block block--account with-title">
    <div class="title">
        Navigatie
    </div>
    <div class="inner">
        <div class="text">
            <strong>{{ "account.my_orders"|trans({}, 'account')|desc("Mijn Bestellingen") }}</strong>
            <ul>
                <li><a href="{{ path('app.frontend.account.orders', { host: app.request.host }) }}">{{ "account.menu_orders"|trans({}, 'account')|desc("Bestellingen") }}</a></li>
                <li><a href="{{ path('app.frontend.account.invoices', { host: app.request.host }) }}">{{ "account.menu_invoices"|trans({}, 'account')|desc("Facturen") }}</a></li>
            </ul>
            <div class="spacer small"></div>
            <strong>{{ "account"|trans({}, 'account')|desc("Account") }}</strong>
            <ul>
                <li><a href="{{ path('app.frontend.account.profile.credentials', { host: app.request.host }) }}">{{ "account.menu_credentials"|trans({}, 'account')|desc("Accountgegevens") }}</a></li>
                <li><a href="{{ path('app.frontend.account.profile', { host: app.request.host }) }}">{{ "account.menu_profile"|trans({}, 'account')|desc("Profiel") }}</a></li>
                <li><a href="{{ path('app.frontend.account.profile.newsletter', { host: app.request.host }) }}">{{ "account.menu_newsletter"|trans({}, 'account')|desc("Nieuwsbrief") }}</a></li>
                <div class="spacer small"></div>
                <li><a href="{{ path('app.frontend.account.session.logout', { host: app.request.host }) }}">{{ "accounts.menu_logout"|trans({}, 'account')|desc("Afmelden") }}</a></li>
            </ul>
        </div>
    </div>
</div>