{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set pageTitle = 'knowledge_partners_shop'|trans|desc("Kennispartners Legal Fit Documenten Selfservice") %}

{% block body %}
    <div class="fold">
        {% include ':shared:header.html.twig' %}
        <section class="first">
            <div class="top">
                <div class="container">
                    <h1 data-flow-min="30" data-flow-max="80" data-flow-ratio="10">{{ "text.knowledge_partners"|trans|desc("Kennispartners") }}</h1>
                    <span class="tagline">{{ "text.knowledge_partners_introduction"|trans|desc("De kwaliteit van de documenten aangeboden op Legal Fit Documenten Selfservice kan worden gegarandeerd, doordat wij werken met kennispartners. Juridische documenten worden opgesteld en aangeleverd door deze kennispartners, waarna zij deze ook actief up-to-date houden met nieuwe wet- en regelgeving of andere relevante ontwikkelingen. Op deze pagina vindt u een overzicht van onze kennispartners en hun expertise.") }}</span>
                </div>
            </div>
            <div class="body">
                <div class="container">
                    <div class="row balanced with-aside">
                        <div class="content">
                            <div class="partner_container">
                                <div class="blocks">
                                    {% for partner in partners %}
                                    <div class="row">
                                        <div class="block with-logo with-text-aside">
                                            <div class="inner">
                                                <div class="logo">
                                                    <img src="{{ partnerLogoUrl(partner) }}" alt="{{ partner.title }}" />
                                                </div>
                                                <div class="text formatted-text">
                                                    <p><strong>{{ partner.title }}</strong></p>
                                                    {% if partner.profile %}
                                                        <blockquote>
                                                            <p>{{ partner.profile }}</p>
                                                        </blockquote>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <aside>
                            <div class="block">
                                <div class="text">
                                    <address><strong>Legal Fit Documenten Selfservice</strong><br />Prinses Beatrixlaan 35<br />2595 AK Den Haag</address>
                                    <p><a href="mailto:{{ helpdesk.email }}">{{ helpdesk.email }}</a><br />{{ helpdesk.phone }}</p>
                                    <p>KvK: 68034229<br />btw: NL850421408B01</p>
                                    <div class="spacer"></div>
                                    <a href="{{ path('app.frontend.contact', { host: app.request.host }) }}" class="button">{{ "button.send_message"|trans|desc("Stuur bericht") }}</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
