{%  set locale = invoice.profile.mainLocale.locale %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
		<style type="text/css">
            * {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }

            body {
                font-family: 'Libre Franklin', sans-serif;
                font-weight: normal;
                font-style: normal;

                font-size: 14px;
                line-height: 18px;

                color: #000000;

                padding-top: 50mm;
            }

            /*
             * Typografie
             */
			h1 {
				font-family: 'Libre Franklin', sans-serif;
				font-weight: bold;
				font-style: normal;

				font-size: 30px;
				color: #ea650d;

                margin-bottom: 5mm;
			}

            h2 {
				font-family: 'Libre Franklin', sans-serif;
                font-weight: bold;
                font-style: normal;

                font-size: 20px;
                color: #ea650d;

                margin-bottom: 2mm;
            }

            a {
                color: #ee7f00;
                text-decoration: none;
            }

            p {
                margin-bottom: 14px;
                page-break-inside: avoid;
            }

            address {
                position: absolute;
                top: 10mm;
                left: 10mm;

                font-style: normal;
            }

            /*
             * Tabellen
             */
            table {
                width: 100%;
                max-width: 100%;
            }

            table th, table td {
                padding: 0;
                margin: 0;
            }

            table th {
                font-weight: normal;
                text-align: left;

                color: #ea650d;
            }

            table thead th {
                border-bottom: 0.5mm solid #ea650d;
                padding-bottom: 1mm;
            }

            table.details th {
                width: 40mm;
            }

            /*
             * Factuur-tabel
             */
            table.invoice th, table.invoice td {
                padding: 1mm 2mm 1mm 2mm;
            }

            table.invoice small {
                display: block;

                font-size: 10px;
                color: #ee7f00;
            }

            table.invoice .quantity {
                text-align: center;
            }

            table.invoice .price {
                text-align: right;
            }

            table.invoice .total {
                color: #ffffff;

                border-radius: 5px;
                background-color: #ee7f00;
            }

            table.invoice tfoot th {
                text-align: right;
            }

            table.invoice tfoot td {
                width: 30mm;
                text-align: right;
            }

            table.invoice tfoot tr:first-child th, table.invoice tfoot tr:first-child td {
                padding-top: 5mm;

                border-top: 1px solid #ee7f00;
            }

            div.invoice-total {
                float: right;

                margin: 5mm 0 10mm 10mm;
            }

            div.invoice-total div.amount {
				font-family: 'Libre Franklin', sans-serif;
                font-weight: bold;
                font-style: normal;

                font-size: 30px;
                color: #ffffff;

                padding: 5mm;
                margin-bottom: 1mm;

                border-radius: 5px;
                background-color: #ea650d;
            }

            div.invoice-total small {
                display: block;

                font-size: 10px;
                text-align: right;

                color:  #ee7f00;
            }

            /*
             * Diversen
             */
            div.clearfix::after {
                display: block;
                content: "";
                clear: both;
            }

            div.spacer {
                display: block;
                margin-bottom: 15mm;
            }
		</style>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
