{% extends ':pdf:base.html.twig' %}

{% block body %}
    <address>
        {% if customer.companyName %}
            {{ customer.companyName }}<br>
            {{ "text.attn"|trans|desc("t.a.v.") }} {{ customer.name }}<br>
        {% else %}
            {{ customer.name }}<br>
        {% endif %}
        {{ customer.address.street }} {{ customer.address.number }}<br>
        {{ customer.address.zipcode }} {{ customer.address.city }}<br>
        {{ customer.address.country|trans({}, "countries", locale) }}<br>
        {% if customer.vat %}
            {{ "text.vat"|trans({}, "messages", locale)|desc("btw") }}: {{ customer.vat }}
        {% endif %}
    </address>

    <h1>{% if invoice.isCredit %}{{ "text.creditInvoice"|trans|desc("Creditfactuur") }}{% else %}{{ "text.invoice"|trans({}, "messages", locale)|desc("Factuur") }}{% endif %}</h1>
    <table class="details">
        <tr>
            <th>{{ "text.invoiceNumber"|trans({}, "messages", locale)|desc("Factuurnummer") }}:</th>
            <td>{{ invoice.code }}</td>
        </tr>
        <tr>
            <th>{{ "text.invoiceDate"|trans({}, "messages", locale)|desc("Factuurdatum") }}:</th>
            <td>{{ invoice.timestampIssued|date('d-m-Y') }}</td>
        </tr>
        {% if not invoice.isCredit %}
            <tr>
                <th>{{ "text.expirationDate"|trans({}, "messages", locale)|desc("Vervaldatum") }}:</th>
                <td>{{ invoice.timestampDue|date('d-m-Y') }}</td>
            </tr>
        {% endif %}
    </table>
    <div class="spacer"></div>
    <table class="invoice">
        <thead>
            <tr>
                <th class="quantity">{{ "text.number"|trans({}, "messages", locale)|desc("Aantal") }}</th>
                <th>{{ "text.Description"|trans({}, "messages", locale)|desc("Omschrijving") }}</th>
                <th class="price">{{ "text.total"|trans({}, "messages", locale)|desc("Totaal") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in invoice.items %}
                <tr>
                    <td class="quantity">{{ item.quantity }}</td>
                    <td>
                        {{ item.title }}
                        {% if item.order %}
                            <small>{{ "text.Order"|trans({}, "messages", locale)|desc("Bestelling") }} {{ item.order.code }}</small>
                        {% endif %}
                    </td>
                    <td class="price">{{ invoice.profile ? (item.total.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : item.total|price }}</td>
                </tr>
            {% endfor %}
            {% for discount in invoice.discounts %}
                <tr>
                    <td class="quantity">1</td>

                    {% if discount.type.is('percentage') %}
                        <td>
                           {{ "text.discountCode"|trans({}, "messages", locale)|desc("Kortingscode") }} {{ discount.discount.code }} {{ discount.percentage }}%
                        </td>
                        <td class="price"> - {{ (invoice.itemsTotal.multiply(discount.multiplier).amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) }}</td>
                    {% else %}
                        <td>
                           {{ "text.discountCode"|trans({}, "messages", locale)|desc("Kortingscode") }} {{ discount.discount.code }}
                        </td>
                        <td class="price"> - {{ invoice.profile ? (discount.amount.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : discount.amount|price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">{{ "text.subtotal"|trans({}, "messages", locale)|desc("Subtotaal") }}:</th>
                <td>{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : invoice.subtotal|price }}</td>
            </tr>
            <tr>
                {% if customer.vat and customer.address.country != 'NL' %}
                    <th colspan="2">{{ "text.vat_shifted"|trans({}, "messages", locale)|desc("btw verlegd") }}:</th>
                {% else %}
                    <th colspan="2">{{ invoice.vatPercentage }}% {{ "text.vat"|trans({}, "messages", locale)|desc("btw") }}:</th>
                {% endif %}
                    <td>{{ invoice.profile ? (invoice.vatAmount.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : invoice.vatAmount|price }}</td>
            </tr>
        </tfoot>
    </table>
    <div class="invoice-total">
        <div class="amount">
            {{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : invoice.total|price }}
        </div>
        <small>{{ "text.totalInclusive"|trans({}, "messages", locale)|desc("Totaal, inclusief") }} {{ invoice.vatPercentage }}% {{ "text.vat"|trans({}, "messages", locale)|desc("btw") }}</small>
    </div>

    <div class="clearfix"></div>

    {% if not invoice.isCredit %}
        <h2>{{ "text.payment"|trans({}, "messages", locale)|desc("Betaling") }}</h2>
        <p>{{ "text.havent_paid_invoice_yet"|trans({ "%mollie_link%": invoicePaymentUrl(invoice, true) }, "messages", locale)|desc("Heeft u deze factuur nog niet voldaan? Ga dan naar <a href=\"%mollie_link%\">%mollie_link%</a> om de betaling te voldoen via onze betalingsprovider, Mollie.")|raw }}</p>
    {% endif %}
{% endblock %}