{% apply spaceless %}

    {% if form is defined %}
        {% form_theme form ':backend/_form:fields.html.twig' %}
    {% endif %}

    {% if toolbar is defined %}
        {% form_theme toolbar ':backend/_form:toolbar.html.twig' %}
    {% endif %}

{% endapply %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if pageTitle|default('') %}{{ pageTitle }} - {% endif %}Legal Fit Documenten Selfservice Beheer</title>

		{{ include('shared/favicons.html.twig') }}

		<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
		<link href="{{ asset('backend.css', 'webpack') }}" rel="stylesheet">
		{% block stylesheets %}{% endblock %}

		<!-- {{ build.version }} @ {{ build.hash }}  -->
	</head>
	<body class="with-top-navbar">
		<nav class="navbar navbar-fixed-top navbar-dark app-navbar">
			<div class="container-fluid container-fluid-spacious">
				<div class="navbar-header">
					<button
							class="navbar-toggler hidden-lg-up float-right"
							type="button"
							data-toggle="collapse"
							data-target="#navbar-responsive"
							aria-controls="navbar-responsive"
							aria-expanded="false"
							aria-label="Toggle navigation">
					</button>
					<a class="navbar-brand" href="{{ path('app.backend.dashboard.default.index') }}">
						<div class="navbar-brand-icon"></div>
					</a>
				</div>
				<div class="collapse navbar-toggleable-md" id="navbar-responsive">
                    {{ knp_menu_render('AppBundle:Backend\MenuBuilder:buildMenu', { template: 'backend/_menu/navbar.html.twig' }) }}
				</div>
			</div>
		</nav>

		<div class="container-fluid container-fluid-spacious with-top-navbar">
			<div class="row">
				<div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 sidebar">
					<nav class="sidebar-nav">
						<div>
                            {{ knp_menu_render('AppBundle:Backend\MenuBuilder:buildMenu', { template: 'backend/_menu/sidebar.html.twig' }) }}
							<hr class="visible-sm-block mt-3">
						</div>
					</nav>
				</div>
				<div class="col-sm-12 col-md-8 col-md-7 col-lg-9 col-xl-9 content">
					{% if app.session.flashBag.peekAll %}
						<div class="mb-5">
                            {% for type, messages in app.session.flashBag.all %}
                                {% for message in messages %}
									<div class="alert alert-{{ type }}">
                                        {{ message }}
									</div>
                                {% endfor %}
                            {% endfor %}
						</div>
					{% endif %}
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>

		<script src="{{ asset('vendor.js', 'webpack') }}"></script>
		<script src="{{ asset('backend.js', 'webpack') }}"></script>
		{% block javascripts %}{% endblock %}

		<script type="text/javascript">{{ bridgeJavascript() }}</script>
	</body>
</html>
