{% if pageCount > 1 %}
    <nav>
        <ul class="pagination">
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Vorige</span>
                    </a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                <li class="page-item{% if page == current %} active{% endif %}"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
            {% endfor %}

            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Volgende</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

