@include for-module('frontend', 'wizard') {
	.fold {
		background-color: #ffffff;
	}
	section {
		display: flex;
		flex-direction: column;

		text-align: center;
		padding-bottom: $unit-one * 3;

		/**
		 * Bovenste helft
		 */
		div.top {
			flex: 0 0 auto;

			margin: $unit-two 0 $unit-two 0;

			h1 {
				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-header-large();

				line-height: 1.2;

				color: $color-primary;
				margin-bottom: $unit-one;

				@include respond-to-and-smaller('sm') {
					@include font-sans-serif-size-header-normal();
				}
			}

			span.tagline {
				display: inline-block;

				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-large();

				color: $color-text;

				max-width: $screen-md-min;
			}

			a.button {
				@include button-variant(#ffffff, $color-primary, transparent);
				@include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-large();
			}
		}

		/**
		 * Content
		 */
		div.body {
			flex: 1 0 auto;

			div.container {
				div.content {
					div.formatted-text {
						color: $color-text;
						margin-bottom: $unit-one;

						h2 {
							color: $color-text;
						}
					}

					/*
					 * Links onder elkaar, als soort-van knoppen
					 */
					div.links {
						a.link {
							position: relative;

							display: block;

							@include font-sans-serif-weight-bold();
							@include font-sans-serif-size-normal();

							color: $color-text;
							@include text-overflow-ellipsis();

							padding: $unit-half $unit-one $unit-half $unit-one;
							margin-bottom: $unit-quarter;

							border-radius: $border-radius-base;
							background-color: $color-gray-superlight;

							i {
								position: absolute;
								right: $unit-quarter;

								vertical-align: middle;

								padding-top: 2px;
							}

							&:hover {
								color: #ffffff;
								text-decoration: none;

								background-color: $color-primary-light;
							}
						}
					}

					/*
					 * Opties met een selectbox
					 */
					div.options {
						margin-bottom: $unit-one;

						> div.option {
							display: flex;
							align-items: center;

							cursor: pointer;
							user-select: none;

							@include text-overflow-ellipsis();

							padding: $unit-half $unit-one $unit-half $unit-one;
							margin-bottom: $unit-quarter;

							border-radius: $border-radius-base;
							background-color: #ffffff;

							div.input-enhanced-checkbox {
								margin-right: $unit-half;
							}

							div.text {
								@include font-sans-serif-weight-bold();
								@include font-sans-serif-size-normal();

								color: $color-gray-darker;
								@include text-overflow-ellipsis();
							}

							&:hover {
								background-color: $color-secondary;

								div.text {
									color: $color-text;
									text-decoration: none;
								}
							}

							&.selected {
								background-color: $color-primary-light;

								div.input-enhanced-checkbox {
									input[type="checkbox"]:checked + label {
										div.input {
											span {
												background-color: $color-primary;
											}
										}
									}
								}

								div.text {
									color: #ffffff;
								}
							}
						}
					}

					/*
					 * Submit-knoppen
					 */
					div.buttons {
						display: flex;
						align-items: center;

						div.back {
							flex: 1;

							@include font-sans-serif-weight-normal();
							@include font-sans-serif-size-normal();

							color: #ffffff;

							i {
								vertical-align: middle;
							}

							a {
								color: #ffffff;
							}
						}

						div.next {
							flex: 1;

							text-align: right;

							button[type="submit"] {
								@include button-variant(#ffffff, $color-primary-light, transparent);
								@include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

								@include font-sans-serif-weight-bold();
								@include font-sans-serif-size-large();

								margin: 0 0 0 auto;

								&:after {
									position: relative;
									top: 2px;

									font-family: 'Flaticons Solid';
									font-size: 1.8rem;

									font-style: normal;
									font-weight: normal;
									line-height: 1;
									-webkit-font-smoothing: antialiased;

									content: "\e1c3";
									margin-left: $unit-quarter;
								}
							}
						}

						@include respond-to('xs') {
							display: block;
							margin-bottom: $unit-one;

							div.back {
								@include make-xs-column(12);

								@include font-sans-serif-size-small();

								text-align: center;
								margin-bottom: $unit-half;

								i {
									display: none;
								}
							}

							div.next {
								@include make-xs-column(12);

								button[type="submit"] {
									display: block;
									width: 100%;
								}
							}
						}
					}

					/*
					 * Templates
					 */
					div.templates {
						> div.row {
							div.template {
								div.inner {
									div.action {
										a.add-to-cart {
											background-color: $color-secondary;

											@include on-event() {
												background-color: $color-secondary-dark;
											}
										}
									}
								}
							}
						}
					}
				}

				aside {
					div.summary {
						border-left: 1px solid $color-primary-light;

						padding-left: $unit-one;
						margin-bottom: $unit-one;

						div.text {
							@include font-sans-serif-weight-normal();
							@include font-sans-serif-size-large();

							color: $color-text;
							text-align: left;

							padding: $unit-one 0 $unit-one $unit-one;

							h2 {
								color: $color-primary;
							}

							a {
								color: #ffffff;

								&.button {
									@include button-variant(#ffffff, $color-primary-dark, #ffffff);
									@include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

									@include font-sans-serif-weight-bold();
									@include font-sans-serif-size-large();
								}
							}
						}
					}
				}

				@include respond-to-and-smaller('sm') {
					aside {
						div.summary {
							border-left: none;
							padding-left: 0;

							div.text {
								padding: $unit-half;
							}
						}
					}
				}
			}
		}
	}
}
