<svg width="20" height="15" viewBox="0 0 20 15" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 7.4979c-.01-.2675-.121-.578-.3045-.7736l-6-6.3755c-.4065-.365-1.1855-.5155-1.641-.0935-.447.416-.4335 1.2226.012 1.6407l4.2185 4.4768H1.125C.504 6.3728 0 6.8768 0 7.498c0 .621.504 1.125 1.125 1.125h15.16L12.0665 13.1c-.385.385-.455 1.221-.012 1.6406.4435.42 1.25.2875 1.641-.0935l6-6.3755c.205-.219.3045-.4746.3045-.7736z" fill="#FFF" fill-rule="evenodd"/>
</svg>
