@include for-controller('hosted', 'embed', 'default') {
	section.first {
		text-align: center;

		/**
		 * Bovenste helft
		 */
		div.top {
			margin: $unit-one * 2 0 $unit-one * 2 0;

			h1 {
				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-header-large();

				@include respond-to-and-smaller('sm') {
					@include font-sans-serif-size-header-normal();
				}


				line-height: 1.2;

				color: #ffffff;
				margin-bottom: $unit-one;
			}

			span.tagline {
				display: inline-block;

				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-large();

				color: #ffffff;

				max-width: $screen-md-min;
			}
		}
	}

	section.content {
		padding-top: $unit-one * 3;
		padding-bottom: $unit-one * 3;

		pre.embed-code {
			padding: $unit-half;

			border: 1px solid $color-gray-light;
			background-color: #ffffff;

			code {
				background-color: #ffffff;
			}
		}

		aside {
			a.button {
				@include button-variant(#ffffff, $color-primary, transparent);
				@include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-large();
			}
		}
	}
}
