@include for-module('frontend', 'contact') {
	.form-group{
		.form-control{
			background-color: $color-secondary;
		}
	}
	section.first {
		display: flex;
		flex-direction: column;

		text-align: center;

		padding-top: $unit-one * 2;
		padding-bottom: $unit-one * 2;

		background-color: $color-primary;

		h1 {
			@include font-sans-serif-weight-bold();
			@include font-sans-serif-size-header-large();

			@include respond-to-and-smaller('sm') {
				@include font-sans-serif-size-header-normal();
			}


			line-height: 1.2;

			color: #ffffff;
			margin-bottom: $unit-one;
		}

		span.tagline {
			display: inline-block;

			@include font-sans-serif-weight-normal();
			@include font-sans-serif-size-large();

			color: #ffffff;

			max-width: $screen-md-min;

			a {
				@include font-sans-serif-weight-normal();

				color: #ffffff;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	section.content {
		padding-top: $unit-one * 3;
		padding-bottom: $unit-one * 3;

		form {
			button {
				@include button-variant(#ffffff, $color-primary-light, transparent);
				@include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-large();
			}
		}
	}

	section.map {
		iframe {
			display: block;
		}
	}
}
