@include for-module('frontend', 'shops') {
	section {
		display: flex;
		flex-direction: column;

		text-align: center;
		padding-bottom: $unit-one * 3;

		/**
		 * Bovenste helft
		 */
		div.top {
			flex: 0 0 auto;

			margin: $unit-two 0 $unit-two 0;

			h1 {
				@include font-sans-serif-weight-bold();
				@include font-sans-serif-size-header-large();

				@include respond-to-and-smaller('sm') {
					@include font-sans-serif-size-header-normal();
				}


				line-height: 1.2;

				color: #ffffff;
				margin-bottom: 0;
			}
		}

		/**
		 * Content
		 */
		div.body {
			flex: 1 0 auto;

			div.container {
				div.content {
					div.formatted-text {
						color: #ffffff;
						margin-bottom: $unit-one;

						h2 {
							color: #ffffff;
						}
					}

					/*
					 * Links onder elkaar, als soort-van knoppen
					 */
					div.links {
						a.link {
							position: relative;

							display: block;

							@include font-sans-serif-weight-bold();
							@include font-sans-serif-size-normal();

							color: $color-gray-darker;
							@include text-overflow-ellipsis();

							padding: $unit-half $unit-one $unit-half $unit-one;
							margin-bottom: $unit-quarter;

							border-radius: $border-radius-base;
							background-color: #ffffff;

							i {
								position: absolute;
								right: $unit-quarter;

								vertical-align: middle;

								padding-top: 2px;
							}

							&:hover {
								color: $color-primary-dark;
								text-decoration: none;

								background-color: $color-primary-light;
							}
						}
					}
				}

				aside {
					div.wrapper {
						border-left: 1px solid #ffffff;

						padding-left: $unit-one;
						margin-bottom: $unit-one;

						div.text {
							@include font-sans-serif-weight-normal();
							@include font-sans-serif-size-large();

							color: #ffffff;
							text-align: left;

							padding: $unit-one 0 $unit-one $unit-one;

							h2 {
								color: #ffffff;
							}

							a {
								color: #ffffff;

								&.button {
									@include button-variant(#ffffff, $color-secondary, transparent);
									@include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

									@include font-sans-serif-weight-bold();
									@include font-sans-serif-size-large();
								}
							}
						}
					}
				}

				@include respond-to-and-smaller('sm') {
					aside {
						div.wrapper {
							border-left: none;
							padding-left: 0;

							div.text {
								padding: $unit-half;
							}
						}
					}
				}
			}
		}
	}
}
