{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Betalingsmethoden</h2>
        </div>
        <div class="dashhead-toolbar">
        </div>
    </div>

    <div class="flextable table-actions">
        {{ render(controller('AppBundle:Backend/Shared/Helper/BackendPaymentMethodsSelector:menu', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params')})) }}

    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Ingeschakeld</th>
                </tr>
            </thead>
            <tbody>
                {% for method in methods %}
                    {% if method.externallyDisabled %}
                        <tr>
                            <th scope="row">{{ method.id }}</th>
                            <td scope="row">Niet beschikbaar</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row"><a href="{{ path('app.backend.settings.payment_methods.edit', { profile_id: profile.id, methodId: method.id }) }}">{{ method.method.description }}</a></th>
                            <td scope="row">{{ method.enabled ? 'Ja' : 'Nee' }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}