{% extends 'shared/base.html.twig' %}

{% set funnelMode = true %}
{% set customHeader = true %}

{% set pageTitle = 'Document integreren'|trans|desc("Document integreren") %}

{% block body %}
    <div class="fold" style="min-height: auto;">
        {% include ':shared:header.html.twig' %}
        <section class="first">
            <div class="top">
                <div class="container">
                    <h1 data-component="ColoredText">Document integreren</h1>
                    <span class="tagline">Integreer uw {{ document.template.title|decapitalize }} in uw website in twee eenvoudige stappen.</span>
                </div>
            </div>
        </section>
    </div>
    <section class="content">
        <div class="container">
            <div class="row with-aside balanced">
                <div class="content">
                    <div class="formatted-text">
                        <h2>Stap 1</h2>
                        <p>Voeg de volgende <code>&lt;script&gt;</code> tag toe vlak boven de <code>&lt;/head&gt;</code> in de HTML-code van uw website.</p>
                    </div>
                    <br />
                    <pre class="embed-code"><code class="html">&lt;head&gt;
    &lt;!-- ... --&gt;
    &lt;script src=&quot;{{ url('app.hosted.embed.stream_javascript', { subscriptionId: subscription.id }) }}&quot;&gt;&lt;/script&gt;
&lt;/head&gt;</code></pre>

                    <div class="spacer"></div>
                    <div class="formatted-text">
                        <h2>Stap 2</h2>
                        <p>Haal de gegevens van uw document op, en gebruik deze vervolgens in uw pagina.</p>
                    </div>
                    <br />
                    <pre class="embed-code"><code class="javascript">const legalFit = new LegalFit();

// Output the document information
legalFit.fetch().then(function (data) {
    console.log('Document ID: ' + data.metadata.id);
    console.log('Document title: ' + data.metadata.title);
});

// Write Markdown to a div#markdown-output (create this div first)
legalFit.fetchMarkdown().then(function (markdown) {
    document.getElementById('markdown-output').innerHTML = markdown;
});

// Write HTML to a div#html-output (create this div first)
legalFit.fetchHtml().then(function (html) {
    document.getElementById('html-output').innerHTML = html;
});</code></pre>
                </div>
                <aside>
                    <div class="formatted-text">
                        <h2>Hulp nodig?</h2>
                        <address><strong>Legal Fit Documenten Selfservice</strong><br />Prinses Beatrixlaan 35<br />2595 AK Den Haag</address>
                        <p><a href="mailto:{{ helpdesk.email }}">{{ helpdesk.email }}</a><br />{{ helpdesk.phone }}</p>
                        <p>KvK: 68034229<br />btw: NL850421408B01</p>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
