{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ page.title }}</h6>
            <h2 class="dashhead-title">{{ mode == 'edit' ? 'Pagina bewerken' : 'Nieuw pagina' }}</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.pages.page.index', {'profile_id': page.profile.id }) }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group row">
                {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:item', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), 'profile': page.profile })) }}
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.code) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.code) }}
                    {{ form_widget(form.code) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.lastUpdated) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.lastUpdated) }}
                    {{ form_widget(form.lastUpdated) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.lead) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_errors(form.lead) }}
                    {{ form_widget(form.lead, { attr: { rows: 36 } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.content) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content, { attr: { rows: 36 } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.footer) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_errors(form.footer) }}
                    {{ form_widget(form.footer, { attr: { rows: 36 } }) }}
                </div>
            </div>

            <h3 class="mt-4">Pdf</h3>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.pdf) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {% if page.pdfName is defined %}{% if page.pdfName %}<a href="{{ pagePdfUrl(page) }}" class="mb-4">{{ page.pdfName }}</a>{% endif %}{% endif %}
                    {{ form_errors(form.pdf) }}
                    {{ form_widget(form.pdf) }}
                </div>
            </div>
            {% if form.deletePdf is defined %}
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                        <label for="delete_logo">Pdf verwijderen</label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                        {{ form_errors(form.deletePdf) }}
                        {{ form_widget(form.deletePdf, { label: false }) }}
                    </div>
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Opslaan</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}