{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Paginas</h2>
        </div>
        <div class="dashhead-toolbar">
            {% if profile.mainLocale == app.request.attributes.get('_locale') %}
                <div class="btn-group dashhead-toolbar-item">
                    <a href="{{ path('app.backend.pages.page.create', { 'profile_id': profile.id }) }}"
                       class="btn btn-outline-primary"
                       title="Pagina toevoegen"><i class="icon icon-circle-with-plus"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
        {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:menu', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params')})) }}
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Titel</th>
                <th>Creatiedatum</th>
                <th>Laatst Bijgewerkt</th>
                <th>Pdf</th>
                <th>Verwijder</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pagination %}
                <tr>
                    <th scope="row"><a
                                href="{{ path('app.backend.pages.page.edit', {slug: page.slug}) }}">{{ page.code }}</a>
                    </th>
                    <td>{{ page.title }}</td>
                    <td>{{ page.created|date('d-m-Y H:i') }}</td>
                    <td>{{ page.lastUpdated|date('d-m-Y') }}</td>
                    <td>{% if page.pdf %}<a href="{{ pagePdfUrl(page) }}">{{ page.pdfName }}</a>{% endif %}</td>
                    <td>
                        <button type="button" class="btn btn-danger"
                                data-href="{{ path('app.backend.pages.page.delete', { slug: page.slug }) }}"
                                data-toggle="modal" data-target="#confirm-delete" data-article="{{ page }}">Verwijder
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    Weet je zeker dat je deze pagina wilt verwijderen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
                    <a class="btn btn-danger btn-ok">Verwijder</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}