{% extends 'backend/base.html.twig' %}

{% block body %}
    {# Yet another dirty hack so translations can be indexed #}
    {% if 1 == 2 %}
        {{ "order.status.canceled"|trans|desc("cancelled") }}
        {{ "order.status.completed"|trans|desc("completed") }}
        {{ "order.status.deliver"|trans|desc("deliver") }}
        {{ "order.status.draft"|trans|desc("draft") }}
        {{ "order.status.failed"|trans|desc("failed") }}
        {{ "order.status.manual_check"|trans|desc("manual_check") }}
        {{ "order.status.manual_custom"|trans|desc("manual_custom") }}
        {{ "order.status.pending"|trans|desc("pending") }}
        {{ "order.status.pending_payment"|trans|desc("pending_payment") }}
        {{ "order.status.request"|trans|desc("request") }}
        {{ "order.status.requeue"|trans|desc("requeue") }}
        {{ "order.status.step_account"|trans|desc("step_account") }}
        {{ "order.status.step_confirm"|trans|desc("step_confirm") }}
        {{ "order.status.step_options"|trans|desc("step_options") }}
        {{ "order.status.step_questions"|trans|desc("step_questions") }}
        {{ "order.status.expired"|trans|desc("expired") }}

        {{ "document.status.canceled"|trans|desc("cancelled") }}
        {{ "document.status.draft"|trans|desc("draft") }}
        {{ "document.status.error"|trans|desc("error") }}
        {{ "document.status.generated"|trans|desc("generated") }}
        {{ "document.status.pending"|trans|desc("pending") }}

        {{  "invoice.status.credited"|trans|desc("credited") }}
        {{  "invoice.status.paid"|trans|desc("paid") }}
        {{  "invoice.status.pending"|trans|desc("pending") }}
        {{  "invoice.status.proforma"|trans|desc("proforma") }}
        {{  "invoice.status.revoked"|trans|desc("revoked") }}

        {{ "payment.status.canceled"|trans|desc("cancelled") }}
        {{ "payment.status.expired"|trans|desc("expired") }}
        {{ "payment.status.pending"|trans|desc("pending") }}
        {{ "payment.status.received"|trans|desc("received") }}

        {{ "payment.method.bank-transfer"|trans|desc("bank-transfer") }}
        {{ "payment.method.creditcard"|trans|desc("creditcard") }}
        {{ "payment.method.direct-debit"|trans|desc("direct-debit") }}
        {{ "payment.method.ideal"|trans|desc("ideal") }}
        {{ "payment.method.paypal"|trans|desc("paypal") }}
    {% endif %}


    <div class="dashhead mb-4">
        <div class="form-group row">
            {% if profile %}
                {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:item', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), profile: profile, disable_locale: true })) }}
            {% endif %}
        </div>
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ order.code }}</h6>
            <h2 class="dashhead-title">Details bestelling</h2>
        </div>
        <div class="dashhead-toolbar">
            {{ form_start(toolbar) }}
            <div class="btn-group dashhead-toolbar-item btn-group-thirds">
                {{ form_widget(toolbar.repair, { class: 'btn btn-outline-primary' }) }}
            </div>
            {{ form_end(toolbar) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Bestelnummer</strong>
                <span class="col-sm-6"><code>{{ order.code }}</code></span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Intern ID</strong>
                <span class="col-sm-6"><code>{{ order.id }}</code></span>
            </div>

            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Type</strong>
                <span class="col-sm-6">{{ ('order.type.' ~ order.type)|trans() }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Status</strong>
                <div class="col-sm-6">
                    <span class="badge text-uppercase {% if order.status.isPending %}badge-info{% elseif order.status.isManual %}badge-primary{% elseif order.status.isWarning %}badge-warning{% elseif order.status.isCompleted %}badge-success{% else %}badge-default{% endif %}">{{ ('order.status.' ~ order.status)|trans() }}</span>
                </div>
            </div>
            {% if order.status.isPending or order.status.isCompleted %}
                <div class="row mb-2">
                    <strong class="col-sm-4">Statuspagina</strong>
                    <span class="col-sm-6"><a href="{{ path('app.frontend.order.status', { orderId: order.id, host: order.template.partner.countryProfile.host }) }}" target="_blank">Publieke statuspagina</a></span>
                </div>
            {% endif %}

            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Gestart</strong>
                <span class="col-sm-6">{{ order.timestampCreated|date() }}</span>
            </div>
            {% if order.abandoned %}
                <div class="row mb-2">
                    <strong class="col-sm-4">Verlaten</strong>
                    <span class="col-sm-6">{{ order.timestampAbandoned|date() }}</span>
                </div>
            {% endif %}
            {% if order.timestampDelivered %}
                <div class="row mb-2">
                    <strong class="col-sm-4">Afgeleverd</strong>
                    <span class="col-sm-6">{{ order.timestampDelivered|date() }}</span>
                </div>
            {% endif %}

            {% if transitions %}
                <div class="row mt-4 mb-2">
                    <strong class="col-sm-4">Vervolgstappen</strong>
                    <span class="col-sm-6">
                            {% for transition in transitions %}
                                {% for state in transition.tos %}
                                    <span class="badge badge-default text-uppercase">{{ ('order.status.' ~ state)|trans() }}</span>
                                {% endfor %}
                            {% endfor %}
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            {% if customer %}
                <div class="row mb-2">
                    <strong class="col-sm-4">Bedrijfsnaam</strong>
                    <span class="col-sm-6">
                        {% if customer.companyName %}
                            <a href="{{ path('app.backend.customers.default.details', { customerId: customer.id }) }}">{{ customer.companyName }}</a>
                        {% else %}
                            Niet opgegeven
                        {% endif %}
                    </span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Contactpersoon</strong>
                    <span class="col-sm-6">
                        {% if customer.companyName %}
                            {{ customer.name }}
                        {% else %}
                            <a href="{{ path('app.backend.customers.default.details', { customerId: customer.id }) }}">{{ customer.name }}</a>
                        {% endif %}
                    </span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">E-mailadres</strong>
                    <span class="col-sm-6"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Telefoonnummer</strong>
                    {% if customer.phone %}
                        <span class="col-sm-6"><p>{{ customer.phone }}</p></span>
                    {% endif %}
                </div>
            {% else %}
                <div class="row mt-4 mb-2">
                    <strong class="col-sm-4">Klant</strong>
                    <span class="col-sm-6">
                        Nog niet gekoppeld
                    </span>
                </div>
            {% endif %}
            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Factuur</strong>
                <span class="col-sm-6">
                    {% if invoice %}
                        <code><a href="{{ path('app.backend.financial.invoices.details', { invoiceId: invoice.id, view: "overview" }) }}">{{ invoice.code }}</a></code>
                    {% else %}
                        Nog niet aangemaakt
                    {% endif %}
                </span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Besteld vanaf (shop)</strong>
                <span class="col-sm-6">
                    {% if order.shop %}
                        {{ order.shop.title }}
                    {% else %}
                        -
                    {% endif %}
                </span>
            </div>
            {% if invoice %}
                <div class="row mt-4 mb-2">
                    <strong class="col-sm-4">Status</strong>
                    <div class="col-sm-6">
                        <span class="badge text-uppercase {% if invoice.status.isPending %}badge-info{% elseif invoice.status.isPaid %}badge-success{% else %}badge-default{% endif %}">{{ ('invoice.status.' ~ invoice.status)|trans() }}</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Betaalmethode</strong>
                    <span class="col-sm-6">
                        {% if order.paymentMethod %}
                            {{ ('payment.method.' ~ order.paymentMethod)|trans() }}
                        {% elseif invoice.hasPendingPayments and invoice.pendingPayment.method %}
                            {{ ('payment.method.' ~ invoice.pendingPayment.method)|trans() }}
                        {% else %}
                            (niet gekozen)
                        {% endif %}
                    </span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Bedrag excl. btw</strong>
                    <span class="col-sm-6">{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency) : invoice.subtotal|price() }}</span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Bedrag incl. btw</strong>
                    <span class="col-sm-6">{{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency) : invoice.total|price() }}</span>
                </div>
            {% endif %}
        </div>
    </div>

    {{ form_start(actions) }}

    {% if actions.change_payment_method is defined  %}
        <div class="row mt-5">
            <div class="col-sm-12">
                <h2>Betaalmethode wijzigen</h2>
                <p>Zo lang een bestelling de "afwachting betaling" status heeft kan de betaalmethode worden gewijzigd. De klant kan dan vanuit de statuspagina klikken op "Betaling voortzetten", waarna bij Mollie de gewenste betaalmethode kan worden gekozen.</p>
                {{ form_widget(actions.change_payment_method, { attr: { class: 'btn btn-info' } }) }}
            </div>
        </div>
    {% endif %}

    {% if actions.check_completed is defined or actions.custom_completed is defined %}
        <div class="row mt-5">
            <div class="col-sm-12">
                <h2>Vervolgstappen</h2>
                <p>Voor deze bestelling moet een handmatige actie worden afgerond.</p>
                {% if actions.check_completed is defined %}{{ form_widget(actions.check_completed, { attr: { class: 'btn btn-success' } }) }}{% endif %}
                {% if actions.custom_completed is defined %}{{ form_widget(actions.custom_completed, { attr: { class: 'btn btn-success' } }) }}{% endif %}
            </div>
        </div>
    {% endif %}

    {{ form_end(actions) }}

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Abonnement</h2>
            {% if not order.subscription and order.type.is('subscription') %}
                <p>Het abonnement voor deze bestelling is nog niet aangemaakt. Dit wordt automatisch verwerkt zodra de bestelling is afgerond.</p>
            {% elseif not order.subscription %}
                <p>Deze bestelling is niet gekoppeld aan een abonnement.</p>
            {% endif %}
        </div>
        {% if order.subscription %}
            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                <div class="row mb-2">
                    <strong class="col-sm-4">Abonnementnummer</strong>
                    <span class="col-sm-6"><a href="{{ path('app.backend.subscriptions.default.details', { subscriptionId: order.subscription.id }) }}">{{ order.subscription.code }}</a></span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Verloopdatum</strong>
                    <div class="col-sm-6">{{ order.subscription.timestampExpires }}</div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Document</h2>
            <p>Zodra de bestelling is afgerond wordt het document aangevraagd bij JuriBlox. Nadat JuriBlox het document heeft gegenereerd wordt dit automatisch door Legal Fit Documenten Selfservice geïmporteerd.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
            <div class="row mb-2">
                <strong class="col-sm-4">Template</strong>
                <span class="col-sm-6"><a href="{{ path('app.backend.templates.default.details', { templateId: template.id }) }}">{{ template.title }}</a></span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Status</strong>
                <div class="col-sm-6">
                    <span class="badge text-uppercase {% if document.status.isSuccess %}badge-success{% elseif document.status.isError %}badge-danger{% else %}badge-default{% endif %}">{{ ('document.status.' ~ document.status)|trans() }}</span>
                </div>
            </div>
        </div>

        {% if document.cached %}
            <div class="col-sm-12 mt-3">
                <a href="{{ documentDownloadPdfUrl(document) }}" target="_blank" class="btn btn-primary">Download PDF</a> <a href="{{ documentDownloadWord2007Url(document) }}" target="_blank" class="btn btn-primary">Download Word</a>
            </div>
        {% endif %}

        {% if document.hasRequests %}
            <div class="col-sm-12 mt-5">
                <h5>Documentaanvragen JuriBlox</h5>
            </div>
            <div class="col-sm-12 mt-2">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Aangevraagd</th>
                        <th>Afgerond</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in document.requests %}
                        {% set completed = request.timestampCompleted %}
                        {% set failed = request.timestampFailed %}
                        <tr>
                            <th scope="row">{% if completed %}Gegenereerd{% elseif failed %}Mislukt{% else %}In behandeling{% endif %}</th>
                            <td>{{ request.timestampRequested|date() }}</td>
                            <td>{% if completed %}{{ request.timestampCompleted|date() }}{% elseif failed %}{{ request.timestampFailed|date() }}{% else %}Nog niet bekend{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Historie bestelling</h2>
            <p>Legal Fit Documenten Selfservice houdt van elke bestelling de wisselingen in de status bij, zodat er een complete historie inzichtelijk wordt.</p>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Datum/tijd</th>
                </tr>
                </thead>
                <tbody>
                {% for change in order.statusChanges %}
                    <tr>
                        <th scope="row">{{ ('order.status.' ~ change.status)|trans() }}</th>
                        <td>{{ change.timestamp|date() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
