{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Bestellingen</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item show-search-button">
                <a href="#" class="btn btn-outline-primary"><i class="fa fa-filter"></i></a>
            </div>
        </div>
    </div>
    <div class="search-block {{ enabledSearch ? 'clicked' : '' }}">
        <hr/>
        <h4>Filter</h4>
        <form class="search-form">
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    <label class="col-form-label control-label" for="search-order-number">Bestelnummer</label>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    <input class="form-control" id="search-order-number" type="text" name="orderNumber" title="Bestelnummer" value="{{ searchAttributesBag.get('orderNumber') }}"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    <label class="col-form-label control-label" for="search-template">Template</label>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    <input class="form-control" id="search-template" type="text" name="template" title="Template" value="{{ searchAttributesBag.get('template') }}"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    <label class="col-form-label control-label" for="search-from-date">Datum</label>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    <div class="row">
                        <div class="col-sm-6">
                    <div class="input-group date" data-provide="datepicker">
                        <input class="form-control" id="search-from-date" type="text" name="fromDate" title="van" placeholder="van" value="{{ searchAttributesBag.get('fromDate') }}"/>
                        <div class="input-group-addon sr-only"></div>
                    </div>
                        </div>
                        <div class="col-sm-6">
                    <div class="col input-group date" data-provide="datepicker">
                        <input class="form-control" id="search-to-date" type="text" name="toDate" title="tot" placeholder="tot" value="{{ searchAttributesBag.get('toDate') }}"/>
                        <div class="input-group-addon sr-only"></div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary submit-search-button">Filter</button>
            <button type="reset" class="btn btn-warning reset-button">Reset Filter</button>
        </form>
        <hr/>
    </div>
    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
        {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:menu', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), 'disable_locale': true })) }}
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Template</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Klant</th>
                    <th>Datum/tijd</th>
                </tr>
            </thead>
            <tbody>
                {% for order in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.orders.default.details', { orderId: order.id }) }}">{{ order.code }}</a></th>
                        <td>{% if order.hasDocument %}{{ order.document.template.title }}{% else %}(verwijderd){% endif %}</td>
                        <td>{{ ('order.status.' ~ order.status)|trans() }}{% if order.abandoned %} <i class="icon icon-log-out" title="Deze bestelling is verlaten"></i>{% endif %}</td>
                        <td>{{ ('order.type.' ~ order.type)|trans() }}</td>
                        <td>{% if order.customer %}<a href="{{ path('app.backend.customers.default.details', { customerId: order.customer.id }) }}">{{ order.customer.listingName }}</a>{% else %}(onbekend){% endif %}</td>
                        <td>{{ order.timestampCreated }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}