@include for-controller('frontend', 'payment', 'default') {
    section.first div.container {
        div.status {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(12);
            @include make-lg-column(12);

            div.inner {
                padding: $unit-two $unit-one $unit-two $unit-one;
                background-color: #ffffff;

                div.current {
                    text-align: center;
                    margin-top: $unit-two;

                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-normal();

                    color: $color-gray-darker;

                    span.title {
                        display: inline-block;

                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-header-normal();

                        color: $color-primary;
                        margin-bottom: $unit-quarter;
                    }
                }
            }

            div.call-to-action {
                @include font-sans-serif-weight-normal();
                @include font-sans-serif-size-normal();

                color: $color-primary-dark;
                text-align: center;

                padding: $unit-one $unit-two $unit-one $unit-two;
                background-color: $color-primary-light;

                a.button {
                    @include button-variant(#ffffff, $color-secondary, $color-secondary);
                    @include button-size($unit-half, $unit-one, inherit, 1rem, $border-radius-small);

                    margin-top: $unit-half;

                    &.without-text {
                        margin-top: 0;
                    }
                }
            }

            @include respond-to('xs') {
                div.inner {
                    padding: $unit-one;

                    div.current {
                        margin-top: $unit-one;

                        span.title {
                            @include font-sans-serif-size-large();
                        }
                    }
                }
            }
        }
    }
}
