{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ template.title }}</h6>
            <h2 class="dashhead-title">Template bewerken</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.templates.default.details', { templateId: template.id }) }}" class="btn btn-outline-primary" title="Details"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group row">
                {{ render(controller('AppBundle:Backend/Shared/Helper/BackendPartnerSelector:item', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), 'template': template })) }}
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.spotlight) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.hidden) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.hidden) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.service) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.service) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.remote_description) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.remote_description, { attr: { rows: 5 } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.description) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.description, { attr: { rows: 10 } }) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.excerpt) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                    {{ form_widget(form.excerpt, { attr: { rows: 2 } }) }}
                </div>
            </div>

            <h4 class="mt-4">Verkoopprijzen</h4>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.unit_price) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.unit_price) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.monthly_price) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6 pt-2">
                    {{ form_widget(form.subscription) }}
                    <div class="row">
                        <div class="col-5 col-sm-4 col-md-4 col-lg-5 col-xl-4">
                            {{ form_widget(form.monthly_price) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.check_price) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.check_price) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.registered_email_price) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.registered_email_price) }}
                </div>
            </div>

            <h4 class="mt-4">Voorbeelden</h4>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.sample) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.sample) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.preview) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.preview) }}
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Opslaan</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
