{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {{ render(controller('AppBundle:Backend/Shared/Helper/BackendPartnerSelector:item', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), 'template': template })) }}<br>
        </div>
    </div>

    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ template.title }}</h6>
            <h2 class="dashhead-title">Gerelateerde templates koppelen</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item btn-group-halves">
                <a href="{{ path('app.backend.templates.default.details', { templateId: template.id }) }}" class="btn btn-outline-primary" title="Details"><i class="icon icon-chevron-thin-left"></i></a>
                <a href="{{ path('app.backend.templates.edit', { templateId: template.id }) }}" class="btn btn-outline-primary" title="Template bewerken"><i class="icon icon-edit"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <p>Een template kan optioneel worden gekoppeld aan gerelateerde templates. Deze worden op de detailpagina van het template getoond.</p>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
                    {{ form_widget(form.related) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Opslaan</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
