///
/// Event wrapper
///
@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

///
/// SCSS voor een bepaalde module
///
@mixin for-module($interface, $module) {
	body.module--#{$interface}-#{$module} {
		@content;
	}
}

///
/// SCSS voor een bepaalde controller
///
@mixin for-controller($interface, $module, $controller) {
	body.module--#{$interface}-#{$module}.controller--#{$controller} {
		@content;
	}
}

///
/// SCSS voor een bepaalde action
///
@mixin for-action($interface, $module, $controller, $action) {
	body.module--#{$interface}-#{$module}.controller--#{$controller}.action--#{$action} {
		@content;
	}
}

///
/// Iets duidelijkere variant van de ampersand-truc
///
@mixin when-inside($context) {
	#{$context} & {
		@content;
	}
}

///
/// Placeholder tekst
///
@mixin placeholder($color: $input-color-placeholder) {
	// Firefox
	&::-moz-placeholder {
		color: $color;
		opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
	}

	// Internet Explorer 10+
	&:-ms-input-placeholder {
		color: $color;
	}

	// Safari and Chrome
	&::-webkit-input-placeholder {
		color: $color;
	}
}

///
/// Responsive manager voor == $breakpoint
///
@mixin respond-to($triggers...) {
	@each $trigger in $triggers {
		$query: map-get($breakpoints, $trigger);

		@if not $query {
			@error 'No "respond-to" value found for "#{$trigger}". Please make sure it is defined in "$breakpoints" map.';
		}

		@media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
			& {
				@content;
			}
		}
	}
}

///
/// Responsive manager voor >= $breakpoint
///
@mixin respond-to-and-larger($breakpoint) {
	$query: map-get($breakpoints-and-larger, $breakpoint);

	@if not $query {
		@error 'No "respond-to-and-larger" value found for "#{$breakpoint}". Please make sure it is defined in "$breakpoints" map.';
	}

	@media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
		& {
			@content;
		}
	}
}

///
/// Responsive manager voor <= $breakpoint
///
@mixin respond-to-and-smaller($breakpoint) {
	$query: map-get($breakpoints-and-smaller, $breakpoint);

	@if not $query {
		@error 'No "respond-to-and-larger" value found for "#{$breakpoint}". Please make sure it is defined in "$breakpoints" map.';
	}

	@media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
		& {
			@content;
		}
	}
}

///
/// Marges onder p, ul etc. verwijderen bij het laatste child
///
@mixin trim-bottom-margins() {
	p, ul, ol, li, blockquote {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

///
/// Vertical align
///
@mixin vertical-align($height) {
	height: $height;
	line-height: $height;

	vertical-align: middle;

	padding-top: 0;
	padding-bottom: 0;
}