///
/// Mixin voor alle tekst die op een nette manier moet worden opgemaakt
///
@mixin formatted-text() {
	$vertical-spacing: $unit-half;

	@include font-sans-serif-weight-normal();
	@include font-sans-serif-size-normal();

	color: $color-text;

	margin-bottom: -$vertical-spacing;

	span.title {
		display: block;

		@include font-sans-serif-weight-bold();
		@include font-sans-serif-size-large();

		color: $color-primary;
		margin-bottom: $unit-quarter;
	}

	h2 {
		@include font-sans-serif-weight-bold();
		@include font-sans-serif-size-header-normal();

		color: $color-primary;

		margin-top: 5rem;
		margin-bottom: 1rem;
	}

	h3 {
		@include font-sans-serif-weight-bold();
		@include font-sans-serif-size-normal();

		color: $color-primary;

		margin: $unit-half 0 $unit-quarter 0;
	}


	ul {
		margin-bottom: 2rem;

		li {
			list-style-type: none;
			position: relative;
			padding-left: 2rem;
			margin-bottom: 1rem;
		}
	}

	ul li::before {
		position: absolute;
		content: '';
		top: 1rem;
		left: 0;
		width: .6rem;
		height: .6rem;
		background-color: rgba(106, 169, 228, .8);
		border-radius: 50%;
	}

	ul.pros {
		li {
			color: $color-text;
			@include font-sans-serif-weight-normal();
			@include font-sans-serif-size-normal();
		}
	}

	p, address {
		margin-bottom: 2rem;
	}

	p.intro {
		font-size: 1.8rem;
	}
}

///
/// Mixin voor alle tekst die op een nette manier moet worden opgemaakt
///
@mixin legal-text() {
	$vertical-spacing: $unit-half;

	@include font-sans-serif-weight-normal();
	@include font-sans-serif-size-normal();

	color: $color-gray-dark;

	margin-bottom: -$vertical-spacing;

	span.title {
		display: block;

		@include font-sans-serif-weight-bold();
		@include font-sans-serif-size-large();

		color: $color-gray;
		margin-bottom: $unit-quarter;
	}

	h2 {
		@include font-sans-serif-weight-bold();
		@include font-sans-serif-size-large();

		color: $color-primary;

		margin: $unit-half 0 $unit-quarter 0;
	}

	h3 {
		@include font-sans-serif-weight-bold();
		@include font-sans-serif-size-normal();

		color: $color-gray-dark;

		margin: $unit-half 0 $unit-quarter 0;
	}

	p {
		line-height: 2.2rem;
		margin-bottom: $vertical-spacing;

		&.lead {
			@include font-sans-serif-weight-normal();
			@include font-sans-serif-size-large();

			margin-bottom: $unit-one;

			@include respond-to('xs') {
				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-normal();

				line-height: 2.2rem;
			}
		}
	}

	p + ul {
		margin-top: -$unit-quarter;
	}

	ul {
		list-style: disc;

		padding-left: $unit-one;
		margin-bottom: $vertical-spacing;

		li {
			margin-bottom: 2px;
		}
	}

	> ol {
		counter-reset: section;
		margin-bottom: -$unit-one;

		> li {
			counter-increment: section;
			counter-reset: item;

			line-height: 2.2rem;
			margin-bottom: $unit-one;

			h2 {
				&:before {
					content: "Artikel " counters(section, "") ". ";
				}
			}

			ol {
				list-style-type: none;
				margin-bottom: -$unit-quarter;

				li {
					counter-increment: item;

					padding-left: $unit-one + $unit-half;
					margin-bottom: $unit-quarter;

					&:before {
						position: absolute;

						content: counters(section, "") "." counters(item, "");
						margin-left: -$unit-one;
					}
				}
			}
		}
	}
}

///
/// Mixin voor een ellipsis bij te lange regels
///
@mixin text-overflow-ellipsis() {
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
}
