{% extends 'shared/base.html.twig' %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside with-inner">
                <aside>
                    <div class="blocks">
                        <div class="row">
                            {% include ':frontend/account/_includes:submenu.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <div class="inner">
                        <h1>{{ "account.newsletter_title"|trans({}, 'account')|desc("Nieuwsbrief") }}</h1>
                        <div class="text formatted-text">
                            <p>{{ "account.newsletter_text"|trans({}, 'account')|desc("Wilt u ook onze nieuwsbrief ontvangen? Hiermee blijft u op de hoogte van belangrijke judische ontwikkelingen.") }}</p>
                        </div>

                        <div class="spacer"></div>

                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.newsletter) }}

                        <div class="spacer small"></div>
                        <button type="submit" class="button primary">{{ "account.profile_save"|trans({}, 'account')|desc("Opslaan") }}</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
