div.fold {
	display: flex;
	flex-direction: column;

	/// Kleur staat er hier nog een keer expliciet bij voor de combinatie van de header met de margin die in
	/// section.first wordt toegevoegd
	background-color: $color-primary;

	&--white {
		background-color: #ffffff;
	}

	header {
		flex: 0 0 auto;
	}

	section {
		flex: 1 0 auto;
	}
}

main {
	flex: 1 0 auto;
}