footer {
	flex-shrink: 0;
	background-color: $color-secondary;

	div.links {
		@include make-lg-column(6);
		@include make-md-column(6);
		@include make-sm-column(6);
		@include make-xs-column(12);

		margin-top: $unit-two;
		margin-bottom: $unit-two;

		border-right: 1px solid $color-secondary-dark;

		div.wrapper {
			text-align: right;
			padding: 0 $unit-one 0 $unit-one;

			ul {
				li {
					margin-bottom: $unit-quarter;

					a {
						@include font-sans-serif-weight-normal();
						@include font-sans-serif-size-normal();

						color: $gray-dark;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	div.social {
		@include make-lg-column(6);
		@include make-md-column(6);
		@include make-sm-column(6);
		@include make-xs-column(12);

		margin-top: $unit-two;
		margin-bottom: $unit-two;

		div.wrapper {
			text-align: left;
			padding: 0 $unit-one 0 $unit-one;

			ul {
				@include clearfix();

				li {
					float: left;

					margin-right: $unit-quarter;

					a {
						display: block;

						width: 28px;
						height: 28px;

						@include on-event() {
							text-decoration: none;
						}
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}

			address, span {
				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-small();

				color: $gray-dark;

				a {
					color: $gray-dark;;
				}
			}

			address {
				margin-bottom: $unit-quarter;
			}
		}
	}

	@include respond-to('xs') {
		div.links {
			margin-top: $unit-one;
			margin-bottom: $unit-half;

			border-right: none;

			div.wrapper {
				text-align: center;
				padding-bottom: 0;

				ul {
					padding-bottom: $unit-one;
					border-bottom: 2px solid $color-primary;
				}
			}
		}

		div.social {
			margin-top: $unit-half;
			margin-bottom: $unit-one;

			div.wrapper {
				text-align: center;

				ul {
					display: inline-block;
					margin-bottom: $unit-quarter;
				}
			}
		}
	}
}
