header {
	display: block;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: $zindex-navbar-fixed;

	padding: $unit-one 0 $unit-one 0;
	background-color: #ffffff;

	div.separator {
		width: 2px;
		background-color: $color-gray-light;
		height: 50px;
		margin: 0 $unit-one 0 $unit-one;
		@include respond-to-and-smaller('sm'){
			display: none;
		}
	}

	div.top {
		//@include clearfix();

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		$top-correction: 3px;
		$content-height: 41px;

		.top__left{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.top__mid{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.top__right{
			display: flex;
			justify-content: space-between;
			align-items: center;
			a.button{
				padding: 0;
			}
		}

		/*
		 * Toggle voor slidebars
		 */
		a.slidebar {
			color: $color-gray;

			i:before {
				font-size: 40px;
			}

			@include respond-to('xs') {
			}
		}



		/*
		 * Logo
		 */
		a.logo {
			@include on-event(true) {
				text-decoration: none;
			}

			div.logo-brand {
				display: inline-block;

				width: 41px;
				height: $content-height;

				@include img-retina('../images/logo-brand.png', '../images/logo-brand@2x.png', 41px, 41px);
			}

			div.logo-text {
				display: inline-block;

				width: 83px;
				height: $content-height;

				@include img-retina('../images/logo-text.png', '../images/logo-text@2x.png', 83px, 41px);

				margin-left: 5px;

				@include respond-to('xs') {
					display: none;
				}
			}
		}

		/*
		 * Pagina met een tekstuele titel
		 */
		div.page-title {
			display: block;

			div.logo-brand {
				float: left;
			}

			span {
				display: inline-block;
				float: left;

				@include font-sans-serif-size-large();
				@include font-sans-serif-weight-bold();

				height: $content-height;
				line-height: 41px;

				color: $color-primary;
				margin-left: $unit-half;

				@include respond-to('xs') {
					display: none;
				}
			}
		}

		/*
		 * Selectie van de shop
		 */
		div.shop {
			margin-left: $unit-one;

			a {
				display: block;

				color: $color-gray-dark;
				padding: $unit-quarter $unit-half $unit-quarter $unit-half;

				border: 2px solid $color-gray-lighter;
				border-radius: $border-radius-base;

				i {
					vertical-align: middle;

					&.down-2 {
						display: inline;
					}

					&.up-2 {
						display: none;
					}
				}

				@include on-event() {
					text-decoration: none;

					border-color: $color-gray-superlight;
					background-color: $color-gray-superlight;
				}
			}

			@include respond-to('xs') {
				display: none;
			}
		}

		/*
		 * Account gegevens + dropdown
		 */
		div.account {
			@include font-sans-serif-weight-normal();
			@include font-sans-serif-size-small();

			margin-left: $unit-one;

			@include respond-to-and-smaller('sm'){
				display: none !important;
			}

			display: none;

			a.name, span.name {
				color: $color-gray-dark;
				line-height: $content-height;
			}

			a.name {
				@include on-event() {
					color: $color-primary-dark;
					text-decoration: none;
				}
			}

			div.dropdown {
				display: inline-block;

				ul.dropdown-menu {
					li.dropdown-header {
						display: none;
					}
				}

				@include respond-to('xs') {
					margin-right: $unit-half;

					ul.dropdown-menu {
						li.dropdown-header {
							display: block;
						}
					}

					&.account {
						span.firstname {
							display: none;
						}
					}
				}
			}

			span.split {
				height: 100%;

				margin: 0 $unit-half 0 $unit-quarter;
				border-right: 2px solid $color-gray-light;

				@include respond-to('xs') {
					display: none;
				}
			}

			a.button {
				@include button-variant(#ffffff, $color-primary-dark, transparent);

				padding: 11px 12px;

				span.badge {
					@include font-sans-serif-size-tiny();

					color: #ffffff;
					background-color: $color-secondary;
				}

				&.banana {
					@include button-variant(#ffffff, $color-secondary, transparent);

					span.badge {
						color: #000000;
						background-color: $color-gray-lighter;
					}
				}

				@include respond-to('xs') {
					@include button-variant(#ffffff, $color-gray-light, transparent);
				}
			}

			@include respond-to('xs') {
				span.lastname {
					display: none;
				}
			}

			@include respond-to-and-smaller('sm') {
				span.help {
					display: none;
				}
			}
		}
	}

	.search{
		padding: $unit-quarter $unit-half $unit-quarter $unit-half;

		border: 2px solid $color-gray-lighter;
		border-radius: $border-radius-base;

		position: relative;

		@include respond-to('xs') {
			position: absolute;
			left: 20%;
		}

		input{
			&::placeholder{
				color: $color-gray-dark;
			}
			font-size: 14px;
			line-height: 1.42857;
			color: $color-text;
			background-color: #fff;
			background-image: none;
			border: none;
			width: 140px;
		}

		button{
			background: transparent none;

			color: $color-primary;
			margin-left: 20px;
			padding: 0;

			@include respond-to('xs'){
				margin-left: 0;
			}
		}
	}

	/*
	 * Dropdown van de shops
	 */
	div.shop-dropdown {
		@include make-row();

		display: none;
		margin-top: $unit-one;

		div.shops {
			@include make-sm-column(5);
			@include make-md-column(4);
			@include make-lg-column(4);

			li {
				margin-bottom: $unit-quarter;

				a {
					display: block;

					color: $color-gray-dark;
					padding: $unit-padding;

					border-radius: $border-radius-base;

					@include on-event() {
						text-decoration: none;
						background-color: $color-gray-superlight;
					}

					&.active {
						color: #ffffff;
						background-color: $color-primary;
					}

					&.privacy {
						@include on-event() {
							text-decoration: none;
							color: #ffffff;
							background-color: $color-secondary;
						}
					}
				}
			}

			@include respond-to-and-smaller('md') {
				margin-bottom: $unit-one;
			}
		}

		div.categories {
			@include make-sm-column(4);
			@include make-md-column(4);
			@include make-lg-column(4);

			li {
				margin-bottom: $unit-quarter;

				a {
					display: block;

					color: $color-text;
					padding: $unit-padding;

					border-radius: $border-radius-base;

					@include on-event() {
						text-decoration: none;
						background-color: $color-secondary;
					}

					&.active {
						color: $color-text;
						background-color: $color-secondary-dark;
					}
				}
			}
		}

		div.templates {
			@include make-sm-column(3);
			@include make-md-column(4);
			@include make-lg-column(4);

			> div {
				@include make-row();

				ul {
					@include make-xs-column(12);
					@include make-sm-column(12);
					@include make-md-column(12);
					@include make-lg-column(12);

					li {
						margin-bottom: $unit-quarter;

						a {
							display: block;

							width: 100%;
							color: $color-text;

							padding: ($unit-padding / 2) $unit-padding ($unit-padding / 2) $unit-padding;

							word-wrap: break-word;
							hyphens: auto;

							@include on-event() {
								color: $color-primary;
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		.button {
			background-color: $color-primary-light;
			color: #ffffff;
			font-weight: bold;
			text-align: left;
			display: flex;
			flex-direction: row;
			align-items: center;

			&:hover {
				background-color: $color-primary;
			}

			div.icon {
				margin-right: 1rem;

				i {
					font-size: 20px;
				}
			}


		}
	}

	/*
	 * Header classes t.b.v. headroom.js
	 */
	&.header {
		transition: all 200ms linear;
		box-shadow: 0px 4px 22px -10px rgba(0, 0, 0, 0.20);
	}

	&.header-pinned {
		transform: translateY(0%);
		box-shadow: 0px 4px 22px -10px rgba(0, 0, 0, 0.20);
	}

	&.header-not-top {
		box-shadow: 0px 4px 22px -10px rgba(0, 0, 0, 0.20);
	}

	&.header-unpinned {
		transform: translateY(-100%);
	}

	&.header-shops {
		box-shadow: 0px 4px 22px -10px rgba(0, 0, 0, 0.20);

		div.top {
			div.shop {
				i.down-2 {
					display: none;
				}

				i.up-2 {
					display: inline;
				}
			}
		}

		div.shop-dropdown {
			display: block;
		}

		&.header {
			position: absolute;
		}

		&.header-pinned, &.header-unpinned {
			transform: none;
		}
	}

	&.with-banner {
		padding-top: 0;

		div.banner {
			position: relative;
			display: block;

			text-align: center;

			padding: $unit-quarter $unit-one $unit-quarter $unit-one;
			margin-bottom: $unit-one;

			background-color: $color-gray-lighter;

			> div.container {
				display: none;

				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-small();

				color: $color-gray-darker;

				a {
					color: $color-gray-darker;
					text-decoration: underline;
				}

				a[data-role="hide-banner"] {
					position: absolute;
					top: 50%;
					right: $unit-quarter;
					margin-right: 15px;
					margin-top: -8px;

					text-decoration: none;
				}
			}
		}
	}

	///
	/// Variant van de header voor XS schermen
	///
	@include respond-to('xs') {
		padding-top: $unit-padding;
		padding-bottom: $unit-padding;
		padding-bottom: $unit-padding;

		&.header-shops {
			div.shop-dropdown {
				display: none;
			}
		}

		&.with-banner {
			div.banner {
				margin-bottom: $unit-padding;
			}
		}
	}
}

.sub_banner{
	z-index: 100;
	background-color: $color-secondary;
	height: 100px;
	display: none;

	.container{
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: #ffffff;
		width: 100%;
		@include font-sans-serif-size-large();

		.content{
			color: inherit;
			flex: 1 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			&:hover{
				text-decoration: none;
			}

			.vertical-line{
				width: 1px;
				background-color: #ffffff;
				height: 50px;
				margin: 0 20px;
			}

			.award_text{
				@include font-sans-serif-size-normal();
				@include font-sans-serif-weight-normal();
				flex-direction: column;

				@include respond-to('xs'){
					width: 150px;
				}
			}
		}

		a[data-role="hide-awards-banner"] {
			position: absolute;
			top: 50%;
			right: $unit-quarter;
			margin-right: 15px;
			margin-top: -12px;
			color: #ffffff;

			text-decoration: none;
		}
	}
}

.header--proxy{
	position: relative;
	visibility: hidden;
}
