section {
	/*
	 * Standaardverhoudingen voor content
	 */
	div.container {
		> div.row {
			> div.content {
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(12);
				@include make-lg-column(12);

				> div.blocks {
					@include make-xs-column(12);

					margin-bottom: $unit-one;
				}

				> div.help {
					@include font-sans-serif-weight-normal();
					@include font-sans-serif-size-small();

					color: $color-gray;

					margin-top: $unit-half;
				}

				div.centered-content {
					text-align: center;

					margin-bottom: $unit-two;
				}

				div.split-half {
					@include make-row($unit-two);

					margin-bottom: -$unit-two;

					> div.half {
						@include make-xs-column(12, $unit-two);
						@include make-sm-column(12, $unit-two);
						@include make-md-column(6, $unit-two);
						@include make-lg-column(6, $unit-two);

						margin-bottom: $unit-two;

						> div.box {
							padding: $unit-one;
							background-color: $color-gray-superlight;
						}
					}

					@include respond-to-and-smaller('sm') {
						margin-bottom: -$unit-one;

						> div.half {
							margin-bottom: $unit-one;
						}
					}
				}
				div.split-third {
					@include make-row($unit-two);

					margin-bottom: -$unit-two;

					> div.third {
						@include make-xs-column(12, $unit-two);
						@include make-sm-column(12, $unit-two);
						@include make-md-column(4, $unit-two);
						@include make-lg-column(4, $unit-two);

						margin-bottom: $unit-two;

						> div.box {
							padding: $unit-one;
							background-color: $color-gray-superlight;
						}
					}

					@include respond-to-and-smaller('sm') {
						margin-bottom: -$unit-one;

						> div.half {
							margin-bottom: $unit-one;
						}
					}
				}
			}

			&.with-aside {
				> div.content {
					@include make-md-column(8);
					@include make-lg-column(9);

					text-align: left;

					@include respond-to-and-smaller('sm') {
						margin-bottom: $unit-one;
					}
				}

				> aside {
					@include make-xs-column(12);
					@include make-sm-column(12);
					@include make-md-column(4);
					@include make-lg-column(3);

					text-align: left;
				}

				&.balanced {
					> div.content {
						@include make-md-column(6);
						@include make-lg-column(7);
					}

					> aside {
						@include make-md-column(5);
						@include make-md-column-offset(1);

						@include make-lg-column(4);
						@include make-lg-column-offset(1);
					}
				}
			}

			&.with-inner {
				> div.content {
					div.inner {
						padding: $unit-one;
						background-color: $color-secondary;

						&.padded {
							padding: $unit-two;
						}
					}
				}

				&.with-aside {
					&.balanced {
						> div.content {
							@include make-md-column(7);
							@include make-lg-column(8);
						}

						> aside {
							@include make-md-column(5);
							@include make-md-column-offset(0);

							@include make-lg-column(4);
							@include make-lg-column-offset(0);
						}
					}
				}

				@include respond-to('xs') {
					> div.content {
						div.inner {
							div.split-half {
								> div.half {
									padding-bottom: $unit-one;
									border-bottom: 1px solid $color-gray-superlight;

									&:last-child {
										padding-bottom: 0;
										border-bottom: 0;
									}
								}
							}

							div.split-third {
								> div.third {
									padding-bottom: $unit-one;
									border-bottom: 1px solid $color-gray-superlight;

									&:last-child {
										padding-bottom: 0;
										border-bottom: 0;
									}
								}
							}

							&.padded {
								padding: $unit-one;
							}
						}
					}
				}
			}
		}
	}

	&.first {

	}

	&.content {
		padding-top: $unit-two;
		padding-bottom: $unit-two;
	}
}
