{% extends 'shared/base.html.twig' %}

{% do orders.setTemplate('shared/templates/pagination.html.twig') %}

{% set paginationHtml = knp_pagination_render(orders) %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside with-inner">
                <aside>
                    <div class="blocks">
                        <div class="row">
                            {% include ':frontend/account/_includes:submenu.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <div class="inner">
                        {% include ':shared/_includes:flash.html.twig' %}

                        <h1>{{ "account.orders_title"|trans({}, 'account')|desc("Bestellingen") }}</h1>

                        {% if orders is empty %}
                            <p class="alert alert-warning">
                                {{ "account.dashboard_no_orders"|trans({"%url%" : path('app.frontend.templates.search', { host: app.request.host }) }, 'account')|desc("U heeft nog geen bestellingen gestart. <a href='%url%'>Kies nu uw eerste document</a> om een bestelling te starten.")|raw }}
                            </p>
                        {% else %}
                            <table class="summary">
                                <thead>
                                    <tr>
                                        <th>{{ "account.orders_document_name"|trans({}, 'account')|desc("Documentnaam") }}</th>
                                        <th class="hidden-xs">{{ "account.orders_document_status"|trans({}, 'account')|desc("Status") }}</th>
                                        <th class="hidden-xs">{{ "account.orders_document_started"|trans({}, 'account')|desc("Gestart") }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td><a href="{{ path('app.frontend.order', { host: app.request.host, templateSlug: order.template.slug, orderId: order.id }) }}" target="_blank">{{ order.template.title }}</a></td>
                                            <td class="hidden-xs">{{ ('order.status.' ~ order.status)|trans() }}</td>
                                            <td class="hidden-xs">{{ order.timestampCreated|localizeddate('medium', 'none') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if paginationHtml %}
                                <div class="navigation below">
                                    <div class="row">
                                        {{ paginationHtml|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
