{% extends 'shared/base.html.twig' %}

{% set pageTitle = referrer.title %}
{% set customHeader = true %}

{% block googleDataLayer %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        window.dataLayer.push({
            'ecommerce': {
                'impressions': [
                    {%- for template in templates -%}
                    { 'id': '{{ template.id }}', 'name': '{{ template.title|escape('js') }}', 'price': {{ (template.unitPrice.amount / 100)|number_format(2) }}, 'brand': '{{ template.partner.title|escape('js') }}', 'category': '{{ template.primaryCategory.title|escape('js') }}', 'list': 'text.partner_age'|trans|desc("Partnerpagina"), 'position': {{ loop.index }} }{%- if not loop.last %},{% endif -%}
                    {% endfor -%}
                ]
            },
            'ipaddress': '{{ app.request.clientIp }}',
            'profileId':'{{ app.request.get('_profile').id|escape('js') }}'
        });
    </script>
{% endblock %}

{% block body %}
    <div class="fold">
        <section class="top-nav">
            <div class="content">
                <div class="container">
                    <nav>
                        <div class="logo-wrapper">
                            <a href="/" class="logo pull-left">
                                <div class="logo-brand"></div>
                                <div class="logo-text"></div>
                            </a>
                            <a href class="menu-button">
                                <svg width="22" height="24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 6a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Zm0 6a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Zm1 5a1 1 0 1 0 0 2h14a1 1 0 1 0 0-2H3Z" fill="#E64415"></path></svg>
                            </a>
                        </div>

                        <div class="links hide-mobile">
                            <a href="https://legalfit.eu/services">Diensten</a>
                            <a href="https://legalfit.eu/about">Over Legal Fit</a>
                            <a href="https://legalfit.eu/contact">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero first">
            <div class="content">
                <div class="container">
                    <div class="hero__text">
                        <h1 data-component="ColoredText">
                            Stel eenvoudig juridische documenten op met Legal Fit
                        </h1>
                        <ul>
                            <li>
                                <div class="check-icon"></div>
                                <span>Keuze uit ruim 140 documenten</span>
                            </li>
                            <li>
                                <div class="check-icon"></div>
                                <span>Juridisch waterdicht</span>
                            </li>
                            <li>
                                <div class="check-icon"></div>
                                <span>Regel alles 24/7 online</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero-sub">
            <div class="content">
                <div class="container">
                    <h4>Legal Fit is een initiatief van Nationale-Nederlanden</h4>
                    <h4>Eenvoudig - Zorgeloos - Betaalbaar</h4>
                </div>
            </div>
        </section>

        <section class="templates">
            <div class="container">
                <div class="templates">
                <div class="row">
                    <div class="formatted-text">
                        <div class="header">
                            <h2>Geselecteerd door {{ referrer.title }}:</h2>
                            <a href="{{ path('app.frontend.templates.search', { host: referrer.profile.host}) }}" class="all-documents">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60" xml:space="preserve">
                                    <path d="M30 0C13.458 0 0 13.458 0 30s13.458 30 30 30 30-13.458 30-30S46.542 0 30 0zm15.563 30.826-22 15a1.002 1.002 0 0 1-1.03.058A.999.999 0 0 1 22 45V15a.999.999 0 0 1 1.564-.826l22 15a1.001 1.001 0 0 1-.001 1.652z"/>
                                </svg>

                                <span>Bekijk alle documenten</span>
                            </a>
                        </div>
                    </div>

                    <div class="grid">
                        {% for template in templates %}
                            <div class="template">
                                <div class="inner">
                                    <a href="{{ templateUrl(template, referrer = referrer) }}" class="details" target="_blank">
                                        <div class="text">
                                            <span class="title">{{ template.title }}</span>
                                            <span class="category">{{ template.primaryCategory.title }}</span>
                                            <span class="excerpt">{{ template.excerpt }}</span>
                                        </div>
                                    </a>

                                    {% if template.partner.countryProfile %}
                                        <div class="price">
                                            {% if template.unitPrice.amount == "0" %}
                                                Gratis
                                            {% else %}
                                                {% set decimals = template.unitPrice.amount|slice(-2) %}
                                                {{ template.unitPrice.currency == "EUR" ? "€" : template.unitPrice.currency }}
                                                {{ template.unitPrice.amount|slice(0, -2) }}{% if decimals == "00" %},-{% else %}{{ decimals }}{% endif %}
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            template.unitPrice|price(freeText=true)
                                        </div>
                                    {% endif %}

                                    <div class="link__wrapper">
                                        <a href="{{ templateUrl(template) }}" class="button">
                                            Bekijk document
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {% if loop.index == 2 %}
                                <div class="template">
                                    <div class="recommendation">
                                        <div class="referrer">
                                            <h3>Aanbevolen door:</h3>
                                            <img src="{{ referrerLogoUrl(referrer) }}" />
                                        </div>

                                        <div class="separator"></div>

                                        <div class="quote">
                                            <svg fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                            </svg>

                                            <p>Heel <strong>makkelijk</strong>, fijn dat je het document zelf ook nog kan aanpassen.</p>
                                        </div>

                                        <div class="rating">
                                            <p><u>Gemiddelde beoordeling</u> <strong>8.7</strong></p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="help">
                        <div class="document-icon"></div>

                        <div class="main">
                            <h3>
                                Moeite met kiezen? Gebruik onze advieswizard en krijg de documenten die voor jou van belang zijn. Of bel vrijblijvend met onze jurist.
                            </h3>

                            <div class="buttons">
                                <a class="button primary" href="{{ path('app.frontend.wizard', { host: referrer.profile.host}) }}">Help mij zoeken</a>
                                <a class="button phone" href="tel:0883279826">Bel: 088-3279826</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
