{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="form-group row">
            {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:item', { route: app.request.attributes.get('_route'), route_params: app.request.attributes.get('_route_params'), profile: invoice.profile, disable_locale: true })) }}
        </div>
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ invoice.code }}</h6>
            <h2 class="dashhead-title">Details factuur</h2>
        </div>
        <div class="dashhead-toolbar">
            {{ form_start(toolbar) }}
            <div class="btn-group dashhead-toolbar-item btn-group-thirds">
                <a href="{{ path('app.backend.financial.invoices.index', { 'profile_id': invoice.profile.id, view: app.request.get('view') }) }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
                {{ form_widget(toolbar.synchronize, { class: 'btn btn-outline-primary' }) }}
            </div>
            {{ form_end(toolbar) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Factuurnummer</strong>
                <span class="col-sm-6">{{ invoice.code }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Intern ID</strong>
                <span class="col-sm-6"><code>{{ invoice.id }}</code></span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Status</strong>
                <div class="col-sm-6">
                    <span class="badge text-uppercase {% if invoice.status.isPending %}badge-info{% elseif invoice.status.isPaid %}badge-success{% else %}badge-default{% endif %}">{{ ('invoice.status.' ~ invoice.status)|trans() }}</span>
                </div>
            </div>

            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Exclusief btw</strong>
                <span class="col-sm-6">{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency) : invoice.subtotal|price() }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">btw-bedrag</strong>
                <span class="col-sm-6">{{ invoice.profile ? (invoice.vatAmount.amount/100)|localizedcurrency(invoice.profile.currency) : invoice.vatAmount|price() }} ({{ invoice.vatPercentage }}%)</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Inclusief btw</strong>
                <span class="col-sm-6">{{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency) : invoice.total|price() }}</span>
            </div>
            <div class="row mt-4 mb-2">
                <div class="col-sm-12">
                    <a href="{{ path('app.backend.financial.invoices.stream_pdf', { invoiceId: invoice.id }) }}" class="btn btn-primary">Download PDF</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Factuurdatum</strong>
                <span class="col-sm-6">{{ invoice.timestampIssued|date() }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Vervaldatum</strong>
                <span class="col-sm-6">{{ invoice.timestampDue|date() }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Betaaldatum</strong>
                <span class="col-sm-6">{% if invoice.timestampPaid %}{{ invoice.timestampPaid|date() }}{% else %}-{% endif %}</span>
            </div>

            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Bedrijfsnaam</strong>
                <span class="col-sm-6">
                    {% if customer.companyName %}
                        <a href="{{ path('app.backend.customers.default.details', { customerId: customer.id }) }}">{{ customer.companyName }}</a>
                    {% else %}
                        Niet opgegeven
                    {% endif %}
                </span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Contactpersoon</strong>
                <span class="col-sm-6">
                    {% if customer.companyName %}
                        {{ customer.name }}
                    {% else %}
                        <a href="{{ path('app.backend.customers.default.details', { customerId: customer.id }) }}">{{ customer.name }}</a>
                    {% endif %}
                </span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">E-mailadres</strong>
                <span class="col-sm-6"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Factuurregels</h2>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Omschrijving</th>
                    <th>Bestelling</th>
                    <th>Aantal</th>
                    <th>Stukprijs</th>
                    <th>Totaal</th>
                </tr>
                </thead>
                <tbody>
                {% for item in invoice.items %}
                    <tr>
                        <th scope="row">{{ item.title }}</th>
                        <td>{% if item.order %}<code><a href="{{ path('app.backend.orders.default.details', { orderId: item.order.id }) }}">{{ item.order.code }}</a></code>{% else %}-{% endif %}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ invoice.profile ? (item.price.amount/100)|localizedcurrency(invoice.profile.currency) : item.price|price() }}</td>
                        <td>{{ invoice.profile ? (item.total.amount/100)|localizedcurrency(invoice.profile.currency) : item.total|price() }}</td>
                    </tr>
                {% endfor %}
                {% for discount in invoice.discounts %}
                    <tr>
                        <th scope="row">Kortingscodes</th>
                        <td><code>{{ discount.discount.code }}</code></td>
                        <td>1</td>
                        <td>
                            {% if discount.type.is('percentage') %}
                                - {{ discount.percentage }}%
                            {% else %}
                                - {{ invoice.profile ? (discount.amount.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : discount.amount|price }}
                            {% endif %}
                        </td>
                        <td>
                            {% if discount.type.is('percentage') %}
                                - {{ (invoice.itemsTotal.amount/100 * discount.percentage/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) }}
                            {% else %}
                                - {{ invoice.profile ? (discount.amount.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : discount.amount|price }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <th colspan="2">Subtotaal:</th>
                        <td>{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : invoice.subtotal|price }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        {% if customer.vat and customer.address.country != 'NL' %}
                            <th colspan="2">btw verlegd:</th>
                        {% else %}
                            <th colspan="2">{{ invoice.vatPercentage }}% btw:</th>
                        {% endif %}
                        <td>{{ invoice.profile ? (invoice.vatAmount.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : invoice.vatAmount|price }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <th colspan="2">Totaal:</th>
                        <td>{{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency, invoice.profile.mainLocale) : invoice.total|price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Betalingen</h2>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Transactie ID</th>
                        <th>Status</th>
                        <th>Betaalmethode</th>
                        <th>Bedrag</th>
                        <th>Datum/tijd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in invoice.payments %}
                        <tr>
                            <th scope="row"><a href="{{ mollieStatusUrl(payment) }}" target="_blank">{{ payment.transactionId }}</a></th>
                            <td>{{ ('payment.status.' ~ payment.status)|trans() }}</td>
                            <td>{{ ('payment.method.' ~ payment.method)|trans() }}</td>
                            <td>{{ invoice.profile ? (payment.amount.amount/100)|localizedcurrency(invoice.profile.currency) : payment.amount|price() }}</td>
                            <td>{{ payment.timestampRequested|date() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}