{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Facturen</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item show-search-button">
                <a href="#" class="btn btn-outline-primary"><i class="fa fa-filter"></i></a>
            </div>
        </div>
    </div>
    <div class="search-block {{ enabledSearch ? 'clicked' : '' }}">
        <hr/>
        <h4>Filter</h4>
        <form class="search-form">
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    <label class="col-form-label control-label" for="search-invoice-number">Factuurnummer</label>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    <input class="form-control" id="search-invoice-number" type="text" name="invoiceNumber" title="Factuurnummer" value="{{ searchAttributesBag.get('invoiceNumber') }}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary submit-search-button">Filter</button>
            <button type="reset" class="btn btn-warning reset-button">Reset Filter</button>
        </form>
        <hr/>
    </div>
    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
        {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:menu', { route: app.request.attributes.get('_route'), route_params: app.request.attributes.get('_route_params'), disable_locale: true })) }}
    </div>

    <div class="table-responsive mt-4">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Factuurnummer</th>
                    <th>Status</th>
                    <th>Klant</th>
                    <th>Bedrag excl.</th>
                    <th>Bedrag incl.</th>
                    <th>Vervaldatum</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.financial.invoices.details', { invoiceId: invoice.id, view: app.request.get('view') }) }}">{{ invoice.code }}</a></th>
                        <td>{{ ('invoice.status.' ~ invoice.status)|trans() }}</td>
                        <td><a href="{{ path('app.backend.customers.default.details', { customerId: invoice.customer.id }) }}">{{ invoice.customer.listingName }}</a></td>
                        <td>{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency) : invoice.subtotal|price() }}</td>
                        <td>{{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency) : invoice.total|price() }}</td>
                        <td>{{ invoice.timestampDue|date() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}