<div class="inner">
    <div class="text">
        <ul class="benefits">
            <li>{{ "text.pay_via_ideal_creditcard_paypal"|trans|desc("Betaling via iDeal, creditcard of op factuur") }}</li>
            <li>{{ 'text.safe_order_and_ssl'|trans|desc('Veilig bestellen en betalen via SSL') }}</li>
            <li>{{ 'text.made_by_top_jursts'|trans|desc('Gemaakt door topjuristen') }}</li>
            <li><a href="{{ path('app.frontend.pages.page', {'code': 'tevredenheidsgarantie', 'host': app.request.host}) }}">{{ 'text.100_percent_money_back_guarantee'|trans|desc('100% tevredenheidsgarantie') }}</a></li>
        </ul>
    </div>
</div>

