<div class="block with-bottom">
    {% include ':shared/_blocks:benefits-inner.html.twig' %}
    <div class="bottom">
        {{ "text.questions_call_or_mail_us"|trans({'%email%': helpdesk.email, '%phone%': helpdesk.phone })|desc("Vragen? <a href=\"mailto:%email%\">Mail ons</a> of bel <strong>%phone%</strong>")|raw }}
    </div>
</div>

<div class="block" id="feedback_widget">
    <div class="inner">
        <!-- Feedback Company Widget (start) -->
        <script type="text/javascript" id="__fbcw__ed9db691-f3f7-4695-bdf3-349d837372ea">
            "use strict";!function(){
                window.FeedbackCompanyWidgets=window.FeedbackCompanyWidgets||{queue:[],loaders:[
                    ]};var options={uuid:"ed9db691-f3f7-4695-bdf3-349d837372ea",version:"1.2.1",prefix:""};if(
                    void 0===window.FeedbackCompanyWidget){if(
                    window.FeedbackCompanyWidgets.queue.push(options),!document.getElementById(
                        "__fbcw_FeedbackCompanyWidget")){var scriptTag=document.createElement("script")
                ;scriptTag.onload=function(){if(window.FeedbackCompanyWidget)for(
                    ;0<window.FeedbackCompanyWidgets.queue.length;
                )options=window.FeedbackCompanyWidgets.queue.pop(),
                        window.FeedbackCompanyWidgets.loaders.push(
                            new window.FeedbackCompanyWidgetLoader(options))},
                    scriptTag.id="__fbcw_FeedbackCompanyWidget",
                    scriptTag.src="https://www.feedbackcompany.com/includes/widgets/feedback-company-widget.min.js"
                    ,document.body.appendChild(scriptTag)}
                }else window.FeedbackCompanyWidgets.loaders.push(
                        new window.FeedbackCompanyWidgetLoader(options))}();
        </script>
        <!-- Feedback Company Widget (end) -->
    </div>
</div>
