<div class="spacer tall"></div>
<div class="blocks share">
    <div class="row">
        <h5>Delen via:</h5>
        <a href="https://twitter.com/home?status=bekijk%20{{ template.title|url_encode }}%20nu%20op%20{{ templateAbsoluteUrl(template)|url_encode }}" target="_blank" class="icon">
            <i class="flaticon social twitter-1"></i>
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ templateAbsoluteUrl(template)|url_encode }}&title={{ template.title|url_encode }}&summary=&source=" class="icon">
            <i class="flaticon social linkedin-1"></i>
        </a>
    </div>
</div>
