{% extends 'shared/base.html.twig' %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside with-inner">
                <aside>
                    <div class="blocks">
                        <div class="row">
                            {% include ':frontend/account/_includes:submenu.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <div class="inner">
                        {% include ':shared/_includes:flash.html.twig' %}

                        <h1>{{ "account.dashboard_title"|trans({}, 'account')|desc("Uw account") }}</h1>
                        <div class="text formatted-text">
                            <p>{{ "account.dashboard_text"|trans({}, 'account')|desc("Met uw Legal Fit Documenten Selfservice-account heeft u één centrale plaats waar u al uw bestellingen, facturen en documenten kunt inzien.") }}</p>
                        </div>

                        <div class="spacer"></div>

                        <div class="text formatted-text">
                            <h2>{{ "account.dashboard_recent_orders"|trans({}, 'account')|desc("Recente bestellingen") }}</h2>
                            <div class="spacer"></div>
                        </div>
                        {% if recentOrders is empty %}
                            <p class="alert alert-warning">
                                {{ "account.dashboard_no_orders"|trans({"%url%" : path('app.frontend.templates.search', { host: app.request.host }) }, 'account')|desc("U heeft nog geen bestellingen gestart. <a href='%url%'>Kies nu uw eerste document</a> om een bestelling te starten.")|raw }}
                            </p>
                        {% else %}
                            <table class="summary">
                                <thead>
                                    <tr>
                                        <th>{{ "account.dashboard_document_name"|trans({}, 'account')|desc("Documentnaam") }}</th>
                                        <th class="hidden-xs">{{ "account.dashboard_status"|trans({}, 'account')|desc("Status") }}</th>
                                        <th class="hidden-xs">{{ "account.dashboard_started"|trans({}, 'account')|desc("Gestart") }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in recentOrders %}
                                        <tr>
                                            <td><a href="{{ path('app.frontend.order', { host: app.request.host, templateSlug: order.template.slug, orderId: order.id }) }}" target="_blank">{{ order.template.title }}</a></td>
                                            <td class="hidden-xs">{{ ('order.status.' ~ order.status)|trans() }}</td>
                                            <td class="hidden-xs">{{ order.timestampCreated|localizeddate('medium', 'none') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
