{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set pageTitle = "label.advice_wizard"|trans|desc("Documentzoeker") %}

{% block body %}
    <div class="fold">
        {% include ':shared:header.html.twig' %}
        <section class="first">
            <div class="top">
                <div class="container">
                    <div class="breadcrumbs">
                        <a href="/" class="breadcrumb__link">Home</a>{{ pageTitle }}
                    </div>
                    <h1>{{ "label.advice_wizard"|trans|desc("Documentzoeker") }}</h1>
                    <span class="tagline">{{ "text.advice_trouble_choosing"|trans|desc("Moeite met kiezen? Gebruik onze documentzoeker en krijg de documenten die voor u van belang zijn.") }}</span>
                </div>
            </div>
            <div class="body">
                <div class="container">
                    <div class="row visible-xs">
                        <div class="content">
                            <div class="formatted-text">
                                <h2>{{ "header.choose_type_organisation"|trans|desc("Kies uw soort organisatie") }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row balanced with-aside">
                        <div class="content">
                            <div class="links">
                                {% for type in types %}
                                    <a href="{{ path('app.frontend.wizard.activities', { typeSlug: type.slug, host: app.request.host }) }}" class="link">
                                        {{ type.title }}
                                        <i class="flaticon stroke right-2"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <aside>
                            <div class="summary">
                                <div class="text">
                                    <h2>{{ "header.choose_type_organisation_you_work_for"|trans|desc("Waar bent u naar op zoek?") }}</h2>
                                    <p>{{ "text.organisation_not_in_list"|trans|desc("Selecteer het onderwerp waar u meer over wilt weten. Staat er het gewenste onderwerp niet bij? Vraag dan via de chat om advies aan een van onze juridische adviseurs of klik op onderstaande button om uw vraag te mailen.") }}</p>
                                    <div class="spacer"></div>
                                    <a href="{{ path('app.frontend.contact', { 'host': app.request.host }) }}" class="button" data-role="intercom:new-message" data-message="{{ "intercom_new_message"|trans|desc("Hallo! Ik wil graag persoonlijk advies voor mijn bedrijf, kunnen jullie mij helpen?") }}">{{ "button.ask_your_question"|trans|desc("Stel uw vraag") }}</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Intercom('trackEvent', 'opened-wizard');
    </script>
{% endblock %}
