{% extends 'shared/base.html.twig' %}

{% set pageTitle = template.title %}
{% set pageDescription = template.excerpt %}

{% set customHeader = true %}
{% set canonicalUrl = templateAbsoluteUrl(template) %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        setTimeout(function(){
           $('#start_template_form form').submit();
        }, 2500);
    </script>
{% endblock %}

{% block body %}
    <section class="first content">
        <div id="start_template_form">
            {{ form_start(form) }}
            <input type="hidden" name="start_document_token" value="{{ startDocumentToken }}" />
            {{ form_end(form) }}
        </div>

        <div class="container">
            <div class="hourglass-icon"></div>

            <h1 data-component="ColoredText">
                2 tellen geduld, je document wordt opgestart
            </h1>
        </div>
    </section>
{% endblock %}
