@include for-module('frontend', 'referrers') {
	section {
		text-align: center;

		&.top-nav {
			background-color: white;

			nav {
				display: flex;
				flex-direction: column;

				@include respond-to-and-larger('xs') {
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					.menu-button {
						display: none;
					}
				}

				padding: $unit-half 0;
			}

			.logo-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-grow: 1;
			}

			.links {
				margin-top: $unit-half;
				@include font-sans-serif-weight-bold();

				a {
					color: $color-gray-darker;
					margin-left: $unit-half;
				}

				&.hide-mobile {
					display: none;

					@include respond-to-and-larger('xs') {
						display: block;
					}
				}

				@include respond-to-and-larger('xs') {
					display: block;
					margin-top: 0;
				}
			}
		}

		/*
		 * Logo
		 */
		a.logo {
			$content-height: 41px;

			@include on-event(true) {
				text-decoration: none;
			}

			div.logo-brand {
				display: inline-block;

				width: 41px;
				height: $content-height;

				@include img-retina('../images/logo-brand.png', '../images/logo-brand@2x.png', 41px, 41px);
			}

			div.logo-text {
				width: 83px;
				height: $content-height;

				@include img-retina('../images/logo-text.png', '../images/logo-text@2x.png', 83px, 41px);

				margin-left: 5px;
				display: none;

				@include respond-to-and-larger('xs') {
					display: inline-block;
				}
			}
		}

		/*
		 * Titel
		 */
		&.logo {
			padding-top: $unit-two;
			padding-bottom: $unit-two;

			background-color: #ffffff;

			div.container {
				padding-left: $unit-two;
				padding-right: $unit-two;

				img {
					@include img-responsive();

					width: 300%;
					max-width: 300px;

					margin: 0 auto 0 auto;
				}
			}

		}

		/*
		 * Balk met de tekst
		 */
		&.text {
			padding-top: $unit-one * 3;
			padding-bottom: $unit-one * 3;

			div.tagline {
				display: inline-block;

				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-large();

				color: #ffffff;

				max-width: $screen-md-min;

				p {
					margin-bottom: $unit-one;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a {
					color: #ffffff;
					text-decoration: underline;

					&:hover {
						color: #000000;
					}
				}
			}

			div.credits {
				@include font-sans-serif-weight-normal();
				@include font-sans-serif-size-normal();

				color: #ffffff;
				margin-top: $unit-one;

				a.logo {
					display: inline-block;

					width: 45px;
					height: 45px;

					vertical-align: middle;
					margin-left: 5px;

					@include img-retina('../images/logo-brand.png', '../images/logo-brand@2x.png', 45px, 45px);
				}
			}
		}

		/**
	 	 * Hero
		 */
		&.hero {
			padding-bottom: 0;

			&.first {
				text-align: left;
				background-image: url("../images/partner-hero.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;

				display: flex;
				justify-content: center;
				align-items: flex-start;

				padding: 60px 0 60px 0;
			}

			/**
		 	 * Content van de hero (blokken)
		     */
			div.content {
				.hero__text {
					@include make-lg-column(6);
					@include make-sm-column(8);
					@include make-xs-column(12);
					padding: $unit-one;

					background-color: #ffffff;

					color: $color-text;
					font-size: 1.8rem;
					line-height: 1.25;

					h1 {
						color: $color-primary-light;
						font-size: 56px;
						line-height: 1.1;

						@include respond-to('xs') {
							font-size: 32px;
						}
					}

					ul {
						list-style-type: none;
						list-style-position: inside;

						li {
							margin-bottom: $unit-quarter;
							display: flex;
							align-items: center;

							.check-icon {
								display: inline-block;
								width: 28px;
								height: 28px;
								margin-right: $unit-quarter;
								background-image: url("../images/check.svg");
								background-repeat: no-repeat;
								background-size: cover;
							}

							span {
								@include font-sans-serif-size-large;
								@include font-sans-serif-weight-bold;
							}
						}
					}
				}
			}
		}

		&.hero-sub {
			background-color: $color-gray-superlight;
			padding: $unit-half 0;

			.container {
				margin: 0 auto;
				display: flex;
				flex-direction: column;

				@include respond-to-and-larger('sm') {
					flex-direction: row;
					justify-content: space-between;
				}

				h4 {
					color: $color-gray-darker;
					@include font-sans-serif-weight-bold();
					text-align: left;

					&:last-child {
						color: $color-primary;
					}
				}

				&::before,
				&::after {
					content: none;
				}
			}
		}

		/*
		 * Section Templates
		 */
		&.templates {
			padding-top: $unit-two;
			padding-bottom: $unit-two;
			background-color: white;

			div.container {
				max-width: 1020px;

				div.formatted-text {
					color: $color-gray-darker;
					margin-bottom: 0;

					* {
						color: $color-gray-darker;
					}

					h2 {
						@include font-sans-serif-size-header-medium();

						@include respond-to-and-larger('md') {
							@include font-sans-serif-size-header-large();
						}

						margin: 0;
						color: $color-primary-light;
						text-align: left;
					}
				}

				div.templates {
					padding: 0 15px;

					>div.row {
						div.template {
							hyphens: auto;
							margin-bottom: 0;

							div.inner {
								height: 100%;
								display: flex;
								flex-direction: column;

								.price {
									@include font-sans-serif-weight-bold();
									@include font-sans-serif-size-xlarge();
									color: $text-color;
									text-align: left;
									padding: 0 30px;
									margin-top: auto;
									position: relative;
									top: auto;
									right: auto;

									small {
										font-size: 60%;
									}
								}

								.details {
									padding: $unit-one $unit-one $unit-half;

									div.text {
										span.title {
											@include font-sans-serif-weight-bold();
											@include font-sans-serif-size-xlarge();
											line-height: 1.2em;
										}

										span.category {
											@include font-sans-serif-weight-bold();
											@include font-sans-serif-size-normal();
											color: $text-color;
											margin-top: $unit-quarter;
											text-transform: none;
										}

										span.excerpt {
											@include font-sans-serif-size-normal();
											color: $color-gray-dark;
											margin-top: $unit-half;
											display: block;
										}

										p {
											@include font-sans-serif-weight-normal();
											@include font-sans-serif-size-small();
											color: $color-text;
										}
									}
								}

								a.button {
									padding: 0.6rem 1.1rem;
									display: block;
									background-color: $color-primary;
									margin-top: $unit-quarter;
									text-align: center;
								}
							}
						}

						div.recommendation {
							display: flex;
							flex-direction: column;
							height: 100%;

							div.referrer {
								padding: $unit-quarter;
								@include font-sans-serif-weight-bold();

								img {
									max-width: $unit-two * 3;
								}
							}

							div.separator {
								margin: auto;
								background: white;
								min-height: $unit-half;
							}

							div.quote {
								background-color: $color-gray-superlight;
								padding: $unit-one * 0.75;
								text-align: left;

								svg {
									width: $unit-one * 1.5;
									height: $unit-one * 1.5;
									color: $color-primary;
								}

								p {
									@include font-sans-serif-size-xlarge();
									line-height: 1.2;
									margin-top: $unit-quarter;

									strong {
										@include font-sans-serif-weight-bold();
									}
								}
							}

							div.rating {
								background-color: $color-primary-light;
								color: white;
								padding: $unit-quarter / 2;

								strong {
									@include font-sans-serif-weight-bold();
								}
							}
						}
					}
				}
			}

			div.grid {
				display: grid;

				@include respond-to-and-larger('sm') {
					grid-template-columns: repeat(2, minmax(0, 1fr));
				}

				@include respond-to-and-larger('md') {
					grid-template-columns: repeat(3, minmax(0, 1fr));
				}

				gap: $unit-one;
				$shadow-width: 10px;
			}

			div.header {
				display: flex;
				justify-content: space-between;
				margin-bottom: $unit-half;
				flex-direction: column;

				@include respond-to-and-larger('md') {
					flex-direction: row;
					align-items: center;
				}

				a.all-documents {
					* {
						color: $color-primary !important;
					}

					@include font-sans-serif-weight-bold();
					display: flex;
					align-items: center;

					@include respond-to-and-smaller('sm') {
						margin-top: $unit-half;
					}

					svg {
						width: $unit-half * 1.25;
						height: $unit-half * 1.25;
						margin-right: $unit-quarter;
						fill: currentColor;
					}
				}
			}

			div.help {
				background-color: $color-gray-superlight;
				margin: $unit-one 0;
				display: flex;

				padding: $unit-one;

				@include respond-to-and-larger('sm') {
					padding: $unit-two;
				}

				.document-icon {
					display: inline-block;
					width: 103px;
					height: 124px;
					background-image: url("../images/document.svg");
					background-repeat: no-repeat;
					background-size: cover;
					flex-shrink: 0;
					margin-right: $unit-two * 1.5;

					@include respond-to-and-smaller('sm') {
						display: none;
					}
				}

				div.main {
					text-align: left;

					h3 {
						@include font-sans-serif-size-xlarge();

						@include respond-to-and-larger('sm') {
							@include font-sans-serif-size-xxlarge();
						}

						color: $text-color;
						line-height: 1.2 !important;
						max-width: $screen-sm-min;
					}

					div.buttons {
						margin-top: $unit-one;
						display: flex;
						flex-direction: column;

						@include respond-to-and-larger('xs') {
							flex-direction: row;
						}

						a.button {
							padding: 0.6rem 1.1rem;
							display: block;
							text-align: center;
							@include font-sans-serif-weight-bold();
							margin-right: $unit-half;
							border-width: 1px;
							width: auto;

							&.phone {
								background-color: transparent;
								border-color: $color-primary;
								color: $color-primary;
							}
						}
					}
				}
			}
		}
	}
}