{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set pageTitle = "header.juridical_advice"|trans|desc("Juridisch advies") ~ " " ~ type.title|decapitalize %}

{% block body %}
    <div class="fold">
        {% include ':shared:header.html.twig' %}
        <section class="first">
            <div class="top">
                <div class="container">
                    <div class="breadcrumbs">
                        <a href="/" class="breadcrumb__link">Home</a><a href="{{ path('app.frontend.wizard', { host: app.request.host }) }}" class="breadcrumb__link">{{ "label.advice_wizard"|trans|desc("Documentzoeker") }}</a>{{ pageTitle }}
                    </div>
                    <h1>{{ type.title }}</h1>
                    {% if type.description %}
                        <span class="tagline">{{ type.description }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="body">
                <div class="container">
                    <div class="row visible-xs">
                        <div class="content">
                            <div class="formatted-text">
                                <h2>{{ "header.choose_your_activities"|trans|desc("Kies uw activiteiten") }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row balanced with-aside">
                        <div class="content">
                            {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="options">
                                    {% for activity in type.activities %}
                                        <div class="option" role="checkbox">
                                            {{ form_widget(form.activities[activity.id.string]) }}
                                            <div class="text">
                                                {{ activity.title }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="buttons">
                                    <div class="back">
                                        <i class="flaticon stroke left-2"></i> <a href="{{ path('app.frontend.wizard', { host: app.request.host }) }}">{{ "text.back_to_organisation_type"|trans|desc("Terug naar soort organisatie") }}</a>
                                    </div>
                                    <div class="next">
                                        {{ form_widget(form.generate) }}
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                        <aside>
                            <div class="summary">
                                <div class="text">
                                    <h2>{{ "text.which_activities"|trans|desc("Welke activiteiten voert u uit?") }}</h2>
                                    <p>{{ "text.which_activities_text"|trans|desc("De juridische documenten die u nodig heeft zijn afhankelijk van de activiteiten die uw bedrijf uitvoert. Wij hebben de meest voorkomende activiteiten voor u uitgezocht. Voert uw bedrijf een specifieke activiteit uit waarvoor u graag juridische zekerheid wilt? Wij adviseren u graag!") }}</p>
                                    <div class="spacer"></div>
                                    <a href="{{ path('app.frontend.contact', { host: app.request.host }) }}" class="button" data-role="intercom:new-message" data-message="{{ "intercom_new_message"|trans }}">{{ "button.ask_your_question"|trans }}</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Intercom('trackEvent', 'started-wizard', {
            type: '{{ type.title|escape('js') }}'
        });
    </script>
{% endblock %}
