{% extends 'shared/base.html.twig' %}

{% set customHeader = true %}
{% set pageTitle = "head.please_your_advice"|trans|desc("Alstublieft, uw advies!") %}

{% block googleDataLayer %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        dataLayer.push({
            'ecommerce': {
                'impressions': [
                    {%- for template in templates -%}
                    { 'id': '{{ template.id }}', 'name': '{{ template.title|escape('js') }}', 'price': {{ (template.unitPrice.amount / 100)|number_format(2) }}, 'brand': '{{ template.partner.title|escape('js') }}', 'category': '{{ template.primaryCategory.title|escape('js') }}', 'list': '{{ "head.advice_wizard"|trans }}', 'position': {{ loop.index }} }{%- if not loop.last %},{% endif -%}
                    {% endfor -%}
                ]
            },
            'ipaddress': '{{ app.request.clientIp }}',
            'profileId':'{{ app.request.get('_profile').id|escape('js') }}'
        });
    </script>
{% endblock %}

{% block body %}
    <div class="fold">
        {% include ':shared:header.html.twig' %}
        <section class="first">
            <div class="top">
                <div class="container">
                    <div class="breadcrumbs">
                        <a href="/" class="breadcrumb__link">Home</a><a href="{{ path('app.frontend.wizard', { host: app.request.host }) }}" class="breadcrumb__link">{{ "label.advice_wizard"|trans|desc("Documentzoeker") }}</a>{{ pageTitle }}
                    </div>
                    <h1>{{ "head.please_your_advice"|trans|desc("Alstublieft, uw advies!") }}</h1>
                    <span class="tagline">{{ "text.wizard_activities_intro"|trans|desc("Op uw soort organisatie en de activiteiten die u uitvoert adviseren wij u om de volgende overeenkomsten te overwegen. Wilt u graag dat een van onze juristen uw specifieke situatie bespreekt? Dat kan!") }}</span>
{#                    <div class="spacer"></div>#}
{#                    <a href="#" class="button" data-role="intercom:new-message" data-message="{{ "intercom.advice_about_type"|trans({'%title%': type.title})|desc("Hallo! Ik wil graag persoonlijk advies over %title%, kunnen jullie mij helpen?") }}">{{ "button.i_want_personal_advice"|trans|desc("Ik wil persoonlijk advies") }}</a>#}
                </div>
            </div>
            <div class="body">
                <div class="container">
                    <div class="content">
                        <div class="formatted-text">
                            <h2>{{ "header.selected_documents"|trans|desc("De voor u geadviseerde documenten") }}</h2>
                        </div>
                        <div class="templates templates-4">
                            <div class="row">
                                {% for template in templates %}
                                    <div class="template">
                                        <div class="inner">
                                            {% if template.partner.countryProfile %}
                                                <div class="price">
                                                    {% if template.unitPrice.amount == "0" %}
                                                        {{ "price.free"|trans|desc("Gratis") }}
                                                    {% else %}
                                                         {{ template.unitPrice.amount|slice(0, -2) }}
{% set decimals = template.unitPrice.amount|slice(-2) %}
                                                        <sup>{% if decimals == "00" %},-{% else %}{{ decimals }}{% endif %}</sup>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <div class="price">
                                                    template.unitPrice|price(freeText=true)
                                                </div>
                                            {% endif %}
                                            <a href="{{ templateUrl(template) }}" class="details">
                                                <div class="document-icon"></div>
                                                <div class="text">
                                                    <span class="title">{{ template.title }}</span>
                                                    <span class="category">{{ template.primaryCategory.title }}</span>
                                                    <p>{{ template.excerpt }}</p>
                                                </div>
                                            </a>
                                            <div class="link__wrapper">
                                                <a href="{{ templateUrl(template) }}" class="button">
                                                    Bekijk document
                                                    {% include ":svg:arrow-right.svg.twig" %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if loop.index % 2 == 0 %}<div class="row hidden-xs hidden-lg"></div>{% endif %}
                                    {% if loop.index % 3 == 0 %}<div class="row visible-lg"></div>{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Intercom('trackEvent', 'completed-wizard', {
            type: '{{ type.title|escape('js') }}'
        });
    </script>
{% endblock %}
