{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Ontvangen van JuriBlox</h6>
            <h2 class="dashhead-title">Updates</h2>
        </div>
    </div>
{% endblock %}