{% extends 'shared/base.html.twig' %}

{% set pageTitle = template.title %}
{% set pageDescription = template.excerpt %}

{% set canonicalUrl = templateAbsoluteUrl(template) %}

{# Gemiddeld aantal minuten/seconden voor een bestelling, standaard 5 minuten #}
{% set orderMinutes = (template.orderCount > 1) ? template.orderSeconds // 60 : 5 %}
{% set orderSeconds = (template.orderCount > 1) ? template.orderSeconds - orderMinutes * 60 : 0 %}

{% set inboxMinutesText = (orderMinutes != 0) ? orderMinutes + 1 : 1  %}

{% set orderMinutesText = (orderMinutes != 1) ? orderMinutes : 1 %}
{% set orderSecondsText = (orderSeconds != 1) ? orderSeconds : 1 %}

{% if inboxMinutesText is defined %}
    {% set minutes = inboxMinutesText %}
{% else %}
    {% set minutes = 5 %}
{% endif %}

{% block googleDataLayer %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        dataLayer.push({
            'ecommerce': {
                'detail': {
                    'products': [
                        { 'id': '{{ template.id }}', 'name': '{{ template.title|escape('js') }}', 'price': {{ (template.unitPrice.amount / 100)|number_format(2) }}, 'brand': '{{ template.partner.title|escape('js') }}', 'category': '{{ template.primaryCategory.title|escape('js') }}', 'quantity': 1 }
                    ]
                }
            },
            'ipaddress':'{{ app.request.clientIp }}',
            'profileId':'{{ app.request.get('_profile').id|escape('js') }}.'
        });
    </script>
{% endblock %}

{% block opengraph %}
    <meta property="og:type" content="product" />
    <meta property="og:title" content="{{ template.title|escape('html_attr') }}" />
    <meta property="product:brand" content="NN & {{ template.partner.title|escape('html_attr') }}" />
    <meta property="product:category" content="{{ template.primaryCategory.title|escape('html_attr') }}" />
    <meta property="product:price:amount" content="{{ (template.unitPrice.amount / 100)|number_format(2) }}" />
    <meta property="product:price:currency" content="EUR" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $('#start-order').on('click', function () {

            dataLayer.push({
                'eventCategory': 'Order',
                'eventAction': 'buttonpress',
                'eventLabel': 'Start Order'
            });

        });
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Product",

            "brand": "NN & {{ template.partner.title|e }}",
            "category": "{{ template.primaryCategory.title|e }}",
            "description": "{{ template.description|markdown|replace({'\"': '\\"'})|raw }}",
            "logo": "{{ absolute_url(asset('public/opengraph-image.jpg')) }}",
            "manufacturer": "{{ template.partner.title|e }}",
            "name": "{{ template.title|e }}",
            "offers": {
                {% if template.monthlyPrice %}
                    "@type": "AggregateOffer",
                    "lowPrice": {{ template.yearlyPrice.greaterThan(template.unitPrice) ? (template.unitPrice.amount / 100)|number_format(2) : (template.yearlyPrice.amount / 100)|number_format(2) }},
                    "highPrice": {{ template.yearlyPrice.greaterThan(template.unitPrice) ? (template.yearlyPrice.amount / 100)|number_format(2) : (template.unitPrice.amount / 100)|number_format(2) }},
                    "offerCount": 2,
                    "offers": [
                        {
                            "@type": "Offer",
                            "addOn": [
                                {
                                    "@type": "Offer",
                                    "description": "{{ "text.a_manual_check_of_your_document_by_one_of_our_experienced_jurists"|trans|desc("Een handmatige controle van uw document door een van onze ervaren juristen. Zo weet u altijd zeker dat het document voer uw situatie volledig klopt.") }}",
                                    "name": "{{ "text.manual_check"|trans|desc("30 minuten juridisch advies") }}",
                                    "price": {{ (template.checkPrice.amount / 100)|number_format(2) }},
                                    "priceCurrency": "EUR"
                                }
                            ],
                            "description": "{{ 'delivered_within_x_minutes'|transchoice(inboxMinutesText)|desc("{1} Binnen %count% minuut geleverd|]1,Inf[ Binnen %count% minuten geleverd") }}",
                            "name": "{{ "text.one_time_document"|trans|desc("Eenmalig document") }}",
                            "price": {{ (template.unitPrice.amount / 100)|number_format(2) }},
                            "priceCurrency": "EUR"
                        },
                        {
                            "@type": "Offer",
                            "description": "{{ "text.for_a_fixed_price_per_year_with_updates"|trans|desc("Voor een vast bedrag per jaar, met updates én een hosted versie") }}",
                            "name": "{{ "text.subscription"|trans|desc("Abonnement") }}",
                            "price": {{ (template.yearlyPrice.amount / 100)|number_format(2) }},
                            "priceCurrency": "EUR",
                            "addOn": [
                                {
                                    "@type": "Offer",
                                    "description": "{{ "text.a_manual_check_of_your_document_by_one_of_our_experienced_jurists"|trans|desc("Een handmatige controle van uw document door een van onze ervaren juristen. Zo weet u altijd zeker dat het document voer uw situatie volledig klopt.") }}",
                                    "name": "{{ "text.manual_check"|trans|desc("30 minuten juridisch advies") }},
                                    "price": {{ (template.checkPrice.amount / 100)|number_format(2) }},
                                    "priceCurrency": "EUR"
                                }
                            ]
                        }
                    ],
                    "priceCurrency": "EUR"
                {% else %}
                    "@type": "Offer",
                    "addOn": [
                        {
                            "@type": "Offer",
                            "description": "{{ "text.a_manual_check_of_your_document_by_one_of_our_experienced_jurists"|trans|desc("Een handmatige controle van uw document door een van onze ervaren juristen. Zo weet u altijd zeker dat het document voer uw situatie volledig klopt.") }}",
                            "name": "{{ "text.manual_check"|trans|desc("30 minuten juridisch advies") }},
                            "price": {{ (template.checkPrice.amount / 100)|number_format(2) }},
                            "priceCurrency": "EUR"
                        }
                    ],
                    "isRelatedTo": {
                        "@type": "Service",
                        "description": "{{ "text.custom_changes_in_document"|trans|desc("Maatwerk aanpassingen in het document, waarbij onze juristen samen met u het document volledig aanpassen en aanvullen voor uw situatie.") }}",
                        "name": "{{ "text.custom_changes"|trans|desc("Contactaanvraag") }}"
                    },
                    "name": "{{ "text.one_time_document"|trans|desc("Eenmalig document") }}",
                    "description": "{{ 'delivered_within_x_minutes'|transchoice(inboxMinutesText)|desc("{1} Binnen %count% minuut geleverd|]1,Inf[ Binnen %count% minuten geleverd") }}",
                    "price": {{ (template.unitPrice.amount / 100)|number_format(2) }},
                    "priceCurrency": "EUR"
                {% endif %}
            },
            "potentialAction" : {
                "@type": "OrderAction",
                "target" : "{{ templateUrl(template, null, null, true) }}"
            },
            "sku": "{{ template.id }}",
            "url": "{{ templateUrl(template, null, null, true) }}"
        }
    </script>
{% endblock %}

{% block body %}
    <section class="first content">
        {{ form_start(form) }}
            <div class="container">
                <div class="row balanced with-aside">
                    <div class="content">
                        <div class="breadcrumbs">
                            <a href="/">Home</a><a href="{{ path('app.frontend.templates.category', { categorySlug: template.primaryCategory.slug, host: app.request.host }) }}">{{ template.primaryCategory.title }}</a>{{ template.title }}
                        </div>
                        <h1 data-component="ColoredText">{{ template.title }}</h1>

                        {% if template.description %}
                            <div class="text formatted-text">
                                {{ template.description|markdown|raw }}
                            </div>
                        {% endif %}

                        <div class="spacer tall"></div>
                        <div class="blocks share">
                            <div class="row">
                                <h5>{{ "text.order.share"|trans|desc("Delen via:") }}</h5>
                                <a href="https://twitter.com/home?status=Bestel%20ook%20een%20{{ template.title|url_encode }}%20op%20DAS%20Documenten%20Self%20Service!%20{{ templateAbsoluteUrl(template)|url_encode }}" target="_blank" class="icon">
                                   <div class="icon icon--twitter"></div>
                                </a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ templateAbsoluteUrl(template)|url_encode }}&title={{ template.title|url_encode }}&summary={{ template.excerpt }}&source=" class="icon">
                                    <div class="icon icon--linkedin"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <aside>
                        <div class="blocks">
                            <div class="row">
                                <div class="block with-bottom">
                                    <div class="inner">
                                        <div class="info">
                                            {% if template.service %}
                                                <div class="service-icon"></div>
                                            {% else %}
                                                <div class="document-icon"></div>
                                            {% endif %}
                                            <div class="text">
                                                <span class="title">{{ template.title }}</span>
                                                {% if template.service %}
                                                    <ul class="benefits">
                                                        <li>Altijd een vaste prijs</li>
                                                        <li>Geen verrassingen achteraf</li>
                                                        <li>Helder en begrijpelijk advies</li>
                                                    </ul>
                                                {% else %}
                                                    <ul class="benefits">
                                                        <li>{{ 'delivered_within_x_minutes'|transchoice(minutes)|desc("{1} Binnen %count% minuut geleverd|]1,Inf[ Binnen %count% minuten geleverd") }}</li>
                                                        <li>Voldoet aan actuele wet- en regelgeving</li>
                                                        <li>Krijg direct uw document in PDF en Word</li>
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="price">
                                            {% if template.unitPrice.zero %}
                                                {{ "price.free"|trans|desc("Gratis") }}
                                            {% else %}
                                                {{ template.unitPrice.amount|slice(0, -2) }}
                                                {% set decimals = template.unitPrice.amount|slice(-2) %}
                                                <sup>{% if decimals == "00" %},-{% else %}{{ decimals }}{% endif %}</sup>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="bottom centered">
                                        <button type="submit" class="button primary" data-template-id="{{ template.id }}" value="order">
                                            Start met document
                                        </button>
                                        <div class="spacer small"></div>
                                        <ul class="benefits benefits--extra">
                                            <li>100% tevredenheidsgarantie, niet goed geld terug</li>
                                        </ul>
                                    </div>
                                </div>
                                {% if not template.service %}
                                    {% if template.sample %}
                                        <div class="block">
                                            <div class="inner">
                                                <div class="preview">
                                                    <div class="preview__container">
                                                        <div class="preview__wrapper">
                                                            {% if template.preview %}
                                                                <div class="preview__holder" style="background-image: url('{{ templatePreviewUrl(template, 'default') }}')">
                                                                </div>
                                                            {% else %}
                                                                <div class="preview__holder" style="background-image: url('{{ asset('public/static/images/document.png', 'webpack') }}'); background-size: cover">
                                                                    <span class="preview__title">{{ template.title }}</span>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="download__wrapper">
                                                        <a href="{{ templateSampleUrl(template) }}" target="_blank" class="button primary">
                                                            <div class="icon">
                                                                <i class="flaticon solid down-square-3"></i>
                                                            </div>
                                                            <div class="text">
                                                                {{ "text.show_example"|trans|desc("Bekijk voorbeeld") }}
                                                                <small>{{ "text.download_as_pdf"|trans|desc("Download als PDF") }}</small>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="block">
                                        <div class="inner">
                                            <p>Onbeperkt juridische documenten opstellen? Neem het Legal Fit abonnement. Betaal € 299 per jaar en krijg ontbeperkt toegang tot meer dan 140 documenten.</p>
                                            <a class="button tertiary" href="{{ path('app.frontend.pages.express', { host: template.partner.countryProfile.host }) }}">Onbeperkt voor € 299 per jaar</a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="block" id="feedback_widget">
                                    <div class="inner">
                                        <!-- Feedback Company Widget (start) -->
                                        <script type="text/javascript" id="__fbcw__ed9db691-f3f7-4695-bdf3-349d837372ea">
                                            "use strict";!function(){
                                                window.FeedbackCompanyWidgets=window.FeedbackCompanyWidgets||{queue:[],loaders:[
                                                    ]};var options={uuid:"ed9db691-f3f7-4695-bdf3-349d837372ea",version:"1.2.1",prefix:""};if(
                                                    void 0===window.FeedbackCompanyWidget){if(
                                                    window.FeedbackCompanyWidgets.queue.push(options),!document.getElementById(
                                                        "__fbcw_FeedbackCompanyWidget")){var scriptTag=document.createElement("script")
                                                ;scriptTag.onload=function(){if(window.FeedbackCompanyWidget)for(
                                                    ;0<window.FeedbackCompanyWidgets.queue.length;
                                                )options=window.FeedbackCompanyWidgets.queue.pop(),
                                                        window.FeedbackCompanyWidgets.loaders.push(
                                                            new window.FeedbackCompanyWidgetLoader(options))},
                                                    scriptTag.id="__fbcw_FeedbackCompanyWidget",
                                                    scriptTag.src="https://www.feedbackcompany.com/includes/widgets/feedback-company-widget.min.js"
                                                    ,document.body.appendChild(scriptTag)}
                                                }else window.FeedbackCompanyWidgets.loaders.push(
                                                        new window.FeedbackCompanyWidgetLoader(options))}();
                                        </script>
                                        <!-- Feedback Company Widget (end) -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        {{ include('shared/_includes/floating-footer.html.twig') }}
        {{ form_end(form) }}
    </section>
{% endblock %}
