{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Kortingscode toevoegen</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.financial.discounts.index') }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.active) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-5">
                    {{ form_widget(form.active) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-5">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.code) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_widget(form.code) }}
                </div>
            </div>

            <h4 class="mt-4">Korting</h4>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.type) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.type) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.amount) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.amount) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.percentage) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.percentage) }}
                </div>
            </div>

            <h4 class="mt-4">Maximaal aantal gebruik</h4>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.maxUses) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    {{ form_widget(form.maxUses) }}
                </div>
            </div>

            <h4 class="mt-4">Koppeling</h4>
            <div class="form-group row form-has-templates">
                <br/>
                {{ form_label(form.hasTemplates) }}
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_errors(form.hasTemplates) }}
                    {{ form_widget(form.hasTemplates) }}
                </div>
            </div>
            <div class="form-group row form-templates">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.templates) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_errors(form.templates) }}
                    {{ form_widget(form.templates, { 'attr': { 'size': '15' } }) }}
                </div>
            </div>
            <div class="form-group row form-has-emails">
                <br/>
                {{ form_label(form.hasEmails) }}
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_errors(form.hasEmails) }}
                    {{ form_widget(form.hasEmails) }}
                </div>
            </div>
            <div class="form-group row form-emails">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.emails) }}
                </div>
                <div class="col-5 col-sm-4 col-md-4 col-lg-7 col-xl-5">
                    {{ form_errors(form.emails) }}
                    {{ form_widget(form.emails, { 'attr': { 'size': '15' } }) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Toevoegen</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
