{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Kortingscodes</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.financial.discounts.create') }}" class="btn btn-outline-primary" title="Kortingscode toevoegen"><i class="icon icon-circle-with-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Code</th>
                    <th>Korting</th>
                    <th>Ingeschakeld</th>
                    <th>Aantal/Max</th>
                </tr>
            </thead>
            <tbody>
                {% for discount in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.financial.discounts.edit', { discountId: discount.id }) }}">{{ discount.title|default(discount.code) }}</a></th>
                        <td><code>{{ discount.code }}</code></td>
                        <td>
                            {% if discount.type.is('percentage') %}
                                {{ discount.percentage }}% korting
                            {% else %}
                                {{ discount.amount|price }} korting
                            {% endif %}
                        </td>
                        <td>
                            {{ discount.active ? 'Ja' : 'Nee' }}
                        </td>
                        <td>
                            <a href="{{ path('app.backend.financial.discounts.usage', {'discountId': discount.id, 'profile_id': profile.id}) }}" class="btn btn-outline-primary" title="">
                                {{ discount.countUses }} / {{ discount.maxUses ? discount.maxUses : '-' }}
                            </a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}