{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Bestelde documenten {{ discount.code }}</h2>
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
        {{ render(controller('AppBundle:Backend/Shared/Helper/BackendProfileSelector:menu', { route: app.request.attributes.get('_route'), route_params: app.request.attributes.get('_route_params'), disable_locale: true })) }}
    </div>

    <div class="table-responsive mt-4">
        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th>Factuurnummer</th>
                <th>Template</th>
                <th>Status</th>
                <th>Type</th>
                <th>Klant</th>
                <th>Datum/tijd</th>
            </tr>
            </thead>
            <tbody>
            {% for invoiceItem in pagination %}
                <tr>
                    <th scope="row"><a href="{{ path('app.backend.financial.invoices.details', { invoiceId: invoiceItem.invoice.id, view: 'overview' }) }}">{{ invoiceItem.invoice.code }}</a></th>
                    <td>{{ invoiceItem.title }}</td>
                    <td>{{ ('invoice.status.' ~ invoiceItem.invoice.status)|trans() }}</td>
                    <td>{{ invoiceItem.order.type }}</td>
                    <td><a href="{{ path('app.backend.customers.default.details', { customerId: invoiceItem.invoice.customer.id }) }}">{{ invoiceItem.invoice.customer.listingName }}</a></td>
                    <td>{{ invoiceItem.invoice.timestampDue|date() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}