window.LegalFit = LegalFit = function () {
    if (typeof window.fetch === 'undefined') {
        throw Error('Your browser does not support the native Fetch API. Please update your browser.');
    }

    /**
     * Fetch the document from LegalFit.
     *
     * @returns Promise
     */
    this.fetch = function () {
        return new Promise(function (resolve, reject) {
            fetch('{{ url('app.hosted.embed.stream_json', { subscriptionId: subscription.id }) }}')
                .then(function (response) {
                    return response.text();
                })
                .then(function (data) {
                    resolve(JSON.parse(data));
                })
                .catch(function (reason) {
                    reject(reason);
                });
        });
    };

    /**
     * Fetch the document from LegalFit and return the Markdown output straight away.
     *
     * @returns Promise
     */
    this.fetchHtml = function () {
        const self = this;

        return new Promise(function (resolve, reject) {
            self
                .fetch()
                .then(function (data) {
                    resolve([data.html]);
                })
                .catch(function (reason) {
                    reject(reason);
                });
        });
    };

    /**
     * Fetch the document from LegalFit and return the Markdown output straight away.
     *
     * @returns Promise
     */
    this.fetchMarkdown = function () {
        const self = this;

        return new Promise(function (resolve, reject) {
            self
                .fetch()
                .then(function (data) {
                    resolve([data.markdown]);
                })
                .catch(function (reason) {
                    reject(reason);
                });
        });
    };
};
