{% extends 'shared/base.html.twig' %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside with-inner">
                <aside>
                    <div class="blocks">
                        <div class="row">
                            {% include ':frontend/account/_includes:submenu.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <div class="inner">
                        <h1>{{ "account.profile_title"|trans({}, 'account')|desc("Profiel") }}</h1>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.company_name) }}
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.vat) }}

                        <div class="spacer"></div>

                        <div class="formatted-text">
                            <span class="title">{{ "text.address_data"|trans|desc("Adresgegevens") }}</span>
                            <p>{{ "text.need_address_for_invoice"|trans|desc("Voor de tenaamstelling van de factuur die u (na betaling) van ons krijgt hebben wij uw adresgegevens nodig.") }}</p>
                        </div>
                        <div class="spacer"></div>
                        {{ form_row(form.address) }}

                        {{ form_row(form.vat) }}

                        <div class="spacer"></div>
                        <button type="submit" class="button primary">{{ "account.profile_save"|trans({}, 'account')|desc("Opslaan") }}</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
