{% extends 'backend/base.html.twig' %}

{% block body %}
    {% if template.corrupted %}
        <div class="row">
            <div class="col-sm-12 content">
                <div class="mb-5">
                    <div class="alert alert-danger">
                        De gegevens van dit template zijn corrupt, waardoor dit template niet wordt getoond op de website.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {{ render(controller('AppBundle:Backend/Shared/Helper/BackendPartnerSelector:item', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), 'template': template })) }}<br>
        </div>
    </div>

    <div class="dashhead mb-4 ">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ template.title }}</h6>
            <h2 class="dashhead-title">Details template</h2>
        </div>
        <div class="dashhead-toolbar">
            {{ form_start(toolbar) }}
            <div class="btn-group dashhead-toolbar-item btn-group-halves">
                {{ form_widget(toolbar.synchronize) }}
                {% if template.published %}<a href="{{ path('app.backend.templates.edit', { templateId: template.id }) }}" class="btn btn-outline-primary" title="Template bewerken"><i class="icon icon-edit"></i></a>{% endif %}
            </div>
            {{ form_end(toolbar) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Titel</strong>
                <span class="col-sm-6">{{ template.title }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Intern ID</strong>
                <span class="col-sm-6"><code>{{ template.id }}</code></span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Gepubliceerd</strong>
                <div class="col-sm-6">
                    {% if template.published %}Ja{% else %}<span class="badge badge-warning">NEE</span>{% endif %}
                </div>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Corrupt</strong>
                <div class="col-sm-6">
                    {% if template.corrupted %}<span class="badge badge-danger">JA</span>{% else %}Nee{% endif %}
                </div>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Spotlight</strong>
                <div class="col-sm-6">
                    {{ ('booleans.yes-no.' ~ template.spotlight|default(0))|trans() }}
                </div>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Verborgen</strong>
                <div class="col-sm-6">
                    {%  if template.hidden %}<span class="badge badge-danger">JA</span>{% else %}Nee{% endif %}
                </div>
            </div>
            {% if template.published %}
                <div class="row mt-4 mb-2">
                    <strong class="col-sm-4">Stukprijs</strong>
                    <span class="col-sm-6">{{ (template.unitPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}</span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Abonnementprijs</strong>
                    <span class="col-sm-6">{% if template.monthlyPrice %}{{ (template.monthlyPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}{% else %}Niet beschikbaar als abonnement{% endif %}</span>
                </div>
                <div class="row mt-4 mb-2">
                    <strong class="col-sm-4">Prijs Aangetekend Mailen</strong>
                    <span class="col-sm-6">{% if template.registeredEmailPrice %}{{ (template.registeredEmailPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}{% else %}Uitgeschakeld{% endif %}</span>
                </div>
                <div class="row mt-4 mb-2">
                    <strong class="col-sm-4">Permalink</strong>
                    <span class="col-sm-6"><code><a href="{{ templatePermalink(template) }}">Permalink</a></code></span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Shortlink</strong>
                    <span class="col-sm-6"><code><a href="{{ templateShortlink(template) }}">{{ templateShortlink(template) }}</a></code></span>
                </div>
                <div class="row mb-2">
                    <strong class="col-sm-4">Is een dienst</strong>
                    <div class="col-sm-6">{%  if template.service %}JA{% else %}Nee{% endif %}</div>
                </div>
            {% elseif not template.corrupted %}
                <div class="row mt-4 mb-2">
                    <div class="col-sm-12">
                        <a href="{{ path('app.backend.templates.publish', { templateId: template.id }) }}" class="btn btn-primary">Template publiceren</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Titel in JuriBlox</strong>
                <span class="col-sm-6">{{ template.remoteTitle }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">JuriBlox ID</strong>
                <span class="col-sm-6"><code>{{ template.remoteId }}</code></span>
            </div>
            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Kennispartner</strong>
                <span class="col-sm-6">{{ partner.title }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Kantoor ID</strong>
                <span class="col-sm-6"><code>{{ partner.remoteId }}</code></span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">API client ID</strong>
                <span class="col-sm-6"><code>{{ partner.clientId[:3] }}***</code></span>
            </div>
            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Gesynchroniseerd</strong>
                <span class="col-sm-6">{{ template.syncedTimestamp|date() }}</span>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="row mt-5">
            <div class="col-sm-8">
                <h2>Gerelateerde templates</h2>
            </div>
            <div class="col-sm-4">
                <div class="btn-group btn-group-halves float-right">
                    <a href="{{ path('app.backend.templates.edit.related', { templateId: template.id }) }}" class="btn btn-outline-primary" title="Gerelateerde templates koppelen"><i class="icon icon-edit"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Gepubliceerd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for related in template.related %}
                        <tr>
                            <th scope="row"><a href="{{ path('app.backend.templates.default.details', { templateId: related.id }) }}">{{ related.title }}</a></th>
                            <th scope="row">{{ related.published ? 'Ja' : 'Nee' }}</th>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2" class="pt-2 pb-2">
                                Er zijn geen gerelateerde templates gekoppeld.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if template.published %}
        <div class="row mt-5">
            <div class="col-sm-8">
                <h2>Categorieën</h2>
            </div>
            <div class="col-sm-4">
                <div class="btn-group btn-group-halves float-right">
                    <a href="{{ path('app.backend.templates.edit.categories', { templateId: template.id }) }}" class="btn btn-outline-primary" title="Template bewerken"><i class="icon icon-edit"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in categories %}
                            <tr>
                                <th scope="row">{{ link.category.title }}{% if link.primary %} <abbr title="Primaire categorie"><i class="icon icon-flag"></i></abbr>{% endif %}</th>
                                <td><code><a href="{{ templateUrl(link.template) }}" target="_blank">{{ templateUrl(link.template) }}</a></code></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Vragenlijst</h2>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Titel</th>
                </tr>
                </thead>
                <tbody>
                {% for step in template.questionSteps %}
                    <tr>
                        <th scope="row">Stap {{ loop.index }}</th>
                        <td>{{ step.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
