{% extends 'backend/base.html.twig' %}

{% if pagination %}
    {% do pagination.setTemplate('backend/pagination.html.twig') %}
{% endif %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Templates</h2>
        </div>
    </div>

    {{ render(controller('AppBundle:Backend/Shared/Helper/BackendPartnerSelector:menu', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params')})) }}

    <div class="table-responsive mt-4">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Status</th>
                    <th>Prijs eenmalig</th>
                    <th>Prijs abonnement</th>
                    <th>Prijs Aangetekend Mailen</th>
                    <th>Verborgen</th>
                    <th>Dienst</th>
                </tr>
            </thead>
            <tbody>
                {% for template in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.templates.default.details', { templateId: template.id }) }}">{{ template.title }}</a></th>
                        <td>{% if template.corrupted %}<span class="badge badge-danger text-uppercase">Corrupt</span>{% elseif not template.published %}<span class="badge badge-info text-uppercase">Nieuw</span>{% else %}Gepubliceerd{% endif %}</td>
                        <td>{% if template.unitPrice %}{{ (template.unitPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}{% else %}-{% endif %}</td>
                        <td>{% if template.monthlyPrice %}{{ (template.monthlyPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}{% else %}-{% endif %}</td>
                        <td>{% if template.registeredEmailPrice %}{{ (template.registeredEmailPrice.amount/100)|localizedcurrency(template.partner.countryProfile.currency) }}{% else %}-{% endif %}</td>
                        <td>{% if template.hidden == true %}<span class="badge badge-danger text-uppercase">Ja</span>{% else %}Nee{% endif %}</td>
                        <td>{% if template.service %}Ja{% else %}Nee{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {% if pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endif %}
    </div>
{% endblock %}
