{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ locale.locale }}</h6>
            <h2 class="dashhead-title">{{ mode == 'edit' ? 'Taal bewerken' : 'Nieuwe taal' }}</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.translation.profile.index') }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.locale) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_errors(form.locale) }}
                    {{ form_widget(form.locale) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Opslaan</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
