{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Talen</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.translation.locale.create') }}" class="btn btn-outline-primary" title="Taal toevoegen"><i class="icon icon-circle-with-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th>Taal</th>
            </tr>
            </thead>
            <tbody>
            {% for locale in pagination %}
                <tr>
                    <th scope="row"><a href="{{ path('app.backend.translation.locale.edit', {'id': locale.id}) }}">{{ locale.locale }}</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}