<footer class="floating-footer">
    <div class="container">
        <div class="floating-footer__wrapper">
            <div class="floating-footer__text">
                <span class="floating-footer__price">{{ template.unitPrice|price }}</span>
                <span>Exclusief BTW.</span>
            </div>
            <div class="floating-footer__buttons">
                <button type="submit" data-template-id="{{ template.id }}" value="order" id="start-order" class="floating-footer__order-button button reversed">Starten</button>
                {% if app.request.get('_profile').phone%}
                    <a href="tel:{{ app.request.get('_profile').phone }}" class="button reversed">
                        <i class="ss-phone"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
