{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h2 class="dashhead-title">Categorieën</h2>
        </div>
        <div class="dashhead-toolbar">
    {% if shop.profile.mainLocale == app.request.attributes.get('_locale') %}
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.settings.categories.create', { 'shop_id': shop.id }) }}" class="btn btn-outline-primary" title="Categorie toevoegen"><i class="icon icon-circle-with-plus"></i></a>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>

    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Beschrijving</th>
                    <th>Meta description</th>
                </tr>
            </thead>
            <tbody>
                {% for category in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.settings.categories.edit', { categoryId: category.id }) }}">{{ category.title }}</a></th>
                        <th scope="row">{% if category.description %}ja{% else %}nee{% endif %}</th>
                        <th scope="row">{% if category.metaDescription %}ja{% else %}nee{% endif %}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
