{% extends '@KnpMenu/menu.html.twig' %}

{% import _self as macros %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block root %}
    <ul class="nav navbar-nav">
        {{ parent() }}
    </ul>
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) %}
        {{ block('children') }}
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {%- set attributes = item.attributes %}

        {# CSS classes samenstellen #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- set classes = classes|merge(['nav-item']) %}

        {%- if matcher.isCurrent(item) or matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge({class: 'active'}) %}
        {%- endif %}

        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}

        <li{{ macros.attributes(attributes) }}>
            <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes|merge({'class': 'nav-link'})) }}>
                {% if item.attribute('icon')  %}
                    <span class="icon {{ item.attribute('icon') }}"></span>
                {% endif %}
                {{ item.label }}
                {% if item.attribute('badge') %}
                    {% if item.attribute('warning') %}
                        <span class="badge badge-warning">{{ item.attribute('badge') }}</span>
                    {% else %}
                        <span class="badge badge-default">{{ item.attribute('badge') }}</span>
                    {% endif %}
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endblock %}