{% extends '@KnpMenu/menu.html.twig' %}

{% import _self as macros %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block root %}
    <ul class="nav nav-pills nav-stacked">
        {{ parent() }}
    </ul>
{% endblock %}

{% block list %}
    {% for child in item.children %}
        {% if matcher.isCurrent(child) and child.hasChildren %}
            {% set item = child %}
            <li class="nav-header">{{ item.label }}</li>
            {{ block('children') }}
        {% else %}
            {% for grandchild in child.children %}
                {% if matcher.isCurrent(grandchild) %}
                    {% set item = grandchild.parent %}
                    <li class="nav-header">{{ item.label }}</li>
                    {{ block('children') }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {%- set attributes = item.attributes %}

        {# CSS classes samenstellen #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- set classes = classes|merge(['nav-item']) %}

        {%- if matcher.isCurrent(item) or matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge({class: 'active'}) %}
        {%- endif %}

        {# putting classes together #}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}

        {# displaying the item #}
        <li{{ macros.attributes(attributes|merge({'icon': null, 'badge': null})) }}>
            <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes|merge({'class': 'nav-link'})) }}>
                {{ item.label }}
                {% if item.attribute('badge') is not empty %}
                    {% if item.attribute('warning') %}
                        <span class="badge badge-warning">{{ item.attribute('badge') }}</span>
                    {% else %}
                        <span class="badge badge-default">{{ item.attribute('badge') }}</span>
                    {% endif %}
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endblock %}