{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ activity.title }}</h6>
            <h2 class="dashhead-title">Activiteit bewerken</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item">
                <a href="{{ path('app.backend.settings.wizard.activities.index', { typeId: activity.type.id }) }}" class="btn btn-outline-primary" title="Overzicht"><i class="icon icon-chevron-thin-left"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="form-group row">
                {{ render(controller('AppBundle:Backend/Shared/Helper/BackendCompanyTypeSelector:item', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params'), 'activity': activity })) }}
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                    {{ form_label(form.templates) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                    {{ form_widget(form.templates) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Opslaan</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
