{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Activiteiten voor {{ type.title }}</h6>
            <h2 class="dashhead-title">Documentzoeker</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item btn-group-thirds">
                <a href="{{ path('app.backend.settings.wizard.types.index', { 'profile_id': type.profile.id }) }}"
                   class="btn btn-outline-primary" title="Terug naar overzicht"><i
                            class="icon icon-chevron-thin-left"></i></a>
                <a href="{{ path('app.backend.settings.wizard.types.edit', { typeId: type.id }) }}"
                   class="btn btn-outline-primary" title="Scenario bewerken"><i class="icon icon-edit"></i></a>
                {% if type.profile.mainLocale == app.request.attributes.get('_locale') %}
                    <a href="{{ path('app.backend.settings.wizard.activities.create', { typeId: type.id }) }}"
                       class="btn btn-outline-primary" title="Activiteit toevoegen"><i
                                class="icon icon-circle-with-plus"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <p>De documentzoeker is ingedeeld aan de hand van scenario's met daaronder activiteiten. De
                activiteiten worden vervolgens aan templates gekoppeld, om zo een set geadviseerde templates per
                activiteit te krijgen.</p>
        </div>
    </div>

    {{ render(controller('AppBundle:Backend/Shared/Helper/BackendCompanyTypeSelector:menu', { 'route': app.request.attributes.get('_route'), 'route_params': app.request.attributes.get('_route_params')})) }}

    <div class="table-responsive mt-5">

        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th>Activiteit</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in pagination %}
                <tr>
                    <th scope="row"><a
                                href="{{ path('app.backend.settings.wizard.activities.edit', { typeId: type.id, activityId: activity.id }) }}">{{ activity.title }}</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
