{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Scenario's configureren</h6>
            <h2 class="dashhead-title">Documentzoeker</h2>
        </div>
        <div class="dashhead-toolbar">
            {% if profile.mainLocale == app.request.attributes.get('_locale') %}
                <div class="btn-group dashhead-toolbar-item">
                    <a href="{{ path('app.backend.settings.wizard.types.create', { 'profile_id': profile.id }) }}" class="btn btn-outline-primary"
                       title="Scenario toevoegen"><i class="icon icon-circle-with-plus"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <p>De documentzoeker is ingedeeld aan de hand van scenarios met daaronder activiteiten. De
                activiteiten worden vervolgens aan templates gekoppeld, om zo een set geadviseerde templates per
                activiteit te krijgen.</p>
        </div>
    </div>

    <div class="table-responsive mt-5">

        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th>Scenario</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for type in pagination %}
                <tr>
                    <th scope="row"><a
                                href="{{ path('app.backend.settings.wizard.activities.index', { typeId: type.id }) }}">{{ type.title }}</a>
                    </th>
                    <td><a href="{{ path('app.backend.settings.wizard.types.edit', { typeId: type.id }) }}">Bewerken</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
