@include for-controller('frontend', 'partners', 'default') {
  section.first {
    display: flex;
    flex-direction: column;

    text-align: center;
    padding-bottom: $unit-one * 3;

    /**
     * Bovenste helft
     */
    div.top {
      flex: 0 0 auto;

      margin: $unit-one * 4 0 $unit-one * 4 0;

      h1 {
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-header-large();

        @include respond-to-and-smaller('sm') {
          @include font-sans-serif-size-header-normal();
        }


        line-height: 1.2;

        color: #ffffff;
        margin-bottom: $unit-one;
      }
      span.tagline {
        display: inline-block;

        @include font-sans-serif-weight-normal();
        @include font-sans-serif-size-large();

        color: #ffffff;

        max-width: $screen-md-min;
      }
    }

    /**
     * Content
     */
    div.body {
      flex: 1 0 auto;

      div.container {
        div.content {
        }

        aside {
          div.block {
            border-left: 1px solid #ffffff;

            padding-left: $unit-one;
            margin-bottom: $unit-one;

            div.text {
              @include font-sans-serif-weight-normal();
              @include font-sans-serif-size-normal();

              @include formatted-text();

              color: #ffffff;
              text-align: left;

              padding: $unit-one 0 $unit-one $unit-one;

              h2 {
                color: #ffffff;
              }

              a {
                color: #ffffff;

                &.button {
                  @include button-variant(#ffffff, $color-secondary, transparent);
                  @include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

                  @include font-sans-serif-weight-bold();
                  @include font-sans-serif-size-large();
                }
              }
            }
          }
        }

        @include respond-to-and-smaller('sm') {
          div.content {
            padding-left: $unit-two !important;
            padding-right: $unit-two !important;
            div.partner_container{
              div.partner{
                text-align: center;
                div.logo{
                  float: none ;
                  width: 100%;
                  display: inline-block;
                  img{
                    width: 50%;
                    margin-bottom: 15px;
                  }
                }
                div.info{
                  float: none;
                }
              }
            }
          }

          aside {
            div.block {
              border-left: none;
              padding-left: 0;

              div.text {
                text-align: center;
                padding: $unit-half;
              }
            }
          }
        }
      }
    }
  }
}
