{% extends 'shared/base.html.twig' %}

{% set emoji = false %}

{% set funnelMode = true %}
{% set pageTitle = 'Status van uw bestelling'|trans|desc("Status van uw bestelling") %}

{% set callToAction = false %}

{% block googleDataLayer %}
    {% if invoice.paid and not order.googleConversionTracked %}
        <script>
            window.dataLayer = window.dataLayer || [];

            dataLayer.push({
                'event': 'orderCompleted',
                'ecommerce': {
                    'purchase': {
                        'actionField': {
                            'id': '{{ order.code }}',
                            'revenue': {{ (invoice.total.amount / 100)|number_format(2) }},
                            'tax': {{ (invoice.vatAmount.amount / 100)|number_format(2) }},
                            'coupon': '{% if order.discounts.count > 0 %}{{ order.discounts[0].code|escape('js') }}{% endif %}'
                        },
                        'products': [
                            {%- if order.type.is('unit') -%}
                                {% set productPrice = template.unitPrice %}
                                {% set productVariant = 'Eenmalig' %}
                            {% elseif order.type.is('subscription') -%}
                                {% set productPrice = template.yearlyPrice %}
                                {% set productVariant = 'Abonnement' %}
                            {%- endif %}

                            { 'id': '{{ template.id }}', 'name': '{{ template.title|escape('js') }}', 'brand': '{{ template.partner.title|escape('js') }}', 'category': '{{ template.primaryCategory.title|escape('js') }}', 'price': {{ (productPrice.amount / 100)|number_format(2) }}, 'variant': '{{ productVariant|escape('js') }}', 'coupon': '{% if order.discounts.count > 0 %}{{ order.discounts[0].code|escape('js') }}{% endif %}', 'quantity': 1 },
                            {% if order.checkRequested -%}
                                { 'name': 'Handmatige controle', 'price': {{ (template.checkPrice.amount / 100)|number_format(2) }}, 'coupon': '{% if order.discounts.count > 0 %}{{ order.discounts[0].code|escape('js') }}{% endif %}', 'quantity': 1 },
                            {% endif -%}
                            {% if order.customRequested -%}
                                { 'name': 'Maatwerk aanpassingen', 'price': 0.00, 'quantity': 1 }
                            {% endif -%}
                        ]
                    }
                },
                'profileId':'{{ app.request.get('_profile').id|escape('js') }}',
                'ipaddress': '{{ app.request.clientIp }}',
                'eventCallback': function () {
                    $.post('{{ path('app.frontend.order.conversion', { orderId: order.id, service: 'google', host: app.request.host }) }}');
                }
            });

            dataLayer.push({
                'eventCategory': 'Order',
                'eventAction': 'payment',
                'eventLabel': 'Order completed'
            });

        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row">
                <div class="status-timeline">
                    <div class="inner">
                        <div class="timeline count-{{ flow.steps.count }}">
                            <div class="line">
                                {% for step in flow.steps %}
                                    <div class="phase {% if step.completed %}completed{% endif %} {% if step.active %}active{% endif %}">
                                        <div class="dot">
                                            <span class="number">{{ step.number }}</span>
                                        </div>
                                        <small>{{ step.title|trans|desc(step.title) }}</small>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="current">
                            {% if order.status == 'pending_payment' %}
                                {% set callToAction = not invoice.paid and not invoice.zero and refreshed %}

                                <span class="title">{{ "text.process_order"|trans|desc("Verwerken betaling") }}</span>
                                <p>{{ "text.your_order_has_been_received"|trans|desc("Uw bestelling is in goede orde ontvangen! Zodra wij de betaalbevestiging hebben ontvangen wordt uw document zo snel mogelijk afgeleverd.") }}</p>

                            {% elseif order.status == 'manual_check' %}
                                <span class="title">{{ "text.manual_control"|trans|desc("Uur met jurist") }}</span>
                                <p>{{ "text.document_being_checked"|trans({'%partner%': order.template.partner.title })|desc('U heeft ook juridische diensten van %partner% besteld, waarvoor deze zo spoedig mogelijk met u contact zal opnemen') }}.</p>

                            {% elseif order.status == 'manual_custom' %}
                                {% set callToAction = true %}

                                <span class="title">{{ "text.custom_changes"|trans|desc("Contactaanvraag") }}</span>
                                <p>{{ "text.custom_changes_being_processed"|trans({'%partner%': order.template.partner.title })|desc('Omdat u heeft aangegeven contact met %partner% (leverancier van uw document) te wensen, zal deze zo spoedig mogelijk contact met u opnemen.')|raw }}</p>

                            {% elseif order.status == 'pending' or order.status == 'request' %}
                                <span class="title">{{ "text.generate_document"|trans|desc("Document genereren") }}</span>
                                <p>{{ "text.we_are_generating_document"|trans({'%email%': order.customer.email })|desc("Wij genereren op dit momeFnt uw document! We verwachten dit binnen een aantal minuten af te kunnen leveren op <strong>%email%</strong>.")|raw }}</p>

                            {% elseif order.status == 'requeue' %}
                                <span class="title">{{ "text.generate_document"|trans|desc("Document genereren") }}</span>
                                <p>{{ "text.delay_generating_document"|trans({'%email%': order.customer.email })|desc('Er is enige vertraging bij het genereren van uw document. Zodra uw document klaar is, ontvangt u dit op <strong>%email%</strong>.')|raw }}</p>

                            {% elseif order.status == 'deliver' %}
                                <span class="title">{{ "text.deliver_document"|trans|desc("Document afleveren") }}{% if emoji %} &#x270C;{% endif %}</span>
                                <p>{{ "text.document_is_ready"|trans({'%email%': order.customer.email })|desc('Goed nieuws, uw document is klaar! Wij leveren dit binnen enkele ogenblikken af op <strong>%email%</strong>.')|raw }}</p>

                            {% elseif order.status == 'completed' %}
                                {% set callToAction = true %}

                                <span class="title">{{ "text_order_finished"|trans|desc("Bestelling afgerond") }}{% if emoji %} &#x1F389;{% endif %}</span>
                                <p>{{ "text.order_finished_and_delivered"|trans({'%email%': order.customer.email })|desc('Uw bestelling is afgerond en uw document is afgeleverd op <strong>%email%</strong>.')|raw }}</p>

                            {% elseif order.status == 'canceled' %}
                                {% set callToAction = true %}

                                <span class="title">{{ "text.order_cancelled"|trans|desc("Bestelling geannuleerd") }}{% if emoji %}  &#x1F614;{% endif %}</span>
                                <p>{{ "text.order_expired_or_cancelled"|trans({'%helpdesk_email%': helpdesk.email, '%order_code%': order.code })|desc('Uw bestelling is helaas verlopen of geannuleerd. Heeft u vragen hierover? Neem dan <a href="mailto:%helpdesk_email%?subject=Status%20bestelling%20#%order_code%">contact met ons op</a>.')|raw }}</p>

                            {% elseif order.status == 'failed' %}
                                {% set callToAction = true %}

                                <span class="title">{{ 'text.order_failed'|trans|desc("Bestelling mislukt") }}{% if emoji %}  &#x1F614;{% endif %}</span>
                                <p>{{ 'text.order_could_not_be_processed'|trans({'%email%': order.customer.email })|desc('Uw bestelling kon helaas niet worden verwerkt. Wij nemen per e-mail contact op via <strong>%email%</strong>.')|raw }}</p>

                            {% else %}
                                {% set callToAction = true %}

                                <span class="title">{{ "text.order_not_finished_yet"|trans|desc("Bestelling nog niet afgerond") }}</span>
                                <p>{{ "text.your_order_isnt_finished_yet"|trans|desc("Uw bestelling is nog niet afgerond, waardoor de verwerking ervan nog niet is te volgen.") }}</p>

                            {% endif %}
                        </div>
                    </div>
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} alert--centered">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% if document.cached and order.status.isNot('pending') %}
                        {% if order.registeredEmailRequested %}
                            <div class="download-links">
                                <span class="title">Aangetekend Mailen®</span>
                                {% if not order.registeredEmailSent %}
                                    <p>Verstuur uw {{ template.title|decapitalize }} beveiligd &amp; rechtsgeldig naar één ontvanger.</p>
                                    <a href="{{ path('app.frontend.order.registered_email', { id: order.id, host: app.request.host } ) }}" class="button text-with-icon" target="_blank">Verstuur nu <i class="flaticon stroke mail"></i></a>
                                {% else %}
                                    <p>Uw {{ template.title|decapitalize }} is op <strong>{{ order.registeredEmailSentAt|localizeddate('long', 'short', null, 'Europe/Amsterdam') }}</strong> per aangetekende e-mail verstuurd naar <strong>{{ order.registeredEmailAddress }}</strong>.</p>
                                {% endif %}
                            </div>
                            <div class="spacer"></div>
                        {% endif %}
                        <div class="download-links">
                            <span class="title">{{ "text.download_your_document"|trans|desc("Download uw document") }}</span>
                            {% if order.customRequested %}
                                <p>{{ "text.beware_custom_solutions_not_available"|trans|desc("Let op, uw maatwerk aanpassingen zijn niet beschikbaar in de documenten die u hier downloadt") }}</p>
                            {% endif %}
                            <a href="{{ documentDownloadPdfUrl(document) }}" class="button text-with-icon">{{ "text.pdf_document"|trans|desc("PDF-document") }} <i class="flaticon stroke cloud-download-1"></i></a>
                            <a href="{{ documentDownloadWord2007Url(document) }}" class="button text-with-icon">{{ "text.word_document"|trans|desc("Word-document") }} <i class="flaticon stroke cloud-download-1"></i></a>
                            <p>{{ "text.also_available_in_markdown"|trans({'%url%': documentDownloadMarkdownUrl(document) })|desc('Ook beschikbaar in <a href="%url%">Markdown')|raw }}</a></p>
                            {% if order.subscription %}
                                <hr>
                                <span class="title">{{ "text.urls_for_your_subscription"|trans|desc("URL's voor uw abonnement") }}</span>
                                <p>{{ "text.use_the_next_urls"|trans({'%title%': template.title })|desc("Gebruik de volgende URL's op uw website om altijd naar de meest actuele versie van uw %title% te verwijzen.") }}</p>
                                <div class="urls">
                                    {% for link in order.subscription.links %}
                                        <div class="url">
                                            <label for="download-url-{{ link.format }}" class="title">{{ ('subscription-link.format.' ~ link.format)|trans() }}</label>
                                            <input type="text" id="download-url-{{ link.format }}" readonly value="{{ subscriptionDownloadUrl(link) }}" data-role="download-url" data-clipboard-text="{{ subscriptionDownloadUrl(link) }}" data-toggle="tooltip" data-placement="top" title="{{ "input.download_title"|trans({'%link%': ('subscription-link.format.' ~ link.format)|trans })|desc('Klik om de link voor een %link% te kopiëren') }}">
                                        </div>
                                    {% endfor %}
                                </div>

                                <hr />
                                <span class="title">Document integreren</span>
                                <p>Bent u een web developer en wilt u uw {{ template.title }} integreren in uw website door middel van een embed-code?</p>
                                <a href="{{ url('app.hosted.embed', { subscriptionId: order.subscription.id, profile: order.template.partner.countryProfile.id }) }}" class="button text-with-icon" target="_blank">Integreer dit document <i class="flaticon stroke scissors"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if callToAction %}
                        <div class="call-to-action">
                            {% if order.status == 'pending_payment' %}
                                <p>{{ "text.stopped_payment_by_accident"|trans|desc("Per ongeluk de betaling afgebroken? Geen probleem!") }}</p>
                                <a href="{{ orderPaymentUrl(order) }}" class="button text-with-icon">{{ "text.push_through_payment"|trans|desc("Betaling voortzetten") }} <i class="flaticon solid right-2"></i></a>

                            {% elseif order.status == 'manual_custom' %}
                                <p>{{ "text.do_you_have_questions_about_custom_order"|trans|desc("Heeft u vragen over de voortgang van uw maatwerk aanpassingen, of wilt u belangrijke informatie doorgeven?") }}</p>
                                <a href="mailto:{{ helpdesk.email }}?subject={{ "email.subject_custom_order"|trans({'%code%': order.code })|desc('Maatwerk%20bestelling%20#%code%')|raw }}" class="button">{{ "text.contact_us"|trans|desc("Neem contact op") }}</a>

                            {% elseif order.status == 'completed' %}
                                <p>{{ "text.questions_about_document"|trans({'%phone%': helpdesk.phone })|desc('Heeft u vragen over het document dat u heeft ontvangen, of wilt u graag maatwerk aanpassingen? Bel ons op <strong>%phone%</strong>, of mail ons.')|raw }}</p>
                                <a href="mailto:{{ helpdesk.email }}?subject={{ "email.subject_follow_up"|trans({'%code%': order.code })|desc('Follow-up%20bestelling%20#%code%') }}" class="button">{{ 'text.contact_us'|trans|desc("Neem contact op") }}</a>

                            {% elseif order.status == 'canceled' or order.status == 'failed' %}
                                <p>{{ "text.order_document_again"|trans({'%title%': template.title })|desc('Wilt u opnieuw een %title% bestellen? Dat kan!') }}</p>
                                <a href="{{ templateUrl(template) }}" class="button">{{ "text.order_again"|trans|desc("Opnieuw bestellen") }}</a>

                            {% else %}
                                <a href="{{ templateUrl(template) }}" class="button without-text text-with-icon">{{ "text.continue_your_order"|trans|desc("Verder met uw bestelling") }} <i class="flaticon solid right-2"></i></a>

                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row with-inner">
                <div class="content">
                    <div class="inner padded">
                        <div class="split-half">
                            <div class="half">
                                <div class="formatted-text">
                                    <span class="title">{{ "text.order_data"|trans|desc("Bestelgegevens") }}</span>
                                    <ul>
                                        <li>{{ "text.order_number"|trans|desc("Bestelnummer") }}: <strong>{{ order.code }}</strong></li>
                                        <li>{{ "text.document"|trans|desc("Document") }}: <strong>{{ template.title }}</strong></li>
                                        <li>{{ "text.email"|trans|desc("E-mailadres") }}: <strong>{{ order.customer.email }}</strong></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="half">
                                <div class="formatted-text">
                                    <span class="title">{{ "text.need_help"|trans|desc("Hulp nodig?") }}</span>
                                    <p>{{ "text.need_help_call_us_during_company_hours"|trans({'%phone%': helpdesk.phone, '%email%': helpdesk.email, '%order_code%': order.code  })|desc('Hulp nodig? Bel ons gedurende kantooruren op <strong>%phone%</strong>, of mail ons op <a href="mailto:%email%?subject=Status%20bestelling%20#%order_code%">%email%</a>.')|raw }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
