{% extends 'shared/base.html.twig' %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside">
                <div class="content">
                    {% include ':shared/_includes:flash.html.twig' %}

                    <h1>{{ "account.session_login_title"|trans({}, 'account')|desc("Aanmelden") }}</h1>

                    <div class="text formatted-text">
                        {% if error %}
                            {% if error.reason is defined and 'SESSION_EMAIL_NOT_FOUND' == error.reason %}
                                <p class="alert alert-danger">{{ error.messageKey }} {{ "account.session_no_account"|trans({"%url%" : path('app.frontend.account.register', { host: app.request.host })}, 'account')|desc("Heeft u nog geen account? <a href='%url%'>Registreer dan nu</a>.")|raw }}</p>
                            {% elseif error.reason is defined and 'SESSION_INVALID_PASSWORD' == error.reason %}
                                <p class="alert alert-danger">{{ error.messageKey }}  {{ "account.session_forgot_password_restore"|trans({"%url%" : path('app.frontend.account.recover', { host: app.request.host })}, 'account')|desc("Bent u uw wachtwoord vergeten? <a href='%url%'>Vraag eenvoudig een nieuw wachtwoord aan</a>.")|raw }}</p>
                            {% else %}
                                <p class="alert alert-danger">{{ error.messageKey }}</p>
                            {% endif %}
                        {% else %}
                            <p>{{ "account.session_shop_account"|trans({"%url%" : path('app.frontend.account.register', { host: app.request.host }) }, 'account')|desc("Heeft u een Legal Fit Documenten Selfservice-account? Meld u dan aan met uw e-mailadres en wachtwoord. Heeft u nog geen account? <a href='%url%'>Registreer nu een account</a>.")|raw }}</p>
                        {% endif %}
                    </div>

                    <div class="spacer"></div>

                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}

                    <button type="submit" class="button secondary">{{ "account.session_login"|trans({}, 'account')|desc("Aanmelden") }}</button>

                    {{ form_end(form) }}

                    <div class="spacer"></div>

                    <div class="formatted-text">
                        <p>{{ "account.session_forgot_password"|trans({"%url%" :  path('app.frontend.account.recover', { host: app.request.host }) }, 'account')|desc("Bent u uw wachtwoord vergeten? <a href='%url%'>Vraag nu een wachtwoord aan</a> en u kunt direct verder.")|raw }}</p>
                    </div>
                </div>
                <aside>
                    <div class="blocks">
                        <div class="row">
                            <div class="block with-title">
                                <div class="title">
                                    {{ "account.recover_why"|trans({}, 'account')|desc("Waarom een account?") }}
                                </div>
                                <div class="inner">
                                    <div class="text">
                                        <ul>
                                            <li>{{ "account.recover_always_text"|trans({}, 'account')|desc("Altijd inzage in uw bestellingen, facturen en documenten") }}</li>
                                            <li>{{ "account.recover_no_time_text"|trans({}, 'account')|desc("Geen tijd om een bestelling af te ronden? Uw voortgang wordt automatisch bewaard.") }}</li>
                                            <li>{{ "account.recover_faster_text"|trans({}, 'account')|desc("Sneller afrekenen") }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% include ':shared/_blocks:benefits.html.twig' %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
