@include for-module('frontend', 'express'){
  h3.white-text{
    color: #ffffff;
  }
  div.phone{
    position: absolute;
    width: 654px;
    height: 788px;
    right: 0;
    top:150px;
    @include respond-to('xs'){
      display: none;
    }
  }
  section.first{
    display: flex;
    flex-direction: column;

    padding-top: $unit-one * 3;
    padding-bottom: $unit-one * 3;

    background-color: #ffffff;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include respond-to('xs'){
      background-color: $color-secondary;
      background-image: none;
    }

    div.payoff{
      @include make-lg-column(6);
      @include make-md-column(6);
      @include make-sm-column(6);
      @include make-xs-column(12);

      background-color: #fff;
      padding: $unit-one;

      @include respond-to('xs'){
        background-color: transparent;
      }

      h1{
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-header-large();

        line-height: 1.2;

        color: $color-primary;
        margin-bottom: $unit-one;
      }

      span.price {
        margin: 0 $unit-quarter;
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-header-large();
      }
    }
  }

  section.account {
    display: flex;
    flex-direction: column;

    padding-top: $unit-one;
    padding-bottom: $unit-one;

    div.benefits {
      padding: $unit-one;
    }

    ul {
      margin-bottom: $unit-one;

      li {
        list-style-type: disc;
        list-style-position: inside;
        margin-bottom: $unit-quarter;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    a.button{
      @include button-variant(#ffffff, $color-primary-light, transparent);
      @include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

      @include font-sans-serif-size-normal();
    }
  }

  section.usp{
    display: flex;
    flex-direction: column;

    padding-top: $unit-one * 3;
    padding-bottom: $unit-one * 3;

    background-color: #ffffff;

    h2{
      @include font-sans-serif-weight-bold();
      @include font-sans-serif-size-header-large();

      line-height: 1.2;

      color: $text-color;
      margin-bottom: $unit-one * 2;
    }

    div.wrapper{
      color: $text-color;

      div.block{
        @include make-lg-column(4);
        @include make-md-column(4);
        @include make-sm-column(4);
        @include make-xs-column(12);

        @include respond-to('xs'){
          margin-bottom: $unit-one * 3;
        }

        div.icon {
          margin-bottom: $unit-one;
          width: 150px;
          height: 150px;
          background-repeat: no-repeat;
          background-size: contain;

          &--fingers {
            background-image: url("../images/fingers.svg");
          }

          &--feet {
            background-image: url("../images/feet.svg");
          }

          &--piggy {
            background-image: url("../images/piggy.svg");
          }
        }

        h3{
          @include font-sans-serif-weight-bold();
          @include font-sans-serif-size-normal();
          color: $color-primary;
          text-transform: uppercase;
          margin-bottom: $unit-one;
        }

        span{
          @include font-sans-serif-weight-normal();
          @include font-sans-serif-size-normal();
        }
      }
    }
  }

  section.about{
    display: flex;
    flex-direction: column;

    padding-top: $unit-one * 3;
    padding-bottom: $unit-one * 3;

    background-color: #ffffff;

    div.header{
      @include make-lg-column(8);
      @include make-lg-column-offset(2);
      margin-bottom: $unit-one * 2;
      text-align: center;

      h2{
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-header-large();

        line-height: 1.2;

        color: $color-primary;
        margin-bottom: $unit-one;

        text-align: center;
      }

      h3{
        @include font-sans-serif-weight-normal();
        @include font-sans-serif-size-large();
        line-height: 1.6;
      }
    }

    div.wrapper{
      div.block{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);

        @include respond-to('xs'){
          margin-bottom: $unit-one;
          text-align: center;
        }

        p{
          @include font-sans-serif-weight-normal();
          @include font-sans-serif-size-normal();
          line-height: 1.6;
        }
      }
    }

  }

  section.features{
    padding-top: $unit-one * 3;
    padding-bottom: $unit-one * 3;
    background-color: #ffffff;
    border-top: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;
    text-align: center;
    div.row{
      &:nth-child(2){
        margin-top: $unit-one * 2;
        @include respond-to('xs'){
          margin-top: 0;
        }
      }
    }
    div.block{
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(4);
      @include make-lg-column(4);

      @include respond-to('xs'){
        margin-bottom: $unit-one * 2;
      }

      h4{
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-normal();
        color: $color-primary;
        line-height: 1.6;
        margin-bottom: $unit-one;
      }

      span{
        @include font-sans-serif-weight-normal();
        @include font-sans-serif-size-normal();
        line-height: 1.6;
      }
    }
  }

  section.highlight{
    padding-top: $unit-one * 3;
    padding-bottom: $unit-one * 3;
    background-color: #ffffff;
    div.image{
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(6);
      @include make-lg-column(6);

      height: 363px;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        color: $color-secondary;
        font-size: 200px;
      }

    }

    div.cta{
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(6);
      @include make-lg-column(6);

      @include respond-to('xs'){
        text-align: center;
      }

      h2{
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-header-large();

        line-height: 1.2;

        color: $color-primary;
        margin-bottom: $unit-one;
      }

      p{
        @include font-sans-serif-weight-normal();
        @include font-sans-serif-size-large();
        margin-bottom: $unit-one;
      }



      span.price{
        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-header-normal();
        margin-bottom: $unit-one;
        display: block;

      }

      span.small{
        @include font-sans-serif-weight-normal();
        @include font-sans-serif-size-small();
        color: $gray-light;
        margin-bottom: $unit-one;
        display: block;
      }

      a.button{
        @include button-variant(#ffffff, $color-primary-light, transparent);
        @include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

        @include font-sans-serif-size-normal();
      }

      hr{
        border-bottom: 1px solid $color-primary-dark;
      }

      i{
        color: $color-primary;
      }
    }
  }

}
