{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "email.abondoned.order_of_your"|trans({"%title%": template.title }, "email", locale)|desc("Bestelling van uw %title%") }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <p>{{ "text.dear_user"|trans({'%name%': customer.firstname }, "email", locale)|desc("Beste %name%") }},</p>

                        <p>Bedankt voor je interesse in het document {{ template.title }} van Legal Fit Documenten Selfservice. Het lijkt erop dat je de bestelling nog niet hebt afgerond.</p>

                        <p><strong>Bestelling afronden</strong><br>Je kan de bestelling als volgt afronden:</p>
                        <p>Klik op de button 'bestelling afronden'.</p>

                        <ol>
                            <li>Je kan betalen met IDeal.</li>
                            <li>Wij stellen het document samen.</li>
                            <li>Na betaling ontvang je een e-mail met een downloadlink naar je document. Dit document kan je zelf verder in Word aanpassen.</li>
                        </ol>

                        <p><strong>Heb je vragen?</strong><br>Neem dan contact op met Legal Fit Documenten Selfservice help via 088-3279845.<br>Liever e-mailen? Dat kan via <a href="{{ url('app.frontend.contact', { host: order.template.partner.countryProfile.host }) }}">dit formulier</a></p>

                        <p>Met vriendelijke groet,</p>

                        <p>Legal Fit Documenten Selfservice</p>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td><a href="{{ url('app.frontend.order', { templateSlug: template.slug, orderId: order.id, utm_source: 'abandoned-order', utm_medium: 'email', utm_campaign: 'Legal Fit Documenten Selfservice',  host: order.template.partner.countryProfile.host }) }}" target="_blank">{{ "text.finish_order"|trans({}, "email", locale)|desc("Bestelling afronden") }}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="subtle align-center">{{ "email.text.order"|trans({}, "email", locale)|desc("Bestelling") }} {{ order.code }}</p>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <ul class="subtle">
                            <li>{{ "email.abandoned.satisfaction_guarantee"|trans({}, "email", locale)|desc("100% tevredenheidsgarantie") }}</li>
                            <li>{{ "email.abandoned.made_by_top_jurists"|trans({}, "email", locale)|desc("Gemaakt door topjuristen") }}</li>
                            <li>{{ "email.abandoned.always_up_to_update"|trans({}, "email", locale)|desc("Altijd up-to-date") }}</li>
                        </ul>
                    </td>
                    <td width="50%">
                        <ul class="subtle">
                            <li>{{ "email.abandoned.order_over_ssl"|trans({}, "email", locale)|desc("Veilig bestellen en betalen via SSL") }}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
