{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "text.payment_confirmation"|trans({}, "email", locale)|desc("Bestelbevestiging") }} {{ template.title }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>{{ "text.dear_user"|trans({'%name%': customer.firstname }, "email", locale)|desc("Beste %name%") }},</p>
                        <p>{{ "email.confirmation.thanks_for_your_order"|trans({'%title%': template.title }, "email", locale)|desc("Bedankt voor je bestelling op Legal Fit Documenten Selfservice. Hieronder kun je je %title% downloaden. In de bijlage vind je de factuuur van je bestelling.") }}</p>
                        {% if reasonPayment and reasonManual %}
                            <p>{{ "email.confirmation.order_longer_lead_time_reason_payment_and_manual"|trans({}, "email", locale)|desc("Omdat je bestelling een iets langere doorlooptijd heeft door de gekozen betaalmethode en de gevraagde handmatige werkzaamheden door onze juristen, ontvang je hierbij alvast deze bestelbevestiging. In de bijlage vind je ook de factuur van je bestelling") }}</p>
                        {% elseif reasonManual %}
                            <p>{{ "email.confirmation.order_longer_lead_time_reason_manual"|trans({}, "email", locale)|desc("Omdat je bestelling een iets langere doorlooptijd heeft door de gevraagde handmatige werkzaamheden door onze juristen, ontvang je hierbij alvast deze bestelbevestiging. In de bijlage vind je ook de factuur van je bestelling") }}</p>
                        {% elseif reasonPayment %}
                            <p>{{ "email.confirmation.order_longer_lead_time_reason_payment"|trans({}, "email", locale)|desc("Omdat je bestelling een iets langere doorlooptijd heeft door de gekozen betaalmethode, ontvang je hierbij alvast deze bestelbevestiging. In de bijlage vind je ook de factuur van je bestelling.") }}</p>
                        {% endif %}
                        <p>{{ "email.confirmation.receive_seperate_email"|trans({}, "email", locale)|desc("Je ontvangt een aparte e-mail zodra je bestelling is afgehandeld. Indien je een document heeft besteld, zal je deze daarbij direct ontvangen.") }}</p>
                    </td>
                </tr>
            </table>
            <br>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>&nbsp;</td>
                    <td class="receipt-container">
                        <table class="receipt" border="0" cellpadding="0" cellspacing="0">
                            <tr class="receipt-subtle">
                                <td colspan="2"
                                    class="align-center">{{ "text.Order"|trans({}, "email", locale)|desc("Bestelling") }} {{ order.code }}</td>
                            </tr>
                            {% for item in invoice.items %}
                                <tr>
                                    <td>{{ item.quantity }}x {{ item.title }}</td>
                                    <td class="receipt-figure">{{ invoice.profile ? (item.total.amount/100)|localizedcurrency(invoice.profile.currency, locale) : item.total|price }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="receipt-subtle">
                                <td>{{ "text.total_excluding_vat"|trans({}, "email", locale)|desc("Totaal excl. btw") }}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.subtotal|price }}</td>
                            </tr>
                            <tr class="receipt-subtle">
                                <td>{{ invoice.vatPercentage }}% {{ "text.vat"|trans({}, "email", locale)|desc("btw") }}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.vatAmount.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.vatAmount|price }}</td>
                            </tr>
                            <tr class="receipt-bold">
                                <td>{{ "text.total"|trans({}, "email", locale)|desc("Totaal") }}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.total|price }}</td>
                            </tr>
                        </table>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a href="{{ url('app.frontend.order.status', { orderId: order.id,  host: order.template.partner.countryProfile.host }) }}"
                                                   target="_blank">{{ "text.See_progress"|trans({}, "email", locale)|desc("Bekijk voortgang") }}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <br>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h3 class="flush">Vragen?</h3>
                        <p>{{ "text.questions_about_your_order"|trans({"%phone%": helpdesk.phone }, "email", locale)|desc("Vragen over je bestelling? Neem contact met ons op door te reageren op deze e-mail, of bel ons op %phone%.") }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
