{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "text.Custom"|trans({}, "email", locale)|desc("Contactaanvraag") }} {{ order.code }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
    <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <p>{{ "text.Name"|trans({}, "email", locale)|desc("Naam") }}: {{ customer.firstname }} {{ customer.lastname }}</p>
                {% if customer.companyName %}
                    <p>{{ "text.Company"|trans({}, "email", locale)|desc("Bedrijf") }}: {{ customer.companyName }}</p>
                {% endif %}
                <p>{{ "text.Email"|trans({}, "email", locale)|desc("Email") }}: <a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>
                {% if customer.phone %}
                    <p>{{ "text.Phone_number"|trans({}, "email", locale)|desc("Telefoonnummer") }}: {{ customer.phone }}</p>
                {% endif %}
                <p>{{ "text.Link_to_backend"|trans({}, "email", locale)|desc("Link naar backend") }}: <a href="{{ url('app.backend.orders.default.details', { orderId: order.id }) }}">{{ order.code }}</a></p>
            </td>
        </tr>
    </table>
    </td>
    </tr>
{% endblock %}