{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ "text.Subscription"|trans({}, "email", locale)|desc("Abonnement") }} {{ template.title }} - {{ order.code }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>{{ "text.Dear_name"|trans({"%name%": customer.firstname }, "email", locale)|desc("Beste %name%") }},</p>
                        <p>{{ "email.deliver_supscription.good_news"|trans({"%template_title%": template.title }, "email", locale)|desc("Goed nieuws! Je %template_title% is gegenereerd en is nu als abonnement voor je beschikbaar. In de bijlage vind je ook de factuur voor het eerste jaar.") }}</p>
                    </td>
                </tr>
            </table>
            <br>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>&nbsp;</td>
                    <td class="receipt-container">
                        <table class="receipt" border="0" cellpadding="0" cellspacing="0">
                            <tr class="receipt-subtle">
                                <td colspan="2" class="align-center">{{ "text.Order"|trans({}, "email", locale)|desc("Bestelling") }} {{ order.code }}</td>
                            </tr>
                            {% for item in invoice.items %}
                                <tr>
                                    <td>{{ item.quantity }}x {{ item.title }}</td>
                                    <td class="receipt-figure">{{ invoice.profile ? (item.total.amount/100)|localizedcurrency(invoice.profile.currency, locale) : item.total|price }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="receipt-subtle">
                                <td>{{ "text.total_excluding_vat"|trans({}, "email", locale)|desc("Totaal excl. btw") }}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.subtotal|price }}</td>
                            </tr>
                            <tr class="receipt-subtle">
                                <td>{{ invoice.vatPercentage }}% {{ "text.vat"|trans({}, "email", locale)|desc("btw") }}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.vatAmount.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.vatAmount|price }}</td>
                            </tr>
                            <tr class="receipt-bold">
                                <td>{% if invoice.paid %}{{ "text.satisfied"|trans({}, "email", locale)|desc("Voldaan") }}{% else %}{{ "text.total"|trans|desc("Totaal") }}{% endif %}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.total|price }}</td>
                            </tr>
                        </table>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ url('app.frontend.order.status', { orderId: order.id, host: order.template.partner.countryProfile.host }) }}" target="_blank">{{ "text.see_download_urls"|trans({}, "email", locale)|desc("Bekijk download-URL's") }}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="subtle align-center">{{ "email.deliver_supscription.save_this_email"|trans|desc("Let op, bewaar deze mail goed! Deze heb je nodig om de download-URL's op te kunnen halen die je bijvoorbeeld op uw website kunt gebruiken.") }}</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <br>
            <br>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        {% if order.checkRequested %}
                            <h4 class="flush">{{ "text.Manual_check"|trans({}, "email", locale)|desc("30 minuten juridisch advies") }}</h4>
                            <p>{{ "text.you_asked_for_manual_check_with_your_order"|trans({"%partner%" : order.template.partner.title}, "email", locale)|desc("Je hebt ook juridische diensten van %partner% besteld, waarvoor deze zo spoedig mogelijk met je contact zal opnemen") }}</p>
                            <br>
                        {% endif %}
                        <h3 class="flush">{{ "text.Questions"|trans({}, "email", locale)|desc("Vragen") }}?</h3>
                        <p>{{ "text.questions_about_your_order"|trans({"%phone%": helpdesk.phone }, "email", locale)|desc("Vragen over uw bestelling? Neem contact met ons op door te reageren op deze e-mail, of bel ons op %phone%.") }}{% if order.checkRequested %} {{ "email.deliver_subscription.see_progress_online"|trans({"%url_order_status%": url('app.frontend.order.status', { orderId: order.id, host: order.template.partner.countryProfile.host }, "email", locale) })|desc("Je kunt de status van uw bestelling ook <a href=\"%url_order_status%\">online volgen</a>.")|raw }}{% endif %}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
