{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">{{ template.title }} - {{ order.code }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>{{ "text.Dear_name"|trans({"%name%": customer.firstname }, "email", locale)|desc("Beste %name%") }},</p>
                        <p>{{ "email.deliver_unit_order.good_news"|trans({"%template_title%": template.title }, "email", locale)|desc("Hartelijk bedankt voor je aankoop van %template_title% in de Legal Fit Documenten Selfservice. We hebben je betaling ontvangen en je document klaargezet.") }}</p>
                    </td>
                </tr>
            </table>
            <br>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>&nbsp;</td>
                    <td class="receipt-container">
                        <table class="receipt" border="0" cellpadding="0" cellspacing="0">
                            <tr class="receipt-subtle">
                                <td colspan="2" class="align-center">{{ "text.Order"|trans({}, "email", locale)|desc("Bestelling") }} {{ order.code }}</td>
                            </tr>
                            {% for item in invoice.items %}
                                <tr>
                                    {% if item.title == 'custom' %}
                                        <td>{{ item.quantity }}x {{ "text.Custom"|trans({}, "email", locale) }}</td>
                                    {% elseif item.title == 'manual' %}
                                        <td>{{ item.quantity }}x {{ "text.Manual_check"|trans({}, "email", locale) }}</td>
                                    {% elseif item.title == 'registered_mail' %}
                                        <td>Aangetekend Mailen®</td>
                                    {% else %}
                                        <td>{{ item.quantity }}x {{ item.title }}</td>
                                    {% endif %}
                                    <td class="receipt-figure">{{ invoice.profile ? (item.total.amount/100)|localizedcurrency(invoice.profile.currency, locale) : item.total|price }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="receipt-subtle">
                                <td>{{ "text.total_excluding_vat"|trans({}, "email", locale)|desc("Totaal excl. btw") }}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.subtotal.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.subtotal|price }}</td>
                            </tr>
                            <tr class="receipt-subtle">
                                <td>{{ invoice.vatPercentage }}% {{ "text.vat"|trans({}, "email", locale)|desc("btw") }}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.vatAmount.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.vatAmount|price }}</td>
                            </tr>
                            <tr class="receipt-bold">
                                <td>{% if invoice.paid %}{{ "text.satisfied"|trans({}, "email", locale)|desc("Voldaan") }}{% else %}{{ "text.total"|trans|desc("Totaal") }}{% endif %}</td>
                                <td class="receipt-figure">{{ invoice.profile ? (invoice.total.amount/100)|localizedcurrency(invoice.profile.currency, locale) : invoice.total|price }}</td>
                            </tr>
                        </table>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td><a href="{{ url('app.frontend.order.status', { orderId: order.id,  host: order.template.partner.countryProfile.host }) }}" target="_blank">{{ "text.Download_document"|trans({}, "email", locale)|desc("Download document") }}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <br>
            <br>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h4 class="flush">Downloaden</h4>
                        <p>Je kunt het document downloaden als Word of PDF bestand. Wil je de tekst van het document zelf aanpassen? Dan kan je de wijzigingen zelf aanbrengen in het Word document. Dit Word document kan je later als PDF opslaan.</p>
                        <br>
                        <h4 class="flush">Factuur</h4>
                        <p>De factuur van je (gratis) bestelling vind je in de bijlage van deze e-mail.</p>
                        <br>
                        <h4 class="flush">Heb je vragen?</h4>
                        <p>Neem dan contact op met de Legal Fit Documenten Selfservice Help via 088-3279845. Liever e-mailen? Dat kan via de knop 'Antwoorden' of 'Reply' in deze e-mail.</p>
                        <br>
                        <p>Met vriendelijke groet,<br>Legal Fit Documenten Selfservice</p>

                        {% if order.checkRequested %}
                            <h4 class="flush">{{ "text.Manual_check"|trans({}, "email", locale)|desc("30 minuten juridisch advies") }}</h4>
                            <p>{{ "text.you_asked_for_manual_check_with_your_order"|trans({"%partner%": order.template.partner.title}, "email", locale)|desc("Je hebt ook juridische diensten van %partner% besteld, waarvoor deze zo spoedig mogelijk met je contact zal opnemen") }}</p>
                            <br>
                            {% if customer.phone %}
                                <p>{{ "text.if_we_have_questions_we_will_contact_you"|trans({"%phone%": customer.phone }, "email", locale)|desc("Bij vragen zullen we contact met je opnemen middels het volgende telefoonnummer: %phone%") }}</p>
                            {% endif %}
                        {% endif %}
                        {% if order.customRequested %}
                            <h4 class="flush">{{ "text.Custom_adjustments"|trans({}, "email", locale)|desc("Contactaanvraag") }}</h4>
                            <p>{{ "text.the_version_of_the_document_custom"|trans({}, "messages", locale)|desc("Je hebt aangegeven dat je graag wil dat Legal Fit Documenten Selfservice contact met je opneemt. Binnen 2 werkdagen hoor je van ons.") }}</p>
                            <br>
                            {% if customer.phone %}
                            <p>{{ "text.if_we_have_questions_we_will_contact_you"|trans({"%phone%": customer.phone }, "email", locale)|desc("Bij vragen zullen we contact met je opnemen middels het volgende telefoonnummer: %phone%") }}</p>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
