{% extends 'mails/base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
                <tr>
                    <td align="center">Vertraging {{ template.title }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>{{ "text.Dear_name"|trans({"%name%": customer.firstname }, "email", locale)|desc("Beste %name%") }},</p>
                        <p>{{ "text.delay_generating_document_email"|trans({"%template_title%": template.title }, "email", locale)|desc("Bedankt voor je bestelling van een %template_title%! Helaas is er enige vertraging opgetreden bij het genereren van je document.") }}</p>
                        <p>{{ "text.delay_temporary_problem"|trans({"%phone%": helpdesk.phone }, "email", locale)|desc("Geen zorgen, dit is veelal slechts een tijdelijk probleem en we zijn hier automatisch van op de hoogte gebracht. Heb je tussentijds vragen? Bel ons gerust op <strong>%phone%</strong>, of reageer op deze e-mail.")|raw }}</p>
                        <p>{{ "text.separate_email_order_processed"|trans({"%template_title%": template.title }, "email", locale)|desc("Je ontvangt een aparte e-mail zodra jouw bestelling is afgehandeld, met daarbij ook direct je %template_title%.") }}</p>
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td><a href="{{ url('app.frontend.order.status', { orderId: order.id, host: order.template.partner.countryProfile.host }) }}" target="_blank">{{ "text.follow_order_status"|trans({}, "email", locale)|desc("Volg de status") }}</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
