<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <!--[if gte mso 9]>
            <xml>
                <o:OfficeDocumentSettings>
                    <o:AllowPNG />
                    <o:PixelsPerInch>96</o:PixelsPerInch>
                </o:OfficeDocumentSettings>
            </xml>
        <![endif]-->
    <!--[if gt mso 15]>
            <style type="text/css" media="all">
                /* Outlook 2016 Height Fix */
                table, tr, td {border-collapse: collapse;}
                tr { font-size:0px; line-height:0px; border-collapse: collapse;}
            </style>
        <![endif]-->
    <!--[if (gt mso 9)|(IE)]>
            <style type="text/css" media="all">
                table {border-collapse: collapse; border-spacing: 0; mso-line-height-rule: exactly; mso-margin-top-alt: 0; mso-margin-bottom-alt: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;}
            </style>
        <![endif]-->
    <!--[if mso]>
            <style type="text/css">
                sup { font-size: 90% !important; vertical-align: top !important;}
                sub { font-size: 90% !important; vertical-align: top !important;}
            </style>
        <![endif]-->
    <title>Referral code e-mail</title>
    <!--[if !mso]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table {
            border-spacing: 0;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>
    <!--[if mso]>                    <xml>                      <o:OfficeDocumentSettings>                          <o:AllowPNG/>                          <o:PixelsPerInch>96</o:PixelsPerInch>                      </o:OfficeDocumentSettings>                    </xml>                        <style type="text/css">             table { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }             .mj-outlook-group-fix { width:100% !important; }             .button-container a {background: transparent !important;}           </style>                  <![endif]-->
    <style type="text/css">
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        .appleLinks a {
            color: #343434;
            text-decoration: none;
        }

        @media only screen and (min-width:600px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
        }

        @media only screen and (min-width:600px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
        }

        @media only screen and (max-width:600px) {
            table.mj-full-width-mobile {
                width: 100% !important;
            }

            td.mj-full-width-mobile {
                width: auto !important;
            }

            th.mj-full-width-mobile {
                width: 100% !important;
                display: block !important;
                width: 100% !important;
                max-width: 100% !important;
            }
        }

        p {
            margin: 0 0;
        }

        ul {
            display: block;
        }

        ul li {
            list-style: disc;
        }

        body a {
            text-decoration: none;
            color: #0068A5;
        }

        .image-highlight {
            transition: 0.3s;
        }

        .image-highlight:hover {
            filter: brightness(1.2);
        }

        .button-highlight {
            transition: 0.3s;
        }

        .button-highlight:hover {
            filter: brightness(1.5);
        }

        @media only screen and (min-width: 600px) {
            .hide-on-mobile {
                display: block !important;
            }

            .hm {
                display: block !important;
            }
        }

        @media only screen and (max-width: 600px) {
            .hide-on-mobile {
                display: none !important;
            }

            .hm {
                display: none !important;
            }

            .hide-on-desktop {
                display: block !important;
                max-height: none !important;
                overflow: auto !important;
                width: auto !important;
            }

            .hide-on-desktop td {
                display: table-cell !important;
                max-height: none !important;
                overflow: auto !important;
                width: auto !important;
            }
        }

        .hide-on-desktop,
        .hide-on-desktop td {
            mso-hide: all;
            display: none;
            max-height: 0px;
            overflow: hidden;
            overflow: auto !important;
            width: auto !important;
        }

        sup {
            line-height: 0;
            font-size: 60%;
        }

        @media screen and (max-width:599px) {

            .full-width {
                width: 100% !important;
                height: auto !important;
            }

            .text-left {
                text-align: left !important;
            }

            .h1 {
                font-size: 19px !important;
                line-height: 22px !important;
                padding: 10px 0 0 0 !important;
            }

            .h2 {
                font-size: 21px !important;
                line-height: 28px !important;
            }

            .h3 {
                font-size: 16px !important;
                line-height: 18px !important;
            }

            .stack-column {
                width: 100% !important;
                display: block !important;
                width: 100% !important;
                max-width: 100% !important;
            }

            .pLR20 {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }

            .pLR10 {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            .pLR0 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .m0auto {
                margin: 0 auto !important;
            }

            .nb {
                border-left: none !important;
            }

            .pLR10 {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            .hc {
                display: none !important;
            }

            .tl {
                border-left: none !important;
            }

            .pT10 {
                padding-top: 10px !important;
            }

            .pL10 {
                padding: 0 10px 0 0 !important;
            }

            .pLR8 {
                padding-right: 8px !important;
                padding-left: 8px !important;
            }

            .em_main_table {
                width: 360px !important;
                max-width: 360px !important;
            }

            .em_wrapper {
                width: 100% !important;
            }

            .em_btn {
                width: 280px !important;
            }

            .stack {
                display: block !important;
                width: 100% !important;
                padding: 0px !important;
            }

            .em_height {
                height: 75px !important;
            }

            .em_trans {
                background: none !important;
            }

            .em_hide {
                display: none !important;
                width: 0px !important;
                visibility: hidden !important;
            }

            .em_full_img {
                width: 100% !important;
                height: auto !important;
                max-width: none !important;
            }

            .em_80_img {
                width: 80% !important;
                height: auto !important;
                max-width: none !important;
            }

            .em_70_img {
                width: 70% !important;
                height: auto !important;
                max-width: none !important;
            }

            .em_60_img {
                width: 60% !important;
                height: auto !important;
                max-width: none !important;
            }

            .em_half_img {
                width: 50% !important;
                height: auto !important;
                max-width: none !important;
            }

            .em_third_img {
                width: 33% !important;
                height: auto !important;
                max-width: none !important;
            }

            .em_center_img {
                margin: 0 auto !important;
            }

            .em_icon {
                width: 82px !important;
                height: auto !important;
                max-width: 82px !important;
            }

            .em_pad_top {
                padding-top: 20px !important;
            }

            .em_pad_bot {
                padding-bottom: 10px !important;
            }

            .em_headline {
                font-size: 16px !important;
                line-height: 20px !important;
                padding-left: 15px !important;
            }

            .em_txt_24_28 {
                font-size: 24px !important;
                line-height: 28px !important;
            }

            .em_txt_23_26 {
                font-size: 23px !important;
                line-height: 26px !important;
            }

            .em_txt_19_24 {
                font-size: 19px !important;
                line-height: 24px !important;
            }

            .em_txt_15_20 {
                font-size: 15px !important;
                line-height: 20px !important;
            }

            .em_txt_15_18 {
                font-size: 15px !important;
                line-height: 18px !important;
            }

            .em_txt_14_16 {
                font-size: 14px !important;
                line-height: 16px !important;
            }

            .em_txt_12_14 {
                font-size: 12px !important;
                line-height: 14px !important;
            }

            .em_txt_11_12 {
                font-size: 11px !important;
                line-height: 12px !important;
            }

            .em_txt_10_12 {
                font-size: 10px !important;
                line-height: 12px !important;
            }

            .em_aside {
                padding: 0 10px !important;
            }

            .em_aside_lr_30 {
                padding: 0px 30px !important;
            }

            .em_aside_0 {
                padding: 0px !important;
            }

            .em_aside_isi {
                padding: 0 5px 0 15px !important;
            }

            .em_aside_5-full {
                padding: 0px 5px 0px 5px !important;
            }

            .em_aside_5 {
                padding: 0px 5px !important;
            }

            .em_aside_5-0 {
                padding: 0px 15px !important;
            }

            .em_aside_15-10 {
                padding: 0px 10px 0 15px !important;
            }

            .em_aside_20 {
                padding: 0px 16px !important;
            }

            .em_aside-0top {
                padding-top: 0 !important;
            }

            .em_center {
                text-align: center !important
            }

            .em_left {
                text-align: left !important
            }

            .em_br {
                display: block !important;
            }

            u+.em_body .em_full_wrap {
                width: 100% !important;
                width: 100vw !important;
            }

            .wd-30 {
                width: 30px !important;
            }

            .em_show {
                display: block !important;
                max-height: none !important;
                visibility: visible !important;
            }

            span.disable-links {
                pointer-events: none;
            }

            .padd15L {
                padding: 0 0 0 15px !important;
            }

            .h3 {
                font-size: 15px !important;
                line-height: 18px !important;
            }

            @media only screen and (max-width: 599px) {

                /* For smaller screens */
                #switcher {
                    /* Code to show mobile image as a background image */
                    display: block;
                    background-image: url(https://digitalark.box.com/shared/static/e1j2cp8x7mozutw6j00km73w0mlwak3f.gif) !Important;
                    background-repeat: no-repeat !Important;
                    background-position: center !Important;
                    background-size: 100% !important;
                    background-size: cover !important;
                    width: 320px !Important;
                    height: 319px !Important;
                }

                /* Code to hide the desktop image on smaller screens devices */
                #houdini {
                    display: none !Important;
                }

                /* Fallback code for unsupported platforms - just resize the image*/
                .image320 {
                    width: 320px !important;
                    height: auto !important;
                }
            }
    </style>
    <!--[if gte mso 9]>
<style>
sup {font-size: 120% !important; vertical-align:2px; }
</style>
<![endif]-->
</head>

<body style="word-spacing:normal;" class="body">
    <!-- Insert &zwnj;&nbsp; hack after hidden preview text -->
    <div style="display: none; visibility: hidden; overflow: hidden; opacity: 0; font-size: 1px; line-height: 1px; height: 0; max-height: 0; max-width: 0;color: #FFFFFF;">
        TK
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
        &zwnj;&nbsp;&zwnj;&nbsp;
    </div>

    <!--[if mso]>
    <style type="text/css">
    body, table, td {font-family: Arial, Helvetica, sans-serif !important;}
    </style>
    <![endif]-->

        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-position:center center;background-size:contain;background-repeat:no-repeat;width:100%;background-color:#F4F4F4;" class="section em_wrapper">
            <tbody>
                <tr>
                    <td align="center">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-position:center center;background-size:contain;background-repeat:no-repeat;width:620px; max-width:620px;background:#FFFFFF;" class="section em_main_table">
                            <tbody>
                                <tr>
                                    <td style="font-size:0px;padding:0px;text-align:center;vertical-align:top;" class="block-grid">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td style="direction:ltr;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="background-color: #DB6C2E; border-radius:0px;vertical-align:top; padding: 0 30px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td height="25" style="font-size:25px; line-height:25px; padding:0px; margin:0px">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top" align="center" style="color:#ffffff; font-family: Arial, sans-serif; font-size:21px; line-height: 24px; padding: 0;"><b>Beschik jij al over deze juridische documenten?</b></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="25" style="font-size:25px; line-height:25px; padding:0px; margin:0px">&nbsp;</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="25" style="font-size:25px; line-height:25px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">{{ "text.dear_user"|trans({'%name%': customer.firstname }, "email", locale)|desc("Beste %name%") }},</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="25" style="font-size:25px; line-height:25px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">Gefeliciteerd! Met je laatste aankoop heb je een mooie investering gedaan in jouw onderneming. Zo sta je als ondernemer juridisch een stuk sterker in je schoenen.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="25" style="font-size:25px; line-height:25px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="center" style="color:#000000; font-family: Arial, sans-serif; font-size:28px; line-height: 30px; padding: 0;"><b>Klaar voor de volgende stap?</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="25" style="font-size:25px; line-height:25px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;"><b>Wij willen het beste voor jou</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">De juridische wereld is constant in beweging. Als ondernemer wil je dan zeker niet voor verrassingen komen te staan. Dit kun je voorkomen met de juiste juridische documenten.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="20" style="font-size:20px; line-height:20px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">Wij denken graag met je mee om zo juridische tegenvallers voor te zijn. Immers, voorkomen is beter dan genezen.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="20" style="font-size:20px; line-height:20px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;"><b>Speciaal voor jou</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">Op basis van jouw laatste aankoop denken wij dat onderstaande documenten een mooie aanvulling vormen. Zo weet je zeker dat je met documenten aan de slag kunt die passen bij jouw situatie, jouw onderneming.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="20" style="font-size:20px; line-height:20px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-position:center center;background-size:contain;background-repeat:no-repeat;width:100%;background-color:#F4F4F4;" class="section em_wrapper">
            <tbody>
                <tr>
                    <td align="center">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-position:center center;background-size:contain;background-repeat:no-repeat;width:620px; max-width:620px;background:#FFFFFF;" class="section em_main_table">
                            <tbody>
                                <tr>
                                    <td style="font-size:0px;padding:0px;text-align:center;vertical-align:top;" class="block-grid">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td style="direction:ltr;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-radius:0px;vertical-align:top;padding: 0 30px;" class="pLR20">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td style="font-family: Arial, sans-serif;padding: 0; word-break: break-word; width:33.3%" align="left" valign="top" class="pLR0 em_show em_wrapper em_center">
                                                                                    <table width="98%" cellspacing="0" cellpadding="0" border="0" class="em_wrapper">
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-family: Arial, sans-serif;font-size:16px;line-height: 18px;color:#000000;padding: 0;height:36px;" align="center"><b>{{ relatedTemplates[0].title }}</b></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:5px; line-height:5px; padding:0px; margin:0px" height="5">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="border-radius:0px;vertical-align:top;padding: 0 15px" class="pLR10">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                                    <tr>
                                                                                                        <td align="left" style="color:#000000; font-family:Arial, sans-serif;font-size:13px;line-height: 15px;height:120px;vertical-align:top;">{{ relatedTemplates[0].excerpt }}</td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:25px; line-height:25px; padding:0px; margin:0px" height="25">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" align="center" style="border-radius:0px;vertical-align:top;padding: 0 10px" class="pLR10">
                                                                                                <a href="{{ templateUrl(relatedTemplates[0]) }}">
                                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="em_wrapper">
                                                                                                        <tr>
                                                                                                            <td height="15" style="background-color: #DB6C2E; font-size:15px; line-height:15px; padding:0px; margin:0px; border-radius: 10px 10px 0 0;">&nbsp;</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center" style="background-color: #DB6C2E; color:#ffffff; font-family:Arial, sans-serif; font-size:13px; line-height: 15px;"><a href="{{ templateUrl(relatedTemplates[0]) }}" target="_blank" style="color: #ffffff; text-decoration: none;"><b>Start met document</b></a></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td height="15" style="background-color: #DB6C2E; font-size:15px; line-height:15px; padding:0px; margin:0px; border-radius: 0 0 10px 10px;">&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:20px; line-height:20px; padding:0px; margin:0px" height="20">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="border-radius:0px;vertical-align:top;padding: 0 15px" class="pLR10">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                                    <tr>
                                                                                                        <td width="6" valign="middle" align="left" style="color:#000000; padding: 0 5px 0 0;"><img alt="check" height="15" src="{{ host.scheme }}://{{ host.base }}/public/email/check_green.png" style="border:none; display:block; outline:none; text-decoration:none; height:15px; width: 15px; max-width: 15px; font-size:13px;" width="15" /></td>
                                                                                                        <td align="left" style="color:#000000; font-family:Arial, sans-serif;font-size:13px;line-height: 15px;">100% tevredenheidsgarantie. Niet goed? Geld terug!</td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:5px; line-height:5px; padding:0px; margin:0px" height="5">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>

                                                                                {% if relatedTemplates|length > 1 %}

                                                                                <!--[if gte mso 9]>
                                                                                </td>
                                                                                <td valign="top">
                                                                                  <![endif]-->

                                                                                <td style="font-family: Arial, sans-serif;padding: 0; word-break: break-word; width:33.3%" align="center" valign="top" class="pLR0 em_show em_wrapper em_center">
                                                                                    <table width="98%" cellspacing="0" cellpadding="0" border="0" class="em_wrapper">
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-family: Arial, sans-serif;font-size:16px;line-height: 18px;color:#000000;padding: 0;height:36px;" align="center"><b>{{ relatedTemplates[1].title }}</b></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:5px; line-height:5px; padding:0px; margin:0px" height="5">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="border-radius:0px;vertical-align:top;padding: 0 15px" class="pLR10">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                                    <tr>
                                                                                                        <td align="left" style="color:#000000; font-family:Arial, sans-serif;font-size:13px;line-height: 15px;height:120px;vertical-align:top;">{{ relatedTemplates[1].excerpt }}</td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:25px; line-height:25px; padding:0px; margin:0px" height="25">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" align="center" style="border-radius:0px;vertical-align:top;padding: 0 10px" class="pLR10">
                                                                                                <a href="{{ templateUrl(relatedTemplates[1]) }}">
                                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="em_wrapper">
                                                                                                        <tr>
                                                                                                            <td height="15" style="background-color: #DB6C2E; font-size:15px; line-height:15px; padding:0px; margin:0px; border-radius: 10px 10px 0 0;">&nbsp;</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center" style="background-color: #DB6C2E; color:#ffffff; font-family:Arial, sans-serif; font-size:13px; line-height: 15px;"><a href="{{ templateUrl(relatedTemplates[1]) }}" target="_blank" style="color: #ffffff; text-decoration: none;"><b>Start met document</b></a></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td height="15" style="background-color: #DB6C2E; font-size:15px; line-height:15px; padding:0px; margin:0px; border-radius: 0 0 10px 10px;">&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:20px; line-height:20px; padding:0px; margin:0px" height="20">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="border-radius:0px;vertical-align:top;padding: 0 15px" class="pLR10">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                                    <tr>
                                                                                                        <td width="6" valign="middle" align="left" style="color:#000000; padding: 0 5px 0 0;"><img alt="check" height="15" src="{{ host.scheme }}://{{ host.base }}/public/email/check_green.png" style="border:none; display:block; outline:none; text-decoration:none; height:15px; width: 15px; max-width: 15px; font-size:13px;" width="15" /></td>
                                                                                                        <td align="left" style="color:#000000; font-family:Arial, sans-serif;font-size:13px;line-height: 15px;">100% tevredenheidsgarantie. Niet goed? Geld terug!</td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:5px; line-height:5px; padding:0px; margin:0px" height="5">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>

                                                                                {% endif %}

                                                                                {% if relatedTemplates|length > 2 %}

                                                                                <!--[if gte mso 9]>
                                                                                </td>
                                                                                <td valign="top">
                                                                                  <![endif]-->

                                                                                <td style="font-family: Arial, sans-serif;padding: 0; word-break: break-word; width:33.3%" align="right" valign="top" class="pLR0 em_show em_wrapper em_center">
                                                                                    <table width="98%" cellspacing="0" cellpadding="0" border="0" class="em_wrapper">
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-family: Arial, sans-serif;font-size:16px;line-height: 18px;color:#000000;padding: 0;height:36px;" align="center"><b>{{ relatedTemplates[2].title }}</b></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:5px; line-height:5px; padding:0px; margin:0px" height="5">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="border-radius:0px;vertical-align:top;padding: 0 15px" class="pLR10">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                                    <tr>
                                                                                                        <td align="left" style="color:#000000; font-family:Arial, sans-serif;font-size:13px;line-height: 15px;height:120px;vertical-align:top;">{{ relatedTemplates[2].excerpt }}</td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#EEEAE8" style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:25px; line-height:25px; padding:0px; margin:0px" height="25">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" align="center" style="border-radius:0px;vertical-align:top;padding: 0 10px" class="pLR10">
                                                                                                <a href="{{ templateUrl(relatedTemplates[2]) }}">
                                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="em_wrapper">
                                                                                                        <tr>
                                                                                                            <td height="15" style="background-color: #DB6C2E; font-size:15px; line-height:15px; padding:0px; margin:0px; border-radius: 10px 10px 0 0;">&nbsp;</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center" style="background-color: #DB6C2E; color:#ffffff; font-family:Arial, sans-serif; font-size:13px; line-height: 15px;"><a href="{{ templateUrl(relatedTemplates[2]) }}" target="_blank" style="color: #ffffff; text-decoration: none;"><b>Start met document</b></a></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td height="15" style="background-color: #DB6C2E; font-size:15px; line-height:15px; padding:0px; margin:0px; border-radius: 0 0 10px 10px;">&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:20px; line-height:20px; padding:0px; margin:0px" height="20">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="border-radius:0px;vertical-align:top;padding: 0 15px" class="pLR10">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                                    <tr>
                                                                                                        <td width="6" valign="middle" align="left" style="color:#000000; padding: 0 5px 0 0;"><img alt="check" height="15" src="{{ host.scheme }}://{{ host.base }}/public/email/check_green.png" style="border:none; display:block; outline:none; text-decoration:none; height:15px; width: 15px; max-width: 15px; font-size:13px;" width="15" /></td>
                                                                                                        <td align="left" style="color:#000000; font-family:Arial, sans-serif;font-size:13px;line-height: 15px;">100% tevredenheidsgarantie. Niet goed? Geld terug!</td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#E0D9D5" style="font-size:5px; line-height:5px; padding:0px; margin:0px" height="5">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-size:10px; line-height:10px; padding:0px; margin:0px" height="10">&nbsp;</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>

                                                                                {% endif %}
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="em_show" style="display: none; visibility: hidden; font-size:20px; line-height:20px; padding:0px; margin:0px" height="20">&nbsp;</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-position:center center;background-size:contain;background-repeat:no-repeat;width:100%;background-color:#F4F4F4;" class="section em_wrapper">
            <tbody>
                <tr>
                    <td align="center">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-position:center center;background-size:contain;background-repeat:no-repeat;width:620px; max-width:620px;background:#FFFFFF;" class="section em_main_table">
                            <tbody>
                                <tr>
                                    <td style="font-size:0px;padding:0px;text-align:center;vertical-align:top;" class="block-grid">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td style="direction:ltr;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td height="20" style="font-size:20px; line-height:20px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;"><b>Liever direct hulp van een jurist?</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">Bel dan naar 088-3279826. Geen verzekering nodig. Wij gaan graag met je in gesprek over jouw situatie, geheel vrijblijvend.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="20" style="font-size:20px; line-height:20px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;"><b>Vragen?</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">Neem dan contact op met de Legal Fit Documenten Selfservice Help via 088-3279845. Liever e-mailen? Dat kan via de knop 'Antwoorden' of 'Reply' in deze e-mail.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="20" style="font-size:20px; line-height:20px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">Met vriendelijke groet,</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" align="left" style="color:#000000; font-family: Arial, sans-serif; font-size:16px; line-height: 18px; padding: 0 30px;">Legal Fit Documenten Selfservice</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="20" style="font-size:20px; line-height:20px; padding:0px; margin:0px">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
</body>

</html>