.badge {
	display: inline-block;

	min-width: 10px;
	padding: 3px 7px;

	@include font-sans-serif-weight-normal();
	@include font-sans-serif-size-small();

	color: $badge-color;
	line-height: $badge-line-height;

	vertical-align: middle;
	white-space: nowrap;
	text-align: center;

	background-color: $badge-bg;
	border-radius: $badge-border-radius;

	// Quick fix for badges in buttons
	.button & {
		position: relative;
		top: -1px;

		&.floating {
			position: absolute;
			top: -5px;

			color: #ffffff;
			background-color: $color-secondary;
		}
	}

	.button-xs & {
		top: 0;
		padding: 1px 5px;
	}
}