div.blocks {
    div.row {
        margin-bottom: -$unit-one;



        div.block {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(12);
            @include make-lg-column(12);

            margin-bottom: $unit-one;

            div.pros {
                padding: $unit-one;
                background-color: $color-secondary-dark;

                ul {
                    li {
                        color: $color-text;
                        @include font-sans-serif-weight-normal();
                        @include font-sans-serif-size-small();

                        &:before {
                            position: relative;
                            top: 1px;

                            font-family: 'Flaticons Stroke';
                            font-size: 1.6rem;

                            font-style: normal;
                            font-weight: normal;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;

                            content: "\e5a2";
                            margin-right: 10px;
                        }
                    }
                }
            }

            div.inner {
                padding: $unit-one;
                background-color: $color-secondary;

                div.text {
                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-small();

                    color: $color-text;

                    span.title {
                        display: block;

                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-large();

                        margin-bottom: $unit-half;
                        margin-top:  $unit-half;
                    }

                    mark {
                        margin-bottom: $unit-half;
                    }

                    p {
                        margin-bottom: $unit-quarter;
                    }

                    ul {
                        list-style: disc;
                        padding-left: $unit-half;

                        li {
                            margin-bottom: $unit-quarter;

                            a {
                                color: $color-text;
                                text-decoration: underline;
                            }
                        }

                        &.benefits {
                            list-style: none;
                            padding-left: 0;

                            li:before {
                                position: relative;
                                top: 1px;

                                font-family: 'Flaticons Stroke';
                                font-size: 1.3rem;

                                font-style: normal;
                                font-weight: normal;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;

                                content: "\e5b6";
                                margin-right: 4px;
                            }
                        }
                    }

                    @include trim-bottom-margins();
                }

                a.button.tertiary {
                    display: block;

                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-normal();

                    color: $color-primary;

                    padding: $unit-half $unit-one;
                    margin: $unit-one auto 0 auto;

                    background-color: #ffffff;
                }

                div.steps {
                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-small();

                    color: $color-gray;

                    span.title {
                        display: block;

                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-normal();

                        margin-bottom: $unit-quarter;
                    }

                    p {
                        margin-bottom: $unit-half;

                        em {
                            @include font-sans-serif-weight-bold();
                        }
                    }

                    ul {
                        list-style: none;

                        li {
                            color: $color-text;
                            margin-bottom: $unit-quarter;

                            padding-top: 1px;
                            padding-bottom: $unit-quarter;

                            border-bottom: 1px dotted $color-gray;

                            &:before {
                                position: relative;
                                top: 1px;

                                font-family: 'Flaticons Solid';
                                font-size: 1.3rem;

                                font-style: normal;
                                font-weight: normal;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;

                                content: "\e1c3";

                                margin-right: 4px;
                            }

                            &.active {
                                @include font-sans-serif-weight-bold();

                                &:before {
                                    content: "\e1bf";
                                }
                            }

                            &.skip {
                                span.text {
                                    text-decoration: line-through;
                                }

                                &:before {
                                    content: "\e1bb";
                                }
                            }

                            &.completed {
                                color: $color-gray-dark;

                                &:before {
                                    content: "\e1ba";
                                }
                            }

                            &:last-child {
                                border-bottom: none;
                                padding-bottom: 0;
                            }
                        }
                    }
                }

                div.price {
                    position: absolute;
                    right: $unit-two;
                    top: $unit-one;

                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-large();

                    font-size: 4rem;

                    text-align: right;
                    color: $color-primary;

                    margin-bottom: $unit-one;

                    small {
                        display: block;

                        @include font-sans-serif-weight-normal();
                        @include font-sans-serif-size-small();

                        color: $color-primary-dark;
                    }
                }

                div.info {
                    .document-icon {
                        display: inline-block;
                        width: 82px;
                        height: 99px;
                        background-image: url("../images/document.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .service-icon {
                        display: inline-block;
                        width: 62px;
                        height: 89px;
                        background-image: url("../images/service.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .text {

                    }
                }

                div.custom {
                    text-align: left;
                }

                div.action {
                    margin-top: $unit-half;

                    a.button {
                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-normal();

                        @include button-variant(#ffffff, $color-primary-light, transparent);
                        @include button-size($unit-quarter, $unit-half, inherit, inherit, $border-radius-base);
                    }

                    small {
                        display: block;

                        color: $color-text;
                        margin-top: 5px;

                        a {
                            color: $color-text;
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.with-title {
                div.title {
                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-small();

                    color: #ffffff;

                    padding: $unit-half;
                    background-color: $color-primary;

                    a {
                        color: #ffffff;
                        text-decoration: underline;
                    }
                }

                div.inner {
                    border-top: none;
                    ul.li.a{
                        color: #9B9B9B;
                        text-decoration: underline;
                    }
                }

                &.first {
                    div.title {
                        background-color: $color-primary;
                    }
                }
            }

            &.with-icon {
                text-align: center;

                div.icon {
                    margin-bottom: $unit-half;
                    width: 100%;
                    height: auto;

                    i {
                        font-size: 50px;
                        color: $color-primary;
                    }
                }
            }

            &.with-logo {
                text-align: center;

                div.inner {
                    div.logo {
                        margin-bottom: $unit-one;

                        img {
                            display: inline-block;

                            width: 100%;
                            max-width: 200px;

                            height: auto;
                        }
                    }
                }

                &.with-text-aside {
                    @include make-sm-column(12);

                    div.inner {
                        @include make-row();

                        div.logo {
                            @include make-sm-column(4);
                            @include make-md-column(12);
                            @include make-lg-column(4);

                            @include respond-to('sm', 'lg') {
                                margin-bottom: 0;
                            }
                        }

                        div.text {
                            @include make-sm-column(8);
                            @include make-md-column(12);
                            @include make-lg-column(8);

                            blockquote {
                                margin-top: $unit-half;
                            }

                            @include respond-to('sm', 'lg') {
                                text-align: left;
                            }

                            @include respond-to('xs', 'md') {
                                blockquote {
                                    border-left: none;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }

            &.with-buttons {
                div.inner {
                    div.buttons {
                        .button {
                            @extend %button-with-icon;
                            width: 100%;

                            div.text {
                                @include font-sans-serif-weight-bold();
                                @include font-sans-serif-size-normal();
                            }

                            &.banana, &.primary {
                                div.text {
                                    color: #ffffff;
                                }
                            }

                            div.service-icon {
                                display: inline-block;
                                width: 24px;
                                height: 35px;
                                margin-right: $unit-half;
                                background-image: url("../images/service.svg");
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }

            &.with-bottom {
                div.inner {
                    border-bottom: none;
                }

                div.bottom {
                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-small();

                    color: $color-text;

                    padding: $unit-one;
                    background-color: $color-secondary-dark;

                    a {
                        color: $color-text;
                        text-decoration: underline;
                    }

                    ul.benefits {
                        list-style: none;
                        padding-left: 0;

                        li:before {
                            position: relative;
                            top: 1px;

                            font-family: 'Flaticons Stroke';
                            font-size: 1.3rem;

                            font-style: normal;
                            font-weight: normal;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;

                            content: "\e5b6";
                            margin-right: 4px;
                        }

                        &.benefits--extra {
                            li:before {
                                color: $brand-success;
                            }
                        }
                    }

                    .button {
                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-large();

                        padding: $unit-quarter $unit-one;
                    }

                    &.centered {
                        text-align: center;
                    }
                }
            }
        }
    }
}
