.breadcrumbs {
  margin-bottom: 4rem;
  color: $text-color;

  &.alt {
    color: #ffffff;
  }

  a {
    &::after {
      font-family: "Nexa-Regular", sans-serif;
      content: '>';
      width: 2rem;
      display: inline-block;
      font-size: 2rem;
      text-align: center;
      color: $color-secondary;
    }
  }
}

.breadcrumb__link {
  color: $color-primary;

  &.alt {
    color: $color-secondary;
  }
}
