.button {
	display: inline-block;
	position: relative;

	text-align: center;
	white-space: nowrap;
	vertical-align: middle;

	cursor: pointer;
	user-select: none;
	touch-action: manipulation;

	border: 1px solid transparent;
	margin-bottom: 0;

	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214

	@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);

    &.primary {
        @include button-variant(#ffffff, $color-primary, transparent);
    }

    &.secondary {
      @include button-variant($color-text, $color-secondary-dark, transparent);
    }

    &.reversed {
      @include button-variant($color-primary, #ffffff, #ffffff);
      @include font-sans-serif-weight-bold();
      @include font-sans-serif-size-large();
    }

	&, &:active, &.active {
		&:focus, &.focus {
			@include tab-focus;
		}
	}

	&:hover, &:focus, &.focus {
		color: $color-primary;
		text-decoration: none;
	}

	&:active, &.active {
		outline: 0;
		background-image: none;
	}

    &.floating-badge-space {
        margin-right: $unit-quarter;
    }

	&.disabled, &[disabled], fieldset[disabled] & {
		cursor: $cursor-disabled;
		@include opacity(.65);
	}
}

a.button {
	&.disabled, fieldset[disabled] & {
		pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
	}
}

///
/// Knop met een icoon + tekst
///
%button-with-icon {
    @include button-variant($color-gray, #ffffff, $color-gray);
    @include button-size($unit-half, $unit-half + $unit-quarter, inherit, inherit, $border-radius-base);

    border-width: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: $unit-half;

    div.icon {
        flex: 0 1 auto;
        margin-right: $unit-half;

        i {
            font-size: 34px;
            vertical-align: middle;
        }
    }

    div.text {
        flex: 0 1 auto;
        text-align: left;

        @include font-sans-serif-weight-bold();
        @include font-sans-serif-size-normal();

        small {
            display: block;

            @include font-sans-serif-weight-normal();
            @include font-sans-serif-size-small();
        }
    }

    &.banana {
        @include button-variant(#ffffff, $color-primary, transparent);
    }

    &.primary {
        @include button-variant(#ffffff, $color-primary, transparent);
    }

    @include respond-to('xs') {
        width: 100%;
    }
}

div.buttons {
    @include clearfix();

    margin-bottom: -$unit-half;

	a.button {
        @extend %button-with-icon;

        float: left;
        margin-right: $unit-one;

        @include respond-to('xs') {
            margin-right: 0;
        }
	}
}
