div.coupon {
    display: inline-block;

    cursor: pointer;

    code {
        display: inline-block;

        font-size: 4rem;
        font-weight: bold;
        letter-spacing: -1px;

        line-height: 4rem;

        color: $color-highlight;

        border: 2px solid $color-highlight;

        border-radius: $border-radius-large;
        background-color: lighten($color-highlight, 40);

        padding: $unit-half $unit-one $unit-half $unit-one;
    }

    &.has-title {
        code {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            border-bottom: none;
        }

        span.title {
            display: block;

            @include font-sans-serif-weight-bold();
            @include font-sans-serif-size-small();

            color: #ffffff;

            padding: ($unit-quarter / 2) 0 ($unit-quarter / 2) 0;

            border-bottom-left-radius: $border-radius-large;
            border-bottom-right-radius: $border-radius-large;

            background-color: $color-highlight;
        }
    }

    &.primary {
        code {
            color: $color-primary;

            border-color: $color-primary-dark;
            background-color: $color-primary-light;
        }

        span.title {
            background-color: $color-primary-dark;
        }
    }

    &.copied {
        code {
            border-color: $color-primary-dark;
        }

        span.title {
            background-color: $color-primary-dark;
        }
    }
}
