.floating-footer {
  display: none;

  @include respond-to-and-smaller('sm') {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    background-color: $color-primary;
    color: #ffffff;
  }
}

.floating-footer__wrapper {
  padding: $unit-one 0;
  display: flex;
  align-items: center;
}

.floating-footer__text {
  flex: 1;
}

.floating-footer__price {
  @include font-sans-serif-weight-bold();
  @include font-sans-serif-size-normal();
  color: #ffffff;
  display: block;
}
