.icon {
  width: 28px;
  height: 28px;
  background-size: cover;
  background-repeat: no-repeat;

  &--twitter{
    background-image: url("../images/twitter.svg");
  }

  &--linkedin{
    background-image: url("../images/linkedin.svg");
  }

  &--email{
    background-image: url("../images/mail.svg");
  }
}
