.has-error {
    .form-control {
        border-color: $color-negative;
        box-shadow: none;
    }

    .control-label {
        color: $color-negative;
    }
}

.form-group {
    .form-control {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;

        transition: none;
        box-shadow: none;

        background-color: #ffffff;

        @include placeholder($color-gray-dark);
    }

    .checkbox, .radio {
        margin: $unit-quarter 0 $unit-quarter 0;
        padding: 0 $unit-quarter $unit-quarter $unit-quarter;

        border-bottom: 1px solid $color-gray;

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &.has-error {
        .form-control {
            border-color: $color-negative;
            box-shadow: none;
        }

        .control-label {
            color: $color-negative;
        }

        span.help-block {
            margin-top: $unit-half;

            ul.list-unstyled {
                @include trim-bottom-margins();

                li {
                    color: $color-negative;

                    padding: $unit-quarter $unit-half $unit-quarter $unit-half;
                    margin-bottom: $unit-quarter;

                    background-color: transparent;
                }
            }
        }
    }
}

.select2-container {
    max-width: 100%;
}

.address_title {
    margin-top: $unit-one * 2;
}

/*
 * Adres
 */
.address {
    > div.row {
        @include make-row();

        div.label {
            margin-top: $unit-half;

            label {
                @include text-overflow-ellipsis();
            }
        }

        div.street {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(6);
            @include make-lg-column(6);
        }

        div.number {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(3);
            @include make-lg-column(3);
        }

        div.addition {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(3);
            @include make-lg-column(3);
        }

        div.zipcode {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(6);
            @include make-lg-column(6);
        }

        div.city {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(6);
            @include make-lg-column(6);
        }

        div.country {
            @include make-lg-column(12);
        }

        div.row-errors {
            @include make-xs-column(12);

            span.help-block {
                margin-top: $unit-half;

                ul.list-unstyled {
                    @include trim-bottom-margins();

                    li {
                        color: $color-negative;

                        padding: $unit-quarter $unit-half $unit-quarter $unit-half;
                        margin-bottom: $unit-quarter;

                        background-color: transparent;
                    }
                }
            }
        }

        &:first-child {
            div.label {
                margin-top: 0;
            }
        }
    }
}

/*
 * Checkbox met aangepast ontwerp
 */
.input-enhanced-checkbox {
    $input-padding: 3px;

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label {
        vertical-align: middle;
        margin-bottom: 0;

        div.input {
            cursor: pointer;

            margin: 0;
            padding: $input-padding;

            border: 1px solid $color-gray;

            border-radius: $border-radius-small;
            background-color: #ffffff;

            span {
                display: block;

                width: $unit-one - 2 * $input-padding;
                height: $unit-one - 2 * $input-padding;

                color: #ffffff;
                text-align: center;

                background-color: $color-gray-superlight;
                border-radius: 2px;

                i {
                    color: #ffffff;

                    &:before {
                        position: relative;
                        top: 1px;

                        font-family: 'Flaticons Solid';
                        font-size: 23px;

                        font-style: normal;
                        font-weight: normal;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;

                        content: "\e1ba";
                    }
                }
            }
        }
    }

    input[type="checkbox"]:checked + label {
        div.input {
            span {
                background-color: $color-primary;

                i {
                    color: #ffffff;
                }
            }
        }
    }

    input[type="checkbox"]:disabled + label {
        div.input {
            cursor: not-allowed;

            span {
                background-color: $color-gray-superlight;

                i {
                    color: $color-gray-lighter;

                    &:before {
                        font-family: 'Flaticons Stroke';
                        content: "\e5a3";
                    }
                }
            }
        }
    }
}

/*
 * Radio met aangepast ontwerp
 */
.input-enhanced-radio {
    $input-padding: 6px;

    input[type="radio"] {
        display: none;
    }

    input[type="radio"] + label {
        vertical-align: middle;
        margin-bottom: 0;

        div.input {
            cursor: pointer;

            margin: 0;
            padding: $input-padding;

            border: 1px solid $color-gray-lighter;
            border-radius: 50%;

            span {
                display: block;

                width: $unit-one - 2 * $input-padding;
                height: $unit-one - 2 * $input-padding;

                color: #ffffff;
                text-align: center;

                background-color: $color-gray-light;
                border-radius: 50%;
            }
        }
    }

    input[type="radio"]:checked + label {
        div.input {
            span {
                background-color: $color-primary;
            }
        }
    }
}
