div.references {
    div.row {
        margin-bottom: $unit-one;

        h2{
            color: #ffffff;
            a{
                color: #ffffff;
            }
        }

        div.reference {
            @include make-xs-column(12);
            @include make-sm-column(4);
            @include make-md-column(4);
            @include make-lg-column(4);

            text-align: center;

            &--alt{
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(3);
                @include make-lg-column(3);

                p{
                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-large();
                    color: $color-gray;
                }
            }

            div.photo {
                max-width: 60%;

                padding: $unit-quarter;
                margin: 0 auto $unit-one auto;

                border-radius: 50%;
                background-color: #ffffff;

                img {
                    @include img-responsive();
                    border-radius: 50%;
                }
            }

            div.text {
                span.name {
                    display: block;

                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-large();

                    color: $color-gray;
                }

                span.company {
                    display: block;

                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-small();

                    color: $color-gray;
                }
            }

            div.quote {
                margin-top: $unit-half;

                padding-left: $unit-half;
                padding-right: $unit-half;

                div.arrow {
                    display: block;

                    width: 23px;
                    height: 14px;

                    margin-left: auto;
                    margin-right: auto;

                    @include img-retina('../images/reference-arrow.png', '../images/reference-arrow@2x.png', 23px, 14px);
                }

                div.inner {
                    @include font-sans-serif-weight-normal();
                    @include font-sans-serif-size-normal();

                    color: $color-gray-dark;

                    padding: $unit-half;

                    border-radius: $border-radius-large;
                    background-color: $color-gray-superlight;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to-and-smaller('sm') {
            margin-bottom: 0;

            div.reference {
                margin-bottom: $unit-one;
            }
        }

        @include respond-to-and-smaller('xs') {
            div.reference {
                div.photo {
                    max-width: 40%;
                }
            }
        }

        &.owl-carousel {
            width: auto;

            text-align: center;

            div.owl-stage-outer {
                div.reference {
                    float: none;
                    width: auto;
                }
            }

            div.owl-controls {
                div.owl-dots {
                    display: inline-block;
                    margin-top: $unit-one;

                    div.owl-dot {
                        float: left;

                        margin-right: $unit-half;

                        span {
                            display: block;

                            width: 15px;
                            height: 15px;

                            border-radius: 50%;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
