div.referrers {
    div.row {
        margin-bottom: $unit-one;

        div.referrer {
            @include make-xs-column(12);
            @include make-sm-column(4);
            @include make-md-column(4);
            @include make-lg-column(4);

            text-align: center;

            div.logo {
                max-width: 200px;

                padding: $unit-quarter;
                margin: 0 auto $unit-one auto;

                background-color: #ffffff;

                img {
                    @include img-responsive();
                }
            }

            div.title {
                @include font-sans-serif-weight-bold();
                @include font-sans-serif-size-normal();

                color: #ffffff;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to-and-smaller('sm') {
            margin-bottom: 0;

            div.referrer {
                margin-bottom: $unit-one;

                div.logo {
                    max-width: 80%;
                }
            }
        }

        @include respond-to-and-smaller('xs') {
            div.referrer {
                div.logo {
                    max-width: 100%;
                }
            }
        }

        &.owl-carousel {
            width: auto;

            text-align: center;

            div.owl-stage-outer {
                div.referrer {
                    float: none;
                    width: auto;
                }
            }

            div.owl-controls {
                div.owl-dots {
                    display: inline-block;
                    margin-top: $unit-one;

                    div.owl-dot {
                        float: left;

                        margin-right: $unit-half;

                        span {
                            display: block;

                            width: 15px;
                            height: 15px;

                            border-radius: 50%;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
