.document-search-wrapper {
  position: relative;
}

.search-results {
  background-color: white;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  position: absolute;
  padding: 2rem;
  left:0;
  top:40px;
}

.search-results__link {
  display: block;
  margin-bottom: .5rem;
  &:last-child {
    margin-bottom: 0;
  }
}
