table.summary {
    width: 100%;
    max-width: 100%;

    @include font-sans-serif-weight-normal();
    @include font-sans-serif-size-normal();

    color: $color-text;

    th, td {
        padding: $unit-quarter $unit-half $unit-quarter $unit-half;
        vertical-align: top;
    }

    th {
        @include font-sans-serif-weight-bold();
    }

    td {
        &.price {
            text-align: right;
            white-space: nowrap;

            @include font-sans-serif-weight-normal();

            i {
                position: relative;
                top: -1px;

                vertical-align: middle;

                padding: 1px 4px 2px 4px;
                margin-right: 2px;

                border: 1px solid $color-gray-dark;
                border-radius: $border-radius-small;

                &:before {
                    color: $color-gray-dark;
                    font-size: 12px;
                }
            }
        }
    }

    tbody {
        tr:nth-of-type(odd) {
            background-color: $color-gray-superlight;
        }
    }

    tfoot {
        color: $color-text;

        tr {
            &.focus {
                td {
                    color: $color-text;

                    background-color: $color-primary-light;

                    &:first-child {
                        border-top-left-radius: $border-radius-base;
                        border-bottom-left-radius: $border-radius-base;
                    }

                    &.price {
                        color: #ffffff;

                        border-left: 2px solid #ffffff;

                        border-top-right-radius: $border-radius-base;
                        border-bottom-right-radius: $border-radius-base;

                        background-color: $color-primary;
                    }
                }
            }
        }

        tr:first-child {
            td {
                margin-top: $unit-half;
                padding-top: $unit-half;

                border-top: 1px solid $color-gray-lighter;
            }
        }
    }
}
