div.templates {
    > div.row {
        $shadow-width: 10px;

        /* Deze margin haalt de marge langs de onderste rij weg */
        margin-bottom: -$unit-one;

        div.message {
            @include make-xs-column(12);
            margin-bottom: $unit-one;

            div.inner {
                color: $color-gray-darker;
                padding: $unit-half;

                border-radius: $border-radius-base;
                background-color: $color-primary-light;
            }
        }

        div.template {
            margin-bottom: $unit-one;
            hyphens: auto;

            div.inner {
                box-shadow: 0 0 $shadow-width 0 rgba(0, 0, 0, 0.2);
                background-color: #ffffff;
                position: relative;

                .link__wrapper {
                    a.more {
                        width: 100%;
                        text-align: left;
                        color: $color-primary;
                        @include font-sans-serif-weight-bold();
                        margin-bottom: $unit-half;
                        display: flex;
                        align-items: center;

                        span {
                            flex: 1;
                        }

                        .circle {
                            background-color: $color-primary;
                            width: 30px;
                            height: 30px;
                            border-radius: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                width: 13px;
                                height: 10px;
                                position: relative;
                            }
                        }
                    }

                    padding: 0 $unit-one $unit-one $unit-one;
                }

                .price {
                    position: absolute;
                    right: $unit-one;
                    top: $unit-one;
                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-large();
                    color: $color-primary-light;

                    small {
                        font-size: 60%;
                    }
                }

                .details {
                    display: block;

                    text-align: left;
                    text-decoration: none;

                    padding: $unit-one;

                    .document-icon {
                        display: inline-block;
                        width: 82px;
                        height: 99px;
                        background-image: url("../images/document.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    div.text {
                        span.title {
                            display: block;
                            clear: both;

                            @include font-sans-serif-weight-bold();
                            @include font-sans-serif-size-normal();

                            //@include text-overflow-ellipsis();

                            color: $color-primary-light;

                            overflow-wrap: break-word;

                        }

                        span.category {
                            @include font-sans-serif-weight-bold();
                            @include font-sans-serif-size-small();
                            text-transform: uppercase;
                            color: $text-color;
                            margin-bottom: $unit-half;
                            display: block;
                        }

                        p {
                            @include font-sans-serif-weight-normal();
                            @include font-sans-serif-size-small();

                            color: $color-text;
                        }
                    }
                }

                a.button {
                    @include font-sans-serif-size-normal();
                    @include font-sans-serif-weight-bold();

                    padding: 1.1rem;

                    width: 100%;
                    background-color: $color-primary-light;
                    color: #ffffff;
                    display: flex;
                    margin-top: $unit-quarter;

                    svg {
                        margin-left: auto;
                        width: 13px;
                        height: 10px;
                        position: relative;
                        top: 6px;
                    }
                }

                form {
                    .button {
                        @include font-sans-serif-size-normal();
                        @include font-sans-serif-weight-bold();

                        @include button-variant(#ffffff, $color-primary-light, $color-primary-light);

                        padding: 1.1rem;
                        width: 100%;
                        display: flex;
                        margin-top: $unit-quarter;

                        svg {
                            margin-left: auto;
                            width: 13px;
                            height: 10px;
                            position: relative;
                            top: 6px;
                        }
                    }
                }

                div.action {
                    $action-bar-height: 50px;

                    @include vertical-align($action-bar-height);

                    background-color: $color-primary-light;

                    div.text {
                        float: left;

                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-large();

                        @include vertical-align($action-bar-height);

                        color: $color-primary;

                        padding-left: $unit-half;
                        padding-right: $unit-half;

                        small {
                            @include font-sans-serif-size-tiny;
                            @include font-sans-serif-weight-normal;
                            color: $color-primary-dark;
                        }
                    }

                    a.add-to-cart {
                        float: right;

                        @include vertical-align($action-bar-height);
                        width: $action-bar-height;

                        color: #ffffff;
                        text-align: center;
                        font-size: $action-bar-height / 2;

                        background-color: $color-secondary;

                        @include on-event() {
                            text-decoration: none;
                            background-color: $color-secondary-dark;
                        }
                    }
                }
            }
        }

        @include respond-to-and-smaller('sm') {
            margin-bottom: 0;
        }

        &.owl-carousel {
            width: auto;

            text-align: center;

            div.owl-stage-outer {
                padding-top: $shadow-width;
                padding-bottom: $shadow-width;

                margin-top: $shadow-width * -1;
                margin-bottom: $shadow-width * -1;

                div.template {
                    float: none;
                    width: auto;

                    div.inner {
                        cursor: pointer;
                    }
                }
            }

            div.owl-controls {
                div.owl-dots {
                    display: inline-block;
                    margin-top: $unit-one;

                    div.owl-dot {
                        float: left;
                        margin-right: $unit-half;

                        span {
                            display: block;

                            width: 15px;
                            height: 15px;

                            border-radius: 50%;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            /**
             * Aangepaste kleuren voor op XS
             */
            @include respond-to('xs') {
                div.template {
                    div.inner {
                        div.details {
                            i {
                                color: $color-highlight;
                            }
                        }

                        div.action {
                            background-color: $color-secondary;

                            div.text {
                                color: #ffffff;

                                small {
                                    color: #ffffff;
                                }
                            }

                            a {
                                background-color: $color-secondary-dark;

                                @include on-event() {
                                    text-decoration: none;
                                    background-color: $color-highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    hr {
        border-bottom-color: $color-primary-light;
    }

    > div.help {
        @include font-sans-serif-size-normal();
        @include font-sans-serif-size-normal();

        text-align: center;
        color: #ffffff;

        margin-top: $unit-one;

        a {
            color: #ffffff;
            text-decoration: underline;

            &.button {
                @include button-variant(#ffffff, $color-primary-dark, transparent);
                @include button-size($unit-half, $unit-one, inherit, inherit, $border-radius-base);

                @include font-sans-serif-weight-bold();
                @include font-sans-serif-size-large();

                text-decoration: none;
                margin-top: $unit-one;
            }
        }
    }

    &.templates-3 {
        div.row {
            div.template {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(6);
                @include make-lg-column(4);
            }
        }
    }

    &.templates-4 {
        div.row {
            div.template {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(3);
                @include make-lg-column(3);
            }
        }
    }
}
