div.vex {
    &.vex-theme-default {
        div.vex-content {
            width: 550px;

            padding: $unit-one;
            background-color: #ffffff;

            div.vex-dialog-message {
                @include font-sans-serif-weight-normal();
                @include font-sans-serif-size-normal();

                color: $color-gray-darker;

                p {
                    margin-bottom: $unit-half;
                }
            }

            div.vex-dialog-buttons {
                button {
                    @include font-sans-serif-weight-bold();
                    @include font-sans-serif-size-small();

                    letter-spacing: 0;

                    @include button-variant(#ffffff, $color-secondary, transparent);
                }
            }
        }

        &.question-help {
            div.vex-content {
                div.vex-dialog-message {
                    span.title {
                        display: block;

                        @include font-sans-serif-weight-bold();
                        @include font-sans-serif-size-normal();

                        color: $color-gray-dark;

                        margin-bottom: $unit-half;
                    }
                }
            }
        }
    }
}
