{% extends 'shared/base.html.twig' %}

{% block body %}
    <section class="first content">
        <div class="container">
            <div class="row balanced with-aside">
                <div class="content">
                    {% include ':shared/_includes:flash.html.twig' %}

                    <h1>{{ "account.recover_restore_password"|trans({}, 'account')|desc("Nieuw wachtwoord instellen") }}</h1>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.password) }}

                    <button type="submit" class="button primary">{{ "account.profile_save"|trans({}, 'account')|desc("Opslaan") }}</button>

                    {{ form_end(form) }}
                </div>
                <aside>
                    <div class="blocks">
                        <div class="row">
                            <div class="block with-title">
                                <div class="title">
                                    {{ "account.recover_why"|trans({}, 'account')|desc("Waarom een account?") }}
                                </div>
                                <div class="inner">
                                    <div class="text">
                                        <ul>
                                            <li> {{ "account.recover_always_text"|trans({}, 'account')|desc("Altijd inzage in uw bestellingen, facturen en documenten") }}</li>
                                            <li> {{ "account.recover_no_time_text"|trans({}, 'account')|desc("Geen tijd om een bestelling af te ronden? Uw voortgang wordt automatisch bewaard.") }}</li>
                                            <li> {{ "account.recover_faster_text"|trans({}, 'account')|desc("Sneller afrekenen") }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% include ':shared/_blocks:benefits.html.twig' %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
