{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="dashhead mb-4">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ customer.name }}{% if customer.companyName %} ({{ customer.companyName }}){% endif %}</h6>
            <h2 class="dashhead-title">Details klant</h2>
        </div>
        <div class="dashhead-toolbar">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row mb-2">
                <strong class="col-sm-4">Intern ID</strong>
                <span class="col-sm-6"><code>{{ customer.id }}</code></span>
            </div>

            <div class="row mt-4 mb-2">
                <strong class="col-sm-4">Voornaam</strong>
                <span class="col-sm-6">{{ customer.firstname }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Achernaam</strong>
                <span class="col-sm-6">{{ customer.lastname }}</span>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">Adres</strong>
                <div class="col-sm-6">
                    {{ customer.address.street }} {{ customer.address.number }}<br>
                    {{ customer.address.zipcode }} {{ customer.address.city }} ({{ customer.address.country }})
                </div>
            </div>
            <div class="row mb-2">
                <strong class="col-sm-4">E-mailadres</strong>
                <span class="col-sm-6"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Abonnementen</h2>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Bestelling</th>
                        <th>Status</th>
                        <th>Template</th>
                        <th>Verloopdatum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscription in customer.subscriptions %}
                        <tr>
                            <th scope="row"><a href="{{ path('app.backend.subscriptions.default.details', { subscriptionId: subscription.id }) }}">{{ subscription.code }}</a></th>
                            <td><a href="{{ path('app.backend.orders.default.details', { orderId: subscription.order.id }) }}">{{ subscription.order.code }}</a></td>
                            <td>{% if subscription.timestampCanceled %}Geannuleerd{% else %}Actief{% endif %}</td>
                            <td><a href="{{ path('app.backend.templates.default.details', { templateId: subscription.template.id }) }}">{{ subscription.template.title }}</a></td>
                            <td>{{ subscription.timestampExpires|date() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Facturen</h2>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Factuurnummer</th>
                        <th>Status</th>
                        <th>Bedrag excl. btw</th>
                        <th>Factuurdatum</th>
                        <th>Vervaldatum</th>
                        <th>Betaaldatum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in customer.invoices %}
                        <tr class="{% if invoice.overdue %}table-danger{% elseif invoice.dueSoon %}table-warning{% endif %}">
                            <th scope="row"><a href="{{ path('app.backend.financial.invoices.details', { invoiceId: invoice.id, view: 'overview' }) }}">{{ invoice.code }}</a></th>
                            <td>{{ ('invoice.status.' ~ invoice.status)|trans() }}</td>
                            <td>{{ invoice.subtotal|price() }}</td>
                            <td>{{ invoice.timestampIssued|date() }}</td>
                            <td>{{ invoice.timestampDue|date() }}</td>
                            <td>{% if invoice.timestampPaid %}{{ invoice.timestampPaid|date() }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>Recente bestellingen</h2>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Bestelnummer</th>
                    <th>Status</th>
                    <th>Template</th>
                    <th>Factuur</th>
                    <th>Besteldatum</th>
                </tr>
                </thead>
                <tbody>
                {% for order in customer.orders.slice(0, 10) %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.orders.default.details', { orderId: order.id }) }}">{{ order.code }}</a></th>
                        <td>{{ ('order.status.' ~ order.status)|trans() }}</td>
                        <td><a href="{{ path('app.backend.templates.default.details', { templateId: order.document.template.id }) }}">{{ order.document.template.title }}</a></td>
                        <td>{% if order.hasInvoice %}<a href="{{ path('app.backend.financial.invoices.details', { invoiceId: order.invoice.id, view: 'overview' }) }}">{{ order.invoice.code }}</a>{% else %}-{% endif %}</td>
                        <td>{{ order.timestampCreated|date() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}