{% extends 'backend/base.html.twig' %}

{% do pagination.setTemplate('backend/pagination.html.twig') %}

{% block body %}
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ pageSubtitle }}</h6>
            <h2 class="dashhead-title">Klanten</h2>
        </div>
        <div class="dashhead-toolbar">
            <div class="btn-group dashhead-toolbar-item show-search-button">
                <a href="#" class="btn btn-outline-primary"><i class="fa fa-filter"></i></a>
            </div>
        </div>
    </div>
        <div class="search-block {{ enabledSearch ? 'clicked' : '' }}">
            <hr/>
            <h4>Filter</h4>
            <form class="search-form">
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                        <label class="col-form-label control-label" for="search-name">Naam</label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                        <input class="form-control" id="search-name" type="text" name="name" title="Naam" value="{{ searchAttributesBag.get('name') }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                        <label class="col-form-label control-label" for="search-company-name">Bedrijfsnaam</label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                        <input class="form-control" id="search-company-name" type="text" name="companyName" title="Bedrijfsnaam" value="{{ searchAttributesBag.get('companyName') }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2">
                        <label class="col-form-label control-label" for="search-email">E-mailadres</label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5">
                        <input class="form-control" id="search-email" type="text" name="email" title="E-mailadres" value="{{ searchAttributesBag.get('email') }}"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary submit-search-button">Filter</button>
                <button type="reset" class="btn btn-warning reset-button">Reset Filter</button>
            </form>
            <hr/>
        </div>

    <div class="flextable table-actions">
        <div class="flextable-item flextable-primary">

        </div>
        <div class="flextable-item">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Bedrijfsnaam</th>
                    <th>E-mailadres</th>
                    <th>Plaats</th>
                    <th>Waarde</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('app.backend.customers.default.details', { customerId: customer.id }) }}">{{ customer.name }}</a></th>
                        <td>{{ customer.companyName|default('-') }}</td>
                        <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
                        <td>{{ customer.address.city }}, {{ customer.address.country }}</td>
                        <td>{{ customer.worth|price() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}